.parent{
    display: flex;
    place-items: center;
}
.parent>*{
    margin: 5px;
}
label{
    padding: 5px 0px;
    margin-bottom: unset;
    color: gray;
}
.toggleButton{
    color: #3060AA;
    background-color: white;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 500ms ease, color 500ms ease;
}

.toggleButton:hover{
    background-color: #f0f0f0;
}

.toggleButton.checked {
    color: white;
    background-color: #3060AA;
}

.toggleButton.checked:hover{
    background-color: #27559b;
}

input, select{
    background-color: white;
    border: 1px solid #c9c9c9;
    padding: 5px;
    color: #3060AA;
    border-radius: 5px;
    min-width: 175px;
    min-height: 37px;
}

input:focus{
    border: 1px solid #c9c9c9;
}

.searchButton{
    min-width: 37px;
    line-height: 30px;
    padding: 0 0px;
}