<mat-button-toggle-group class="primary-button-toggle block" (change)="searchByLastMonth = true; resetDates();">
    <mat-button-toggle [checked]="searchByLastMonth"> {{lastMonthName}} - {{currentMonthName}}
    </mat-button-toggle>
</mat-button-toggle-group>
<div class="or">Or</div>
<div class="form-group" [class.has-error]="fromDateInvalid">
    <div class="date-picker-mat">
        <input [matDatepicker]="dashboardFilterFromDate" class="form-control" placeholder="Select from date" [formControl]="fromDateControl"
            (dateInput)="searchByLastMonth = false">
        <mat-datepicker-toggle [for]="dashboardFilterFromDate"></mat-datepicker-toggle>
        <mat-datepicker #dashboardFilterFromDate></mat-datepicker>
    </div>
</div>
<div class="form-group" [class.has-error]="toDateInvalid">
    <div class="date-picker-mat">
        <input [matDatepicker]="dashboardFilterToDate" class="form-control" placeholder="Select to date" [formControl]="toDateControl" (dateInput)="searchByLastMonth = false">
        <mat-datepicker-toggle [for]="dashboardFilterToDate"></mat-datepicker-toggle>
        <mat-datepicker #dashboardFilterToDate></mat-datepicker>
    </div>
</div>
<div class="form-group">
    <mat-form-field class="form-control custom-select-control">
        <mat-select (selectionChange)="updateSelectedPayer($event.value);" required [value]="selectedPayer">
            <mat-option *ngFor="let payer of payersList" [value]="payer.id">{{payer.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<button mat-flat-button color="primary" (click)="search()">Search</button>