<div class="primary-dialog-header has-border">
    <h5 *ngIf="!data.item" class="primary-dialog-title">Add Dosage Detail</h5>
    <h5 *ngIf="data.item" class="primary-dialog-title">Edit Dosage Detail</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<form [formGroup]="FormItem" (ngSubmit)="onSubmit()">
    <div class="primary-dialog-body pb-0">

        <h5 class="form-title">
            <span>Dosage Administration <mat-icon class="material-icons-outlined size-20" matTooltip="lorem ipsum">
                    info</mat-icon></span>
        </h5>

        <div class="row small-gutter">
            <div class="col-3">
                <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormItem.get('route').touched) && FormItem.get('route').hasError('required')}">
                    <label class="control-label">Route<span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select placeholder="Select route" formControlName="route">
                            <mat-option *ngFor="let route of routes" [value]="route">{{ route.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormItem.get('doseType').touched) && FormItem.get('doseType').hasError('required')}">
                    <label class="control-label">Dosage Type<span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select placeholder="Select dosage type" formControlName="dosageType">
                            <mat-option value="DoseType">Dose</mat-option>
                            <mat-option value="RateType">Rate</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-3" *ngIf="FormItem.get('dosageType').value === 'DoseType'">
                <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormItem.get('doseType').touched) && FormItem.get('doseType').hasError('required')}">
                    <label class="control-label">Dose Type<span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select placeholder="Select dose type" formControlName="doseType">
                            <mat-option value="Dose_Quantity_Range">Dose Quantity Range</mat-option>
                            <mat-option value="Dose_Quantity">Dose Quantity</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-3" *ngIf="FormItem.get('dosageType').value === 'DoseType' && FormItem.get('doseType').value === 'Dose_Quantity_Range'">
                <div class="form-group">
                    <label class="control-label">Dose Quantity Range<span class="asterisk">*</span></label>
                    <div class="row small-gutter">
                        <div class="col-6">
                            <input class="form-control" placeholder="Min" formControlName="min">
                        </div>
                        <div class="col-6">
                            <input class="form-control" placeholder="Max" formControlName="max">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3" *ngIf="FormItem.get('dosageType').value === 'DoseType' && FormItem.get('doseType').value === 'Dose_Quantity'">
                <div class="form-group">
                    <label class="control-label">Dose Quantity<span class="asterisk">*</span></label>
                    <div class="row extra-small-gutter">
                        <div class="col">
                            <input class="form-control" placeholder="Enter the dose quantity" formControlName="doseQuantity">
                        </div>
                        <div class="col-auto">
                            <mat-form-field class="form-control custom-select-control">
                                <mat-select placeholder="Select dose unit" formControlName="doseUnit">
                                    <mat-option value="">Select dose unit</mat-option>
                                    <mat-option value="mg">mg</mat-option>
                                    <mat-option value="mcg">mcg</mat-option>
                                    <mat-option value="g">g</mat-option>
                                    <mat-option value="ml">ml</mat-option>
                                    <mat-option value="mol">mol</mat-option>
                                    <mat-option value="pg">pg</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3" *ngIf="FormItem.get('dosageType').value === 'RateType'">
                <div class="form-group">
                    <label class="control-label">Rate Type<span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select placeholder="Select rate type" formControlName="rateType">
                            <mat-option value="Rate_Ratio">Rate Ratio</mat-option>
                            <mat-option value="Rate_Range">Rate Range</mat-option>
                            <mat-option value="Rate_Quantity">Rate Quantity</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-3" *ngIf="FormItem.get('dosageType').value === 'RateType' && FormItem.get('rateType').value === 'Rate_Ratio'">
                <div class="form-group">
                    <label class="control-label">Rate Ratio<span class="asterisk">*</span></label>
                    <div class="row small-gutter">
                        <div class="col">
                            <input class="form-control" placeholder="Numerator" formControlName="numerator">
                        </div>
                        <div class="col">
                            <input class="form-control" placeholder="Denominator" formControlName="denominator">
                        </div>
                        <div class="col-auto">
                            <mat-form-field class="form-control custom-select-control">
                                <mat-select placeholder="Select rate unit" formControlName="rateUnit">
                                    <mat-option value="">Select rate unit</mat-option>
                                    <mat-option value="sec">seconds</mat-option>
                                    <mat-option value="min">minutes</mat-option>
                                    <mat-option value="h">hours</mat-option>
                                    <mat-option value="d">days</mat-option>
                                    <mat-option value="wk">week</mat-option>
                                    <mat-option value="mo">month</mat-option>
                                    <mat-option value="UCUM">a- unit of time (UCUM)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3" *ngIf="FormItem.get('dosageType').value === 'RateType' && FormItem.get('rateType').value === 'Rate_Range'">
                <div class="form-group">
                    <label class="control-label">Rate Range<span class="asterisk">*</span></label>
                    <div class="row extra-small-gutter">
                        <div class="col">
                            <input class="form-control" placeholder="Min" formControlName="ratemin">
                        </div>
                        <div class="col">
                            <input class="form-control" placeholder="Max" formControlName="ratemax">
                        </div>
                        <div class="col-auto">
                            <mat-form-field class="form-control custom-select-control">
                                <mat-select placeholder="Select rate unit" formControlName="rateUnit">
                                    <mat-option value="">Select rate unit</mat-option>
                                    <mat-option value="sec">seconds</mat-option>
                                    <mat-option value="min">minutes</mat-option>
                                    <mat-option value="h">hours</mat-option>
                                    <mat-option value="d">days</mat-option>
                                    <mat-option value="wk">week</mat-option>
                                    <mat-option value="mo">month</mat-option>
                                    <mat-option value="UCUM">a- unit of time (UCUM)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3" *ngIf="FormItem.get('dosageType').value === 'RateType' && FormItem.get('rateType').value === 'Rate_Quantity'">
                <div class="form-group">
                    <label class="control-label">Rate Quantity<span class="asterisk">*</span></label>
                    <div class="row extra-small-gutter">
                        <div class="col">
                            <input class="form-control" placeholder="Enter the rate quantity" formControlName="rateQuantity">
                        </div>
                        <div class="col-auto">
                            <mat-form-field class="form-control custom-select-control">
                                <mat-select placeholder="Select rate unit" formControlName="rateUnit">
                                    <mat-option value="">Select rate unit</mat-option>
                                    <mat-option value="sec">seconds</mat-option>
                                    <mat-option value="min">minutes</mat-option>
                                    <mat-option value="h">hours</mat-option>
                                    <mat-option value="d">days</mat-option>
                                    <mat-option value="wk">week</mat-option>
                                    <mat-option value="mo">month</mat-option>
                                    <mat-option value="UCUM">a- unit of time (UCUM)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="form-title">
            <span>Dosage Timing <mat-icon class="material-icons-outlined size-20" matTooltip="lorem ipsum">
                    info</mat-icon></span>
        </h5>

        <div class="row small-gutter">
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Frequency Type</label>
                    <mat-radio-group class="radio-group inline">
                        <mat-radio-button color="primary" [value]="1">Code</mat-radio-button>
                        <mat-radio-button color="primary" [value]="2">Custom</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Frequency<span class="asterisk">*</span> <mat-icon class="material-icons-outlined size-20" matTooltip="lorem ipsum">
                            info</mat-icon></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select value="BID" formControlName="frequencyUnit">
                            <mat-option value="BID">BID</mat-option>
                            <mat-option value="TID">TID</mat-option>
                            <mat-option value="QID">QID</mat-option>
                            <mat-option value="AM">AM</mat-option>
                            <mat-option value="PM">PM</mat-option>
                            <mat-option value="QD">QD</mat-option>
                            <mat-option value="QOD">QOD</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <input type="text" class="form-control" formControlName="frequency" placeholder="Enter frequency">
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Period <mat-icon class="material-icons-outlined size-20" matTooltip="lorem ipsum">
                            info</mat-icon></label>
                    <div class="row extra-small-gutter">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Enter period" formControlName="period">
                        </div>
                        <div class="col-auto">
                            <mat-form-field class="form-control custom-select-control">
                                <mat-select value="days" formControlName="periodUnit">
                                    <mat-option value="">Select rate unit</mat-option>
                                    <mat-option value="sec">seconds</mat-option>
                                    <mat-option value="min">minutes</mat-option>
                                    <mat-option value="h">hours</mat-option>
                                    <mat-option value="d">days</mat-option>
                                    <mat-option value="wk">week</mat-option>
                                    <mat-option value="mo">month</mat-option>
                                    <mat-option value="UCUM">a- unit of time (UCUM)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormItem.get('startDate').touched) && FormItem.get('startDate').hasError('required')}">
                    <label class="control-label">Start Date<span class="asterisk">*</span> <mat-icon class="material-icons-outlined size-20" matTooltip="lorem ipsum">
                            info</mat-icon></label>
                    <div class="date-picker">
                        <input [owlDateTime]="dosageTimingStartDate" formControlName="startDate" class="form-control" placeholder="Select date">
                        <mat-datepicker-toggle [owlDateTimeTrigger]="dosageTimingStartDate"></mat-datepicker-toggle>
                        <owl-date-time #dosageTimingStartDate></owl-date-time>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormItem.get('endDate').touched) && FormItem.get('endDate').hasError('required')}">
                    <label class="control-label">End Date<span class="asterisk">*</span> <mat-icon class="material-icons-outlined size-20" matTooltip="lorem ipsum">
                            info</mat-icon></label>
                    <div class="date-picker">
                        <input [owlDateTime]="dosageTimingEndDate" class="form-control" formControlName="endDate" placeholder="Select date">
                        <mat-datepicker-toggle [owlDateTimeTrigger]="dosageTimingEndDate"></mat-datepicker-toggle>
                        <owl-date-time #dosageTimingEndDate></owl-date-time>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormItem.get('duration').touched) && FormItem.get('duration').hasError('required')}">
                    <label class="control-label">Duration<span class="asterisk">*</span></label>
                    <div class="row extra-small-gutter">
                        <div class="col">
                            <input type="text" class="form-control" formControlName="duration" placeholder="Enter duration">
                        </div>
                        <div class="col-auto">
                            <mat-form-field class="form-control custom-select-control">
                                <mat-select value="UCUM" formControlName="durationUnit">
                                    <mat-option value="s">s</mat-option>
                                    <mat-option value="min">min</mat-option>
                                    <mat-option value="h">h</mat-option>
                                    <mat-option value="d">d</mat-option>
                                    <mat-option value="wk">wk</mat-option>
                                    <mat-option value="mo">mo</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Refill <mat-icon class="material-icons-outlined size-20" matTooltip="lorem ipsum">
                            info</mat-icon></label>
                    <input class="form-control" placeholder="Enter Refill" formControlName="refill">
                </div>
            </div>
        </div>

        <h5 class="form-title">
            <span>Patient Instructions</span>
        </h5>

        <div class="row small-gutter">
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Additional Notes</label>
                    <input class="form-control" formControlName="note" placeholder="Enter Additional Note">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Patient Instruction</label>
                    <input class="form-control" formControlName="patientInstruction" placeholder="Enter Patient Instruction">
                </div>
            </div>
        </div>
    </div>
    <div class="primary-dialog-footer has-border">
        <div class="btn-list text-right">
            <button type="button" mat-button (click)="closeDialog()">Close</button>
            <button type="submit" mat-flat-button color="primary">
                <span *ngIf="!data.item">Add</span>
                <span *ngIf="data.item">Save</span>
            </button>
        </div>
    </div>
</form>