<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
        <p *ngIf="addMode"> Add Contract</p>
        <p *ngIf="EditMode"> Edit Contract</p>
    </div>
    <div class="block-body">
        <h5 class="form-title pt-0">
            <span>Insurance Company Info</span>
            <mat-slide-toggle color="primary" class="ml-auto theme-success" [formControl]="IsActiveController" labelPosition="before">
                Active
            </mat-slide-toggle>
        </h5>
        <div class="row small-gutter">
            <div class="col-8 col-xxl-6">
                <div class="form-group" [matTooltip]="errors.InsCompCode" [class.has-error]="errors.InsCompCode!=null&&errors.InsCompCode.trim().length>0">
                    <label class="control-label">Insurance Company <span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select [formControl]="InsCompCodeController" (selectionChange)="selectedValue($event)">
                            <mat-option value="">Select Payer</mat-option>
                            <mat-option *ngFor="let payer of payersList" [value]="payer.nphiesId">{{payer.englistName}}
                                ({{payer.arabicName}} )</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row small-gutter">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Contact Person Name</label>
                    <input type="text" disabled placeholder="Enter contact person name" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Mobile Number</label>
                    <input type="text" disabled placeholder="Enter mobile number" class="form-control">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" disabled placeholder="Enter email" class="form-control">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">VAT Number</label>
                    <input type="text" disabled placeholder="Enter vat number" class="form-control">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group" [matTooltip]="errors.contractNo" [class.has-error]="errors.contractNo!=null&&errors.contractNo.trim().length>0">
                    <label class="control-label">Contract No <span class="asterisk">*</span></label>
                    <input type="text" placeholder="Enter Contract No" [formControl]="ContractNoController" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" [matTooltip]="errors.contractName" [class.has-error]="errors.contractName!=null&&errors.contractName.trim().length>0">
                    <label class="control-label">Contract Name <span class="asterisk">*</span></label>
                    <input type="text" placeholder="Enter Contract Name" [formControl]="ContractNameController" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" [matTooltip]="errors.StartDate" [class.has-error]="errors.contractName!=null&&errors.StartDate.trim().length>0">
                    <label class="control-label">Start Date <span class="asterisk">*</span></label>
                    <div class="date-picker-mat">
                        <input [matDatepicker]="startDate" class="form-control" [formControl]="StartDateController" placeholder="Select start date">
                        <mat-datepicker-toggle [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" [matTooltip]="errors.EndDate" [class.has-error]="errors.contractName!=null&&errors.EndDate.trim().length>0">
                    <label class="control-label">End Date <span class="asterisk">*</span></label>
                    <div class="date-picker-mat">
                        <input [matDatepicker]="endDate" class="form-control" [formControl]="EndDateController" placeholder="Select end date">
                        <mat-datepicker-toggle [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="form-title">
            <span>Department Discount</span>
        </h5>
        <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" *ngIf="_departments.length!=0">
            <div class="fixed-height no-min-height">
                <table class="primary-grid sticky-header claim-view-table" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Department</th>
                            <th>Discount</th>
                            <th width="10"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dept of _departments">

                            <td>
                                {{dept.departmentId}} - {{dept.departmentName}}</td>
                            <td>
                                <div class="form-group my-n1" [matTooltip]="errors.departments" [class.has-error]="errors.departments!=null&&errors.departments.trim().length>0">
                                    <div class="row small-gutter">
                                        <div class="col">
                                            <input type="text" placeholder="Enter discount" [formControl]="dept.discountController" class="form-control">
                                        </div>
                                        <div class="col-auto">
                                            <mat-form-field class="form-control custom-select-control">
                                                <mat-select value="SR" [formControl]="dept.discountTypeController">
                                                    <mat-option value="SR">SR</mat-option>
                                                    <mat-option value="%">%</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-scrollbar>
        <app-empty-state [className]="'mb-2'" *ngIf="_departments.length==0" [message]="'No Departments found. Please Upload and try again!'"></app-empty-state>
        <div class="text-right">
            <button type="button" mat-stroked-button color="primary" (click)="ApplyDiscount();">Apply</button>
        </div>

        <h5 class="form-title">
            <span>Services Discount</span>
        </h5>
        <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" *ngIf="_services.length!=0">
            <div class="fixed-height no-min-height">
                <table class="primary-grid sticky-header claim-view-table" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th width="5">Service Code</th>
                            <th width="10">Service Description</th>
                            <!--th>Cash Amount</th-->
                            <th width="10">Ins. Service Code</th>
                            <th>Ins. Service Description</th>
                            <th width="10">Department Code</th>
                            <!--th>Department Name</th-->
                            <th width="5">Cash Amount</th>
                            <th>Ins. Discount Amount</th>
                            <th width="5">Net Amount</th>
                            <th width="5">Discount Amount</th>
                            <th class="text-center" width="5">Is Covered?</th>
                            <th class="text-center" width="5">Needs Approval?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sev of _services" class="align-middle">
                            <td>{{sev.serviceCode}}</td>
                            <td>{{sev.serviceName}}</td>
                            <!--td>4578 <span class="currency">SR</span></td-->
                            <td>
                                <div class="form-group my-n1" [matTooltip]="errors.serviceCodes" [class.has-error]="errors.serviceCodes!=null&&errors.serviceCodes.trim().length>0">
                                    <input type="text" class="form-control" placeholder="Insurance service code" [formControl]="sev.InsServiceCode" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group my-n1" [matTooltip]="errors.serviceNames" [class.has-error]="errors.serviceNames!=null&&errors.serviceNames.trim().length>0">
                                    <input type="text" class="form-control" placeholder="Insurance service description" [formControl]="sev.InsServiceName" />
                                </div>
                            </td>
                            <td>{{sev.departmentId}}</td>
                            <!--td>{{sev.departmentName}}</td-->
                            <td>{{sev.cashAmount}} <span class="currency">SR</span></td>
                            <td>
                                <div class="form-group my-n1" [matTooltip]="errors.services" [class.has-error]="errors.services!=null&&errors.services.trim().length>0">
                                    <div class="row small-gutter">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Insurance discount amount" (change)="changeAmount($event,sev.serviceId)"
                                                [formControl]="sev.discountAmountController" />
                                        </div>
                                        <div class="col-auto">
                                            <mat-form-field class="form-control custom-select-control" [formControl]="sev.discountTypeController">
                                                <mat-select value={{sev.discountTypeController.value}} (selectionChange)="changeType($event,sev.serviceId)">
                                                    <mat-option value="SR">SR</mat-option>
                                                    <mat-option value="%">%</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{sev.NetAmount | number : '1.2-2' }} <span class="currency">SR</span></td>
                            <td>{{sev.discountAmount | number : '1.2-2' }} <span class="currency">SR</span></td>
                            <td class="text-center">
                                <mat-checkbox color="primary" class="grid-checkbox" checked="true" [formControl]="sev.IsCovered"></mat-checkbox>
                            </td>
                            <td class="text-center">
                                <mat-checkbox color="primary" class="grid-checkbox" [formControl]="sev.NeedApproval"></mat-checkbox>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-scrollbar>
        <app-empty-state [className]="'mb-2'" *ngIf="_services.length==0" [message]="'No Services found. Please Upload and try again!'"></app-empty-state>
    </div>
    <div class="block-footer sticky">
        <div class="right-block btn-list">
            <button type="button" color="primary" mat-flat-button (click)="SaveData()">Save</button>
        </div>
    </div>
</div>