<div class="row">
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('TEMPERATURE')" [matTooltip]="getFieldError('TEMPERATURE')">
            <label class="control-label">Temperature</label>
            <input type="number" class="form-control" placeholder="Enter temperature" [formControl]="temperatureController" (change)="updateClaim('temperature')">
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('BP')" [matTooltip]="getFieldError('BP')">
            <label class="control-label">Blood Pressure</label>
            <input [formControl]="bloodPressureController" (change)="updateClaim('bloodPressure')" class="form-control" placeholder="Enter blood pressure">
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('RR')" [matTooltip]="getFieldError('RR')">
            <label class="control-label">Respiratory Rate</label>
            <input type="number" [formControl]="respiratoryRateController" (change)="updateClaim('respiratoryRate')" class="form-control" placeholder="Enter respiratory rate">
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('PULSE')" [matTooltip]="getFieldError('PULSE')">
            <label class="control-label">Pulse</label>
            <input type="number" [formControl]="pulseController" (change)="updateClaim('pulse')" class="form-control" placeholder="Enter pulse">
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('WEIGHT')" [matTooltip]="getFieldError('WEIGHT')">
            <label class="control-label">Weight</label>
            <input type="number" [formControl]="weightController" (change)="updateClaim('weight')" class="form-control" placeholder="Enter weight">
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('HEIGHT')" [matTooltip]="getFieldError('HEIGHT')">
            <label class="control-label">Height</label>
            <input type="number" [formControl]="heightController" (change)="updateClaim('height')" class="form-control" placeholder="Enter height">
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('LMP')" [matTooltip]="getFieldError('LMP')">
            <label class="control-label">Last Menstruation Period</label>
            <div class="date-picker-mat">
                <input [matDatepicker]="lastMenstruationPeriodPicker" class="form-control" placeholder="Select last menstruation period"
                    [formControl]="lastMenstruationPeriodController" (dateChange)="updateClaim('lastMenstruationPeriod')">
                <mat-datepicker-toggle [for]="lastMenstruationPeriodPicker"></mat-datepicker-toggle>
                <mat-datepicker #lastMenstruationPeriodPicker></mat-datepicker>
            </div>
        </div>
    </div>
</div>