.mainCardBody {
    padding: 10px;
    background-color: white;
    color: #3060AA;
    height: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}

.leftComponent {
    grid-column: 1 / span 6;
}

.rightComponent {
    grid-column: 7 / span 6;
}

input, select, textarea {
    width: 100%;
    background-color: #EFF5FF;
    border: unset;
    padding: 10px;
    color: #3060AA;
    border-radius: 3px;
}

input:focus, select:focus, textarea {
    outline: unset;
}

.fieldError {
    outline: auto !important;
    outline-color: #c44848 !important;
}