<div class="mainCardBody">

    <table>
        <tbody>
            <tr>
                <td><label>Claim Amount</label></td>
                <td><label>VAT</label></td>
            </tr>
            <tr>
                <td><label style="font-weight:bold;">{{claim.claimGDPN.net.value}}</label></td>
                <td><label style="font-weight:bold;">{{claim.claimGDPN.netVATamount.value}}</label></td>
            </tr>
        </tbody>
    </table>

    <hr />

    <table *ngIf="selectedInvoice == -1">
        <tbody>
            <tr>
                <td><label>Gross Amount</label></td>
                <td><label>{{claim.claimGDPN.gross.value}}</label></td>

            </tr>
            <tr>
                <td><label>Discount</label></td>
                <td><label>{{claim.claimGDPN.discount.value}}</label></td>
            </tr>
            <tr>
                <td><label>Patient Share</label></td>
                <td><label>{{claim.claimGDPN.patientShare.value}}</label></td>
            </tr>
            <tr>
                <td><label>Net Amount</label></td>
                <td><label>{{claim.claimGDPN.net.value}}</label></td>
            </tr>
            <tr>
                <td><label>Net VAT Amount</label></td>
                <td><label>{{claim.claimGDPN.netVATamount.value}}</label></td>
            </tr>
            <tr>
                <td><label>Patient Share VAT Amount</label></td>
                <td><label>{{claim.claimGDPN.patientShareVATamount.value}}</label></td>
            </tr>
            <tr *ngIf="getClaimActualDeductedAmount() != -1" [style.color]="getStatusColorOfClaim()">
                <td><label>Actual Deducted Amount</label></td>
                <td><label>{{getClaimActualDeductedAmount()}}</label></td>
            </tr>
            <tr *ngIf="getClaimActualDeductedAmount() != -1" [style.color]="getStatusColorOfClaim()">
                <td><label>Actual Paid Amount</label></td>
                <td><label>{{claim.claimGDPN.net.value - getClaimActualDeductedAmount()}}</label></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="selectedInvoice != -1">
        <p>Invoice {{selectedInvoice+1}}</p>
        <table>
            <tbody>
                <tr>
                    <td><label>Gross Amount</label></td>
                    <td><label>{{claim.invoice[selectedInvoice].invoiceGDPN.gross.value}}</label></td>

                </tr>
                <tr>
                    <td><label>Discount</label></td>
                    <td><label>{{claim.invoice[selectedInvoice].invoiceGDPN.discount.value}}</label></td>
                </tr>
                <tr>
                    <td><label>Patient Share</label></td>
                    <td><label>{{claim.invoice[selectedInvoice].invoiceGDPN.patientShare.value}}</label></td>
                </tr>
                <tr>
                    <td><label>Net Amount</label></td>
                    <td><label>{{claim.invoice[selectedInvoice].invoiceGDPN.net.value}}</label></td>
                </tr>
                <tr>
                    <td><label>Net VAT Amount</label></td>
                    <td><label>{{claim.invoice[selectedInvoice].invoiceGDPN.netVATamount.value}}</label></td>
                </tr>
                <tr>
                    <td><label>Patient Share VAT Amount</label></td>
                    <td><label>{{claim.invoice[selectedInvoice].invoiceGDPN.patientShareVATamount.value}}</label></td>
                </tr>
                <tr *ngIf="getSelectedInvoiceActualDeductedAmount() != -1"
                    [style.color]="getStatusColorOfSelectedInvoice()">
                    <td><label>Actual Deducted Amount</label></td>
                    <td><label>{{getSelectedInvoiceActualDeductedAmount()}}</label></td>
                </tr>
                <tr *ngIf="getSelectedInvoiceActualDeductedAmount() != -1"
                    [style.color]="getStatusColorOfSelectedInvoice()">
                    <td><label>Actual Paid Amount</label></td>
                    <td><label>{{claim.invoice[selectedInvoice].invoiceGDPN.net.value -
                            getSelectedInvoiceActualDeductedAmount()}}</label></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>