<div class="announcement clickable"(click)="getAnnouncements()" >
    <div class="header">
        <table>
            <thead>
                <!--th><span class="spacer"></span>Date: {{date}}</th-->
            </thead>
        </table>
    </div>
    <div  class="batchContent">
        <table style="text-align: start;">
            <tr style="padding: 5px 15px;">
                <th>
                    <p class="totalPaid">{{announcement.criteriaType}}</p>
                    <p class="totalPaid">{{announcement.criteriaValue}}</p>
                    <div  [innerHTML]="announcement.messageDescription"></div>
                </th>
                <!--th>
                    <div class="nIcon">
                        <img src="../../../../assets/box.png" alt="">
                    </div>
                </th-->
            </tr>
        </table>
    </div>
</div>
