<div class="caf-form">
    <h1 class="text-center"><strong>DCAF 2.0</strong></h1>
    <table class="layout-table">
        <tr>
            <td>
                <div class="form-container-group">
                    <h3><strong>To be completed & ID verified by the reception/nurse:</strong></h3>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Provider Name:</p>
                            </td>
                            <td>
                                <p class="value-holder">{{DCAF.beneficiary.providerName}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Insurance Company Name:</p>
                            </td>
                            <td>
                                <p class="value-holder">{{DCAF.beneficiary.payerName}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>TPA Company Name:</p>
                            </td>
                            <td>
                                <p class="value-holder">{{DCAF.beneficiary.tpaName}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Patient File Number:</p>
                            </td>
                            <td>
                                <p class="value-holder">{{DCAF.beneficiary.fileId}}</p>
                            </td>
                        </tr>
                    </table>
                    <p>Date of visit: <span class="value-holder"></span></p>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Plan Type <span class="value-holder">{{DCAF.beneficiary.coverageType}}</span></p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>New visit (<img src="./assets/form-check.svg" class="check" [class.cheked] ="getVisitReason('new-visit')"/>)</p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>Follow Up (<img src="./assets/form-check.svg" class="check" [class.cheked] ="getVisitReason('follow-up')"/>)</p>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div class="form-container-group">
                    <h3><strong>Print/Fill in clear letters or Emboss Card:</strong></h3>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Insured Name:</p>
                            </td>
                            <td>
                                <p class="value-holder">{{DCAF.beneficiary.fullName}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>ID. Card No.:</p>
                            </td>
                            <td>
                                <p class="value-holder">{{ DCAF.beneficiary.memberCardId }}</p>
                            </td>
                            <td width="10">
                                <p>Sex:</p>
                            </td>
                            <td>
                                <p class="value-holder">{{DCAF.beneficiary.gender}}</p>
                            </td>
                            <td width="10">
                                <p>Age:</p>
                            </td>
                            <td>
                                <p class="value-holder">{{calculateAge()}}</p>
                            </td>
                            <td width="10">
                                <p>Y</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Policy Holder:</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="10">
                                <p>Policy No.:</p>
                            </td>
                            <td>
                                <p class="value-holder">{{DCAF.beneficiary.policyNumber}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Expiry Date:</p>
                            </td>
                            <td>
                                <p class="value-holder">{{DCAF.beneficiary.expiryDate | date: 'dd / MM / yyyy'}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Class:</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Approval:</p>
                            </td>
                            <td>
                                <p class="value-holder"> {{DCAF.approvalReferenceNumber}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-container-group">
                    <table class="internal-table">
                        <tr>
                            <td>
                                <h3><strong>To be Completed by the Dentist:</strong></h3>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>Duration of Illness:</p>
                                        </td>
                                        <td width="50">
                                            <p class="value-holder"></p>
                                        </td>
                                        <td width="10">
                                            <p>(Days)</p>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p class="text-wrap">Chief Complaints and Main Symptoms:&nbsp; {{getSupportingInfoForChiefComplaints()}} <br><br></p>
                                        </td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>Significant Signs:</p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>Diagnoses (ICD10):</p>
                                        </td>
                                        <td>
                                            <p class="value-holder">{{getDiagnosis()}}</p>
                                        </td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>Primary:</p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>Secondary:</p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>Other Conditions:</p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                    </tr>
                                </table>
                                <hr>
                                <h3><strong>Please tick (<img src="./assets/form-check.svg" class="check" />) where appropriate:</strong></h3>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>Regular Dental Treatment (<img src="./assets/form-check.svg" class="check" />)</p>
                                        </td>
                                        <td width="6"></td>
                                        <td width="10">
                                            <p>Dental Cleaning (<img src="./assets/form-check.svg" class="check" />)</p>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>Trauma Treatment Specify:</p>
                                        </td>
                                        <td width="6"></td>
                                        <td width="10">
                                            <p>RTA (<img src="./assets/form-check.svg" class="check" />)</p>
                                        </td>
                                        <td width="6"></td>
                                        <td width="10">
                                            <p>Work Related (<img src="./assets/form-check.svg" class="check" />)</p>
                                        </td>
                                        <td width="6"></td>
                                        <td width="10">
                                            <p>Other</p>
                                        </td>
                                        <td width="50">
                                            <p class="value-holder"></p>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>How:</p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>When:</p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                        <td width="10">
                                            <p>Where:</p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <span class="teeth-wrapper">
                                    <img src="./assets/teeth.jpg" class="teeth" alt="Teeth">
                                    <div class="teeth-marks">
                                        <span class="teeth-mark no-11"></span>
                                        <span class="teeth-mark no-12"></span>
                                        <span class="teeth-mark no-13"></span>
                                        <span class="teeth-mark no-14"></span>
                                        <span class="teeth-mark no-15 checked"></span>
                                        <span class="teeth-mark no-16 checked"></span>
                                        <span class="teeth-mark no-17"></span>
                                        <span class="teeth-mark no-18"></span>
                                        <span class="teeth-mark no-21"></span>
                                        <span class="teeth-mark no-22"></span>
                                        <span class="teeth-mark no-23"></span>
                                        <span class="teeth-mark no-24 checked"></span>
                                        <span class="teeth-mark no-25"></span>
                                        <span class="teeth-mark no-26"></span>
                                        <span class="teeth-mark no-27 checked"></span>
                                        <span class="teeth-mark no-28"></span>
                                        <span class="teeth-mark no-31"></span>
                                        <span class="teeth-mark no-32"></span>
                                        <span class="teeth-mark no-33"></span>
                                        <span class="teeth-mark no-34"></span>
                                        <span class="teeth-mark no-35 checked"></span>
                                        <span class="teeth-mark no-36"></span>
                                        <span class="teeth-mark no-37"></span>
                                        <span class="teeth-mark no-38 checked"></span>
                                        <span class="teeth-mark no-41"></span>
                                        <span class="teeth-mark no-42"></span>
                                        <span class="teeth-mark no-43"></span>
                                        <span class="teeth-mark no-44"></span>
                                        <span class="teeth-mark no-45"></span>
                                        <span class="teeth-mark no-46 checked"></span>
                                        <span class="teeth-mark no-47 checked"></span>
                                        <span class="teeth-mark no-48"></span>
                                        <span class="teeth-mark no-51"></span>
                                        <span class="teeth-mark no-52 checked"></span>
                                        <span class="teeth-mark no-53"></span>
                                        <span class="teeth-mark no-54"></span>
                                        <span class="teeth-mark no-55"></span>
                                        <span class="teeth-mark no-61"></span>
                                        <span class="teeth-mark no-62"></span>
                                        <span class="teeth-mark no-63 checked"></span>
                                        <span class="teeth-mark no-64"></span>
                                        <span class="teeth-mark no-65"></span>
                                        <span class="teeth-mark no-71"></span>
                                        <span class="teeth-mark no-72"></span>
                                        <span class="teeth-mark no-73 checked"></span>
                                        <span class="teeth-mark no-74 checked"></span>
                                        <span class="teeth-mark no-75"></span>
                                        <span class="teeth-mark no-81"></span>
                                        <span class="teeth-mark no-82"></span>
                                        <span class="teeth-mark no-83"></span>
                                        <span class="teeth-mark no-84"></span>
                                        <span class="teeth-mark no-85 checked"></span>
                                    </div>
                                </span>
                            </td>
                            <td width="16"></td>
                        </tr>
                    </table>
                    <p><strong>Specify the recommended procedures using the tooth number as shown on the teeth map above:</strong></p>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Dental Service</th>
                                <th>Tooth No.</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of DCAF.items;"> 
                                <td>{{i.itemCode}}</td>
                                <td>{{i.itemDescription}}</td>
                                <td>{{i.bodySite}}</td>
                                <td>{{i.unitPrice}}</td>
                            </tr>
                            
                            <tr>
                                <td class="border-left-0 border-bottom-0 border-right-0"></td>
                                <td class="border-left-0 border-bottom-0"></td>
                                <td><strong>Total</strong></td>
                                <td><strong>{{ countTotal() }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <p><strong>Providers Approval/Coding Staff must review/code the recommended service(s) and allocate cost and complete the following:</strong></p>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Completed/Coded By:</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>Signature:</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td></td>
                            <td width="10">
                                <p>Date:</p>
                            </td>
                            <td width="10">
                                <p class="value-holder"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Medication Name (Generic Name)</th>
                                <th>Type</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medication of getMedicationCode()">
                                <td> {{medication.prescribedDrugCode}}</td>
                                <td>{{medication.type}}</td>
                                <td>{{medication.quantity}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-container-group">
                    <table class="internal-table">
                        <tr>
                            <td class="text-wrap">
                                <p>I hereby certify that ALL information mentioned are correct and that the medical services shown on this form were medically indicated and
                                    necessary for the management of this case.</p>
                                <table class="internal-table text-center">
                                    <tr>
                                        <td>
                                            <p>Dentist</p>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <p>Signature</p>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <p>Stamp</p>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <p>Date</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="value-holder">{{DCAF.careTeam[0].practitionerName}}</p>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <span class="stamp"></span>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <p class="value-holder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="10"></td>
                            <td class="border-right"></td>
                            <td width="10"></td>
                            <td class="text-wrap">
                                <p>I hereby certify that ALL statements and information provided concerning patient identification and the present illness or injury are TRUE.</p>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p><strong>Name (and relationship (if guardian)):</strong></p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>Signature (*):</p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                        <td></td>
                                        <td width="10">
                                            <p>Date:</p>
                                        </td>
                                        <td width="10">
                                            <p class="value-holder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-container-group">
                    <p><strong>For Insurance Company Use Only:</strong></p>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p><strong>Approved (<img src="./assets/form-check.svg" class="check" />)</strong></p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p><strong>Not Approved (<img src="./assets/form-check.svg" class="check" />)</strong></p>
                            </td>
                            <td width="10"></td>
                            <td width="10">
                                <p><strong>Approval No.:</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="10">
                                <p><strong>Approval validity:</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="10">
                                <p><strong>Days</strong></p>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p><strong>Comments (include approved days/services if different from the requested):</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p><strong>Approved/Disapproved By:</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="10">
                                <p><strong>Signature:</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td></td>
                            <td width="10">
                                <p><strong>Date:</strong></p>
                            </td>
                            <td width="10">
                                <p class="value-holder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;(*) This is applicable only in case of manual DCAF</p>
</div>