<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Providers</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="p-14 pb-0 border-bottom">
    <div class="row small-gutter">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter provider ID, CCHI ID, provider name" />
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <button type="button" color="primary" mat-flat-button>Add</button>
            </div>
        </div>
    </div>
</div>
<div class="checkbox-list">
    <p>
        <span>1123 | SSH | Saad Specialist Hospital</span>
        <button type="button" mat-icon-button class="text-primary">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </p>
    <p>
        <span>721 | RAF | Al Rafie Hospital</span>
        <button type="button" mat-icon-button class="text-primary">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </p>
    <p>
        <span>1021 | AMP | Al Ameen Medical Polyclinic</span>
        <button type="button" mat-icon-button class="text-primary">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </p>
    <p>
        <span>3413 | DAWNI | DAWENI MEDICAL COMPANY -KHAMIS</span>
        <button type="button" mat-icon-button class="text-primary">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </p>
    <p>
        <span>3439 | CSDC | Celebrity Smile Dental Clinic</span>
        <button type="button" mat-icon-button class="text-primary">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </p>
    <p>
        <span>3118 | FPC | Faisal polyclinic</span>
        <button type="button" mat-icon-button class="text-primary">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </p>
    <p>
        <span>2261 | GANAH | AlGanah Medical Clinic</span>
        <button type="button" mat-icon-button class="text-primary">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </p>
    <p>
        <span>1492 | SWDC | Smile World Specialist Dental Center</span>
        <button type="button" mat-icon-button class="text-primary">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </p>
    <p>
        <span>1477 | AMW | Dr.Asser M.Wagdi Polyclinic</span>
        <button type="button" mat-icon-button class="text-primary">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </p>
    <p>
        <span>662 | MLH | Al Mulhim Polyclinic</span>
        <button type="button" mat-icon-button class="text-primary">
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </button>
    </p>
</div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="primary">Save</button>
    </div>
</div>