<div class="print-dialog-wrapper">
    <div class="primary-dialog-header has-border">
        <h5 class="primary-dialog-title">{{getType()}}</h5>
        <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
    </div>
    <div class="print-dialog-body">
        <div class="print-preview-wrapper">
            <ng-container *ngIf="!(type === 'vision' || type === 'oral')">
                <app-ucaf-form-template [preAuthId]="preAuthId"></app-ucaf-form-template>
            </ng-container>
            <ng-container *ngIf="type === 'oral'">
                <app-dcaf-form-template [preAuthId]="preAuthId"></app-dcaf-form-template>
            </ng-container>
            <ng-container *ngIf="type === 'vision'">
                <app-ocaf-form-template [preAuthId]="preAuthId"></app-ocaf-form-template>
            </ng-container>
            
        </div>
    </div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="primary" (click)="printForm()">Print</button>
    </div>
</div>
</div>