<button type="button" *ngIf="clickable" class="click-trigger" matRipple (click)="action.emit()"></button>
<div class="primary-card-title text-{{accentColor}}">
    <span class="title bg-{{accentColor}}">{{title}}</span>
    <span class="total-count">{{totalCount}}<span>Claims</span></span>
</div>
<div class="primary-card-content">
    <ng-content></ng-content>
</div>
<!--<mat-card-actions align="end"> -->
<!-- <button mat-button color="primary" >{{actionText}}</button> -->
<!-- </mat-card-actions> -->