<gdpn-calculation></gdpn-calculation>
<div class="block-card full-height p-0">
    <mat-tab-group (selectedTabChange)="changeTab($event)" [dynamicHeight]="true" class="primary-tab claim-view-tabs">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-1" *ngIf="genInfoTabHasErrors()" [class.text-danger]="genInfoTabHasErrors()">error
                </mat-icon>
                <span [class.text-danger]="genInfoTabHasErrors()">General Information</span>
            </ng-template>
            <gen-info [claimType]='claimType'></gen-info>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-1" *ngIf="diagnosisTabHasErrors()" [class.text-danger]="diagnosisTabHasErrors()">
                    error</mat-icon>
                <span [class.text-danger]="diagnosisTabHasErrors()">Diagnosis</span>
            </ng-template>
            <claim-diagnosis></claim-diagnosis>
        </mat-tab>
        <mat-tab [label]="'Illness'">
            <claim-illnesses></claim-illnesses>
        </mat-tab>
        <mat-tab [label]="'Vital Signs'">
            <claim-vital-signs></claim-vital-signs>
        </mat-tab>
        <mat-tab *ngIf="isInpatientClaim">
            <ng-template mat-tab-label>
                <mat-icon class="mr-1" *ngIf="admissionTabHasErrors()" [class.text-danger]="admissionTabHasErrors()">
                    error</mat-icon>
                <span [class.text-danger]="admissionTabHasErrors()">Admission</span>
            </ng-template>
            <claim-admission></claim-admission>
        </mat-tab>
        <mat-tab [label]="'Attachments'">
            <claim-attachments></claim-attachments>
        </mat-tab>
        <mat-tab *ngIf="pageType == 'INPATIENT_OUTPATIENT' || claimHaveLabData()">
            <ng-template mat-tab-label>
                <mat-icon class="mr-1" *ngIf="labResultsTabHasErrors()" [class.text-danger]="labResultsTabHasErrors()">
                    error</mat-icon>
                <span [class.text-danger]="labResultsTabHasErrors()">LAB Results</span>
            </ng-template>
            <claim-lab-results></claim-lab-results>
        </mat-tab>
        <mat-tab *ngIf="pageMode != 'CREATE' && pageMode != 'CREATE_FROM_RETRIEVED'" [label]="'Errors'">
            <claim-errors></claim-errors>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="mr-1" *ngIf="invoiceServicesTabHasErrors()" [class.text-danger]="invoiceServicesTabHasErrors()">error</mat-icon>
                <span [class.text-danger]="invoiceServicesTabHasErrors()">Invoices & Services</span>
            </ng-template>
            <claim-invoices-services></claim-invoices-services>
        </mat-tab>
        <mat-tab *ngIf="pageMode != 'CREATE'" [label]="'PBM Comments'">
            <pbm-comments></pbm-comments>
        </mat-tab>
    </mat-tab-group>
</div>