<div class="primary-dialog-header">
    <h5 class="primary-dialog-title">Generate Report</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body pt-0">
    <div class="form-group">
        <div class="form-group" [ngClass]="{'has-error' : lossMonth.invalid && lossMonth.touched}">
            <div class="date-picker">
                <mat-label>Loss Month</mat-label>
                <input [max]="today" [matDatepicker]="filterlossMonth" [formControl]="lossMonth" class="form-control" placeholder="Select Loss Month">
                <mat-datepicker-toggle [for]="filterlossMonth"></mat-datepicker-toggle>
                <mat-datepicker #filterlossMonth startView="multi-year"
                (monthSelected)="setMonthAndYear($event, filterlossMonth)"></mat-datepicker>
            </div>
            <mat-error *ngIf="lossMonth.invalid && lossMonth.touched">From Date is required</mat-error>

        </div>
    </div>
    <div class="text-right">
        <button type="button" mat-flat-button color="primary" (click)="generateReport()">Generate Report</button>
    </div>
</div>