<div *ngIf="errorMessage != null" class="p-3 bg-white">
    <p class="error-card mb-0">{{errorMessage}}</p>
</div>
<ng-content></ng-content>

<div class="inner-loader-wrapper">
    <div class="inner-loader" *ngIf="isLoading">
        <mat-spinner diameter="48"></mat-spinner>
    </div>

    <div class="block-header" *ngIf="errorMessage == null">
        <p *ngIf="uploadNameExist" class="align-self-center pr-2">Upload Name: {{summaries[0].uploadName}}</p>
        <div class="ml-auto d-flex mt-n2 mb-n2">
            <button mat-flat-button class="tab-btn" [ngClass]="{'active': !isManagingAttachments}"
                (click)="isManagingAttachments = false">Claims</button>
            <button mat-flat-button class="tab-btn" [ngClass]="{'active': isManagingAttachments}"
                (click)="isManagingAttachments = true">Attachments
                Management</button>
        </div>
    </div>
    <div class="block-body pb-0 mb-3" *ngIf="errorMessage == null">
        <!-- <button mat-icon-button [disabled]="currentSummariesPage==1" (click)="previousSummary()" style="margin-top: 50px;">
                <mat-icon>navigate_before</mat-icon>
            </button> 
            <button mat-icon-button (click)="nextSummary()" [disabled]="currentSummariesPage>=summaries.length-3" style="margin-top: 50px;">
                <mat-icon>navigate_next</mat-icon>
            </button>
        -->

        <owl-carousel-o [options]="owlCarouselOptions" class="abstract-card-carousel"
            [class.fixed-card]="summaries.length<4">
            <ng-container *ngFor="let summary of summaries | keyvalue; let i = index">
                <ng-template carouselSlide>
                    <app-abstractcard [clickable]="cardsClickAble"
                        [title]="commen.statusToName(i == 0?'all':summary.value.statuses[0])"
                        [accentColor]="commen.getCardAccentColor(i == 0?'all':summary.value.statuses[0])"
                        (action)="getResultsOfStatus(summary.key)" class="primary-card">
                        <table>
                            <tr>
                                <th colspan="2">No. of Claims</th>
                            </tr>
                            <tr>
                                <td class="pb-1 text-{{commen.getCardAccentColor(i == 0?'all':summary.value.statuses[0])}}"
                                    colspan="2"><span class="dashboard-numbers">{{summary.value.totalClaims }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Total Net</th>
                                <th>Total Net Vat</th>
                            </tr>
                            <tr>
                                <td class="text-{{commen.getCardAccentColor(i == 0?'all':summary.value.statuses[0])}}">
                                    <span class="dashboard-numbers">{{summary.value.totalNetAmount}}</span><span
                                        class="currency"> SR</span>
                                </td>
                                <td class="text-{{commen.getCardAccentColor(i == 0?'all':summary.value.statuses[0])}}">
                                    <span class="dashboard-numbers">{{summary.value.totalVatNetAmount}}</span><span
                                        class="currency"> SR</span>
                                </td>
                            </tr>
                        </table>
                    </app-abstractcard>
                </ng-template>
            </ng-container>
        </owl-carousel-o>

        <app-claim-attachments-management *ngIf="isManagingAttachments"></app-claim-attachments-management>
    </div>

    <ng-container *ngIf="!isManagingAttachments && selectedCardKey != null && summaries[selectedCardKey] != null">
        <div
            class="block-header text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
            <button type="button" mat-button color="primary" [class.active]="currentSelectedTab==0" class="title-btn"
                *ngIf="summaries != null && summaries[selectedCardKey] != null" (click)="currentSelectedTab=0">
                {{commen.statusToName(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}
            </button>
            <button type="button" mat-button color="primary" class="title-btn" (click)="currentSelectedTab=1"
                [class.active]="currentSelectedTab==1">
                Validation Details
            </button>
            <div class="right-block">
                <div class="actions">
                    <!-- <button matRipple type="button" (click)="reValidateClaims()" *ngIf="isRevalidate"
                        class="action-btn">
                        <img src="./assets/ic-refresh.svg" alt="Refresh" />
                    </button> -->
                    <button mat-flat-button class="primary-text-btn" *ngIf="isRevalidate"
                        (click)="reValidateClaims()">Re-Validate
                        {{selectedClaims.length==0?" All":"Selection"}}</button>
                    <button matRipple (click)="download()" type="button" class="action-btn"
                        *ngIf="searchResult != null && searchResult.totalPages > 0 && summaries[selectedCardKey] != null">
                        <img src="./assets/{{detailTopActionIcon}}" />
                    </button>
                    <!-- <mat-menu #moreMenu="matMenu" xPosition="before">
                        <button mat-menu-item>
                            <span>Menu 1</span>
                        </button>
                        <button mat-menu-item>
                            <span>Menu 2</span>
                        </button>
                        <button mat-menu-item>
                            <span>Menu 3</span>
                        </button>
                    </mat-menu>
                    <button matRipple type="button" class="action-btn" [matMenuTriggerFor]="moreMenu">
                        <img src="./assets/ic-more.svg" alt="More" />
                    </button> -->
                </div>
            </div>
        </div>
        <mat-tab-group [selectedIndex]="currentSelectedTab"
            *ngIf="summaries != null && summaries[selectedCardKey] != null" class="hide-tab-header">
            <mat-tab>
                <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true"
                    *ngIf="searchResult != null">
                    <div class="fixed-height">
                        <table class="primary-grid contextful sticky-header" cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr *ngIf="summaries != null && summaries[selectedCardKey] != null">
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <mat-checkbox class="grid-checkbox" color="primary"
                                            [(checked)]="allCheckBoxIsChecked"
                                            [(indeterminate)]="allCheckBoxIsIndeterminate" (change)="selectAllinPage()">
                                        </mat-checkbox>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action">
                                            <span>Claim Ref. No.</span>
                                            <button type="button" class="action-btn" matRipple
                                                [matMenuTriggerFor]="claimRefFilter">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #claimRefFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Provider Claim Ref. No.</label>
                                                            <input class="form-control"
                                                                placeholder="Search Provider Claim Ref. No.">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button>Clear</button>
                                                        <button mat-flat-button color="primary">Search</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action">
                                            <span>Dr. Name</span>
                                            <button type="button" class="action-btn" matRipple
                                                [matMenuTriggerFor]="drNameFilter">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #drNameFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Dr. Name</label>
                                                            <input class="form-control" placeholder="Search Dr. Name">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button>Clear</button>
                                                        <button mat-flat-button color="primary">Search</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action">
                                            <span>Member ID</span>
                                            <button type="button" class="action-btn" matRipple
                                                [matMenuTriggerFor]="memberIDFilter">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #memberIDFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Member ID</label>
                                                            <input class="form-control" placeholder="Search Member ID">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button>Clear</button>
                                                        <button mat-flat-button color="primary">Search</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action">
                                            <span>National ID</span>
                                            <button type="button" class="action-btn" matRipple
                                                [matMenuTriggerFor]="nationalIDFilter">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #nationalIDFilter="matMenu" xPosition="before"
                                                class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">National ID</label>
                                                            <input class="form-control"
                                                                placeholder="Search National ID">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button>Clear</button>
                                                        <button mat-flat-button color="primary">Search</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action">
                                            <span>Patient File No.</span>
                                            <button type="button" class="action-btn" matRipple
                                                [matMenuTriggerFor]="patientFileNoFilter">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #patientFileNoFilter="matMenu" xPosition="before"
                                                class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Patient File No.</label>
                                                            <input class="form-control"
                                                                placeholder="Search Patient File No.">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button>Clear</button>
                                                        <button mat-flat-button color="primary">Search</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action">
                                            <span>Claim Date</span>
                                            <button type="button" class="action-btn" matRipple
                                                [matMenuTriggerFor]="claimDateFilter">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #claimDateFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Claim Date</label>
                                                            <div class="date-picker">
                                                                <input class="form-control"
                                                                    placeholder="Search Claim Date"
                                                                    [matDatepicker]="claimDatePicker">
                                                                <mat-datepicker-toggle [for]="claimDatePicker">
                                                                </mat-datepicker-toggle>
                                                                <mat-datepicker #claimDatePicker></mat-datepicker>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button>Clear</button>
                                                        <button mat-flat-button color="primary">Search</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        Net Amount</th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        Net Vat</th>
                                    <th
                                        class="text-center text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        Status</th>
                                    <th
                                        class="text-right text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <button mat-icon-button (click)="checkAllClaims()"
                                            matTooltip="Verify All Ready Claims' Eligibility"
                                            *ngIf="showEligibilityButton && selectedClaims.length == 0 && !isWaitingForEligibility">
                                            <mat-icon>check_circle_outline</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="checkSelectedClaims()"
                                            matTooltip="Verify All Selected Claims' Eligibility"
                                            *ngIf="showEligibilityButton && selectedClaims.length > 0 && !isWaitingForEligibility">
                                            <mat-icon>check_circle_outline</mat-icon>
                                        </button>
                                        <mat-spinner *ngIf="showEligibilityButton && isWaitingForEligibility"
                                            diameter="20"></mat-spinner>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let claim of claims">
                                    <td>
                                        <mat-checkbox class="grid-checkbox" color="primary"
                                            [checked]="selectedClaims.includes(claim.claimId)"
                                            (change)="selectClaim(claim.claimId)">
                                        </mat-checkbox>
                                    </td>
                                    <td (click)="showClaim(claim.status, claim.claimId)" class="row-click">
                                        <span class="text-monospace">{{claim.providerClaimNumber}}</span>
                                    </td>
                                    <td (click)="showClaim(claim.status, claim.claimId)" class="row-click">
                                        {{claim.drName}}</td>
                                    <td (click)="showClaim(claim.status, claim.claimId)" class="row-click">
                                        <span class="text-monospace">{{claim.memberId}}</span>
                                    </td>
                                    <td (click)="showClaim(claim.status, claim.claimId)" class="row-click">
                                        <span class="text-monospace">{{claim.nationalId}}</span>
                                    </td>
                                    <td (click)="showClaim(claim.status, claim.claimId)" class="row-click">
                                        <span class="text-monospace">{{claim.patientFileNumber}}</span>
                                    </td>
                                    <td (click)="showClaim(claim.status, claim.claimId)" class="row-click text-nowrap">
                                        {{claim.claimDate}}
                                    </td>
                                    <td (click)="showClaim(claim.status, claim.claimId)" class="row-click text-nowrap">
                                        {{claim.netAmount}}<span class="currency"> {{claim.unitOfNetAmount}}</span>
                                    </td>
                                    <td (click)="showClaim(claim.status, claim.claimId)" class="row-click text-nowrap">
                                        {{claim.netVatAmount}}<span class="currency">
                                            {{claim.unitOfNetVatAmount}}</span>
                                    </td>
                                    <td (click)="showClaim(claim.status, claim.claimId)" class="text-center row-click">
                                        <span class="status-dot bg-{{accentColor(claim.status)}}"></span>
                                    </td>
                                    <td class="actions">
                                        <button [disabled]="!(claim.numOfPriceListErrors > 0)" class="text-orange"
                                            *ngIf="claim.numOfPriceListErrors > 0" mat-icon-button
                                            [matTooltip]="claim.numOfPriceListErrors + ' service(s) out of price list'">
                                            <mat-icon>error</mat-icon>
                                        </button>
                                        <button [disabled]="!(claim.numOfAttachments > 0)"
                                            *ngIf="claim.numOfAttachments > 0" mat-icon-button
                                            [matTooltip]="claim.numOfAttachments + ' attachments'" class="text-primary">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                        <button mat-icon-button
                                            *ngIf="claim.status == 'Downloadable' || claim.status == 'Accepted' || claim.status == 'NotAccepted' || claim.status == 'Failed' || claim.status == 'INVALID'"
                                            [disabled]="!((claim.status == 'Downloadable' || claim.status == 'Accepted' || claim.status == 'NotAccepted' || claim.status == 'Failed'  || claim.status == 'INVALID') && true)"
                                            (click)="showClaim(claim.status, claim.claimId, true)" matTooltip="Edit"
                                            class="text-primary">
                                            <mat-icon>create</mat-icon>
                                        </button>
                                        <button mat-icon-button
                                            *ngIf="claim.status == 'Downloadable' || claim.status == 'Accepted' || claim.status == 'NotAccepted' || claim.status == 'Failed' || claim.status == 'INVALID'"
                                            [disabled]="!((claim.status == 'Downloadable' || claim.status == 'Accepted' || claim.status == 'NotAccepted' || claim.status == 'Failed'  || claim.status == 'INVALID') && true)"
                                            (click)="deleteClaim(claim.claimId, claim.providerClaimNumber)"
                                            matTooltip="Delete" class="text-primary">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                        <button class="text-light-grey" mat-icon-button
                                            (click)="checkClaim(claim.claimId)" matTooltip="Verify Eligibility"
                                            *ngIf="claim.status == 'Downloadable' && claim.status == 'Accepted' && claim.eligibilitycheck == null && !claimIsWaitingEligibility(claim.claimId)">
                                            <mat-icon>check_circle_outline</mat-icon>
                                        </button>
                                        <button class="text-parrot" mat-icon-button matTooltip="Eligible"
                                            *ngIf="isEligibleState(claim.eligibilitycheck) && !claimIsWaitingEligibility(claim.claimId)">
                                            <mat-icon>check_circle_outline</mat-icon>
                                        </button>
                                        <button class="text-light-pink" mat-icon-button
                                            [matTooltip]="claim.eligibilitycheck"
                                            *ngIf="claim.eligibilitycheck != null && !isEligibleState(claim.eligibilitycheck) && !claimIsWaitingEligibility(claim.claimId)">
                                            <mat-icon>error_outline</mat-icon>
                                        </button>
                                        <div class="mat-spinner-wrapper"
                                            *ngIf="claimIsWaitingEligibility(claim.claimId)">
                                            <mat-spinner diameter="20"></mat-spinner>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-scrollbar>
            </mat-tab>
            <mat-tab>
                <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" *ngIf="validationDetails != null"
                    [trackX]="true">
                    <div class="fixed-height">
                        <table class="primary-grid contextful sticky-header" cellpadding="0" cellspacing="0" border="0">
                            <ng-container *ngIf='validationDetails.length > 0'>
                                <thead>
                                    <tr>
                                        <th
                                            class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                            Provider Claim Number</th>
                                        <th
                                            class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                            Field Name</th>
                                        <th
                                            class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                            Error Description</th>
                                        <th
                                            class="text-center text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                            Status</th>
                                    </tr>
                                </thead>
                            </ng-container>
                            <tbody>
                                <ng-container *ngIf='validationDetails.length > 0'>
                                    <tr *ngFor="let detail of validationDetails">
                                        <td>{{detail.providerClaimeNo}}</td>
                                        <td class="text-{{accentColor(detail.status)}}">
                                            {{detail.fieldName}}</td>
                                        <td class="text-{{accentColor(detail.status)}}">
                                            {{detail.description}}</td>
                                        <td class="text-center">
                                            <span class="status-dot bg-{{accentColor(detail.status)}}"></span>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf='validationDetails.length === 0'>
                                    <tr>
                                        <td [colSpan]='4' class="p-0">
                                            <app-empty-state class="claim-list-empty-state" message='No errors found!'>
                                            </app-empty-state>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-scrollbar>
            </mat-tab>
        </mat-tab-group>
        <div class="block-footer sticky-bottom">
            <div class="left-block">
                <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)" [length]="length"
                    [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons"
                    [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
                </mat-paginator>
            </div>
            <div class="right-block btn-list" *ngIf="currentSelectedTab==0">
                <button mat-button *ngIf="isDeleteBtnVisible" (click)="deleteClaimByUploadid()">Delete
                    {{selectedClaims.length==0?" All":"Selection"}}</button>
                <button *ngIf="isSubmit" (click)="submitAll()" mat-flat-button color="primary">Submit
                    {{selectedClaims.length==0?" All":"Selection"}}</button>
            </div>
        </div>
    </ng-container>
</div>