<div class="block-card mb-3">
    <div *ngIf="errorMessage != null" class="block-body">
        <p class="error-card mb-0">{{errorMessage}}</p>
    </div>
</div>
<ng-content></ng-content>

<div class="inner-loader-wrapper">
    <div class="inner-loader" *ngIf="isLoading || (showEligibilityButton && isWaitingForEligibility)">
        <mat-spinner diameter="48"></mat-spinner>
    </div>

    <div class="block-card mb-3">
        <div class="block-header" *ngIf="errorMessage == null">
            <p *ngIf="uploadNameExist" class="align-self-center pr-2">Upload Name: {{summaries[0].uploadName}}</p>
            <div class="ml-auto d-flex mt-n2 mb-n2">
                <button mat-flat-button class="tab-btn" [ngClass]="{'active': !isManagingAttachments}" (click)="isManagingAttachments = false">Claims</button>
                <button mat-flat-button class="tab-btn" [ngClass]="{'active': isManagingAttachments}" (click)="isManagingAttachments = true">Attachments
                    Management</button>
            </div>
        </div>
        <div class="block-body pb-0" *ngIf="errorMessage == null">
            <!-- <button mat-icon-button [disabled]="currentSummariesPage==1" (click)="previousSummary()" style="margin-top: 50px;">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <button mat-icon-button (click)="nextSummary()" [disabled]="currentSummariesPage>=summaries.length-3" style="margin-top: 50px;">
                    <mat-icon>navigate_next</mat-icon>
                </button>
            -->
            <owl-carousel-o [options]="owlCarouselOptions" class="abstract-card-carousel dynamic-width" [class.fixed-card]="summaries.length<4">
                <ng-container *ngFor="let summary of summaries | keyvalue; let i = index">
                    <ng-template carouselSlide [width]="summary.value.statuses[0] == 'partially_paid'?320:0">
                        <app-abstractcard [clickable]="cardsClickAble" [title]="commen.statusToName(i == 0?'all':summary.value.statuses[0])"
                            [accentColor]="commen.getCardAccentColor(i == 0?'all':summary.value.statuses[0])" (action)="getResultsOfStatus(summary.key)"
                            [totalCount]="summary.value.totalClaims" class="primary-card abstract-card">
                            <span class="label total">Totals</span>
                            <table>
                                <tr>
                                    <th class="label">Net</th>
                                    <th class="label">Net Vat</th>
                                </tr>
                                <tr>
                                    <td class="text-{{commen.getCardAccentColor(i == 0?'all':summary.value.statuses[0])}}">
                                        <span class="dashboard-numbers">{{summary.value.totalNetAmount}}</span><span class="currency"> SR</span>
                                    </td>
                                    <td class="text-{{commen.getCardAccentColor(i == 0?'all':summary.value.statuses[0])}}">
                                        <span class="dashboard-numbers">{{summary.value.totalVatNetAmount}}</span><span class="currency"> SR</span>
                                    </td>
                                </tr>
                                <ng-container *ngIf="summary.value.statuses[0] == 'partially_paid'">
                                    <tr>
                                        <th class="label">Actual Deducted</th>
                                        <th class="label">Actual Paid</th>
                                    </tr>
                                    <tr>
                                        <td class="text-{{commen.getCardAccentColor(i == 0?'all':summary.value.statuses[0])}}">
                                            <span class="dashboard-numbers">{{summary.value.actualDeducted}}</span><span class="currency"> SR</span>
                                        </td>
                                        <td class="text-{{commen.getCardAccentColor(i == 0?'all':summary.value.statuses[0])}}">
                                            <span class="dashboard-numbers">{{summary.value.actualPaid}}</span><span class="currency"> SR</span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </table>
                        </app-abstractcard>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>

    <div class="block-card" *ngIf="!isManagingAttachments && selectedCardKey != null && summaries[selectedCardKey] != null">
        <div class="block-header text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
            <button type="button" mat-button color="primary" [class.active]="currentSelectedTab==0" class="title-btn"
                *ngIf="summaries != null && summaries[selectedCardKey] != null" (click)="currentSelectedTab=0">
                {{commen.statusToName(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}
            </button>
            <button type="button" mat-button color="primary" class="title-btn" (click)="currentSelectedTab=1" [class.active]="currentSelectedTab==1">
                Validation Details
            </button>
            <div class="right-block">
                <div class="actions">
                    <mat-menu #downloadMenu="matMenu" xPosition="before" class="primary-menu primary-menu-items download-menu">
                        <button mat-menu-item (click)="downloadWaseelFormat()">
                            <span class="title">Single-Sheet Format</span>
                            <span class="text-grey d-block">Recommended for claims with small number of (invoices, services, labs, diagnosis</span>
                        </button>
                        <button mat-menu-item (click)="downloadSheetFormat()">
                            <span class="title">Multi-Sheet Format</span>
                            <span class="text-grey d-block">Recommended for claims with large number of (invoices, services, labs, diagnosis</span>
                        </button>
                        <button mat-menu-item (click)="downloadPayerFormat()"
                            *ngIf="summaries[selectedCardKey].statuses.length == 1 && (summaries[selectedCardKey].statuses.includes('Downloadable'.toLowerCase()))">
                            <span class="title">Download in Payer Format</span>
                        </button>
                    </mat-menu>
                    <mat-menu #moreMenu="matMenu" xPosition="before" class="primary-menu primary-menu-items">
                        <button mat-menu-item (click)="checkAllClaims()" *ngIf="showEligibilityButton && selectedClaims.length == 0 && !isWaitingForEligibility">
                            <span>Verify All Ready Claims' Eligibility</span>
                        </button>
                        <button mat-menu-item (click)="checkSelectedClaims()" *ngIf="showEligibilityButton && selectedClaims.length > 0 && !isWaitingForEligibility">
                            <span>Verify All Selected Claims' Eligibility</span>
                        </button>
                        <button mat-menu-item (click)="checkClaimsApproval()" *ngIf="showApprovalButton && selectedClaims.length == 0 && !isWaitingForApproval">
                            <span>Verify All Ready Claims' Approval</span>
                        </button>
                        <button mat-menu-item (click)="checkClaimsApproval()" *ngIf="showApprovalButton && selectedClaims.length > 0 && !isWaitingForApproval">
                            <span>Verify All Selected Claims' Approval</span>
                        </button>
                    </mat-menu>
                    <button *ngIf="appliedFilters.length>0" (click)="clearFilters('',true)" class="primary-text-btn" mat-flat-button type="button">Clear
                        Filter</button>
                    <button mat-flat-button type="button" color="primary" *ngIf="isRevalidate" (click)="reValidateClaims()">
                        Re-Validate {{selectedClaims.length==0?" All":"Selection"}}
                    </button>
                    <button matRipple [matMenuTriggerFor]="downloadMenu" type="button" class="action-btn"
                        *ngIf="searchResult != null && searchResult.totalPages > 0 && summaries[selectedCardKey] != null">
                        <img src="./assets/{{detailTopActionIcon}}" />
                    </button>
                    <button matRipple type="button" class="action-btn"
                        *ngIf="(showEligibilityButton && selectedClaims.length == 0 && !isWaitingForEligibility) || (showEligibilityButton && selectedClaims.length > 0 && !isWaitingForEligibility) || (showApprovalButton && selectedClaims.length == 0 && !isWaitingForApproval) || (showApprovalButton && selectedClaims.length > 0 && !isWaitingForApproval)"
                        [matMenuTriggerFor]="moreMenu">
                        <img src="./assets/ic-more.svg" alt="More" />
                    </button>
                </div>
            </div>
        </div>
        <mat-tab-group [selectedIndex]="currentSelectedTab" *ngIf="summaries != null && summaries[selectedCardKey] != null" class="hide-tab-header">
            <mat-tab>
                <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" *ngIf="searchResult != null">
                    <div class="fixed-height">
                        <table class="primary-grid contextful sticky-header" cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr *ngIf="summaries != null && summaries[selectedCardKey] != null">
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <mat-checkbox class="grid-checkbox" color="primary" [(checked)]="allCheckBoxIsChecked" [(indeterminate)]="allCheckBoxIsIndeterminate"
                                            (change)="selectAllinPage()">
                                        </mat-checkbox>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">

                                        <div class="column-header-action" [ngClass]="checkAppliedFilter(claimSearchSelection.CLAIMREFNO)">
                                            <span>Claim Ref. No.</span>
                                            <button *ngIf="params.claimRefNo===undefined || params.claimRefNo==='' || params.claimRefNo===null" type="button" class="action-btn"
                                                matRipple [matMenuTriggerFor]="claimRefFilter" (click)="checkReloadedFilter()">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #claimRefFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Provider Claim Ref.
                                                                No.</label>
                                                            <input class="form-control" [(ngModel)]="claimList.claimRefNO" #claimRefNO="ngModel" name="claimRefNO"
                                                                placeholder="Provider Claim Ref. No.">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button (click)="clearFilters('claimRefNO')">Clear</button>
                                                        <button mat-flat-button color="primary" (click)="searchClaimBased(claimSearchSelection.CLAIMREFNO)">Filter</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action" [ngClass]="checkAppliedFilter(claimSearchSelection.DR_NAME)">
                                            <span>Dr. Name</span>
                                            <button type="button" class="action-btn" matRipple [matMenuTriggerFor]="drNameFilter" (click)="checkReloadedFilter()">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #drNameFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Dr. Name</label>
                                                            <input class="form-control" placeholder="Dr. Name" [(ngModel)]="claimList.drName" #drName="ngModel" name="drName">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button (click)="clearFilters('drName')">Clear</button>
                                                        <button mat-flat-button color="primary" (click)="searchClaimBased(claimSearchSelection.DR_NAME)">Filter</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action" [ngClass]="checkAppliedFilter(claimSearchSelection.MEMBERID)">
                                            <span>Member ID</span>
                                            <button *ngIf="params.memberId===undefined || params.memberId==='' || params.memberId===null" type="button" class="action-btn" matRipple
                                                [matMenuTriggerFor]="memberIDFilter" (click)="checkReloadedFilter()">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #memberIDFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Member ID</label>
                                                            <input class="form-control" placeholder="Member ID" [(ngModel)]="claimList.memberID" #memberID="ngModel"
                                                                name="memberID">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button (click)="clearFilters('memberID')">Clear</button>
                                                        <button mat-flat-button color="primary" (click)="searchClaimBased(claimSearchSelection.MEMBERID)">Filter</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action" [ngClass]="checkAppliedFilter(claimSearchSelection.NATIONALID)">
                                            <span>National ID</span>
                                            <button type="button" class="action-btn" matRipple [matMenuTriggerFor]="nationalIDFilter" (click)="checkReloadedFilter()">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #nationalIDFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">National ID</label>

                                                            <input class="form-control" placeholder="National ID" [(ngModel)]="claimList.nationalId" #nationalId="ngModel"
                                                                name="nationalId">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button (click)="clearFilters('nationalId')">Clear</button>
                                                        <button mat-flat-button color="primary" (click)="searchClaimBased(claimSearchSelection.NATIONALID)">Filter</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action" [ngClass]="checkAppliedFilter(claimSearchSelection.PATIENTFILENO)">
                                            <span>Patient File No.</span>
                                            <button *ngIf="params.patientFileNo===undefined || params.patientFileNo==='' || params.patientFileNo===null" type="button"
                                                class="action-btn" matRipple [matMenuTriggerFor]="patientFileNoFilter" (click)="checkReloadedFilter()">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #patientFileNoFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Patient File No.</label>
                                                            <input class="form-control" placeholder="Patient File No." [(ngModel)]="claimList.patientFileNO"
                                                                #patientFileNO="ngModel" name="patientFileNO">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button (click)="clearFilters('patientFileNO')">Clear</button>
                                                        <button mat-flat-button color="primary" (click)="searchClaimBased(claimSearchSelection.PATIENTFILENO)">Filter</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action" [ngClass]="checkAppliedFilter(claimSearchSelection.CLAIMDATE)">
                                            <span>Claim Date</span>
                                            <button type="button" class="action-btn" matRipple [matMenuTriggerFor]="claimDateFilter" (click)="checkReloadedFilter()">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #claimDateFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Claim Date</label>
                                                            <div class="date-picker">
                                                                <input [(ngModel)]="claimList.claimDate" #claimDate="ngModel" name="claimDate" class="form-control"
                                                                    placeholder="Claim Date" [matDatepicker]="claimDatePicker">
                                                                <mat-datepicker-toggle [for]="claimDatePicker">
                                                                </mat-datepicker-toggle>
                                                                <mat-datepicker #claimDatePicker></mat-datepicker>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button (click)="clearFilters('claimDate')">Clear</button>
                                                        <button mat-flat-button color="primary" (click)="searchClaimBased(claimSearchSelection.CLAIMDATE)">Filter</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action" [ngClass]="checkAppliedFilter(claimSearchSelection.CLAIMNET)">
                                            <span>Net Amount</span>
                                            <button type="button" class="action-btn" matRipple [matMenuTriggerFor]="claimNetFilter" (click)="checkReloadedFilter()">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #claimNetFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Net Amount</label>
                                                            <input class="form-control" placeholder="Claim Net Amount" type="number" [(ngModel)]="claimList.netAmount"
                                                                #claimNet="ngModel" name="claimNet">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button (click)="clearFilters('netAmount')">Clear</button>
                                                        <button mat-flat-button color="primary" (click)="searchClaimBased(claimSearchSelection.CLAIMNET)">Filter</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        Net Vat</th>
                                    <th
                                        class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        <div class="column-header-action" [ngClass]="checkAppliedFilter(claimSearchSelection.BATCHNUM)">
                                            <span>Batch No.</span>
                                            <button type="button" class="action-btn" matRipple [matMenuTriggerFor]="batchNumFilter" (click)="checkReloadedFilter()">
                                                <mat-icon>filter_list_outline</mat-icon>
                                            </button>
                                            <mat-menu #batchNumFilter="matMenu" xPosition="before" class="filter-menu">
                                                <div class="menu-body">
                                                    <div (click)="$event.stopPropagation()">
                                                        <div class="form-group">
                                                            <label class="control-label">Batch Number</label>
                                                            <input [(ngModel)]="claimList.batchNo" #batchNo="ngModel" name="batchNo" class="form-control"
                                                                placeholder="Batch Number">
                                                        </div>
                                                    </div>
                                                    <div class="btn-list text-right">
                                                        <button mat-flat-button (click)="clearFilters('batchNo')">Clear</button>
                                                        <button mat-flat-button color="primary" (click)="searchClaimBased(claimSearchSelection.BATCHNUM)">Filter</button>
                                                    </div>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </th>
                                    <th
                                        class="text-center text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                        Status</th>
                                    <th class="text-center text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}"
                                        *ngIf="isPBMValidationVisible">
                                        PBM Status</th>
                                    <th class="text-center text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}"
                                        matTooltip="Verification Status" *ngIf="isReadyForSubmission()">
                                        V.S.</th>
                                    <th
                                        class="text-right text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <ng-container *ngIf='claims.length > 0'>
                                    <tr *ngFor="let claim of claims">
                                        <td>
                                            <mat-checkbox class="grid-checkbox" color="primary" [checked]="selectedClaims.includes(claim.claimId)"
                                                (change)="selectClaim(claim.claimId)">
                                            </mat-checkbox>
                                        </td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="row-click">
                                            <span class="text-monospace">{{claim.providerClaimNumber}}</span>
                                        </td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="row-click">
                                            {{claim.drName}}</td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="row-click">
                                            <span class="text-monospace">{{claim.memberId}}</span>
                                        </td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="row-click">
                                            <span class="text-monospace">{{claim.nationalId}}</span>
                                        </td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="row-click">
                                            <span class="text-monospace">{{claim.patientFileNumber}}</span>
                                        </td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="row-click text-nowrap">
                                            {{claim.claimDate}}
                                        </td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="row-click text-nowrap">
                                            {{claim.netAmount}}<span class="currency"> {{claim.unitOfNetAmount}}</span>
                                        </td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="row-click text-nowrap">
                                            {{claim.netVatAmount}}<span class="currency">
                                                {{claim.unitOfNetVatAmount}}</span>
                                        </td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="row-click text-nowrap">
                                            <span class="text-monospace">{{claim.batchNumber}}</span>
                                        </td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="text-center row-click">
                                            <span class="status-dot bg-{{accentColor(claim.status)}}"></span>
                                        </td>
                                        <td (click)="showClaim(claim.status, claim.claimId)" class="text-center row-click" *ngIf="isPBMValidationVisible">
                                            <mat-icon *ngIf="(claim.body.pbmClaimStatus | lowercase)==='approved'" class="material-icons-outlined size-21 text-success"
                                                matTooltip="Approved">check_circle</mat-icon>
                                            <mat-icon *ngIf="(claim.body.pbmClaimStatus | lowercase)==='partial_approved'" class="material-icons-outlined size-21 text-warning"
                                                matTooltip="Partially Approved">report
                                            </mat-icon>
                                            <mat-icon *ngIf="(claim.body.pbmClaimStatus | lowercase)==='invalid'" class="material-icons-outlined size-21 text-danger"
                                                matTooltip="Invalid">dangerous</mat-icon>
                                            <mat-icon *ngIf="(claim.body.pbmClaimStatus | lowercase)==='rejected'" class="material-icons-outlined size-21 text-danger"
                                                matTooltip="Rejected">dangerous</mat-icon>
                                        </td>
                                        <!--  -->
                                        <td class="actions text-center" *ngIf="isReadyForSubmission()">
                                            <button class="action-letter-btn" (click)="checkClaim(claim.claimId)" matTooltip="Verify Eligibility"
                                                *ngIf="claim.status == 'Accepted' && claim.eligibilitycheck == null && !claimIsWaitingEligibility(claim.claimId)">E</button>
                                            <span class="action-letter-btn theme-success" matTooltip="Eligible"
                                                *ngIf="isEligibleState(claim.eligibilitycheck) && !claimIsWaitingEligibility(claim.claimId)">E</span>
                                            <span class="action-letter-btn theme-danger"
                                                matTooltip="{{claim.eligibilitycheck}} {{claim.eligibilityStatusDesc!==null && claim.eligibilityStatusDesc!==undefined ? ': '+ claim.eligibilityStatusDesc:'' }}"
                                                *ngIf="claim.eligibilitycheck != null && !isEligibleState(claim.eligibilitycheck) && !claimIsWaitingEligibility(claim.claimId)">E</span>
                                            <mat-spinner diameter="20" *ngIf="claimIsWaitingEligibility(claim.claimId)">
                                            </mat-spinner>
                                            <button class="action-letter-btn" (click)="checkClaimForApproval(claim.claimId)" matTooltip="Verify Approval"
                                                *ngIf="claim.status == 'Accepted' && claim.statusApproval == null && !claimIsWaitingApproval(claim.claimId)">A</button>
                                            <span class="action-letter-btn theme-success" matTooltip="Approval number is verified"
                                                *ngIf="isApprovalState(claim.statusApproval) && !claimIsWaitingApproval(claim.claimId)">A</span>
                                            <span class="action-letter-btn theme-warning"
                                                matTooltip="{{claim.statusApproval}} {{claim.descApproval!==null && claim.descApproval!==undefined ? ': '+ claim.descApproval:'' }}"
                                                *ngIf="isPartialApprovalState(claim.statusApproval) && !claimIsWaitingApproval(claim.claimId)">A</span>
                                            <span class="action-letter-btn theme-danger"
                                                matTooltip="{{claim.statusApproval}} {{claim.descApproval!==null && claim.descApproval!==undefined ? ': '+ claim.descApproval:'' }}"
                                                *ngIf="isRejectedState(claim.statusApproval) && !claimIsWaitingApproval(claim.claimId)">A</span>
                                            <mat-spinner diameter="20" *ngIf="claimIsWaitingApproval(claim.claimId)">
                                            </mat-spinner>

                                        </td>
                                        <td class="actions">
                                            <button [disabled]="!(claim.numOfPriceListErrors > 0)" class="text-orange" *ngIf="claim.numOfPriceListErrors > 0" mat-icon-button
                                                [matTooltip]="claim.numOfPriceListErrors + ' service(s) out of price list'">
                                                <mat-icon>error</mat-icon>
                                            </button>
                                            <button [disabled]="!(claim.numOfAttachments > 0)" *ngIf="claim.numOfAttachments > 0" mat-icon-button
                                                [matTooltip]="claim.numOfAttachments + ' attachments'" class="text-primary">
                                                <mat-icon>attach_file</mat-icon>
                                            </button>
                                            <mat-menu #actionsMenu xPosition="before">
                                                <ng-template matMenuContent>
                                                    <button mat-menu-item type="button"
                                                        [disabled]="!((claim.status == 'Downloadable' || claim.status == 'Accepted' || claim.status == 'NotAccepted' || claim.status == 'Failed'  || claim.status == 'INVALID') && true)"
                                                        (click)="showClaim(claim.status, claim.claimId, true)">
                                                        <mat-icon class="material-icons-outlined">edit</mat-icon>
                                                        <span>Edit</span>
                                                    </button>
                                                    <button mat-menu-item type="button"
                                                        [disabled]="!((claim.status == 'Downloadable' || claim.status == 'Accepted' || claim.status == 'NotAccepted' || claim.status == 'Failed'  || claim.status == 'INVALID') && true)"
                                                        (click)="deleteClaim(claim.claimId, claim.providerClaimNumber)">
                                                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                                                        <span>Delete</span>
                                                    </button>
                                                </ng-template>
                                            </mat-menu>
                                            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu"
                                                *ngIf="claim.status == 'Downloadable' || claim.status == 'Accepted' || claim.status == 'NotAccepted' || claim.status == 'Failed' || claim.status == 'INVALID'">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf='claims.length===0 && !commen.loading'>
                                    <td [colSpan]='(!isPBMValidationVisible && !isReadyForSubmission())? 12 : ((isPBMValidationVisible && !isReadyForSubmission()) || (!isPBMValidationVisible && isReadyForSubmission()) ? 13 : (isPBMValidationVisible && isReadyForSubmission()) && 14)'
                                        class="p-0">
                                        <app-empty-state class="claim-list-empty-state" message='No records found!'>
                                        </app-empty-state>
                                    </td>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-scrollbar>
            </mat-tab>
            <mat-tab>
                <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" *ngIf="validationDetails != null" [trackX]="true">
                    <div class="fixed-height">
                        <table class="primary-grid contextful sticky-header" cellpadding="0" cellspacing="0" border="0">
                            <ng-container *ngIf='validationDetails.length > 0'>
                                <thead>
                                    <tr>
                                        <th
                                            class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                            Provider Claim Number</th>
                                        <th
                                            class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                            Field Name</th>
                                        <th
                                            class="text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                            Error Description</th>
                                        <th
                                            class="text-center text-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}} light-bg-{{commen.getCardAccentColor(selectedCardKey == 0?'all':summaries[selectedCardKey].statuses[0])}}">
                                            Status</th>
                                    </tr>
                                </thead>
                            </ng-container>
                            <tbody>
                                <ng-container *ngIf='validationDetails.length > 0'>
                                    <tr *ngFor="let detail of validationDetails">
                                        <td>{{detail.providerClaimeNo}}</td>
                                        <td class="text-{{accentColor(detail.status)}}">
                                            {{detail.fieldName}}</td>
                                        <td class="text-{{accentColor(detail.status)}}">
                                            {{detail.description}}</td>
                                        <td class="text-center">
                                            <span class="status-dot bg-{{accentColor(detail.status)}}"></span>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf='validationDetails.length === 0'>
                                    <tr>
                                        <td [colSpan]='4' class="p-0">
                                            <app-empty-state class="claim-list-empty-state" message='No errors found!'>
                                            </app-empty-state>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-scrollbar>
            </mat-tab>
        </mat-tab-group>
        <div class="block-footer sticky" *ngIf="claims.length > 0">
            <div class="left-block">
                <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
                    [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
                </mat-paginator>
                <!-- <div class="custom-paginator"
                    *ngIf="searchResult != null && searchResult.totalPages > 0 && summaries[selectedCardKey] != null">
                    <button matRipple (click)="goToFirstPage()" type="button" title="First Page"
                        [disabled]="searchResult.number==0">
                        <img src="./assets/ic-page-first.svg" alt="First" />
                    </button>
                    <button matRipple (click)="goToPrePage()" type="button" title="Previous Page"
                        [disabled]="searchResult.number==0">
                        <img src="./assets/ic-page-prev.svg" alt="Previous" />
                    </button>
                    <p class="page-info">
                        {{(searchResult.number+1)}}<small>/{{searchResult.totalPages}}</small>
                    </p>
                    <button matRipple (click)="goToNextPage()" type="button" title="Next Page"
                        [disabled]="(searchResult.number+1)==searchResult.totalPages">
                        <img src="./assets/ic-page-next.svg" alt="Next" />
                    </button>
                    <button matRipple (click)="goToLastPage()" type="button" title="Last Page"
                        [disabled]="(searchResult.number+1)==searchResult.totalPages">
                        <img src="./assets/ic-page-last.svg" alt="Last" />
                    </button>
                </div> -->
                <!-- <mat-paginator (page)="goToNextPage()" (hasPreviousPage)="goToPrePage()"
                    (lastPage)="goFilterToLastPage()" (firstPage)="goFilterToFirstPage()"
                    [length]="searchResult?.totalElements" class="primary-paginator" [pageSize]="10"
                    [pageSizeOptions]="[10,50,100]" #paginator>
                </mat-paginator> -->
            </div>
            <div class="right-block btn-list" *ngIf="currentSelectedTab==0">
                <button mat-button *ngIf="isDeleteBtnVisible" (click)="deleteClaimByUploadid()">Delete
                    {{selectedClaims.length==0?" All":"Selection ("+this.selectedClaims.length+")"}}</button>
                <button *ngIf="isSubmit" (click)="submitAll()" mat-flat-button color="primary">Submit
                    {{selectedClaims.length==0?" All":"Selection ("+this.selectedClaims.length+")"}}</button>
                <ng-container *ngIf="summaries[this.selectedCardKey].statuses[0] === statusSelected.Accepted.toLowerCase()
                    || summaries[this.selectedCardKey].statuses[0] === statusSelected.Downloadable.toLowerCase()">
                    <button [disabled]="!isPBMValidationVisible" (click)="applyPBMValidation()" mat-flat-button color="primary">PBM Validate {{selectedClaims.length==0?"
                        All":"Selection ("+this.selectedClaims.length+")"}}</button>
                </ng-container>
            </div>
        </div>
    </div>
    <app-claim-attachments-management *ngIf="isManagingAttachments"></app-claim-attachments-management>
</div>