<div class="primary-dialog-header has-border">
  <h5 *ngIf="!data.item" class="primary-dialog-title">Add Supporting Info</h5>
  <h5 *ngIf="data.item" class="primary-dialog-title">Edit Supporting Info</h5>
  <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<form [formGroup]="FormSupportingInfo" (ngSubmit)="onSubmit()">
  <div class="primary-dialog-body pb-0">
    <div class="row small-gutter">
      <div class="col-6">

        <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormSupportingInfo.get('category').touched) && FormSupportingInfo.get('category').hasError('required')}">
          <label class="control-label">Category<span class="asterisk">*</span></label>
          <mat-form-field class="form-control custom-select-control">
            <mat-select formControlName="category" (selectionChange)="getCodes()">
              <mat-option value="">Select Category</mat-option>
              <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="(isSubmitted || FormSupportingInfo.get('category').touched) && FormSupportingInfo.get('category').hasError('required')">
            <span class="error-text">Please select a category</span>
          </div>
        </div>
      </div>

      <ng-container *ngIf="FormSupportingInfo.controls.category.value.value === 'attachment'">
        <div class="col-6">
          <div class="form-group">
            <label class="control-label">{{currentFileUploadName?'Selected Attachment':'Upload Attachment'}} <span class="asterisk">*</span></label>
            <div class="file-upload-wrapper">
              <div class="content">
                <button mat-flat-button color="primary" type="button" *ngIf="!fileUploadFlag">
                  Choose File
                </button>
                <div class="uploaded-file-name" *ngIf="fileUploadFlag">
                  <span>{{currentFileUploadName}}</span>
                  <button type="button" class="icon" (click)="deleteFile()" matRipple title="Delete File?">
                    <mat-icon class="size-20">close</mat-icon>
                  </button>
                </div>
                <p class="error-text pt-1" *ngIf="error">{{error}}</p>
              </div>
              <ng-container *ngIf="!fileUploadFlag">
                <input type="file" accept="application/pdf,image/jpeg,image/jpg" name="attachmentFile" class="file-upload-control" (change)="selectFile($event)" required />
                <div *ngIf="isSubmitted && FormSupportingInfo.get('attachment').hasError('required')">
                  <span class="error-text">Please select a file</span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>



      <ng-container *ngIf="FormSupportingInfo.controls.category.value.value === 'info' ||
      FormSupportingInfo.controls.category.value.value === 'lab-test' ||
      FormSupportingInfo.controls.category.value.value === 'days-supply' ||
      FormSupportingInfo.controls.category.value.value === 'vital-sign-weight' ||
      FormSupportingInfo.controls.category.value.value === 'vital-sign-systolic' ||
      FormSupportingInfo.controls.category.value.value === 'vital-sign-diastolic' ||
      FormSupportingInfo.controls.category.value.value === 'icu-hours' ||
      FormSupportingInfo.controls.category.value.value === 'ventilation-hours' ||
      FormSupportingInfo.controls.category.value.value === 'vital-sign-height' ||
      FormSupportingInfo.controls.category.value.value === 'chief-complaint' ||
      FormSupportingInfo.controls.category.value.value === 'temperature' ||
      FormSupportingInfo.controls.category.value.value === 'pulse' ||
      FormSupportingInfo.controls.category.value.value === 'oxygen-saturation' ||
      FormSupportingInfo.controls.category.value.value === 'respiratory-rate' ||
      FormSupportingInfo.controls.category.value.value === 'birth-weight'">
        <div class="col-6">
          <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormSupportingInfo.get('value').touched) && FormSupportingInfo.get('value').hasError('required')}">
            <label class="control-label">Value<span *ngIf="!(FormSupportingInfo.controls.category.value && FormSupportingInfo.controls.category.value.value === 'chief-complaint' && FormSupportingInfo.controls.code.value)" class="asterisk">*</span></label>
            <div class="input-group">

              <input
                *ngIf="FormSupportingInfo.controls.category.value.value === 'info' || FormSupportingInfo.controls.category.value.value === 'chief-complaint' || FormSupportingInfo.controls.category.value.value === 'lab-test'"
                type="text" class="form-control" placeholder="Enter value" formControlName="value" (blur)="chiefComplainBlurValidation()" />
              <input
                *ngIf="FormSupportingInfo.controls.category.value.value !== 'info' && FormSupportingInfo.controls.category.value.value !== 'chief-complaint' && FormSupportingInfo.controls.category.value.value !== 'lab-test'"
                type="number" class="form-control" placeholder="Enter value" formControlName="value" />

              <span
                *ngIf="FormSupportingInfo.controls.category.value.value !== 'info' && FormSupportingInfo.controls.category.value.value !== 'chief-complaint' && FormSupportingInfo.controls.category.value.value !== 'lab-test'"
                class="input-group-append">
                <span *ngIf="FormSupportingInfo.controls.category.value.value === 'vital-sign-weight'|| FormSupportingInfo.controls.category.value.value === 'birth-weight'"
                  class="input-group-text">kg</span>
                <span
                  *ngIf="FormSupportingInfo.controls.category.value.value === 'vital-sign-systolic' || FormSupportingInfo.controls.category.value.value === 'vital-sign-diastolic'"
                  class="input-group-text">mm[Hg]</span>
                <span *ngIf="FormSupportingInfo.controls.category.value.value === 'icu-hours' || FormSupportingInfo.controls.category.value.value === 'ventilation-hours'"
                  class="input-group-text">h</span>
                <span *ngIf="FormSupportingInfo.controls.category.value.value === 'vital-sign-height'" class="input-group-text">cm</span>
                <span *ngIf="FormSupportingInfo.controls.category.value.value === 'temperature'" class="input-group-text">Cel</span>
                <span *ngIf="FormSupportingInfo.controls.category.value.value === 'oxygen-saturation'" class="input-group-text">%</span>
                <span *ngIf="FormSupportingInfo.controls.category.value.value === 'pulse' || FormSupportingInfo.controls.category.value.value === 'respiratory-rate'"
                  class="input-group-text">Min</span>
              </span>
            </div>
            <div *ngIf="(isSubmitted || FormSupportingInfo.get('value').touched) && FormSupportingInfo.get('value').hasError('required')">
              <span class="error-text">Please enter Value</span>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="FormSupportingInfo.controls.category.value.value === 'onset' ||
         FormSupportingInfo.controls.category.value.value === 'last-menstrual-period' ||
          FormSupportingInfo.controls.category.value.value === 'missingtooth' ||
          FormSupportingInfo.controls.category.value.value === 'lab-test' ||
          FormSupportingInfo.controls.category.value.value === 'vital-sign-weight' ||
          FormSupportingInfo.controls.category.value.value === 'vital-sign-systolic' ||
          FormSupportingInfo.controls.category.value.value === 'vital-sign-diastolic' ||
          FormSupportingInfo.controls.category.value.value === 'icu-hours' ||
          FormSupportingInfo.controls.category.value.value === 'ventilation-hours' ||
          FormSupportingInfo.controls.category.value.value === 'vital-sign-height' ||
          FormSupportingInfo.controls.category.value.value === 'temperature' ||
          FormSupportingInfo.controls.category.value.value === 'pulse' ||
          FormSupportingInfo.controls.category.value.value === 'oxygen-saturation' ||
          FormSupportingInfo.controls.category.value.value === 'respiratory-rate'
          ">
        <div class="col-6">
          <div class="form-group"
            [ngClass]="{'has-error' : (isSubmitted || FormSupportingInfo.get('timingDate').touched) && FormSupportingInfo.get('timingDate').hasError('required')}">
            <label class="control-label">Timing<span class="asterisk"
                *ngIf="FormSupportingInfo.controls.category.value.value !== 'lab-test' && FormSupportingInfo.controls.category.value.value !== 'vital-sign-weight' && FormSupportingInfo.controls.category.value.value !== 'vital-sign-systolic' && FormSupportingInfo.controls.category.value.value !== 'vital-sign-diastolic' && FormSupportingInfo.controls.category.value.value !== 'icu-hours' && FormSupportingInfo.controls.category.value.value !== 'ventilation-hours' && FormSupportingInfo.controls.category.value.value !== 'vital-sign-height' && FormSupportingInfo.controls.category.value.value !== 'temperature' && FormSupportingInfo.controls.category.value.value !== 'pulse' && FormSupportingInfo.controls.category.value.value !== 'oxygen-saturation' && FormSupportingInfo.controls.category.value.value !== 'respiratory-rate'">*</span></label>
            <div class="date-picker">
              <input [matDatepicker]="timingDateCtrl" class="form-control" placeholder="Select date ordered" formControlName="timingDate">
              <mat-datepicker-toggle [for]="timingDateCtrl"></mat-datepicker-toggle>
              <mat-datepicker #timingDateCtrl></mat-datepicker>
            </div>
            <div *ngIf="(isSubmitted || FormSupportingInfo.get('timingDate').touched) && FormSupportingInfo.get('timingDate').hasError('required')">
              <span class="error-text">Please enter Timing</span>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="FormSupportingInfo.controls.category.value.value === 'hospitalized' || FormSupportingInfo.controls.category.value.value === 'employmentImpacted'">
        <div class="col-6">
          <div class="form-group"
            [ngClass]="{'has-error' : (isSubmitted || FormSupportingInfo.get('timingPeriodFrom').touched) && FormSupportingInfo.get('timingPeriodFrom').hasError('required')}">
            <label class="control-label">Timing Period From<span class="asterisk">*</span></label>
            <div class="date-picker">
              <input [matDatepicker]="timingPeriodFromCtrl" class="form-control" placeholder="Select date ordered" formControlName="timingPeriodFrom"
                [max]="FormSupportingInfo.controls.timingPeriodTo.value">
              <mat-datepicker-toggle [for]="timingPeriodFromCtrl"></mat-datepicker-toggle>
              <mat-datepicker #timingPeriodFromCtrl></mat-datepicker>
            </div>
            <div *ngIf="(isSubmitted || FormSupportingInfo.get('timingPeriodFrom').touched) && FormSupportingInfo.get('timingPeriodFrom').hasError('required')">
              <span class="error-text">Please enter Timing Period From</span>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group"
            [ngClass]="{'has-error' : (isSubmitted || FormSupportingInfo.get('timingPeriodTo').touched) && FormSupportingInfo.get('timingPeriodTo').hasError('required')}">
            <label class="control-label">Timing Period To<span class="asterisk">*</span></label>
            <div class="date-picker">
              <input [matDatepicker]="timingPeriodToCtrl" class="form-control" placeholder="Select date ordered" formControlName="timingPeriodTo"
                [min]="FormSupportingInfo.controls.timingPeriodFrom.value">
              <mat-datepicker-toggle [for]="timingPeriodToCtrl"></mat-datepicker-toggle>
              <mat-datepicker #timingPeriodToCtrl></mat-datepicker>
            </div>
            <div *ngIf="(isSubmitted || FormSupportingInfo.get('timingPeriodTo').touched) && FormSupportingInfo.get('timingPeriodTo').hasError('required')">
              <span class="error-text">Please enter Timing</span>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="
      FormSupportingInfo.controls.category.value.value === 'lab-test' ||
      FormSupportingInfo.controls.category.value.value === 'reason-for-visit' ||
      FormSupportingInfo.controls.category.value.value === 'missingtooth'">
        <div class="col-6">
          <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormSupportingInfo.get('code').touched) && FormSupportingInfo.get('code').hasError('required')}">
            <label class="control-label">Code<span class="asterisk">*</span></label>

            <input *ngIf=" FormSupportingInfo.controls.category.value.value === 'lab-test'" type="text" class="form-control" placeholder="Enter code" formControlName="code" />

            <mat-form-field *ngIf=" FormSupportingInfo.controls.category.value.value !== 'lab-test'" class="form-control custom-select-control">
              <mat-select formControlName="code">
                <mat-option value="">Select Code</mat-option>
                <mat-option *ngFor="let code of codeList" [value]="code">{{code.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="(isSubmitted || FormSupportingInfo.get('code').touched) && FormSupportingInfo.get('code').hasError('required')">
              <span class="error-text">Please select a Code</span>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="
      FormSupportingInfo.controls.category.value.value === 'onset' ||
      FormSupportingInfo.controls.category.value.value === 'chief-complaint'">
        <div class=" col-6">
          <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormSupportingInfo.get('code').touched) && FormSupportingInfo.get('code').hasError('required')}">
            <label class="control-label">Code<span *ngIf="!(FormSupportingInfo.controls.category.value && FormSupportingInfo.controls.category.value.value === 'chief-complaint' && FormSupportingInfo.controls.value.value)" class="asterisk">*</span></label>
            <input type="text" class="form-control search-box" placeholder="Search diagnosis code here..." formControlName="code" [matAutocomplete]="auto"
              (keyup)="searchICDCodes()">
            <p class="control-hint" *ngIf="diagnosisHasErrorForAllList()">{{getDiagnosisErrorForAllList()}}</p>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of icedOptions" (click)="addICDDiagnosis(option); chiefComplainBlurValidation();">
                {{option.diagnosisCode}} | {{option.diagnosisDescription}}
              </mat-option>
            </mat-autocomplete>
            <div *ngIf="(isSubmitted || FormSupportingInfo.get('code').touched) && FormSupportingInfo.get('code').hasError('required')">
              <span class="error-text">Please select a Code</span>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="FormSupportingInfo.controls.category.value.value === 'missingtooth'">
        <div class="col-6">
          <div class="form-group" [ngClass]="{'has-error' : (isSubmitted || FormSupportingInfo.get('reason').touched) && FormSupportingInfo.get('reason').hasError('required')}">
            <label class="control-label">Reason<span class="asterisk">*</span></label>
            <mat-form-field class="form-control custom-select-control">
              <mat-select formControlName="reason">
                <mat-option value="">Select Reason</mat-option>
                <mat-option *ngFor="let reason of reasonList" [value]="reason">{{reason.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="(isSubmitted || FormSupportingInfo.get('reason').touched) && FormSupportingInfo.get('reason').hasError('required')">
              <span class="error-text">Please select a Reason</span>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
  <div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
      <button type="button" mat-button (click)="closeDialog()">Close</button>
      <button mat-flat-button color="primary" type="submit">
        <span *ngIf="!data.item">Add</span>
        <span *ngIf="data.item">Save</span></button>
    </div>
  </div>
</form>
