<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Add Discounts</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body pb-0">
    <div class="row small-gutter">
        <div class="col">
            <div class="form-group">
                <label class="control-label">From Month</label>
                <div class="date-picker">
                    <input [matDatepicker]="fromMonth" class="form-control" placeholder="Select from month"  [formControl]="startDateController"  required/>
                    <mat-datepicker-toggle [for]="fromMonth"></mat-datepicker-toggle>
                    <mat-datepicker #fromMonth></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="control-label">To Month</label>
                <div class="date-picker">
                    <input [matDatepicker]="toMonth" class="form-control" placeholder="Select to month" [formControl]="endDateController" required/>
                    <mat-datepicker-toggle [for]="toMonth"></mat-datepicker-toggle>
                    <mat-datepicker #toMonth></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="control-label">Payer</label>
                <mat-form-field class="form-control custom-select-control">
                    <mat-select [formControl]="payerIdControl"  required>
                        <mat-option value="All">All</mat-option>
                        <mat-option *ngFor="let payer of payersList" [value]="payer.id">
                            {{payer.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-auto align-self-end">
            <div class="form-group">
                <button type="button" (click)="searchComplete=true" mat-flat-button color="primary" (click)="search()">Search</button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="searchComplete">
        <hr class="hr ml-n16 mr-n16 mb-16" />
        <div class="reconciliation-summary-wrapper"  *ngIf="searchDiscountReconciliationReportResponse!=null">
            <div class="row">
                <div class="col-6">
                    <div class="reconciliation-summary">
                        <label>Duration: </label>
                        <label >{{searchDiscountReconciliationReportResponse.duration}}</label >
                    </div>
                    <div class="reconciliation-summary">
                        <label>Total Submitted: </label>
                        <label >{{searchDiscountReconciliationReportResponse.totalSubmittedAmount}}</label >
                    </div>
                </div>
                <div class="col-6">
                    <div class="reconciliation-summary">
                        <label>Total Received: </label>
                        <label >{{searchDiscountReconciliationReportResponse.totalReceived}}</label >
                    </div>
                    <div class="reconciliation-summary">
                        <label>Total Outstanding: </label>
                        <label >{{searchDiscountReconciliationReportResponse.totalOutstandingAmount}}</label >
                    </div>
                </div>
            </div>
        </div>
        <div class="row small-gutter">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Volume Discount</label>
                    <input type="text"  class="form-control" placeholder="Enter volume discount"  [formControl]="volumeDiscountCotrol" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Prompt Payment Discount</label>
                    <input type="text" class="form-control" placeholder="Enter prompt payment discount"[formControl]="promptDiscountControl" />
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div class="primary-dialog-footer has-border text-right" *ngIf="searchComplete">
    <button mat-flat-button color="primary"   (click)="addDiscount()">Add Discounts</button>
</div>