<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Add Discounts</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body pb-0">
    <div class="row small-gutter">
        <div class="col">
            <div class="form-group">
                <label class="control-label">From Month</label>
                <div class="date-picker">
                    <input [matDatepicker]="fromMonth" class="form-control" placeholder="Select from month" />
                    <mat-datepicker-toggle [for]="fromMonth"></mat-datepicker-toggle>
                    <mat-datepicker #fromMonth></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="control-label">To Month</label>
                <div class="date-picker">
                    <input [matDatepicker]="toMonth" class="form-control" placeholder="Select to month" />
                    <mat-datepicker-toggle [for]="toMonth"></mat-datepicker-toggle>
                    <mat-datepicker #toMonth></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="control-label">Payer</label>
                <mat-form-field class="form-control custom-select-control">
                    <mat-select value="">
                        <mat-option value="">Select Payer</mat-option>
                        <mat-option value="Payer 1">Payer 1</mat-option>
                        <mat-option value="Payer 2">Payer 2</mat-option>
                        <mat-option value="Payer 3">Payer 3</mat-option>
                        <mat-option value="Payer 4">Payer 4</mat-option>
                        <mat-option value="Payer 5">Payer 5</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-auto align-self-end">
            <div class="form-group">
                <button type="button" (click)="searchComplete=true" mat-flat-button color="primary">Search</button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="searchComplete">
        <hr class="hr ml-n16 mr-n16 mb-16" />
        <div class="reconciliation-summary-wrapper">
            <div class="row">
                <div class="col-6">
                    <div class="reconciliation-summary">
                        <label>Duration</label>
                        <p>January 2021 - March 2021</p>
                    </div>
                    <div class="reconciliation-summary">
                        <label>Total Submitted</label>
                        <p>2654 SR</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="reconciliation-summary">
                        <label>Total Received</label>
                        <p>256 SR</p>
                    </div>
                    <div class="reconciliation-summary">
                        <label>Total Outstanding</label>
                        <p>2454 SR</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row small-gutter">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Volume Discount</label>
                    <input type="text" class="form-control" placeholder="Enter volume discount" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Prompt Payment Discount</label>
                    <input type="text" class="form-control" placeholder="Enter prompt payment discount" />
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div class="primary-dialog-footer has-border text-right" *ngIf="searchComplete">
    <button mat-flat-button color="primary">Add Discounts</button>
</div>