<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Add Service</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body pb-0">
    <div class="form-group">
        <label class="control-label">Select Service</label>
        <!-- <input type="text" class="form-control" placeholder="Search service name or service code"> -->

        <!-- <input type="text" class="form-control" placeholder="Search service name or service code..." [formControl]="addBillServiceController" [matAutocomplete]="auto"
            (keyup)="searchServices()">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let service of serviceSearchModel">
                (click)="selectService(service)">
                {{service.serviceName}} ({{service.serviceId}})
            </mat-option>
        </mat-autocomplete> -->
        <div class="form-group" [matTooltip]="errors.ServiceCode" [class.has-error]="errors.ServiceCode!=null&&errors.ServiceCode.trim().length>0">
            <mat-form-field class="form-control custom-select-control">
                <mat-select placeholder="Select Service" [formControl]="addBillServiceController" [(value)]="selectedService">
                    <mat-option *ngFor="let service of serviceSearchModel" [value]="service.serviceId">{{service.serviceName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
</div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button mat-flat-button color="primary" (click)="closeDialog()">Add Service</button>
    </div>
</div>