<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Add Service</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body pb-0">
    <div class="form-group">
        <label class="control-label">Select Service</label>
        <input type="text" class="form-control" placeholder="Search service name or service code">
    </div>
</div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button mat-flat-button color="primary" (click)="closeDialog()">Add Service</button>
    </div>
</div>