<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
    <p>Upload Name: {{summary.uploadName}}</p><span class="spacer"></span>
    <p>{{summaryDate}}</p>
    <button type="button" mat-flat-button class="ml-auto btn btn-light-primary my-n2 mr-n2" (click)="downloadSample()">
        <img src="./assets/ic-download.svg" alt="Download" />
        <span>Download Sample</span>
    </button>
  </div>
  <div class="block-body">
    <app-nphies-claim-summary></app-nphies-claim-summary>
    <app-multi-sheet-file-upload *ngIf="summary.uploadId == undefined">
    </app-multi-sheet-file-upload>
  </div>
</div>