<form [formGroup]="announcementForm">
    <div class="primary-dialog-header has-border">
        <h5 class="primary-dialog-title">Add Notification</h5>
        <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
    </div>
    <div class="primary-dialog-body pb-0">
        <div class="form-group">
            <label class="control-label">Subject</label>
            <input type="text" class="form-control" placeholder="Enter notification subject"
                formControlName="subjectControl" />
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" placeholder="Enter notification description"
                formControlName="descriptionControl"></textarea>
        </div>
        <div class="row small-gutter">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                    <div class="date-picker">
                        <input type="text" [matDatepicker]="startDate" class="form-control"
                            placeholder="Select start date" formControlName="startDateControl" />
                        <mat-datepicker-toggle [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">End Date</label>
                    <div class="date-picker">
                        <input type="text" [matDatepicker]="endDate" class="form-control" placeholder="Select end date"
                            formControlName="endDateControl" />
                        <mat-datepicker-toggle [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Attachments</label>
            <ul class="attachment-list lg">
                <li *ngFor="let attachment of attachments" [matTooltip]='attachment.attachmentName'>
                    <img [src]="checkfileType(attachment.attachmentName )" alt="PDF" />
                    <span>{{attachment.attachmentName}}</span>
                    <button class="close-btn" (click)="deleteAttachment(attachment.id)">
                        <mat-icon>close</mat-icon>
                    </button>
                </li>
                <li matTooltip="Add Attachments" class="add-block">
                    <div class="file-upload-wrapper">
                        <div class="content">
                            <mat-icon>add</mat-icon>
                        </div>
                        <input type="file" class="file-upload-control" (change)="onFileSelected($event)" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr class="hr mb-14">
    <div class="block-body">
        <div class="form-group mb-0">
            <label class="control-label">Select Provider</label>
            <input [matAutocomplete]="auto" class="form-control search-box" placeholder="Search provider here..." formControlName="providersControl" (input)="updateFilter()"
                (keyup.enter)="selectProvider()" [readonly]="isLoading">
            <mat-autocomplete autoActiveFirstOption #auto>
                <mat-option *ngFor="let provider of filteredProviders" [value]="provider.switchAccountId + ' | ' + provider.code + ' | ' + provider.name + ' | '+provider.cchiId"
                    (click)="selectProvider(provider)">
                    {{provider.switchAccountId}} | {{provider.code}} | {{provider.name}} | {{provider.cchiId}}
                </mat-option>
                <mat-option *ngIf="error!= null && error != '' && !isLoading">
                    {{error}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
    <!-- <div class="form-group px-14">
        <input type="text" class="form-control search-box" placeholder="Search provider here..."
            formControlName="providersControl" />
    </div> -->
    <hr class="hr">
    <div style="overflow-x: auto; ;  max-height: 250px;">
    <div class="checkbox-list" >
        <mat-checkbox color="primary" (change)="selectedAllProviders(!isSelectedAll)">All Provider</mat-checkbox> 
        <div *ngFor="let provider of selectedProviders">
            <mat-checkbox *ngIf='provider!=null' (change)="removeProviders(provider.switchAccountId)" checked ="true" color="primary" >{{provider.switchAccountId}}| {{provider.code}} | {{provider.name}}</mat-checkbox>
        </div>

    </div>
</div>
    <div class="primary-dialog-footer has-border">
        <div class="btn-list text-right">
            <button mat-button (click)="closeDialog()">Cancel</button>
            <button mat-flat-button color="primary" (click)="saveAnnouncement()">Save</button>
        </div>
    </div>
</form>