<div class="dialog-body">
    <h3 class="dialog-title">{{title}}</h3>
    <div class="row small-gutter" *ngIf="!loading">
        <div class="col-md-7">
            <div class="form-group form-group-lg" [class.has-error]="approvalNumberController.invalid && approvalNumberController.touched">
                <input class="form-control" type="text" [formControl]="approvalNumberController" required cdkFocusInitial placeholder="Approval Number">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group form-group-lg" [class.has-error]="payersHasError">
                <mat-form-field class="form-control custom-select-control">
                    <mat-select (selectionChange)="selectedPayer = $event.value; payersHasError = false;" required>
                        <mat-option value="-1">Select Payer</mat-option>
                        <mat-option *ngFor="let payer of payers" [value]="payer.id">{{payer.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="form-group form-group-lg" *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="btn-list text-right">
        <button mat-button (click)="createWithOutApproval()" [disabled]="loading">No, I Don't</button>
        <button mat-flat-button color="primary" (click)="createWithpproval()" [disabled]="loading">Retrieve</button>
    </div>
</div>