.formBody{
    width: 100%;
    display: flex;
}

.input:first-child {
    width: 60%;
    margin-right: 3%;
}

.input:last-child {
    width: 37%;
}

.input {
    background-color: #EFF5FF;
    border: unset;
    padding: 5px;
    color: #3060AA;
    border-radius: 3px;
}

.formElement:focus{
    outline: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fieldError{
    outline: auto !important;
    outline-color: #c44848 !important;
}