<div class="animate__animated animate__faster animate__fadeIn block-card">
  <div class="block-header">
    <div class="d-flex align-items-center">
      <div class="actions mr-2 my-n2 ml-n1">
        <button matRipple type="button" (click)="goBack()" class="action-btn">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <p>{{payerName}} - {{uploadedDate}}</p>
    </div>
  </div>
  <div class="block-filter-panel">
    <div class="row small-gutter">
      <div class="col-md-7">
        <div class="form-group">
          <input placeholder="Search standard code, non-standard code, description" class="form-control search-box"
            [(ngModel)]="searchQuery">
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-group">
          <button mat-flat-button color="primary" (click)="search()">Search</button>
        </div>
      </div>
    </div>
  </div>
  <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true"
    *ngIf="!(priceDetailModel && priceDetails.length === 0)">
    <div class="fixed-height" *ngIf="priceDetailModel && priceDetails.length > 0">
      <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Service Type</th>
            <th>Standard Code</th>
            <th>Non-Standard Code</th>
            <th>Non-Standard Description</th>
            <th>Unit Price</th>
            <th>Factor</th>
            <th width="10"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pd of priceDetails">
            <td>{{typeName(pd.itemType)}}</td>
            <td>{{pd.code}}</td>
            <td>{{pd.nonStandardCode}}</td>
            <td>{{pd.nonStandardDescription}}</td>
            <td>{{pd.unitPrice}} <span class="currency">SR</span></td>
            <td>{{pd.factor}}</td>
            <td class="actions">
              <ng-container *ngIf="!(!isHeadOffice && headOfficeProviderId!='' && headOfficeProviderId != providerId)">
                <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #actionsMenu xPosition="before">
                  <ng-template matMenuContent>
                    <button type="button" mat-menu-item (click)="openAddPricelistDialog(pd)">
                      <mat-icon class="material-icons-outlined">edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button type="button" mat-menu-item (click)="DeletePriceDetail(pd)">
                      <mat-icon class="material-icons-outlined">delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </ng-template>
                </mat-menu>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </ng-scrollbar>
  <app-empty-state *ngIf="priceDetailModel && priceDetails.length === 0" message='No Price List Detail found!'>
  </app-empty-state>
  <div class="block-footer sticky">
    <div class="pagination-header" *ngIf="!(priceDetailModel && priceDetails.length === 0)">
      <div class="form-group page-select">
        <label class="control-label">Go to page: </label>
        <mat-form-field class="form-control custom-select-control">
          <mat-select [ngModel]="manualPage" (ngModelChange)="updateManualPage($event)">
            <mat-option *ngFor="let i of paginatorPagesNumbers" [value]="i">{{i+1}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="material-paginator">
        <mat-paginator #paginator [length]="paginatorLength" [pageSizeOptions]="paginatorPageSizeOptions"
          (page)="paginatorAction($event)">
        </mat-paginator>
      </div>
    </div>
  </div>

  <button mat-fab color="primary" class="page-fab"
    [disabled]="!isHeadOffice && headOfficeProviderId!='' && headOfficeProviderId != providerId"
    (click)="openAddPricelistDialog()">
    <mat-icon>add</mat-icon>
  </button>

</div>