<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Upload Physician Details</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body">
    <div class="custom-file-upload">
        <div class="content">
            <img src="./assets/ic-upload.svg" alt="Upload" />
            <p>Drag and drop file here or <span class="semibold text-primary">browse</span></p>
            <span>Maximum Size: 2 MB</span>
        </div>
        <input type="file" class="upload-control" />
    </div>
</div>