<div class="caf-form" id="print_id" *ngIf="UCAFData">
    <h1 class="text-center"><strong>UCAF 2.0</strong></h1>
    <table class="layout-table">
        <tr>
            <td>
                <div class="form-container-group">
                    <h3><strong>To be completed & ID verified by the reception/nurse:&nbsp;</strong></h3>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Provider Name:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.beneficiary.providerName}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Insurance Company Name:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.beneficiary.payerName}}</p>
                            </td>
                            <td width="10">
                                <p>TPA Company Name:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.beneficiary.tpaName}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Patient File Number:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.beneficiary.fileId}}</p>
                            </td>
                            <td width="10">
                                <p>Dept:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getDeptName()}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Single (<img src="./assets/form-check.svg" class="check" [class.checked]="UCAFData.beneficiary.maritalStatus === 'U' "/>)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Married (<img src="./assets/form-check.svg" class="check" [class.checked]="UCAFData.beneficiary.maritalStatus === 'M' "/>)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Plan Type</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.beneficiary.coverageType}}</p>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    <p>Date of visit:&nbsp; <span class="value-holder">{{UCAFData.dateOrdered | date: 'dd / MM / yyyy'}} </span></p>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>New visit (<img src="./assets/form-check.svg" class="check" [class.checked] ="getVisitReason('new-visit')"/>)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Follow Up (<img src="./assets/form-check.svg" class="check" [class.checked] ="getVisitReason('follow-up')"/>)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Refill (<img src="./assets/form-check.svg" class="check" [class.checked] ="getVisitReason('refill')"/>)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Walk In (<img src="./assets/form-check.svg" class="check" [class.checked] ="getVisitReason('walk-in')"/>)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Referral (<img src="./assets/form-check.svg" class="check" [class.cheked] ="getVisitReason('referral')"/>)</p>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div class="form-container-group">
                    <h3><strong>Print/Fill in clear letters or Emboss Card:&nbsp;</strong></h3>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Insured Name:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.beneficiary.fullName}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>ID. Card No.:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.beneficiary.memberCardId}}</p>
                            </td>
                            <td width="10">
                                <p>Sex:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.beneficiary.gender}}</p>
                            </td>
                            <td width="10">
                                <p>Age:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{ calculateAge() }}</p>
                            </td>
                            <td width="10">
                                <p>Y</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Policy Holder:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="10">
                                <p>Policy No.:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.beneficiary.policyNumber}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Expiry Date:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.beneficiary.expiryDate | date: 'dd / MM / yyyy'}}</p>
                            </td>
                            <td width="10">
                                <p>Class:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">-</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Approval:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{UCAFData.approvalReferenceNumber}}&nbsp;</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-container-group">
                    <h3><strong>To be Completed by the Attending PHYSICIAN:&nbsp; Please tick (<img src="./assets/form-check.svg" class="check checked" />)</strong></h3>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Inpatient (<img src="./assets/form-check.svg" class="check" [class.checked]="UCAFData.subType === 'ip' "/>)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Outpatient (<img src="./assets/form-check.svg" class="check" [class.checked]="UCAFData.subType === 'op' "/>)</p>
                            </td>
                            <td></td>
                            <td width="10">
                                <div class="round-strip">
                                    <table>
                                        <tr>
                                            <td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>
                                                <p><strong>Emergency Case (<img src="./assets/form-check.svg" class="check" [class.checked]="UCAFData.subType === 'emr' " />)</strong></p>
                                            </td>
                                            <td width="6">&nbsp;&nbsp;&nbsp;</td>
                                            <td width="10">
                                                <p>Emergency Care Level:&nbsp; 1 (<img src="./assets/form-check.svg" class="check" />)</p>
                                            </td>
                                            <td width="6">&nbsp;&nbsp;&nbsp;</td>
                                            <td width="10">
                                                <p>2 (<img src="./assets/form-check.svg" class="check" />)</p>
                                            </td>
                                            <td width="6">&nbsp;&nbsp;&nbsp;</td>
                                            <td width="10">
                                                <p>3 (<img src="./assets/form-check.svg" class="check" />)</p>
                                            </td>
                                            <td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>BP:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{ getBp() }}&nbsp;</p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>Pulse:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getSupportingInfo("pulse")}}</p>
                            </td>
                            <td width="10">
                                <p>bpm</p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>Temp:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getSupportingInfo("temperature")}}</p>
                            </td>
                            <td width="10">
                                <p>°C</p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>Weight:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getSupportingInfo("vital-sign-weight")}}</p>
                            </td>
                            <td width="10">
                                <p>kg</p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>Height:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getSupportingInfo("vital-sign-height")}}</p>
                            </td>
                            <td width="10">
                                <p>cm</p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>R.R:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getSupportingInfo("respiratory-rate")}}</p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>Duration of Illness:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="10">
                                <p>(Days)</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p class="text-wrap">Chief Complaints and Main Symptoms:&nbsp;&nbsp; {{ getSupportingInfoForChiefComplaints() }}<br><br></p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Significant Signs:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Other Conditions:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Diagnosis:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getDiagnosis()}}</p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Principal Code:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getPrincipalCode()}}</p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>2nd Code:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getCode(0)}}</p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>3rd Code:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getCode(1)}}</p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>4th Code:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder">{{getCode(2)}}</p>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <h3><strong>Please tick (<img src="./assets/form-check.svg" class="check" />) where appropriate:&nbsp;</strong></h3>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Chronic (<img src="./assets/form-check.svg" class="check" />)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Congenital (<img src="./assets/form-check.svg" class="check" />)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>RTA (<img src="./assets/form-check.svg" class="check" />)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Work Related (<img src="./assets/form-check.svg" class="check" />)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Vaccination (<img src="./assets/form-check.svg" class="check" />)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Check-Up (<img src="./assets/form-check.svg" class="check" />)</p>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Psychiatric (<img src="./assets/form-check.svg" class="check" />)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Infertility (<img src="./assets/form-check.svg" class="check" />)</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p>Pregnancy (<img src="./assets/form-check.svg" class="check" />)</p>
                            </td>
                            <td></td>
                            <td width="10">
                                <p>Indicate LMP:&nbsp;</p>
                            </td>
                            <td width="60">
                                <p class="value-holder"></p>
                            </td>
                        </tr>
                    </table>
                    <p>Suggestive line(s) of Management:&nbsp; Kindly, enumerate the recommended investigations, and/or procedures <strong>For outpatient approvals
                            only:&nbsp;</strong></p>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Description/Service</th>
                                <th>Type</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of UCAFData.items;">
                                <td>{{i.itemCode}}</td>
                                <td>{{i.itemDescription}}</td>
                                <td>{{i.type}}</td>
                                <td>{{i.quantity}}</td>
                                <td>{{i.netAmount}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Providers Approval/Coding Staff must review/code the recommended service(s) and allocate cost and complete the following:&nbsp;</p>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Completed/Coded By:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="6"></td>
                            <td width="10">
                                <p>Signature:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td></td>
                            <td width="10">
                                <p>Date:&nbsp;</p>
                            </td>
                            <td width="10">
                                <p class="value-holder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Medication Name (Generic Name)</th>
                                <th>Type</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="getMedicationCode().length === 0">
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </ng-container>
                            <tr *ngFor="let medication of getMedicationCode()">
                                <td>({{medication.prescribedDrugCode}}) {{medication.tradeName}}</td>
                                <td>{{medication.type}}</td>
                                <td>{{medication.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>In Case management Form (CMF 1.0) included &nbsp;&nbsp;&nbsp; <strong>
                            Yes (<img src="./assets/form-check.svg" class="check" />) &nbsp;&nbsp; No (<img src="./assets/form-check.svg" class="check" />)
                        </strong></p>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p>Please specify possible line of management when applicable:&nbsp;</p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p><strong>Estimated Length of stay:&nbsp;</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="10">
                                <p>days</p>
                            </td>
                            <td width="16"></td>
                            <td width="10">
                                <p><strong>Expected date of admission:&nbsp;</strong></p>
                            </td>
                            <td width="10">
                                <p class="value-holder"></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-container-group">
                    <table class="internal-table">
                        <tr>
                            <td class="text-wrap">
                                <p>I hereby certify that ALL information mentioned are correct and that the medical services shown on this form were medically indicated and
                                    necessary for the management of this case.</p>
                                <table class="internal-table text-center">
                                    <tr>
                                        <td>
                                            <p>Physician</p>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <p>Signature</p>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <p>Stamp</p>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <p>Date</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="value-holder">{{UCAFData.careTeam.length > 0 && UCAFData.careTeam[0].practitionerName}}</p>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <span class="stamp"></span>
                                        </td>
                                        <td width="10"></td>
                                        <td>
                                            <p class="value-holder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="10"></td>
                            <td class="border-right"></td>
                            <td width="10"></td>
                            <td class="text-wrap">
                                <p>I hereby certify that ALL statements and information provided concerning patient identification and the present illness or injury are TRUE.</p>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p><strong>Name (and relationship (if guardian)):&nbsp;</strong></p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                    </tr>
                                </table>
                                <table class="internal-table">
                                    <tr>
                                        <td width="10">
                                            <p>Signature (*):&nbsp;</p>
                                        </td>
                                        <td>
                                            <p class="value-holder"></p>
                                        </td>
                                        <td></td>
                                        <td width="10">
                                            <p>Date:&nbsp;</p>
                                        </td>
                                        <td width="10">
                                            <p class="value-holder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-container-group">
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p><strong>For Insurance Company Use Only:&nbsp;</strong></p>
                            </td>
                            <td width="3"></td>
                            <td width="10">
                                <p><strong>Approved (<img src="./assets/form-check.svg" class="check" />)</strong></p>
                            </td>
                            <td width="12"></td>
                            <td width="10">
                                <p><strong>Not Approved (<img src="./assets/form-check.svg" class="check" />)</strong></p>
                            </td>
                            <td width="12"></td>
                            <td width="10">
                                <p><strong>Approval No.:&nbsp;</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="10">
                                <p><strong>Approval validity:&nbsp;</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="10">
                                <p><strong>Days</strong></p>
                            </td>
                        </tr>
                    </table>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p><strong>Comments (include approved days/services if different from the requested):&nbsp;</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <table class="internal-table">
                        <tr>
                            <td width="10">
                                <p><strong>Approved/Disapproved By:&nbsp;</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td width="10">
                                <p><strong>Signature:&nbsp;</strong></p>
                            </td>
                            <td>
                                <p class="value-holder"></p>
                            </td>
                            <td></td>
                            <td width="10">
                                <p><strong>Date:&nbsp;</strong></p>
                            </td>
                            <td width="10">
                                <p class="value-holder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;(*) This is applicable only in case of manual UCAF</p>
</div>