<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
        <p>Insurance Plans</p>
    </div>
    <div class="block-filter-panel">
        <div class="row small-gutter">
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input placeholder="Enter name" class="form-control">
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Code</label>
                    <input placeholder="Enter code" class="form-control">
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Insurer Name</label>
                    <input placeholder="Enter insurer name" class="form-control">
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Payer Name</label>
                    <input placeholder="Enter payer name" class="form-control">
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Is Active?</label>
                    <mat-radio-group class="radio-group inline">
                        <mat-radio-button color="primary" [value]="1">Active</mat-radio-button>
                        <mat-radio-button color="primary" [value]="2">Inactive</mat-radio-button>
                        <mat-radio-button color="primary" [value]="3">Both</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" mat-flat-button color="primary">Search</button>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
        <div class="fixed-height">
            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Insurer Name</th>
                        <th>Payer Name</th>
                        <th class="text-center">Active</th>
                        <th width="10"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TC Plan</td>
                        <td>TMB-INS</td>
                        <td>TotalCare TPA</td>
                        <td>TotalCare</td>
                        <td class="text-center">
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="actions">
                            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Aviva</td>
                        <td>123</td>
                        <td>Saudi United Cooperative Insurance Company</td>
                        <td>Saudi United Cooperative Insurance Company</td>
                        <td class="text-center">
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="actions">
                            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Faisal's Insurance Plan</td>
                        <td>FP27</td>
                        <td>TMB test Insurance Organization</td>
                        <td>TotalCare TPA</td>
                        <td class="text-center">
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="actions">
                            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Aviva1</td>
                        <td>4928</td>
                        <td>Saudi United Cooperative Insurance Company</td>
                        <td>Buruj Cooperative Insurance Company</td>
                        <td class="text-center">
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="actions">
                            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
    <button mat-fab color="primary" class="page-fab" (click)="openAddInsuranceDialog()">
        <mat-icon>add</mat-icon>
    </button>
    <mat-menu #actionsMenu xPosition="before">
        <ng-template matMenuContent>
            <button mat-menu-item type="button">
                <mat-icon class="material-icons-outlined">edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item type="button">
                <mat-icon class="material-icons-outlined">delete</mat-icon>
                <span>Delete</span>
            </button>
        </ng-template>
    </mat-menu>
</div>