<form #statementAddAccountForm='ngForm' (ngSubmit)='statementAddAccountForm.valid && submit()'>
    <div class="primary-dialog-header has-border">
        <h5 class="primary-dialog-title">Add Statement</h5>
        <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
    </div>

    <div class="primary-dialog-body pb-0">
        <div class="row">
            <!-- <div class="col-6">
                <div class="form-group"
                    [ngClass]="{'has-error' : statementAddAccountForm.submitted && !addStatmentAccountModel.uploadDate}">
                    <label class="control-label">Upload Date</label>
                    <div class="date-picker-mat">
                        <input bsDatepicker autocomplete="off" [bsConfig]="datePickerConfig"
                            [(ngModel)]='addStatmentAccountModel.uploadDate' class="form-control date-picker"
                            placeholder="Select upload date" (bsValueChange)="dateValidation($event)"
                            #uploadDate='ngModel' name="uploadDate" required />
                    </div>
                    <div *ngIf="statementAddAccountForm.submitted && uploadDate.invalid">
                        <span class="error-text">Please choose a upload date</span>
                    </div>
                </div>
            </div> -->
            <div class="col-6">
                <div class="form-group" [ngClass]="{'has-error' : statementAddAccountForm.submitted && !addStatmentAccountModel.statementStartDate}">
                    <label class="control-label">Statement Start Date</label>
                    <div class="date-picker-mat">
                        <!-- <input [matDatepicker]="startDate" class="form-control" placeholder="Select statement start date" />
                    <mat-datepicker-toggle [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker> -->
                        <input bsDatepicker autocomplete="off" [bsConfig]="datePickerConfig" [(ngModel)]='addStatmentAccountModel.statementStartDate'
                            class="form-control date-picker" placeholder="Select upload date" (bsValueChange)="dateValidation($event)" #statementStartDate='ngModel'
                            name="statementStartDate" required />
                    </div>
                    <div *ngIf="statementAddAccountForm.submitted && statementStartDate.invalid">
                        <span class="error-text">Please choose a statement start date</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group" [ngClass]="{'has-error' : statementAddAccountForm.submitted && !addStatmentAccountModel.statementEndDate}">
                    <label class="control-label">Statement End Date</label>
                    <div class="date-picker-mat">
                        <!-- <input [matDatepicker]="endDate" class="form-control" placeholder="Select statement end date" />
                    <mat-datepicker-toggle [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker> -->
                        <input bsDatepicker autocomplete="off" [bsConfig]="datePickerConfig" [(ngModel)]='addStatmentAccountModel.statementEndDate' class="form-control date-picker"
                            [minDate]="minDate" placeholder="Select start date" (bsValueChange)="dateValidation($event)" #statementEndDate='ngModel' name="statementEndDate"
                            required />
                    </div>
                </div>
                <div *ngIf="statementAddAccountForm.submitted && statementEndDate.invalid">
                    <span class="error-text">Please choose a statement end date</span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group" [ngClass]="{'has-error' : statementAddAccountForm.submitted && !addStatmentAccountModel.file}">
                    <label class="control-label">Upload Statement File</label>
                    <div class="file-upload-wrapper">
                        <div class="content">
                            <button mat-flat-button color="primary" type="button" *ngIf="!fileUploadFlag">
                                Choose File
                            </button>
                            <span class="form-control-static pt-2 d-block" *ngIf="fileUploadFlag">{{currentFileUpload.name}}</span>
                        </div>
                        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" class="file-upload-control"
                            (change)="selectFile($event)" [(ngModel)]='addStatmentAccountModel.file' #file='ngModel' name="file" required />
                    </div>
                    <div *ngIf="statementAddAccountForm.submitted && file.invalid">
                        <span class="error-text">Please choose a file</span>
                    </div>
                    <p class="error-text pt-3" *ngIf="fileError!==undefined && fileError!==null && fileError!==''">
                        {{fileError}}</p>

                </div>
            </div>
        </div>

    </div>
    <div class="primary-dialog-footer has-border">
        <div class="btn-list text-right">
            <button type="button" mat-button (click)="closeDialog()">Close</button>
            <!-- routerLink="/collection-management/statement-of-accounts-details" -->
            <button type="submit" [disabled]="statementAddAccountForm.invalid || currentFileUpload===undefined || currentFileUpload===null" mat-flat-button color="primary">Add
                Statement</button>
        </div>
    </div>
</form>