.body {
    padding: 20px;
    text-align: center;
}

mat-expansion-panel {
    margin-top: 3px;
    background-color: #B8D0FC;
    color: #3060AA;
}

.componentExpansionPanel {
    background-color: #DBE7FD;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

.headerTable {
    border-collapse: collapse;
    border-spacing: unset;
    text-align: left;
    background-color: #3060AA;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 24px;
}

.headerTable.child {
    background-color: transparent;
    color: #3060AA;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    padding: unset;
}

.headerTable th {
    padding: 10px;
    text-align: center;
}

.headerTable td {
    padding: 15px;
    text-align: center !important;
}

.results td {
    width: 33%;
    text-align: start;
}

.components td {
    width: unset;
}

td input, td select, textarea {
    width: 100%;
    background-color: white;
    border: unset;
    padding: 5px;
    color: black;
    border-radius: 3px;
}

td input:focus, td select:focus, textarea {
    outline: unset;
}

.amountTypePerecent {
    font-size: unset !important;
}

.amountType {
    position: relative;
    left: 87%;
    bottom: 23px;
    width: 0px;
    height: 0px;
    display: flex;
    color: #bac4d4;
    font-size: xx-small;
}

.componentDetailsForm td:nth-child(odd) {
    width: 11%;
    font-size: 10px;
    font-weight: 600;
    padding: 0px 15px;
}

.componentDetailsForm td:nth-child(even) {
    width: 21%;
}

.fieldError {
    outline: auto !important;
    outline-color: #c44848 !important;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}