<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header has-border">
        <p>Statement of Accounts</p>
    </div>
    <div class="block-filter-panel">
        <div class="row small-gutter">
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Criteria</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select value="">
                            <mat-option value="">Select Criteria</mat-option>
                            <mat-option value="Upload Date">Upload Date</mat-option>
                            <mat-option value="Statement Date">Statement Date</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">From Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="fromDate" class="form-control" placeholder="Select from date" />
                        <mat-datepicker-toggle [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">To Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="toDate" class="form-control" placeholder="Select to date" />
                        <mat-datepicker-toggle [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-auto align-self-end">
                <div class="form-group">
                    <button type="button" mat-flat-button color="primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" class="bg-white">
        <div class="fixed-height">
            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Upload Date</th>
                        <th>Statement Start Date</th>
                        <th>Statement End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">26/12/2043</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">23/6/2061</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">27/7/2101</td>
                    </tr>
                    <tr>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">27/2/2092</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">4/5/2034</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">6/10/2063</td>
                    </tr>
                    <tr>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">23/7/2106</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">20/8/2072</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">14/7/2066</td>
                    </tr>
                    <tr>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">8/3/2095</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">20/7/2066</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">24/9/2035</td>
                    </tr>
                    <tr>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">31/8/2045</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">18/4/2064</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">26/7/2052</td>
                    </tr>
                    <tr>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">15/6/2042</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">13/6/2089</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">26/10/2097</td>
                    </tr>
                    <tr>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">9/11/2084</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">12/3/2110</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">28/7/2053</td>
                    </tr>
                    <tr>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">5/11/2053</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">2/11/2076</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">8/5/2067</td>
                    </tr>
                    <tr>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">21/5/2097</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">20/5/2054</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">3/8/2121</td>
                    </tr>
                    <tr>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">7/2/2031</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">25/11/2042</td>
                        <td class="row-click" routerLink="/collection-management/statement-of-accounts-details">12/2/2040</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
    <div class="block-footer sticky-bottom">
        <div class="left-block custom-paginator">
            <button matRipple type="button" title="First Page">
                <img src="./assets/ic-page-first.svg" alt="First" />
            </button>
            <button matRipple type="button" title="Previous Page">
                <img src="./assets/ic-page-prev.svg" alt="Previous" />
            </button>
            <p class="page-info">
                1<small>/5</small>
            </p>
            <button matRipple type="button" title="Next Page">
                <img src="./assets/ic-page-next.svg" alt="Next" />
            </button>
            <button matRipple type="button" title="Last Page">
                <img src="./assets/ic-page-last.svg" alt="Last" />
            </button>
        </div>
    </div>
    <div class="file-upload-wrapper page-fab">
        <div class="content">
            <button mat-fab color="primary" class="page-fab">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <input type="file" accept=".xls`" class="file-upload-control" (change)="fileUploadChange()" />
    </div>
</div>