<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header has-border">
        <p *ngIf="addMode"> Add Class</p>
        <p *ngIf="EditMode"> Edit Class</p>
    </div>
    <div class="p-14 bg-white">
        <h5 class="form-title pt-0">
            <span>Class Info</span>
            <mat-slide-toggle color="primary" class="ml-auto theme-success" checked="true" labelPosition="before"
                [formControl]="IsActiveController">
                Active
            </mat-slide-toggle>
        </h5>
        <div class="row small-gutter">
            <div class="col-md-6">
                <div class="form-group" [matTooltip]="errors.policyId" [class.has-error]="errors.policyId!=null&&errors.policyId.trim().length>0">
                    <label class="control-label">Policy <span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control" [formControl]="PolicyController">
                        <mat-select  [value]="PolicyController.value" >
                            <mat-option value="0">Select Policy</mat-option>
                            <mat-option *ngFor="let policy of policyList" value="{{policy.policyId}}">
                                {{policy.policyNo}}
                                ({{policy.policyName}})</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group" [matTooltip]="errors.className" [class.has-error]="errors.className!=null&&errors.className.trim().length>0">
                    <label class="control-label">Class Name / Category <span class="asterisk">*</span></label>
                    <input type="text" placeholder="Enter class name" class="form-control" [formControl]="ClassNameController" >
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" [matTooltip]="errors.visitLimit" [class.has-error]="errors.visitLimit!=null&&errors.visitLimit.trim().length>0">
                    <label class="control-label">Visit Preapproval Limit / Threshold <span class="asterisk">*</span></label>
                    <input type="text" placeholder="Enter visit preapproval limit / threshold" class="form-control" [formControl]="ThresholdController">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" [matTooltip]="errors.patientShare" [class.has-error]="errors.patientShare!=null&&errors.patientShare.trim().length>0">
                    <label class="control-label">Deductible / Patient Share  <span class="asterisk">*</span></label>
                    <div class="row extra-small-gutter">
                        <div class="col">
                            <input type="text" placeholder="Enter deductible / patient share" class="form-control" [formControl]="PatientShareController">
                        </div>
                        <div class="col-auto" [matTooltip]="errors.shareType" [class.has-error]="errors.shareType!=null&&errors.shareType.trim().length>0">
                            <mat-form-field class="form-control custom-select-control" [formControl]="ShareTypeController">
                                <mat-select [value]="ShareTypeController.value">
                                    <mat-option value="SR">SR</mat-option>
                                    <mat-option value="%">%</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" [matTooltip]="errors.maxLimit" [class.has-error]="errors.maxLimit!=null&&errors.maxLimit.trim().length>0">
                    <label class="control-label">Max Episode Limit <span class="asterisk">*</span></label>
                    <input type="text" placeholder="Enter max episode limit" class="form-control" [formControl]="MaxLimitController">
                </div>
            </div>
        </div>

        <h5 class="form-title">
            <span>Max Benefits Limit</span>
        </h5>
        <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" class="bg-white">
            <table class="primary-grid sticky-header manual-row-color no-borders claim-view-table" cellpadding="0"
                cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Limit</th>
                        <th>Included / Excluded</th>
                        <!--th width="10"></th>
                        <th>Department</th>
                        <th>Limit</th>
                        <th>Included / Excluded</th-->
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-middle" *ngFor="let ben of benefits">
                            
                        <td>
                            {{ben.departmentName}}</td>
                            <td>
                                <div class="form-group my-n1"  [matTooltip]="errors.benefits" [class.has-error]="errors.benefits!=null&&errors.benefits.trim().length>0">
                                    <input type="text" placeholder="Enter limit" class="form-control" [formControl]="ben.maxLimitController">
                                </div>
                            </td>
                            <td>
                                <div class="form-group my-n1">
                                    <mat-radio-group class="radio-group inline" [formControl]="ben.isExcludedController">
                                        <mat-radio-button color="primary" [value]="false">Included</mat-radio-button>
                                        <mat-radio-button color="primary" [value]="true">Excluded</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </td>
                    </tr>
                    
                </tbody>
            </table>
        </ng-scrollbar>
        <app-empty-state [className]="'mb-2'" *ngIf="benefits.length==0" [message]="'No contract found Please check your config and try again!'"></app-empty-state>
        <div class="text-right">
            <button type="button" mat-stroked-button color="primary" (click)="IncludeServ()">Apply</button>
        </div>

        <h5 class="form-title">
            <span>Max Sub Benefit Limits</span>
        </h5>
        <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" class="bg-white">
            <table class="primary-grid sticky-header manual-row-color claim-view-table no-borders" cellpadding="0"
                cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Service Code</th>
                        <th>Service Description</th>
                        <th>Department Code</th>
                        <th>Department Name</th>
                        <th>Max Sub Benefit Limit</th>
                        <th class="text-center">Is Excluded?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-middle" *ngFor="let sub of subbenefits">
                        <td>{{sub.serviceCode}}</td>
                        <td>{{sub.serviceName}}</td>
                        <td>{{sub.departmentId}}</td>
                        <td>{{sub.departmentName}}</td>
                        <td>
                            <div class="form-group my-n1" [matTooltip]="errors.subbenefits" [class.has-error]="errors.subbenefits!=null&&errors.subbenefits.trim().length>0"><input type="text" class="form-control"
                                    placeholder="Max sub benefit limit" [formControl]="sub.maxLimitController"/></div>
                        </td>
                        <td class="text-center">
                            <mat-checkbox color="primary" class="grid-checkbox" [formControl]="sub.isExcludedController"></mat-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-scrollbar>
        <app-empty-state [className]="'mb-2'" *ngIf="subbenefits.length==0" [message]="'No contract found Please check your config and try again!'"></app-empty-state>
        <div class="block-footer sticky-bottom">
            <div class="right-block btn-list">
                <button type="button" color="primary" (click)="SaveData()" mat-flat-button>Save</button>
            </div>
        </div>
    </div>