<div class="uploaded-card" [ngClass]="{'clickable': !data.uploadName.endsWith('[DELETED]')}">
    <div class="d-flex">
        <span class="medium text-primary align-self-center">{{data.uploadName}}</span>
        <span class="text-danger ml-auto" *ngIf="!data.uploadName.endsWith('[DELETED]') && canBeDeleted" (click)="$event.stopPropagation(); deleteUpload()"
            matTooltip="Delete All Not Submitted Claims (Ready For Submission, Validation Errors, Falid, and Error)">
            <mat-icon class="d-block">delete_outline</mat-icon>
        </span>
    </div>
    <hr class="hr separator">
    <div class="row small-gutter align-items-center">
        <div class="col">
            <p class="small-label">Total Claims</p>
            <h4 class="semibold">{{totalClaims}}</h4>
        </div>
        <div class="col">
            <p class="small-label">Active Claims</p>
            <h4 class="semibold">{{activeClaims}}</h4>
        </div>
        <div class="col">
            <p class="small-label">Inactive Claims</p>
            <h4 class="semibold">{{inactiveClaim}}</h4>
        </div>
        <div class="col">
        </div>
        <!-- <div class="col-auto">
          <button mat-stroked-button color="primary" *ngIf="!data.isManualUpload" routerLink="/summary"
              [queryParams]="{id: data.uploadId}">View Summary</button>
      </div> -->
    </div>
    <hr class="hr separator mb-3">
    <div class="row small-gutter">
        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-ready-submission"></span>Ready for Submission</p>
            <p class="dashboard-numbers">&ensp;{{data.readyForSubmission}}</p>
        </div>
        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-under-submission"></span>Under Submission</p>
            <p class="dashboard-numbers">&ensp;{{data.underSubmission}}</p>
        </div>
        <!-- <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-paid"></span>Paid</p>
            <p class="dashboard-numbers">&ensp;{{data.paid}}</p>
        </div> -->

        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-rejected"></span>Rejected By Payer</p>
            <p class="dashboard-numbers">&ensp;{{data.rejectedByPayer}}</p>
        </div>
        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-rejected"></span>Rejected By NPHIES</p>
            <p class="dashboard-numbers">&ensp;{{data.rejectedByNphies}}</p>
        </div>
        <!-- <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-under-processing"></span>Under Processing</p>
            <p class="dashboard-numbers">&ensp;{{data.underProcessing}}</p>
        </div> -->
        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-cancelled"></span>Cancelled</p>
            <p class="dashboard-numbers">&ensp;{{data.cancelled}}</p>
        </div>
        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-partially-paid"></span>Partially Paid</p>
            <p class="dashboard-numbers">&ensp;{{data.partiallyPaid}}</p>
        </div>




        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-partially-paid"></span>Partially Approved</p>
            <p class="dashboard-numbers">&ensp;{{data.partialApproved}}</p>
        </div>
        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-under-submission"></span>Queued By NPHIES</p>
            <p class="dashboard-numbers">&ensp;{{ data.queuedByNphies}}</p>
        </div>

        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-rejected-waseel"></span>Validation Errors</p>
            <p class="dashboard-numbers">&ensp;{{data.rejectedByWaseel}}</p>
        </div>
        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-paid"></span>Approved</p>
            <p class="dashboard-numbers">&ensp;{{data.approved}}</p>
        </div>
        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-under-processing"></span>Pended</p>
            <p class="dashboard-numbers">&ensp;{{data.pended}}</p>
        </div>

        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-invalid"></span>Invalid</p>
            <p class="dashboard-numbers">&ensp;{{data.invalid}}</p>
        </div>

        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-failed"></span>Failed</p>
            <p class="dashboard-numbers">&ensp;{{data.failed}}</p>
        </div>
        <div class="col-6 col-lg-4 col-xl-3 pb-2">
            <p class="smaller-label short-text-height"><span class="bg-failed"></span>Failed By NPHIES</p>
            <p class="dashboard-numbers">&ensp;{{data.failedNphies}}</p>
        </div>

    </div>



    <hr class="hr separator">
    <div class="d-flex">
        <span class="text-grey d-flex align-items-center">
            <mat-icon class="material-icons-outlined size-18 mr-2">event</mat-icon> {{data.uploadDate | date : 'EEEE, d
            MMMM, y'}}
        </span>
        <span class="text-grey ml-auto text-right d-flex align-items-center">
            <mat-icon class="material-icons-outlined size-18 mr-2">schedule</mat-icon> {{data.uploadDate | date : 'hh:mm
            a'}}
        </span>
    </div>
</div>