<div class="animate__animated animate__faster animate__fadeIn block-card">
  <div class="block-header">
    <p class="align-self-center">Physicians</p>
    <button type="button" mat-flat-button class="ml-auto btn btn-light-primary my-n2 mr-n2"
      (click)="DownloadPhysicianSample()">
      <img src="./assets/ic-download.svg" alt="Download" />
      <span>Download Sample</span>
    </button>
  </div>
  <div class="block-filter-panel">
    <form [formGroup]="FormPhysician" (ngSubmit)="search()">
      <div class="row small-gutter">
        <div class="col-lg col-md-6">
          <div class="form-group">
            <label class="control-label">Physician ID<span class="asterisk">*</span></label>
            <input class="form-control" placeholder="Enter physician ID" type="text" formControlName="physicianId">
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="form-group">
            <label class="control-label">Physician Name<span class="asterisk">*</span></label>
            <input class="form-control" placeholder="Enter physician name" type="text" formControlName="physicianName">
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="form-group">
            <label class="control-label">Speciality<span class="asterisk">*</span></label>
            <mat-form-field class="form-control custom-select-control">
              <mat-select formControlName="specialityCode" [disabled]="IsSpecialityLading" required #specialitySelect>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Search Speciality"
                    noEntriesFoundLabel="No specialities found" formControlName="specialityFilter"
                    name='searchedSpeciality'>
                  </ngx-mat-select-search>
                </mat-option>
                <ng-container *ngIf="IsSpecialityLading">
                  <mat-option value="">Loading Specialities ...</mat-option>
                </ng-container>
                <ng-container *ngIf="!IsSpecialityLading">
                  <mat-option value="">Select Speciality</mat-option>
                  <mat-option *ngFor="let speciality of filteredSpeciality  | async" [value]="speciality">
                    {{speciality.speciallityCode}} - {{speciality.speciallityName}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg col-md-6">
          <div class="form-group">
            <label class="control-label">Role<span class="asterisk">*</span></label>
            <mat-form-field class="form-control custom-select-control">
              <mat-select formControlName="physicianRole">
                <mat-option value="">Select Role</mat-option>
                <mat-option *ngFor="let p of practitionerRoleList" [value]="p.value">{{p.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-auto">
          <div class="form-group text-right">
            <label class="control-label d-lg-block d-none">&nbsp;</label>
            <button mat-flat-button color="primary" type="submit">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true"
    *ngIf="physiciansList && physiciansList.length > 0">
    <div class="fixed-height">
      <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Physician ID </th>
            <th>Physician Name</th>
            <th>Speciality</th>
            <th>Role</th>
            <th width="10"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let physician of physiciansList">
            <td>{{physician.physician_id}}</td>
            <td>{{physician.physician_name}}</td>
            <td>{{physician.speciality_code}}<span *ngIf="physician.specialityName"> -
                {{physician.specialityName}}</span></td>
            <td>{{physician.roleName}}</td>
            <td class="actions">
              <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #actionsMenu xPosition="before">
                <ng-template matMenuContent>
                  <button type="button" mat-menu-item (click)="openAddPhysicianDialog(physician)">
                    <mat-icon class="material-icons-outlined">edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button type="button" mat-menu-item (click)="DeletePhysician(physician.id, physician.physician_id)">
                    <mat-icon class="material-icons-outlined">delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </ng-template>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </ng-scrollbar>
  <app-empty-state *ngIf="physiciansList && physiciansList.length === 0" message='No Physician found!'>
  </app-empty-state>
  <div class="block-footer sticky" *ngIf="physiciansList && physiciansList.length > 0">
    <div class="left-block">
      <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)" [length]="length"
        [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>

  <button mat-fab color="primary" class="page-fab" [matMenuTriggerFor]="addPhysicianMenu">
    <mat-icon>add</mat-icon>
  </button>

  <mat-menu #addPhysicianMenu yPosition="above" xPosition="before">
    <ng-template matMenuContent>
      <button type="button" mat-menu-item (click)="openUploadPhysiciansDialog()">
        <span class="d-flex align-items-center">
          <mat-icon class="material-icons-outlined">file_upload</mat-icon>
          <span>Upload Physicians</span>
        </span>
      </button>
      <button type="button" mat-menu-item (click)="openAddPhysicianDialog()">
        <span class="d-flex align-items-center">
          <mat-icon class="material-icons-outlined">add</mat-icon>
          <span>Add Physician</span>
        </span>
      </button>
    </ng-template>
  </mat-menu>
</div>
