<div class="parent">
  <mat-accordion>
      <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
              <mat-panel-title style="color: #3F6DB3;">
                  Code Value Management
              </mat-panel-title>
              <mat-panel-description style="display: grid; place-items: end;">
                  <mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>
              </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="bodyOfCodeValueManagement">

              <div class="cardInCodeValueManagement">
                  <header>
                      Categories
                  </header>
                  <div style="height: 85%; overflow-y: auto;" *ngIf="!isLoading">
                      <div *ngIf="payers.length > 0" class="item"
                          [class.selected]="selectedPayer != null && selectedPayer != '-1' && selectedCategory.includes('departmentName_')"
                          (click)="selectCategory('departmentName_')">
                          Department Code
                          <select [value]="selectedPayer" (change)="selectedPayer = $event.target.value;" required>
                              <option value="-1">Select a Payer</option>
                              <option *ngFor="let payer of payers" [value]="payer.id">{{payer.name}}</option>
                          </select>
                      </div>
                      <div class="item" *ngFor="let category of categories"
                          [class.selected]="selectedCategory == category.key" (click)="selectCategory(category.key);">
                         {{category.label}}
                      </div>
                  </div>
              </div>
              <div class="cardInCodeValueManagement">
                  <header>
                      NPHIES Codes
                  </header>
                  <div style="height: 85%; overflow-y: auto;">
                      <div class="item" *ngIf="codes.length > 10" style="cursor: unset;">
                          <input [formControl]="filterWLECodesControl" (keyup)="filterCodes()">
                          <mat-icon class="inputIcon">search</mat-icon>
                      </div>
                      <div class="item"
                          *ngFor="let code of (filterWLECodesControl.value == ''? codes : filteredCodes)"
                          [class.selected]="selectedCode == code.key" (click)="selectCode(code.key)">
                          <span *ngIf="selectedCategory != 'claimType'">{{code.key}} - </span>{{code.label}}
                      </div>
                  </div>
              </div>
              <div class="cardInCodeValueManagement purple">
                  <header class="">
                      Mapped Values
                  </header>
                  <ng-container *ngIf="selectedCode != null && selectedCode != '' && !isLoading">
                      <div class="mappedValueInput">
                          <input [formControl]="mappedValueInputControl">
                          <button mat-flat-button [disabled]="mappedValueInputControl.value == ''"
                              (click)="addMappedValueToSelections()">Add</button>
                      </div>
                      <div style="height: 64%; overflow-y: auto;">
                          <div class="editableItem" *ngFor="let value of values; let i = index;">
                              {{value}}
                              <button mat-flat-button style="color: #EC6B6B;"
                                  (click)="removeMappedValueFromSelections(i)">Remove</button>
                          </div>
                      </div>
                  </ng-container>
              </div>
              <div class="codeValueManagementActions">
                  <p *ngIf="success != null && !isLoading"
                      style="font-size: large; font-weight: 400; display: inline; color: #3ab73a; margin-right: 30%;">
                      {{success}}</p>
                  <p *ngIf="error != null  && !isLoading"
                      style="color: #EC6B6B; font-size: large; font-weight: 400; display: inline; margin-right: 30%;">
                      {{error}}</p>
                  <button mat-flat-button [disabled]="isLoading || !hasChanges" (click)="cancel()">Cancel</button>
                  <button mat-raised-button color="primary" [disabled]="isLoading || !hasChanges"
                      (click)="save()">Save</button>
              </div>
          </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>
