<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-progress-bar *ngIf="!loading" mode="determinate" value="100"></mat-progress-bar>
<mat-toolbar color="primary">
  <div class="impos" style="margin-right: 70px;">
    <a routerLink="/"><img src="assets/waseel_logo.png" alt="Waseel" width="40%"></a>
  </div>
  <app-search-with-advance></app-search-with-advance>
  <span class="spacer"></span>
  <button (click)="toggleUploadHistoryCenter()" style="margin-right: 5px;"
    class="iconButton {{notificationIconClasses}}" mat-icon-button matTooltip="Upload History">
    <mat-icon aria-hidden="false">cloud</mat-icon>
    <mat-icon aria-hidden="false" class="innerIcon">history</mat-icon>
  </button>
  <button (click)="toggleNotificationCenter()" style="margin-right: 5px;"
    class="iconButton {{notificationIconClasses}}" mat-icon-button matTooltip="Notifications">
    <mat-icon aria-hidden="false" aria-label="Notifications">notifications_none</mat-icon>
  </button>
  <button (click)="toggleAnnouncementCenter()" style="margin-right: 10px;"
    class="iconButton {{notificationIconClasses}}" mat-icon-button matTooltip="Announcements">
    <mat-icon aria-hidden="false" aria-label="Announcements">announcements</mat-icon>
  </button>
  <span class="user-info">
    <span>
      <div class="inner-user-info">{{userName}}</div>
      <div class="inner-user-info">{{providerName}}</div>
    </span>

    <button (click)="logout()" class="{{notificationIconClasses}}" style="margin-left: 50px; background-color: #22477f"
      mat-icon-button matTooltip="Sign Out">
      <mat-icon aria-hidden="false" aria-label="Sing Out" style="font-size: large;">exit_to_app</mat-icon>
    </button>

  </span>
</mat-toolbar>