<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Statement-02-01-2021.xls</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body p-0">
    <div class="dialog-table">
        <table class="primary-grid  sticky-header" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Payment Date</th>
                    <th>Payer</th>
                    <th width="10"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate0" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate0"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate0></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-primary">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="1611" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate1" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate1"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate1></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Tawuniya" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="2586" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate2" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate2"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate2></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Allianz" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="4782" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate3" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate3"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate3></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Sagar" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="3998" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate4" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate4"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate4></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Allianz" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="1090" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate5" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate5"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate5></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Tawuniya" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="2952" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate6" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate6"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate6></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="SAICO" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="4310" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate7" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate7"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate7></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Bupa" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="4866" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate8" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate8"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate8></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Medgulf" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="2018" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate9" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate9"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate9></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Malath" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="4546" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate10" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate10"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate10></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Bupa" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="3495" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate11" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate11"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate11></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Sagar" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="3080" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate12" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate12"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate12></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="SAICO" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="2790" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate13" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate13"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate13></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Gulf General" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="2007" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate14" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate14"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate14></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Malath" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="4065" />
                    </td>
                    <td>
                        <div class="date-picker">
                            <input [matDatepicker]="paymentDate15" class="form-control">
                            <mat-datepicker-toggle [for]="paymentDate15"></mat-datepicker-toggle>
                            <mat-datepicker #paymentDate15></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Medgulf" />
                    </td>
                    <td class="actions">
                        <button type="button" mat-icon-button class="text-danger">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="primary">Upload</button>
    </div>
</div>