<div class="body">
    <table *ngIf="expandedInvoice == -1" class="headerTable">
        <tr style="font-size: small;">
            <th style="width: 16%;"></th>
            <th style="width: 16%;">Invoice No.</th>
            <th style="width: 16%;">Invoice Date</th>
            <th style="width: 22%;">
                <div style="width: 100%; display: flex;">
                    <span>Net Amount</span>
                    <span style="flex: 0.8 1 auto;"></span>
                    <span>Vat</span>
                </div>
            </th>
            <th style="width: 16%;">No. of Services</th>
            <th style="width: 10%;"></th>
        </tr>
    </table>
    <div *ngFor="let invoice of controllers; let i = index" class="invoices">
        <mat-expansion-panel *ngIf="expandedInvoice == -1 || expandedInvoice == i" hideToggle
            [expanded]="i == expandedInvoice" (afterExpand)="afterInvoiceExpanded(i)"
            (afterCollapse)="afterInvoiceCollapse(i)">
            <mat-expansion-panel-header>
                <table class="headerTable child">
                    <tr style="font-size: small;">
                        <td style="width: 16%;">
                            <mat-icon *ngIf="invoiceHasErrors(i)" style="color: #bb3131;">error</mat-icon>
                            Invoice {{(i+1)}}
                        </td>
                        <td style="width: 16%;" *ngIf="expandedInvoice == -1">{{invoice.invoice.invoiceNumber}}</td>
                        <td style="width: 16%;" *ngIf="expandedInvoice == -1">{{invoice.invoice.invoiceDate.toLocaleDateString()}}</td>
                        <td style="width: 22%;" *ngIf="expandedInvoice == -1">
                            <div style="width: 100%; display: flex;">
                                <span>{{invoice.invoice.invoiceGDPN.net.value}}</span>
                                <span class="spacer"></span>
                                <span>{{invoice.invoice.invoiceGDPN.netVATamount.value}}</span>
                            </div>
                        </td>
                        <td style="width: 16%;" *ngIf="expandedInvoice == -1">{{invoice.services.length}}</td>
                        <td style="width: 10%;" *ngIf="expandedInvoice == -1">
                            <button mat-icon-button (click)="onDeleteInvoiceClick($event, i)"
                                *ngIf="controllers.length > 1">
                                <mat-icon style="color: #af4848;">cancel</mat-icon>
                            </button>
                        </td>
                        <td *ngIf="expandedInvoice != -1" colspan="5" style="text-align: end;"><button mat-button
                                style="margin-left: auto;" *ngIf="i == expandedInvoice"
                                (click)="onAddAnathorInvoiceClick($event, i)">+ Add Another
                                Invoice</button></td>
                    </tr>
                </table>
            </mat-expansion-panel-header>
            <table>
                <tr>
                    <td><label>Invoice Number*</label></td>
                    <td><label>Invoice Date*</label></td>
                    <td><label>Invoice Department*</label></td>
                </tr>
                <tr>
                    <td [matTooltip]="getFieldError('invoiceNumber:'+i)"><input
                            [ngClass]="{'fieldError': fieldHasError('invoiceNumber:'+i)}" type="text"
                            [formControl]="invoice.invoiceNumber"></td>
                    <td [matTooltip]="getFieldError('invoiceDate:'+i)"><input
                            [ngClass]="{'fieldError': fieldHasError('invoiceDate:'+i)}" type="date"
                            [formControl]="invoice.invoiceDate"></td>
                    <td>
                        <select (change)="updateInvoiceDepartment(i, $event)"
                            [value]="controllers[i].invoice.invoiceDepartment" required>
                            <option *ngFor="let department of departments" [value]="department.departmentId">
                                {{department.name}}</option>
                        </select>
                    </td>
                </tr>
            </table>
        </mat-expansion-panel>
        <div *ngIf="i == expandedInvoice">
            <div *ngFor="let service of invoice.services; let j = index " class="services">
                <mat-expansion-panel class="serviceExpansionPanel" *ngIf="expandedService == -1 || expandedService == j"
                    hideToggle [expanded]="j == expandedService" (afterExpand)="afterServiceExpanded(j)"
                    (afterCollapse)="afterServiceCollapse(i, j)">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="color: #3060AA;">
                            <mat-icon *ngIf="serviceHasErrors(i, j)" style="color: #bb3131;">error</mat-icon>
                            Service {{(j+1)}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <button mat-button style="margin-left: auto;" *ngIf="j == expandedService"
                                (click)="onAddAnathorServiceClick($event, i, j)">+ Add Another
                                Service</button>
                            <button mat-icon-button (click)="onDeleteServiceClick($event, i, j)"
                                *ngIf="controllers[i].services.length > 1 && expandedService == -1">
                                <mat-icon style="color: #af4848;">cancel</mat-icon>
                            </button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table>
                        <tr>
                            <td><label>Service Date*</label></td>
                            <td><label>Service Code*</label></td>
                            <td colspan="2"><label>Service Description*</label></td>
                        </tr>
                        <tr>
                            <td [matTooltip]="getFieldError('serviceDate:'+i+':'+j)"><input
                                    [ngClass]="{'fieldError': fieldHasError('serviceDate:'+i+':'+j)}" type="date"
                                    [formControl]="service.serviceDate"></td>
                            <td [matTooltip]="getFieldError('serviceCode:'+i+':'+j)">
                                <input [ngClass]="{'fieldError': fieldHasError('serviceCode:'+i+':'+j)}" type="text"
                                    [formControl]="service.serviceCode">
                                <span class="selectServiceButton"
                                    [matMenuTriggerFor]="editServiceCodeMenu">Select</span>
                            </td>
                            <td [matTooltip]="getFieldError('serviceDescription:'+i+':'+j)" colspan="2"><input
                                    [ngClass]="{'fieldError': fieldHasError('serviceDescription:'+i+':'+j)}"
                                    [formControl]="service.serviceDescription" type="text"></td>
                        </tr>
                        <tr>
                            <td><label>Unit Price*</label></td>
                            <td><label>Quantity*</label></td>
                            <td><label>Patient Share</label></td>
                            <td><label>Service Discount</label></td>
                        </tr>
                        <tr>
                            <td [matTooltip]="getFieldError('serviceUnitPrice:'+i+':'+j)"><input
                                    [ngClass]="{'fieldError': fieldHasError('serviceUnitPrice:'+i+':'+j)}" type="number"
                                    [formControl]="service.unitPrice"><span class="amountType">SAR</span>
                            </td>
                            <td [matTooltip]="getFieldError('serviceQuantity:'+i+':'+j)"><input
                                    [ngClass]="{'fieldError': fieldHasError('serviceQuantity:'+i+':'+j)}" type="text"
                                    [formControl]="service.quntity"></td>
                            <td [matTooltip]="getFieldError('servicePatientShare:'+i+':'+j)"><input
                                    [ngClass]="{'fieldError': fieldHasError('servicePatientShare:'+i+':'+j)}"
                                    type="number" [formControl]="service.patientShare"><span
                                    class="amountType">SAR</span>
                            </td>
                            <td [matTooltip]="getFieldError('serviceDiscount:'+i+':'+j)">
                                <input [ngClass]="{'fieldError': fieldHasError('serviceDiscount:'+i+':'+j)}"
                                    type="number" [formControl]="service.serviceDiscount">
                                <span class="amountType" style="cursor: pointer; color: #3060AA;"
                                    [ngClass]="{'amountTypePerecent': service.serviceDiscountUnit == 'PERCENT'}"
                                    (click)="service.serviceDiscountUnit = (service.serviceDiscountUnit == 'SAR'? 'PERCENT':'SAR')">{{service.serviceDiscountUnit == 'SAR'? 'SAR':'%'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td *ngIf="claimType == 'Dental'"><label>Tooth Number*</label></td>
                            <td><label>Net Vat Rate*</label></td>
                            <td><label>Patient Share Vat Rate*</label></td>
                        </tr>
                        <tr>
                            <td *ngIf="claimType == 'Dental'">
                                <select (change)="updateServiceToothNumber(i, j, $event)"
                                    [value]="service.toothNumber.value" required>
                                    <option *ngFor="let number of toothNumbers" [value]="number">
                                        {{number}}</option>
                                </select>
                            </td>
                            <td [matTooltip]="getFieldError('serviceNetVatRate:'+i+':'+j)"><input
                                    [ngClass]="{'fieldError': fieldHasError('serviceNetVatRate:'+i+':'+j)}"
                                    type="number" [formControl]="service.netVatRate"><span
                                    class="amountType amountTypePerecent">%</span></td>
                            <td [matTooltip]="getFieldError('servicePatientShareVatRate:'+i+':'+j)"><input
                                    [ngClass]="{'fieldError': fieldHasError('servicePatientShareVatRate:'+i+':'+j)}"
                                    type="number" [formControl]="service.patientShareVatRate"><span
                                    class="amountType amountTypePerecent">%</span></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
            </div>
        </div>
        <div style="text-align: end;" *ngIf="expandedService == -1 && expandedInvoice == i">
            <hr>
            <button mat-raised-button color="primary" (click)="onAddServiceClick(i)">Add Service</button>
        </div>
    </div>
    <div style="text-align: end;" *ngIf="expandedInvoice == -1">
        <hr>
        <button mat-raised-button color="primary" (click)="onAddInvoiceClick()">Add Invoice</button>
    </div>
</div>


<mat-menu #editServiceCodeMenu>
    <mat-form-field *ngIf="priceListExist" style="width: 80%; margin: 20px 10px 20px 20px;"
        (click)="$event.stopPropagation()">
        <input type="text" placeholder="Search Service Code" matInput [formControl]="searchServicesController"
            [matAutocomplete]="servicesOptionsAutoComplete" (keyup)="searchServices()"
            (click)="$event.stopPropagation()">
        <mat-autocomplete #servicesOptionsAutoComplete style="width: fit-content;">
            <mat-option *ngFor="let option of servicesOptions" (click)="selectService(option);">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <p *ngIf="!priceListExist" style="width: 90%; margin: 20px 10px 20px 20px; color: #f59517;">Price list does not
        exist! <mat-icon style="display: inline; font-size: 15px;">error</mat-icon>
    </p>
</mat-menu>