.body {
    padding: 20px;
    text-align: center;
}

mat-expansion-panel {
    margin-top: 3px;
    background-color: #B8D0FC;
    color: #3060AA;
}

.serviceExpansionPanel {
    background-color: #DBE7FD;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

.headerTable {
    border-collapse: collapse;
    border-spacing: unset;
    text-align: left;
    background-color: #3060AA;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 24px;
}

.headerTable.child {
    background-color: transparent;
    color: #3060AA;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    padding: unset;
}

.headerTable th {
    padding: 10px;
    text-align: center;
}

.headerTable td {
    padding: 15px;
    text-align: center !important;
}

.invoices td {
    width: 33%;
    text-align: start;
}

.services td {
    width: unset;
}

td input, td select {
    width: 100%;
    background-color: white;
    border: unset;
    padding: 5px;
    color: black;
    border-radius: 3px;
}

td input:focus, td select:focus {
    outline: unset;
}

.amountTypePerecent {
    font-size: unset !important;
}

.amountType, .selectServiceButton {
    position: relative;
    left: 87%;
    bottom: 23px;
    width: 0px;
    height: 0px;
    display: flex;
    color: #bac4d4;
    font-size: xx-small;
}

.selectServiceButton {
    left: 80%;
    cursor: pointer;
    color: #3060AA;
}

.serviceAutoCalc {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

.serviceAutoCalc .left {
    grid-column: 1 / 2;
}

.serviceAutoCalc .middle {
    grid-column: 2 / 3;
}

.serviceAutoCalc .right {
    grid-column: 3 / 4;
}

.autoCalcElement {
    border: 1px solid #3061aaa9;
    border-radius: 5px;
    background-color: #acc7f8;
    color: #3060AA;
    margin: 5px;
    padding: 10px;
}

.serviceDetailsForm td:nth-child(odd) {
    width: 15%;
    font-size: 10px;
    font-weight: 600;
}

.serviceDetailsForm td:nth-child(even) {
    width: 35%;
}

::ng-deep.cdk-overlay-pane {
    min-width: fit-content;
}

.fieldError {
    outline: auto !important;
    outline-color: #c44848 !important;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.toothMenuItem {
    position: relative;
    background: #ffffff4d;
    cursor: pointer;
}

.toothMenuItem:hover {
    background: 0 0;
}

::ng-deep.mat-menu-panel {
    overflow: unset !important;
}