<div class="row">
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Claim Type</div>
      <p class="form-control-static">{{data.preAuthorizationInfo.typeName}} </p>
    </div>
  </div>
  <!-- <div class="col-4">
    <div class="form-group">
      <div class="control-label">Related Claim Name</div>
      <p class="form-control-static">NA</p>
    </div>
  </div> -->
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Beneficiary Name</div>
      <p class="form-control-static">{{data.beneficiaryName}}</p>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Payment Amount</div>
      <p class="form-control-static">{{paymentAmount}} SR</p>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Transaction Date</div>
      <p class="form-control-static">{{data.transactionLogDate | date : 'dd-MM-yyyy hh:mm'}}</p>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Pre-authorization Status</div>
      <p class="form-control-static">{{data.outcome}}</p>
    </div>
  </div>
</div>

<!-- pre Authorization info start -->
<h5 class="form-title">
  Pre Authorization Info
</h5>
<div class="row">
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Date Ordered</div>
      <p class="form-control-static">{{data.preAuthorizationInfo.dateOrdered}}</p>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Type</div>
      <p class="form-control-static">{{data.preAuthorizationInfo.typeName}}</p>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Sub Type</div>
      <p class="form-control-static">
        <span *ngIf="data.preAuthorizationInfo && data.preAuthorizationInfo.subType">{{data.preAuthorizationInfo.subTypeName}}</span>
        <span *ngIf="data.preAuthorizationInfo && !data.preAuthorizationInfo.subType">-</span>
      </p>
    </div>
  </div>
</div>
<!-- pre Authorization info end -->

<!-- Diagnosis start -->
<h5 class="form-title">
  Diagnosis
</h5>
<div class="table-responsive">
  <table class="primary-grid" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Type</th>
        <th>Code - Description</th>
        <th>On Admission</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="data.diagnosis.length === 0">
        <td colspan="5">
          <app-empty-state message='No Diagnosis found!'></app-empty-state>
        </td>
      </tr>
      <ng-container *ngIf="data.diagnosis.length > 0">
        <tr *ngFor="let diagnosis of data.diagnosis">
          <td>{{diagnosis.sequence}}</td>
          <td>{{diagnosis.typeName}}</td>
          <td>{{diagnosis.diagnosisCode}} - {{diagnosis.diagnosisDescription}}</td>
          <td>{{diagnosis.onAdmissionName}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<!-- Diagnosis end -->

<!-- Vision prescription start -->
<h5 class="form-title" *ngIf="data.visionPrescription">
  Vision Prescription
</h5>
<div class="row" *ngIf="data.visionPrescription">
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Date Written</div>
      <p class="form-control-static">{{data.visionPrescription.dateWritten}}</p>
    </div>
  </div>
  <!-- <div class="col-4">
        <div class="form-group">
            <div class="control-label">Prescriber</div>
            <p class="form-control-static">Gordon Shelton</p>
        </div>
    </div> -->
</div>
<div class="box" *ngIf="data.visionPrescription">
  <h5 class="d-flex align-items-center mb-3">
    <strong class="medium">Lens Specifications</strong>
  </h5>
  <div class="table-responsive">
    <table class="primary-grid manual-row-color no-borders">
      <thead>
        <tr>
          <th>Sequence</th>
          <th>Product</th>
          <th>Eye</th>
          <th>Sphere</th>
          <th>Cylinder</th>
          <th>Axis</th>
          <th>Add</th>
          <th>Power</th>
          <th>Back Curve</th>
          <th>Diameter</th>
          <th>Duration</th>
          <th>Color</th>
          <th>Brand</th>
          <th>Prism</th>
          <th width="10">Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="data.visionPrescription.lensSpecifications.length === 0">
          <td colspan="5">
            <app-empty-state message='No Lens Specifications found!'></app-empty-state>
          </td>
        </tr>
        <ng-container *ngIf="data.visionPrescription.lensSpecifications.length > 0">
          <tr *ngFor="let visionSpecification of data.visionPrescription.lensSpecifications">
            <td>{{visionSpecification.sequence}}</td>
            <td>{{visionSpecification.productName}}</td>
            <td>{{visionSpecification.eye | titlecase}} <span *ngIf="visionSpecification.eye">Eye</span></td>
            <td>{{visionSpecification.sphere}}</td>
            <td>{{visionSpecification.cyclinder}}</td>
            <td>{{visionSpecification.axis}}</td>
            <td>{{visionSpecification.multifocalPower}}</td>
            <td>{{visionSpecification.lensPower}}</td>
            <td>{{visionSpecification.lensBackCurve}}</td>
            <td>{{visionSpecification.lensDiameter}}</td>
            <td>{{visionSpecification.lensDuration}}/{{visionSpecification.lensDurationUnitName}}</td>
            <td>{{visionSpecification.lensColor}}</td>
            <td>{{visionSpecification.lensBrand}}</td>
            <td>{{visionSpecification.prismAmount}}/{{visionSpecification.prismBaseName}}</td>
            <td class="actions text-center">
              <mat-menu #notesMenu="matMenu" class="primary-menu">
                {{visionSpecification.lensNote}}
              </mat-menu>
              <button mat-icon-button type="button" matTooltip="View Notes" class="text-primary"
                [matMenuTriggerFor]="notesMenu">
                <mat-icon class="material-icons-outlined">description</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<!-- Vision prescription end -->

<!-- Supporting Info start -->
<h5 class="form-title" *ngIf="data.supportingInfo.length > 0">
  Supporting Info
</h5>
<div class="table-responsive" *ngIf="data.supportingInfo.length > 0">
  <table class="primary-grid" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Category</th>
        <th>Code</th>
        <th>Timing</th>
        <th>Value</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="data.supportingInfo.length === 0">
        <td colspan="6">
          <app-empty-state message='No supporting info found!'></app-empty-state>
        </td>
      </tr>
      <ng-container *ngIf="data.supportingInfo.length > 0">
        <tr *ngFor="let s of data.supportingInfo">
          <td>
            {{s.sequence}}
          </td>
          <td>
            {{s.categoryName}}
          </td>
          <td>
            <!-- {{s.code}} <span *ngIf="s.codeName">- {{s.codeName}}</span> -->
            {{s.codeName}}
          </td>
          <td>
            <span *ngIf="!s.toDate">{{s.fromDateStr}}</span>
            <span *ngIf="s.toDate">{{s.fromDateStr}} - {{s.toDateStr}}</span>
          </td>
          <td>
            {{s.value}} <span *ngIf="s.unit">{{s.unit}}</span>
          </td>
          <td>
            {{s.reasonName}}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<!-- Supporting Info end -->

<!-- accident start -->
<h5 class="form-title" *ngIf="data.accident && data.accident.accidentTypeName && data.accident.date">
  Accident
</h5>
<div class="row" *ngIf="data.accident && data.accident.accidentTypeName && data.accident.date">
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Accident Type</div>
      <p class="form-control-static">{{data.accident.accidentTypeName}}</p>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Street Name</div>
      <p class="form-control-static">{{data.accident.streetName}}</p>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">City</div>
      <p class="form-control-static">{{data.accident.city}}</p>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">State/Province</div>
      <p class="form-control-static">{{data.accident.state}}</p>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Country</div>
      <p class="form-control-static">{{data.accident.country}}</p>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <div class="control-label">Date</div>
      <p class="form-control-static">{{data.accident.date}}</p>
    </div>
  </div>
</div>
<!-- accident end -->

<!-- Care Teams start -->
<h5 class="form-title">
  Care Teams
</h5>
<div class="table-responsive">
  <table class="primary-grid" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Practitioner</th>
        <th>Practitioner Role</th>
        <th>Care Team Role</th>
        <th>Speciality</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let careTeam of data.careTeam">
        <td>{{careTeam.sequence}}</td>
        <td>{{careTeam.practitionerName}}</td>
        <td>{{careTeam.practitionerRoleName}}</td>
        <td>{{careTeam.careTeamRoleName}}</td>
        <td>{{careTeam.speciality}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Care Teams end -->

<!-- Items start -->
<h5 class="form-title">
  Items
</h5>
<div class="table-responsive">
  <table class="primary-grid manual-row-color no-borders">
    <thead>
      <tr>
        <th width="10"></th>
        <th>Type</th>
        <th>Code - Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Net</th>
        <th>Non Standard Code</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of data.items; let i = index">
        <tr>
          <td class="text-primary text-center row-click" (click)="toggleItem(i)" width="10">
            <mat-icon *ngIf="currentSelectedItem!=0" class="size-21">add_circle_outline</mat-icon>
            <mat-icon *ngIf="currentSelectedItem==0" class="size-21">remove_circle_outline</mat-icon>
          </td>
          <td class="row-click" (click)="toggleItem(0)">{{item.typeName}}</td>
          <td class="row-click" (click)="toggleItem(0)">{{item.itemCode}} - {{item.itemDescription}}</td>
          <td class="row-click" (click)="toggleItem(0)">{{item.quantity}}</td>
          <td class="text-nowrap row-click" (click)="toggleItem(0)">{{item.unitPrice}} <span class="currency">SR</span></td>
          <td class="text-nowrap row-click" (click)="toggleItem(0)">{{item.net}} <span class="currency">SR</span></td>
          <td class="row-click" (click)="toggleItem(0)">{{item.nonStandardCode}}</td>
        </tr>
        <tr *ngIf="currentSelectedItem == i">
          <td colspan="8">
            <div class="box">
              <h5 class="align-self-center medium pb-2">Details</h5>
              <div class="row">
                <div class="col-4">
                  <table class="inline-label-table">
                    <tbody>
                      <tr>
                        <td class="label">Is Package?</td>
                        <td>
                          <span *ngIf="item.isPackage === 1">Yes</span>
                          <span *ngIf="item.isPackage === 2">No</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="label">Discount</td>
                        <td>{{item.discount}} %</td>
                      </tr>
                      <tr>
                        <td class="label">Tax(%)</td>
                        <td>{{item.taxPercent}} %</td>
                      </tr>
                      <tr>
                        <td class="label">Patient Share(%)</td>
                        <td>{{item.patientShare}} %</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-4">
                  <table class="inline-label-table">
                    <tbody>
                      <tr>
                        <td class="label">Tax</td>
                        <td>{{item.tax}} <span class="currency">SR</span></td>
                      </tr>
                      <tr>
                        <td class="label">Patient Share</td>
                        <td>{{item.patientShare}} <span class="currency">SR</span></td>
                      </tr>
                      <tr>
                        <td class="label">Payer Share</td>
                        <td>{{item.payerShare}} <span class="currency">SR</span></td>
                      </tr>
                      <tr>
                        <td class="label">Start Date</td>
                        <td>{{item.startDate}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-4">
                  <table class="inline-label-table">
                    <tbody>
                      <tr>
                        <td class="label">Supporting Info</td>
                        <td>{{item.supportingInfoNames}}</td>
                      </tr>
                      <tr>
                        <td class="label">Diagnosis</td>
                        <td>{{item.diagnosisNames}}</td>
                      </tr>
                      <tr>
                        <td class="label">Care Teams</td>
                        <td>{{item.careTeamNames}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>
<!-- Items end -->
