<div class="primary-dialog-header has-border">
    <h5 *ngIf="!data.item" class="primary-dialog-title">Add Item</h5>
    <h5 *ngIf="data.item" class="primary-dialog-title">Edit Item</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>

<form [formGroup]="FormItem" (ngSubmit)="onSubmit()">
    <div class="primary-dialog-body pb-0">
        <div class="form-group flex-grow-1">
        </div>
        <hr class="hr mb-3">
        <div class="row small-gutter">
            <div class="col-4 col-lg-3">
                <div class="form-group"
                    [ngClass]="{'has-error' : (isSubmitted || FormItem.get('type').touched) && FormItem.get('type').hasError('required')}">
                    <label class="control-label">Prescribed Medication<span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select formControlName="type" (selectionChange)="typeChange()">
                            <mat-option value="">Select Type</mat-option>
                            <mat-option *ngFor="let type of prescribedCode" [value]="type"> {{ type.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div
                        *ngIf="(isSubmitted || FormItem.get('type').touched) && FormItem.get('type').hasError('required')">
                        <span class="error-text">Please select a Type</span>
                    </div>
                </div>
            </div>

            <div class="col-4 col-lg-3" *ngIf="FormItem.get('type').value.value === 'medication-codes'">
                <div class="form-group"
                    [ngClass]="{'has-error': (isSubmitted || FormItem.get('item').touched) && FormItem.get('item').hasError('required')}">
                    <label class="control-label">GTIN Code - Description<span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select panelClass="custom-dropdown" formControlName="item" [disabled]="IsItemLoading"
                            placeholder="Select Code-Description">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search Item" formControlName="item"
                                    noEntriesFoundLabel="No items found" name='searchedItem'></ngx-mat-select-search>
                            </mat-option>
                            <cdk-virtual-scroll-viewport itemSize="100" minBufferPx="{{itemList.length}}"
                                maxBufferPx="{{itemList.length * 10}}" class="viewport">
                                <mat-option *cdkVirtualFor="let item of filteredItem | async" [value]="item">
                                    {{item.code}} - {{item.description}}
                                </mat-option>
                            </cdk-virtual-scroll-viewport>
                        </mat-select>

                    </mat-form-field>
                    <div
                        *ngIf="(isSubmitted || FormItem.get('item').touched) && FormItem.get('item').hasError('required')">
                        <span class="error-text">Please select a Code - Description</span>
                    </div>
                </div>
            </div>

            <div class="col-4 col-lg-3" *ngIf="FormItem.get('type').value.value === 'scientific-codes'">
                <div class="form-group"
                    [ngClass]="{'has-error': (isSubmitted || FormItem.get('item').touched) && FormItem.get('item').hasError('required')}">
                    <label class="control-label">Scientific Code - Description<span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select panelClass="custom-dropdown" formControlName="item" [disabled]="IsItemLoading"
                            placeholder="Select Code-Description">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search Item" formControlName="item"
                                    noEntriesFoundLabel="No items found" name='searchedItem'></ngx-mat-select-search>
                            </mat-option>
                            <cdk-virtual-scroll-viewport itemSize="100"
                                minBufferPx="{{ itemList.length > 0 ? 100 : 100 }}"
                                maxBufferPx="{{itemList.length * 10}}" class="viewport">
                                <mat-option *cdkVirtualFor="let type of filteredPescribedMedicationItem | async"
                                    [value]="type">
                                    {{type.descriptionCode}} ( {{type.tradeName}} )
                                </mat-option>
                            </cdk-virtual-scroll-viewport>
                        </mat-select>

                    </mat-form-field>
                    <div
                        *ngIf="(isSubmitted || FormItem.get('item').touched) && FormItem.get('item').hasError('required')">
                        <span class="error-text">Please select a Code - Description</span>
                    </div>
                </div>
            </div>




            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Non Standard Code</label>
                    <input class="form-control" placeholder="Enter non standard code" formControlName="nonStandardCode">
                </div>
            </div>

            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Non Standard Description</label>
                    <input class="form-control" placeholder="Enter non standard description" formControlName="display">
                </div>
            </div>
            <div class="col-4 col-lg-3" *ngIf="FormItem.get('type').value.value === 'medication-codes'">
                <div class="form-group">
                    <label class="control-label">Absence of Scientific Code<span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select formControlName="absenceScientificCode">
                            <mat-option value="">Select the reason</mat-option>
                            <mat-option *ngFor="let medication of absenceReasonList"
                                [value]="medication">{{medication.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>



            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Body Site</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select formControlName="bodySite" value="">
                            <mat-option value="">Select Body Site</mat-option>
                            <mat-option *ngFor="let bodySite of bodySiteList"
                                [value]="bodySite">{{bodySite.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Sub Site</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select formControlName="subSite" value="">
                            <mat-option value="">Select Sub Site</mat-option>
                            <mat-option *ngFor="let subSite of subSiteList"
                                [value]="subSite">{{subSite.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Authored On</label>
                    <div class="date-picker">
                        <input [owlDateTime]="authoredOn" formControlName="endDate" class="form-control"
                            placeholder="Select authored on">
                        <mat-datepicker-toggle [owlDateTimeTrigger]="authoredOn"></mat-datepicker-toggle>
                        <owl-date-time #authoredOn></owl-date-time>
                    </div>
                </div>
            </div>

            <div class="col-4 col-lg-3">
                <div class="form-group"
                    [ngClass]="{'has-error' :IsSupportingInfoSequenceRequired || ((isSubmitted || FormItem.get('supportingInfoSequence').touched) && FormItem.get('supportingInfoSequence').hasError('required'))}">
                    <label class="control-label">Supporting Info</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select formControlName="supportingInfoSequence" multiple
                            placeholder="Select Supporting Info">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search Item"
                                    formControlName="supportingInfoFilter" showToggleAllCheckbox="true"
                                    noEntriesFoundLabel="No care team found" name='searchedItem'>
                                </ngx-mat-select-search>
                            </mat-option>
                            <ng-container>
                                <mat-option *ngFor="let item of filteredSupportingInfo  | async" [value]="item">
                                    {{item.sequence}} - {{item.categoryName}} {{item.categoryName=="Days Supply"?' (
                                    '+item.value+' d)':""}} <span *ngIf="item.code">- {{item.code}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <div
                        *ngIf="IsSupportingInfoSequenceRequired || ((isSubmitted || FormItem.get('supportingInfoSequence').touched) && FormItem.get('supportingInfoSequence').hasError('required'))">
                        <span class="error-text">{{supportingInfoError}}</span>
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Diagnosis</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select formControlName="diagnosisSequence" multiple placeholder="Select Care Team">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search Item" formControlName="diagnosisFilter"
                                    showToggleAllCheckbox="true" noEntriesFoundLabel="No care team found"
                                    name='searchedItem'>
                                </ngx-mat-select-search>
                            </mat-option>
                            <ng-container>
                                <mat-option *ngFor="let item of filteredDiagnosis  | async" [value]="item">
                                    {{item.diagnosisCode}} - {{item.diagnosisDescription}}
                                </mat-option>
                            </ng-container>

                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="form-group"
                    [ngClass]="{'has-error' :IscareTeamSequenceRequired && ((isSubmitted || FormItem.get('careTeamSequence').touched) && FormItem.get('careTeamSequence').hasError('required'))}">
                    <label class="control-label">Care Teams<span *ngIf="IscareTeamSequenceRequired"
                            class="asterisk">*</span></label>

                    <mat-form-field class="form-control custom-select-control">
                        <mat-select formControlName="careTeamSequence" multiple placeholder="Select Care Team">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search Item" formControlName="careTeamFilter"
                                    showToggleAllCheckbox="true" noEntriesFoundLabel="No care team found"
                                    name='searchedItem'>
                                </ngx-mat-select-search>
                            </mat-option>
                            <ng-container>
                                <mat-option *ngFor="let item of filteredCareTeam  | async" [value]="item">
                                    {{item.practitionerName}} - {{item.practitionerRole}} - {{item.careTeamRole}} -
                                    {{item.speciality}}
                                </mat-option>
                            </ng-container>

                        </mat-select>
                    </mat-form-field>
                    <div
                        *ngIf="IscareTeamSequenceRequired && ((isSubmitted || FormItem.get('careTeamSequence').touched) && FormItem.get('careTeamSequence').hasError('required'))">
                        <span class="error-text">Please select Care Team</span>
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Is Package?</label>
                    <mat-radio-group class="radio-group inline" formControlName="isPackage">
                        <mat-radio-button color="primary" [value]="true">Yes</mat-radio-button>
                        <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Strength</label>
                    <input class="form-control" placeholder="Enter Strength" formControlName="strength">
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="form-group"
                    [ngClass]="{'has-error' : ((isSubmitted || FormItem.get('quantity').touched) && (FormItem.get('quantity').hasError('required')))|| (IsQuantityCodeRequired && ((isSubmitted || FormItem.get('quantityCode').touched) && FormItem.get('quantityCode').hasError('required')))}">
                    <label class="control-label">Quantity <span class="asterisk">*</span></label>
                    <div class="row extra-small-gutter">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Enter quantity"
                                formControlName="quantity">
                        </div>
                        <div *ngIf="showQuantityCode" class="col-auto">
                            <mat-form-field class="form-control custom-select-control">
                                <mat-select formControlName="quantityCode">
                                    <mat-option value="">Code<span *ngIf="IsQuantityCodeRequired">*</span></mat-option>
                                    <mat-option value="{unit}">Unit</mat-option>
                                    <mat-option value="{package}">Package</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div
                        *ngIf="(isSubmitted || FormItem.get('quantity').touched) && FormItem.get('quantity').hasError('required')">
                        <span class="error-text">Please enter Quantity</span>
                    </div>
                    <div *ngIf="IsInvalidQuantity && (isSubmitted || FormItem.get('quantity').touched)">
                        <span class="error-text">Quantity must be greater than 0</span>
                    </div>
                    <div
                        *ngIf="IsQuantityCodeRequired && ((isSubmitted || FormItem.get('quantityCode').touched) && FormItem.get('quantityCode').hasError('required'))">
                        <span class="error-text">Please enter Quantity Code</span>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="primary-dialog-footer has-border">
        <div class="btn-list text-right">
            <button type="button" mat-button (click)="closeDialog()" id="closeItemButton">Close</button>
            <button type="submit" mat-flat-button color="primary">
                <span *ngIf="!data.item" id="addItemButton">Add</span>
                <span *ngIf="data.item" id="saveItemButton">Save</span>
            </button>
        </div>
    </div>
</form>