.mainCardBody {
    padding: 10px;
    background-color: white;
    color: #3060AA;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px 5px;
}

td:nth-child(odd) {
    width: 25%;
}

td:nth-child(even) {
    width: 35%;
}

td input, td select {
    width: 100%;
    background-color: #EFF5FF;
    border: unset;
    padding: 10px;
    color: #3060AA;
    border-radius: 3px;
}

td input:focus, td select:focus{
    outline: unset;
}

.fieldError{
    outline: auto !important;
    outline-color: #c44848 !important;
}