<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header has-border">
        <p>Accounts Receivables</p>
    </div>
    <div class="block-filter-panel">
        <div class="row small-gutter">
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Payer</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select value="">
                            <mat-option value="">Select Payer</mat-option>
                            <mat-option value="Payer 1">Payer 1</mat-option>
                            <mat-option value="Payer 2">Payer 2</mat-option>
                            <mat-option value="Payer 3">Payer 3</mat-option>
                            <mat-option value="Payer 4">Payer 4</mat-option>
                            <mat-option value="Payer 5">Payer 5</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Received From Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="fromDate" class="form-control" placeholder="Select from date" />
                        <mat-datepicker-toggle [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Received To Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="toDate" class="form-control" placeholder="Select to date" />
                        <mat-datepicker-toggle [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-auto align-self-end">
                <div class="form-group">
                    <button type="button" mat-flat-button color="primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" class="bg-white">
        <div class="fixed-height">
            <table class="primary-grid manual-row-color sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th colspan="2">Payer Name</th>
                        <th>Batch</th>
                        <th>Amount Outstanding</th>
                        <th>Deviating Term</th>
                        <th>Due Date</th>
                        <th>Days Overdue</th>
                        <th>Payment Ratio</th>
                        <th>Total Payments</th>
                        <th>Avg TAT</th>
                        <th>Total Payment Ratio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-primary text-center row-click" (click)="recordOneOpen=!recordOneOpen" width="10">
                            <mat-icon *ngIf="!recordOneOpen" class="size-21">add_circle_outline</mat-icon>
                            <mat-icon *ngIf="recordOneOpen" class="size-21">remove_circle_outline</mat-icon>
                        </td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">Bupa</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">
                            F12346-1
                            <span class="text-muted">07/01/2017</span>
                        </td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">500/1000</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">7</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">07/08/2017</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">1,347</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">12.5%</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">500</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">25</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">50%</td>
                        <td><a href="#" (click)="openAddPaymentDialog($event)" class="primary-link" title="Add payment">Add payment</a></td>
                    </tr>
                    <tr *ngIf="recordOneOpen">
                        <td colspan="12">
                            <div class="box">
                                <h5 class="align-self-center medium pb-2">Payments</h5>
                                <div class="table-responsive">
                                    <table class="primary-grid">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>TAT</th>
                                                <th>Payment Ratio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>6/11/2010</td>
                                                <td>231</td>
                                                <td>4</td>
                                                <td>96.91%</td>
                                            </tr>
                                            <tr>
                                                <td>4/14/2012</td>
                                                <td>450</td>
                                                <td>19</td>
                                                <td>81.43%</td>
                                            </tr>
                                            <tr>
                                                <td>11/27/2016</td>
                                                <td>437</td>
                                                <td>7</td>
                                                <td>63.25%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="text-primary text-center row-click" (click)="recordTwoOpen=!recordTwoOpen" width="10">
                            <mat-icon *ngIf="!recordTwoOpen" class="size-21">add_circle_outline</mat-icon>
                            <mat-icon *ngIf="recordTwoOpen" class="size-21">remove_circle_outline</mat-icon>
                        </td>
                        <td class="row-click" (click)="recordTwoOpen=!recordTwoOpen">MedGulf</td>
                        <td class="row-click" (click)="recordTwoOpen=!recordTwoOpen">83721
                            <span class="text-muted">15/07/2017</span>
                        </td>
                        <td class="row-click" (click)="recordTwoOpen=!recordTwoOpen">700/800</td>
                        <td class="row-click" (click)="recordTwoOpen=!recordTwoOpen">14</td>
                        <td class="row-click" (click)="recordTwoOpen=!recordTwoOpen">13/08/2017</td>
                        <td class="row-click" (click)="recordTwoOpen=!recordTwoOpen">1,456</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">10%</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">100</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">45</td>
                        <td class="row-click" (click)="recordOneOpen=!recordOneOpen">20%</td>
                        <td><a href="#" (click)="openAddPaymentDialog($event)" class="primary-link" title="Add payment">Add payment</a></td>
                    </tr>
                    <tr *ngIf="recordTwoOpen">
                        <td colspan="12">
                            <div class="box">
                                <h5 class="align-self-center medium pb-2">Payments</h5>
                                <div class="table-responsive">
                                    <table class="primary-grid">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>TAT</th>
                                                <th>Payment Ratio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>6/11/2010</td>
                                                <td>231</td>
                                                <td>4</td>
                                                <td>96.91%</td>
                                            </tr>
                                            <tr>
                                                <td>4/14/2012</td>
                                                <td>450</td>
                                                <td>19</td>
                                                <td>81.43%</td>
                                            </tr>
                                            <tr>
                                                <td>11/27/2016</td>
                                                <td>437</td>
                                                <td>7</td>
                                                <td>63.25%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
    <div class="block-footer sticky-bottom">
        <div class="left-block custom-paginator">
            <button matRipple type="button" title="First Page">
                <img src="./assets/ic-page-first.svg" alt="First" />
            </button>
            <button matRipple type="button" title="Previous Page">
                <img src="./assets/ic-page-prev.svg" alt="Previous" />
            </button>
            <p class="page-info">
                1<small>/5</small>
            </p>
            <button matRipple type="button" title="Next Page">
                <img src="./assets/ic-page-next.svg" alt="Next" />
            </button>
            <button matRipple type="button" title="Last Page">
                <img src="./assets/ic-page-last.svg" alt="Last" />
            </button>
        </div>
    </div>
    <button mat-fab color="primary" class="page-fab" (click)="openAddBatchDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>