<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header has-border">
        <div class="d-flex align-items-center">
            <div class="actions mr-2 my-n2 ml-n1">
                <button matRipple type="button" (click)="goBack()" class="action-btn">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <p>Accounts Receivables Monthly - {{displayMonth}}</p>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" class="bg-white">
        <div class="fixed-height fixed-height-lg">
            <table class="primary-grid" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th rowspan="2">Payer</th>
                        <th rowspan="2">Total Submitted</th>
                        <th colspan="2" class="text-center">Total Received</th>
                        <th colspan="2" class="text-center">Initial Rejection</th>
                        <th rowspan="2">Amount Outstanding(SR)</th>
                        <th rowspan="2">Due Date</th>
                        <th rowspan="2">Days Overdue</th>
                        <th rowspan="2">Avg. TAT</th>
                    </tr>
                    <tr>
                        <th class="not-first-child">SR</th>
                        <th>%</th>
                        <th>SR</th>
                        <th class="not-last-child">%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of receivableData">
                        <td>{{item.payerName}}</td>
                        <td>{{item.totalSubmittedAmount}}</td>
                        <td>{{item.totalReceivedAmount}}</td>
                        <td>{{item.totalReceivedPerc}}</td>
                        <td>{{item.initRejectionAmount}}</td>
                        <td>{{item.initRejectionPerc}}</td>
                        <td>{{item.outstandingAmount}}</td>
                        <td>{{item.dueDateMessage!==null && item.dueDateMessage!==''?item.dueDateMessage: item.dueDate | date: 'dd-MM-yyyy'}}
                        </td>
                        <td>{{item.daysOverdue}}</td>
                        <td>{{item.avgTat}}</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="p-0">
                            <app-empty-state *ngIf="receivableData == null || receivableData.length == 0" class="claim-list-empty-state" message='No records found!'>
                            </app-empty-state>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
    <!-- <div class="block-footer sticky-bottom">
        <div class="left-block custom-paginator">
            <button matRipple type="button" title="First Page">
                <img src="./assets/ic-page-first.svg" alt="First" />
            </button>
            <button matRipple type="button" title="Previous Page">
                <img src="./assets/ic-page-prev.svg" alt="Previous" />
            </button>
            <p class="page-info">
                1<small>/5</small>
            </p>
            <button matRipple type="button" title="Next Page">
                <img src="./assets/ic-page-next.svg" alt="Next" />
            </button>
            <button matRipple type="button" title="Last Page">
                <img src="./assets/ic-page-last.svg" alt="Last" />
            </button>
        </div>
    </div> -->
</div>