<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
        <p>Prepare Pre-Auth Transactions for Claim</p>
    </div>
    <div class="block-filter-panel">
        <div class="row small-gutter">
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">From Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="filterFromDate" class="form-control" placeholder="Select from date">
                        <mat-datepicker-toggle [for]="filterFromDate"></mat-datepicker-toggle>
                        <mat-datepicker #filterFromDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">To Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="filterToDate" class="form-control" placeholder="Select to date">
                        <mat-datepicker-toggle [for]="filterToDate"></mat-datepicker-toggle>
                        <mat-datepicker #filterToDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div *ngIf="!advanceSearchEnable" class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="btn-list">
                        <button type="button" mat-flat-button color="primary">Search</button>
                        <button type="button" class="text-primary" (click)="toggleAdvanceSearch()" mat-button>Advance Search</button>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="advanceSearchEnable">
                <div class="col-4 col-xxl-3">
                    <div class="form-group">
                        <label class="control-label">Pre Authorization ID</label>
                        <input class="form-control" placeholder="Enter pre authorization ID">
                    </div>
                </div>
                <div class="col-4 col-xxl-3">
                    <div class="form-group">
                        <label class="control-label">Payer</label>
                        <mat-form-field class="form-control custom-select-control">
                            <mat-select value="">
                                <mat-option value="">Select Payer</mat-option>
                                <mat-option value="Payer 1">Payer 1</mat-option>
                                <mat-option value="Payer 2">Payer 2</mat-option>
                                <mat-option value="Payer 3">Payer 3</mat-option>
                                <mat-option value="Payer 4">Payer 4</mat-option>
                                <mat-option value="Payer 5">Payer 5</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-4 col-xxl-3">
                    <div class="form-group">
                        <label class="control-label">Select a Beneficiary</label>
                        <input class="form-control search-box" placeholder="Search for beneficiary by name or document ID...">
                    </div>
                </div>
                <div class="col-4 col-xxl-3">
                    <div class="form-group">
                        <label class="control-label">Pre Auth Reference No</label>
                        <input class="form-control" placeholder="Enter Preauth Ref No">
                    </div>
                </div>
                <div class="col-4 col-xxl-3">
                    <div class="form-group">
                        <label class="control-label">Status</label>
                        <mat-form-field class="form-control custom-select-control">
                            <mat-select value="">
                                <mat-option value="">Select Status</mat-option>
                                <mat-option value="Status 1">Status 1</mat-option>
                                <mat-option value="Status 2">Status 2</mat-option>
                                <mat-option value="Status 3">Status 3</mat-option>
                                <mat-option value="Status 4">Status 4</mat-option>
                                <mat-option value="Status 5">Status 5</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
        </div>
        <div *ngIf="advanceSearchEnable" class="form-group">
            <div class="btn-list">
                <button type="button" mat-flat-button color="primary">Search</button>
                <button type="button" class="text-primary" mat-button (click)="toggleAdvanceSearch()">Basic Search</button>
            </div>
        </div>
    </div>

    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
        <div class="fixed-height fixed-height-sm">
            <table class="primary-grid sticky-header claim-view-table" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th width="10"></th>
                        <th>Beneficiary</th>
                        <th>Pre Auth Ref No</th>
                        <th>Pre Authorization ID</th>
                        <th>Requested Date</th>
                        <th>Response Date</th>
                        <th>Payer/TPA</th>
                        <th>Total Net</th>
                        <th>Patient Share</th>
                        <th>Payer Share</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-click">
                        <td (click)="toggleRow(0)" class="text-primary text-center">
                            <mat-icon *ngIf="currentOpenRow!=0">add_circle_outline</mat-icon>
                            <mat-icon *ngIf="currentOpenRow==0">remove_circle_outline</mat-icon>
                        </td>
                        <td (click)="toggleRow(0)">PARVEZKHAN KHADER KHAN (2267782387)</td>
                        <td (click)="toggleRow(0)">-</td>
                        <td (click)="toggleRow(0)">220623-78765</td>
                        <td (click)="toggleRow(0)">23-06-2022 09:52 AM</td>
                        <td (click)="toggleRow(0)">23-06-2022 09:52 AM</td>
                        <td (click)="toggleRow(0)">Insurance Company Testing Payer</td>
                        <td (click)="toggleRow(0)">4 <span class="currency">SAR</span></td>
                        <td (click)="toggleRow(0)">4 <span class="currency">SAR</span></td>
                        <td (click)="toggleRow(0)">4 <span class="currency">SAR</span></td>
                        <td (click)="toggleRow(0)">Approved</td>
                    </tr>
                    <tr *ngIf="currentOpenRow==0">
                        <td></td>
                        <td colspan="10">
                            <div class="row small-gutter">
                                <div class="col-4 col-xxl-3">
                                    <div class="form-group">
                                        <label class="control-label">Episode No.</label>
                                        <input class="form-control" placeholder="Enter episode no.">
                                    </div>
                                </div>
                            </div>
                            <table class="primary-grid mb-3 sticky-header claim-view-table" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Item Type</th>
                                        <th>Invoice No. <span class="asterisk">*</span></th>
                                        <th>Standard Code - Description</th>
                                        <th>Patient Share</th>
                                        <th>Payer Share</th>
                                        <th>Net</th>
                                        <th>Approved Net</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="align-middle">
                                        <td>Medical Devices</td>
                                        <td>
                                            <div class="form-group mb-n1 mt-n1">
                                                <input type="text" class="form-control" placeholder="Enter invoice no." />
                                            </div>
                                        </td>
                                        <td>18021 - Dermatoscope, optical</td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>Approved</td>
                                    </tr>
                                    <tr class="align-middle">
                                        <td>Medical Devices</td>
                                        <td>
                                            <div class="form-group mb-n1 mt-n1">
                                                <input type="text" class="form-control" placeholder="Enter invoice no." />
                                            </div>
                                        </td>
                                        <td>18021 - Dermatoscope, optical</td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>Approved</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right"><button type="button" mat-flat-button color="primary">Save</button></div>
                        </td>
                    </tr>
                    <tr class="row-click">
                        <td (click)="toggleRow(1)" class="text-primary text-center">
                            <mat-icon *ngIf="currentOpenRow!=1">add_circle_outline</mat-icon>
                            <mat-icon *ngIf="currentOpenRow==1">remove_circle_outline</mat-icon>
                        </td>
                        <td (click)="toggleRow(1)">PARVEZKHAN KHADER KHAN (2267782387)</td>
                        <td (click)="toggleRow(1)">-</td>
                        <td (click)="toggleRow(1)">220623-78765</td>
                        <td (click)="toggleRow(1)">23-06-2022 09:52 AM</td>
                        <td (click)="toggleRow(1)">23-06-2022 09:52 AM</td>
                        <td (click)="toggleRow(1)">Insurance Company Testing Payer</td>
                        <td (click)="toggleRow(1)">4 <span class="currency">SAR</span></td>
                        <td (click)="toggleRow(1)">4 <span class="currency">SAR</span></td>
                        <td (click)="toggleRow(1)">4 <span class="currency">SAR</span></td>
                        <td (click)="toggleRow(1)">Approved</td>
                    </tr>
                    <tr *ngIf="currentOpenRow==1">
                        <td></td>
                        <td colspan="10">
                            <div class="row small-gutter">
                                <div class="col-4 col-xxl-3">
                                    <div class="form-group">
                                        <label class="control-label">Episode No.</label>
                                        <input class="form-control" placeholder="Enter episode no.">
                                    </div>
                                </div>
                            </div>
                            <table class="primary-grid mb-3 sticky-header claim-view-table" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Item Type</th>
                                        <th>Invoice No. <span class="asterisk">*</span></th>
                                        <th>Standard Code - Description</th>
                                        <th>Patient Share</th>
                                        <th>Payer Share</th>
                                        <th>Net</th>
                                        <th>Approved Net</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="align-middle">
                                        <td>Medical Devices</td>
                                        <td>
                                            <div class="form-group mb-n1 mt-n1">
                                                <input type="text" class="form-control" placeholder="Enter invoice no." />
                                            </div>
                                        </td>
                                        <td>18021 - Dermatoscope, optical</td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>Approved</td>
                                    </tr>
                                    <tr class="align-middle">
                                        <td>Medical Devices</td>
                                        <td>
                                            <div class="form-group mb-n1 mt-n1">
                                                <input type="text" class="form-control" placeholder="Enter invoice no." />
                                            </div>
                                        </td>
                                        <td>18021 - Dermatoscope, optical</td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>4 <span class="currency">SAR</span></td>
                                        <td>Approved</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right"><button type="button" mat-flat-button color="primary">Save</button></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
</div>