<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Add Payment</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body p-0">
    <div class="dialog-table">
        <table class="primary-grid  sticky-header" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th width='10'></th>
                    <th>Amount</th>
                    <th>Payment Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of payementData">
                    <td>
                        <mat-checkbox #accCheck class="grid-checkbox" (click)="selectedAccountPayer(item,accCheck)"
                            color="primary">
                        </mat-checkbox>
                    </td>
                    <td>{{item.amount | number : '1.2-2'}} SR</td>
                    <td>{{item.paymentDate | date: 'dd-MM-yyyy' }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="p-0">
                        <app-empty-state *ngIf="payementData == null || payementData.length == 0"
                            class="claim-list-empty-state" message='No records found!'>
                        </app-empty-state>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="primary" [disabled]="selctedAccountPayerData.length===0"
            (click)="addPaymentReceivableData()">Add Payment</button>
    </div>
</div>