<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Add Payment</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body pb-0">
    <div class="row small-gutter">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Payment Date</label>
                <div class="date-picker">
                    <input [matDatepicker]="date" class="form-control" placeholder="Select payment date" />
                    <mat-datepicker-toggle [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Amount</label>
                <input class="form-control" placeholder="Enter amount" />
            </div>
        </div>
    </div>
</div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="primary">Add Payment</button>
    </div>
</div>