<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Payment Reconciliation Claims</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body p-0">
    <div class="dialog-table">
        <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Batch No.</th>
                    <th>Batch Date</th>
                    <th>Status</th>
                    <th>Patient</th>
                    <th>Provider</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>716361</td>
                    <td>625</td>
                    <td>30/6/2031</td>
                    <td>Downloadable</td>
                    <td>Rosetta Hopkins</td>
                    <td>Tawuniya</td>
                    <td>5009 <span class="currency">SR</span></td>
                </tr>
                <tr>
                    <td>644575</td>
                    <td>844</td>
                    <td>10/5/2043</td>
                    <td>Downloadable</td>
                    <td>Nathan Hayes</td>
                    <td>Tawuniya</td>
                    <td>3863 <span class="currency">SR</span></td>
                </tr>
                <tr>
                    <td>662464</td>
                    <td>129</td>
                    <td>26/4/2080</td>
                    <td>Downloadable</td>
                    <td>Eugene Wheeler</td>
                    <td>Tawuniya</td>
                    <td>5439 <span class="currency">SR</span></td>
                </tr>
                <tr>
                    <td>840442</td>
                    <td>833</td>
                    <td>26/8/2025</td>
                    <td>Downloadable</td>
                    <td>Nell Kelley</td>
                    <td>Tawuniya</td>
                    <td>225 <span class="currency">SR</span></td>
                </tr>
                <tr>
                    <td>612580</td>
                    <td>539</td>
                    <td>2/4/2056</td>
                    <td>Downloadable</td>
                    <td>Steve Simon</td>
                    <td>Tawuniya</td>
                    <td>7605 <span class="currency">SR</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>