<div class="primary-dialog-body">
    <div class="confirmation-dialog-body">
        <img src="./assets/ic-success.svg" alt="Success" *ngIf="data.mode=='success'" />
        <img src="./assets/ic-warning.svg" alt="Warning" *ngIf="data.mode=='warning'" />
        <img src="./assets/ic-danger.svg" alt="Alert" *ngIf="data.mode=='alert'" />
        <img src="./assets/ic-info.svg" alt="Info" *ngIf="data.mode=='info'" />
        <div class="right-block">
          <p *ngIf="data.transactionId" class="title">Transaction Id: {{data.transactionId}}</p>
            <p class="title" [innerHtml]="data.mainMessage"></p>
            <span class="subtitle" *ngIf="data.subMessage" [innerHtml]="data.subMessage"></span>
            <ul *ngIf="data.errors && data.errors.length > 0">
                <li *ngFor="let error of data.errors">{{error}}</li>
            </ul>
        </div>
    </div>
    <div class="btn-list text-right">
        <button mat-flat-button type="button" *ngIf="!data.hideNoButton" (click)="noClick()">{{data.noButtonText || 'No'}}</button>
        <button mat-flat-button type="button" (click)="yesClick()" color="primary">{{data.yesButtonText || 'Yes'}}</button>
    </div>
</div>
