<ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" *ngIf="communicationRequestModel && communicationRequests.length > 0">
    <div class="fixed-height fixed-height-sm">
      <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Beneficiary Name</th>
            <th>Pre Auth Ref No</th>
            <th>Communication ID</th>
            <th>Category</th>
            <th>Pre Authorization ID</th>
            <th>Payer</th>
            <th>Reason Code</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let req of communicationRequests" [ngClass]="{'text-warning light-bg-warning': req.notificationStatus !== 'read'}">
  
            <td class="row-click" (click)="openDetailsDialog(req.requestId, req.communicationId, req.notificationId, req.notificationStatus)">{{req.beneficiaryName}} ({{req.documentId}})</td>
            <td class="row-click" (click)="openDetailsDialog(req.requestId, req.communicationId, req.notificationId, req.notificationStatus)">{{req.preAuthRefNo ? req.preAuthRefNo : '-'}}</td>
            <td class="row-click" (click)="openDetailsDialog(req.requestId, req.communicationId, req.notificationId, req.notificationStatus)">{{req.communicationId}}</td>
            <td class="row-click" (click)="openDetailsDialog(req.requestId, req.communicationId, req.notificationId, req.notificationStatus)">{{req.category}}</td>
            <td class="row-click" (click)="openDetailsDialog(req.requestId, req.communicationId, req.notificationId, req.notificationStatus)">{{req.requestId}}</td>
            <td class="row-click" (click)="openDetailsDialog(req.requestId, req.communicationId, req.notificationId, req.notificationStatus)">{{req.payerName}}</td>
            <td class="row-click" (click)="openDetailsDialog(req.requestId, req.communicationId, req.notificationId, req.notificationStatus)">{{req.reasonCode}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-scrollbar>
  <app-empty-state *ngIf="communicationRequestModel && communicationRequests.length === 0" message='No Communication request found!'>
  </app-empty-state>
  <div class="pagination-header" *ngIf="!(communicationRequestModel && communicationRequests.length === 0)">
    <div class="form-group page-select">
      <label class="control-label">Go to page: </label>
      <mat-form-field class="form-control custom-select-control">
        <mat-select [ngModel]="manualPage" (ngModelChange)="updateManualPage($event)">
          <mat-option *ngFor="let i of paginatorPagesNumbers" [value]="i">{{i+1}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="material-paginator">
      <mat-paginator #paginator [length]="paginatorLength" [pageSizeOptions]="paginatorPageSizeOptions" (page)="paginatorAction($event)">
      </mat-paginator>
    </div>
    <div class="right-block" *ngIf="communicationRequests.length != 0">
      <div class="actions">
        <button mat-flat-button color="primary" (click)="readAllNotification();">Mark all as read </button>
      </div>
    </div>
  </div>
  