<div class="parent">
    <app-abstractcard title="All Claims Before Submission" [accentColor]="getCardColor('all')" [clickable]="false">
        <label>No. of Claims</label>
        <h6>{{allClaimsSummary.totalClaims}}</h6>
        <div style="display: flex;">
            <div class="box" style="width: 30%;">
                <label>Gross</label>
                <h6>{{allClaimsSummary.gross}}<span class="currency"> SR</span></h6>
            </div>
            <div class="box" style="width: 70%;">
                <div style="display: flex;">
                    <label>Net Amount</label>
                    <span class="spacer"></span>
                    <label>Vat</label>
                </div>
                <div style="display: flex;">
                    <h6>{{allClaimsSummary.totalNetAmount}}<span class="currency"> SR</span></h6>
                    <span class="spacer"></span>
                    <h6>{{allClaimsSummary.totalVatNetAmount}}<span class="currency"> SR</span></h6>
                </div>
            </div>
        </div>
    </app-abstractcard>
    <app-abstractcard [title]="getCardName('Accepted')" [accentColor]="getCardColor('Accepted')" [clickable]="false">
        <label>No. of Claims</label>
        <h6>{{acceptedClaimsSummary.totalClaims}}</h6>
        <div style="display: flex;">
            <div class="box" style="width: 30%;">
                <label>Gross</label>
                <h6>{{acceptedClaimsSummary.gross}}<span class="currency"> SR</span></h6>
            </div>
            <div class="box" style="width: 70%;">
                <div style="display: flex;">
                    <label>Net Amount</label>
                    <span class="spacer"></span>
                    <label>Vat</label>
                </div>
                <div style="display: flex;">
                    <h6>{{acceptedClaimsSummary.totalNetAmount}}<span class="currency"> SR</span></h6>
                    <span class="spacer"></span>
                    <h6>{{acceptedClaimsSummary.totalVatNetAmount}}<span class="currency"> SR</span></h6>
                </div>
            </div>
        </div>
    </app-abstractcard>
    <app-abstractcard [title]="getCardName('NotAccepted')" [accentColor]="getCardColor('NotAccepted')"
        [clickable]="false">
        <label>No. of Claims</label>
        <h6>{{notAcceptedClaimsSummary.totalClaims}}</h6>
        <div style="display: flex;">
            <div class="box" style="width: 30%;">
                <label>Gross</label>
                <h6>{{notAcceptedClaimsSummary.gross}}<span class="currency"> SR</span></h6>
            </div>
            <div class="box" style="width: 70%;">
                <div style="display: flex;">
                    <label>Net Amount</label>
                    <span class="spacer"></span>
                    <label>Vat</label>
                </div>
                <div style="display: flex;">
                    <h6>{{notAcceptedClaimsSummary.totalNetAmount}}<span class="currency"> SR</span></h6>
                    <span class="spacer"></span>
                    <h6>{{notAcceptedClaimsSummary.totalVatNetAmount}}<span class="currency"> SR</span></h6>
                </div>
            </div>
        </div>
    </app-abstractcard>
    <app-abstractcard [title]="getCardName('Batched')" [accentColor]="getCardColor('Batched')" [clickable]="false">
        <label>No. of Claims</label>
        <h6>{{queuedClaimsSummary.totalClaims}}</h6>
        <div style="display: flex;">
            <div class="box" style="width: 30%;">
                <label>Gross</label>
                <h6>{{queuedClaimsSummary.gross}}<span class="currency"> SR</span></h6>
            </div>
            <div class="box" style="width: 70%;">
                <div style="display: flex;">
                    <label>Net Amount</label>
                    <span class="spacer"></span>
                    <label>Vat</label>
                </div>
                <div style="display: flex;">
                    <h6>{{queuedClaimsSummary.totalNetAmount}}<span class="currency"> SR</span></h6>
                    <span class="spacer"></span>
                    <h6>{{queuedClaimsSummary.totalVatNetAmount}}<span class="currency"> SR</span></h6>
                </div>
            </div>
        </div>
    </app-abstractcard>
</div>