<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header has-border">
        <p>VAT Payment Reports</p>
    </div>
    <div class="table-responsive">
        <table class="primary-grid" cellspacing="0" cellpadding="0" border="0">
            <thead>
                <tr>
                    <th>Doc Num</th>
                    <th>Payment Date</th>
                    <th>Payment Amount</th>
                    <th>Amount</th>
                    <th>Loss Month</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8100126593</td>
                    <td>7/15/2019</td>
                    <td>14089.2</td>
                    <td>14089.2</td>
                    <td>Apr-19</td>
                </tr>
                <tr>
                    <td>8100126593</td>
                    <td>7/15/2019</td>
                    <td>14089.2</td>
                    <td>14089.2</td>
                    <td>Apr-19</td>
                </tr>
                <tr>
                    <td>8100126593</td>
                    <td>7/15/2019</td>
                    <td>14089.2</td>
                    <td>14089.2</td>
                    <td>Apr-19</td>
                </tr>
                <tr>
                    <td>8100126593</td>
                    <td>7/15/2019</td>
                    <td>14089.2</td>
                    <td>14089.2</td>
                    <td>Apr-19</td>
                </tr>
                <tr>
                    <td>8100126593</td>
                    <td>7/15/2019</td>
                    <td>14089.2</td>
                    <td>14089.2</td>
                    <td>Apr-19</td>
                </tr>
                <tr>
                    <td>8100126593</td>
                    <td>7/15/2019</td>
                    <td>14089.2</td>
                    <td>14089.2</td>
                    <td>Apr-19</td>
                </tr>
                <tr>
                    <td class="header-cell">Grand Total</td>
                    <td class="header-cell"></td>
                    <td class="header-cell">14089.2</td>
                    <td class="header-cell">14089.2</td>
                    <td class="header-cell"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>