<div class="notification clickable" [routerLink]="['/',providerId,'claims']"
    [queryParams]="{uploadId: data.uploadSummaryID}" (click)="hideCenter()">
    <div class="header">
        <table>
            <thead>
                <th style="text-align: left;">Upload Name: {{data.uploadName}}</th>
                <th><span class="spacer"></span>Upload Date: {{data.uploadDate.toDateString()}}</th>
            </thead>
        </table>
    </div>
    <div class="batchContent" [ngClass]="{'cardInCenter':isUploadHistroyCenter}" *ngIf='!fromRightSideBar'>
        <table style="text-align: start;">
            <tr>
                <th style="padding: 20px 15px; font-size: medium;">
                    Total Number of Claims<br>
                    {{data.noOfAcceptedClaims + data.noOfNotAcceptedClaims + data.noOfNotUploadedClaims}}
                </th>
            </tr>
            <tr>
                <th colspan="2" style="padding: 5px 0px;">
                    <table>
                        <tr style="font-size: smaller;">
                            <td class="paid" style="border-top: 1px solid #00FF1E;">
                                Ready for Submission
                            </td>
                            <td class="partlyPaid" style="border-top: 1px solid #64FFF9;">
                                Rejected By Waseel
                            </td>
                            <td class="rejected" style="border-top: 1px solid #FF7BD6;">
                                Not Uploaded
                            </td>
                            <td class="paid" style="border-top: 1px solid #00FF1E;">
                                Downloadable
                            </td>
                        </tr>
                        <tr style="font-size: medium;">
                            <td>
                                {{data.noOfAcceptedClaims}}
                            </td>
                            <td>
                                {{data.noOfNotAcceptedClaims}}
                            </td>
                            <td>
                                {{data.noOfNotUploadedClaims}}
                            </td>
                            <td>
                                {{data.noOfDownloadableClaims}}
                            </td>
                        </tr>
                    </table>
                </th>
            </tr>
        </table>
    </div>
</div>