<form #addPaymentForm='ngForm' (ngSubmit)='addPaymentForm.valid && submit()'>
    <div class="primary-dialog-header has-border">
        <h5 class="primary-dialog-title">Add Payment</h5>
        <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
    </div>
    <div class="primary-dialog-body pb-0">
        <div class="form-group" [ngClass]="{'has-error' : addPaymentForm.submitted && !payerStatmentModel.amount}">
            <label class="control-label">Amount</label>
            <input type="text" class="form-control" placeholder="Enter amount" [(ngModel)]='payerStatmentModel.amount' #amount='ngModel' name="amount" required />
            <div *ngIf="addPaymentForm.submitted && amount.invalid">
                <span class="error-text">Please select a amount</span>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error' : addPaymentForm.submitted && !payerStatmentModel.paymentDate}">
            <label class="control-label">Payment Date</label>
            <div class="date-picker-mat">
                <input [matDatepicker]="paymentDates" class="form-control" placeholder="Select payment date" [(ngModel)]='payerStatmentModel.paymentDate' #paymentDate='ngModel'
                    name="paymentDate" />
                <mat-datepicker-toggle [for]="paymentDates"></mat-datepicker-toggle>
                <mat-datepicker #paymentDates></mat-datepicker>
            </div>
            <div *ngIf="addPaymentForm.submitted && paymentDate.invalid">
                <span class="error-text">Please select a payment date</span>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error' : addPaymentForm.submitted && !payerStatmentModel.payerId}">
            <label class="control-label">Payer</label>
            <mat-form-field class="form-control custom-select-control">
                <mat-select [(ngModel)]="payerStatmentModel.payerId" #payerId='ngModel' name="payerId" required>
                    <mat-option value="0">All</mat-option>
                    <mat-option *ngFor="let payer of payersList" [value]="payer.id">{{payer.name}}
                        ({{payer.arName}})</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="addPaymentForm.submitted && payerId.invalid">
                <span class="error-text">Please select a Payer</span>
            </div>
        </div>
    </div>
    <div class="primary-dialog-footer has-border">
        <div class="btn-list text-right">
            <button mat-button (click)="closeDialog()">Close</button>
            <button type="submit" mat-flat-button color="primary">Add Payment</button>
        </div>
    </div>
</form>