<app-detailscard title="Providers Configuration" [bottomLeftActionText]=" (isLoading || componentLoading.serviceCode || componentLoading.portalUser)? '' : 'Reset'"
  [bottomRightActionText]=" (isLoading || componentLoading.serviceCode || componentLoading.portalUser)? '' : 'Save'" (bottomLeftAction)=" reset()" (bottomRightAction)="save()">
  <div class="form-group mb-0">
    <mat-form-field appearance="fill" [class.no-spacing]="selectedProvider == null || selectedProvider == ''">
      <mat-label>Select provider</mat-label>
      <input matInput type="text" [matAutocomplete]="auto" [formControl]="providerController" (input)="updateFilter()" [readonly]="isLoading" (keyup.enter)="selectProvider()" />
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete autoActiveFirstOption #auto>
        <mat-option *ngFor="let provider of filteredProviders" [value]="provider.switchAccountId + ' | ' + provider.code + ' | ' + provider.name+' | CCHI ID:'+ provider.cchiId"
          (click)="selectProvider(provider.switchAccountId)">
          {{provider.switchAccountId}} | {{provider.code}} | {{provider.name}} | CCHI ID: {{provider.cchiId}}
        </mat-option>
        <mat-option *ngIf="errors.providersError != null && errors.providersError != '' && !isLoading">
          {{errors.providersError}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <mat-accordion *ngIf="selectedProvider != null && selectedProvider != ''" hideToggle="true" displayMode="flat" multi="true" class="config-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Provider Type Configuration
          <mat-menu #providerTypeConfiguration xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.providerTypeConfigurationSaveError != null">
                  {{errors.providerTypeConfigurationSaveError}}</ng-container>
                <ng-container *ngIf="success.providerTypeConfigurationSaveSuccess != null">
                  {{success.providerTypeConfigurationSaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.providerTypeConfigurationSaveError != null" class="text-danger"
            (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="providerTypeConfiguration">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.providerTypeConfigurationSaveSuccess != null" class="text-success"
            (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="providerTypeConfiguration">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container
        *ngIf="(errors.providerTypeConfigurationError == null || errors.providerTypeConfigurationError == '') && !componentLoading.providerType">
        <div class="provider-config-container">
          <div class="row small-gutter">
            <div class="col-12">
              <div class="form-group">
                <form [formGroup]="providerTypeConfig">
                  <label class="control-label pb-0 text-grey">Select Provider Type</label>
                  <mat-radio-group class="radio-group inline" formControlName="providerTypeController">
                    <mat-radio-button color="primary" value="pharmacy">Pharmacy</mat-radio-button>
                    <mat-radio-button color="primary" value="vision">Optical</mat-radio-button>
                    <mat-radio-button color="primary" value="oral">Dental</mat-radio-button>
                    <mat-radio-button color="primary" value="any">Any</mat-radio-button>
                  </mat-radio-group>
                </form>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="componentLoading.providerType" class="inline-loader">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          MidTables Configuration
          <mat-menu #midtableMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.midtableSaveError != null">{{errors.midtableSaveError}}</ng-container>
                <ng-container *ngIf="success.midtableSaveSuccess != null">{{success.midtableSaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.midtableSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="midtableMenu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.midtableSaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="midtableMenu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="(errors.midtableError == null || errors.midtableError == '') && !componentLoading.midtable">
        <form [formGroup]="addDbConfigForm" (ngSubmit)="addDatabaseConfig()" autocomplete="off">
          <mat-checkbox color="primary" [(ngModel)]="isBothSame" [ngModelOptions]="{standalone: true}">Apply same configuration for both Waseel & NPHIES claim extraction
          </mat-checkbox>
          <hr class="hr my-14">
          <div [hidden]="isBothSame" class="form-group">
            <label class="control-label pb-0 text-primary medium">Waseel Configuration</label>
          </div>
          <div class="form-group">
            <label class="control-label pb-0 text-grey">Select Database Type</label>
            <mat-radio-group class="radio-group inline" formControlName="waseelDbType">
              <mat-radio-button color="primary" value="ORACLE">Oracle 11.2 onwards</mat-radio-button>
              <mat-radio-button color="primary" value="ORACLE_11_2">Oracle between 9.0 & 11.1</mat-radio-button>
              <mat-radio-button color="primary" value="POSTGRESQL">PostgreSql</mat-radio-button>
              <mat-radio-button color="primary" value="MYSQL">MySql</mat-radio-button>
              <mat-radio-button color="primary" value="SQLSERVER">SqlServer 2016 onwards</mat-radio-button>
              <mat-radio-button color="primary" value="SQLSERVERLEGACY">SqlServer Legacy</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="provider-config-container">
            <div class="row small-gutter">
              <div class="col-6">
                <div class="host-wrapper">
                  <div class="form-group mb-0 host">
                    <mat-form-field appearance="fill">
                      <mat-label>Host Name</mat-label>
                      <input matInput placeholder="Enter host name" formControlName="waseelHostName" (change)="validateForm()" autocomplete="" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="form-group mb-0 port">
                    <mat-form-field appearance="fill">
                      <mat-label>Port</mat-label>
                      <input matInput type="number" placeholder="Enter port" formControlName="waseelPort" (change)="validateForm()" autocomplete="" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-0">
                  <mat-form-field appearance="fill">
                    <mat-label>Database Name</mat-label>
                    <input matInput type="text" placeholder="Enter database name" formControlName="waseelDatabaseName" (change)="validateForm()" autocomplete="" />
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-0">
                  <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" placeholder="Enter username" formControlName="waseelDbUserName" (change)="validateForm()" autocomplete="" />
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-0">
                  <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter password" formControlName="waseelDbPassword" (change)="validateForm()" autocomplete="new-password" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div [hidden]="isBothSame">
            <hr class="hr mt-2 mb-14">
            <div class="form-group">
              <label class="control-label pb-0 text-primary medium">NPHIES Configuration</label>
            </div>
            <div class="form-group">
              <label class="control-label pb-0 text-grey">Select Database Type</label>
              <mat-radio-group class="radio-group inline" formControlName="nphiesDbType">
                <mat-radio-button color="primary" value="ORACLE">Oracle 11.2 onwards</mat-radio-button>
                <mat-radio-button color="primary" value="ORACLE_11_2">Oracle between 9.0 & 11.1</mat-radio-button>
                <mat-radio-button color="primary" value="POSTGRESQL">PostgreSql</mat-radio-button>
                <mat-radio-button color="primary" value="MYSQL">MySql</mat-radio-button>
                <mat-radio-button color="primary" value="SQLSERVER">SqlServer 2016 onwards</mat-radio-button>
                <mat-radio-button color="primary" value="SQLSERVERLEGACY">SqlServer Legacy</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="provider-config-container">
              <div class="row small-gutter">
                <div class="col-6">
                  <div class="host-wrapper">
                    <div class="form-group mb-0 host">
                      <mat-form-field appearance="fill">
                        <mat-label>Host Name</mat-label>
                        <input matInput placeholder="Enter host name" formControlName="nphiesHostName" (change)="validateForm()" autocomplete="" type="text" />
                      </mat-form-field>
                    </div>
                    <div class="form-group mb-0 port">
                      <mat-form-field appearance="fill">
                        <mat-label>Port</mat-label>
                        <input matInput type="number" placeholder="Enter port" formControlName="nphiesPort" (change)="validateForm()" autocomplete="" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group mb-0">
                    <mat-form-field appearance="fill">
                      <mat-label>Database Name</mat-label>
                      <input matInput type="text" placeholder="Enter database name" formControlName="nphiesDatabaseName" (change)="validateForm()" autocomplete="" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group mb-0">
                    <mat-form-field appearance="fill">
                      <mat-label>Username</mat-label>
                      <input matInput type="text" placeholder="Enter username" formControlName="nphiesDbUserName" (change)="validateForm()" autocomplete="" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group mb-0">
                    <mat-form-field appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" placeholder="Enter password" formControlName="nphiesDbPassword" (change)="validateForm()" autocomplete="new-password" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-container>
      <p *ngIf="errors.midtableError != null && errors.midtableError != '' && !componentLoading.midtable" class="error-card mb-0">{{errors.midtableError}}</p>
      <div class="inline-loader" *ngIf="componentLoading.midtable">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          NPHIES Polling
          <mat-menu #pollTypeConfigurationMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.pollTypeConfigurationSaveError != null">{{errors.pollTypeConfigurationSaveError}}</ng-container>
                <ng-container *ngIf="success.pollTypeConfigurationSaveSuccess != null">{{success.pollTypeConfigurationSaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.pollTypeConfigurationSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="pollTypeConfigurationMenu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.pollTypeConfigurationSaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="pollTypeConfigurationMenu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="(errors.pollTypeConfigurationError == null || errors.pollTypeConfigurationError == '') && !componentLoading.pollType">
        <div class="form-group">
          <label class="control-label pb-0 text-primary medium">Polling Preference</label>
          <mat-radio-group class="radio-group" [formControl]="pollTypeController">
            <mat-radio-button color="primary" value="ALL">All Responses</mat-radio-button>
            <mat-radio-button color="primary" value="CLAIM">Claim Responses, Claim Communication Requests and Payment Reconciliation</mat-radio-button>
            <mat-radio-button color="primary" value="PRE_AUTH">Preauth Responses and Preauth Communication Requests</mat-radio-button>
            <mat-radio-button color="primary" value="STOP">Stop Polling</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="form-group mb-0" id="poll-period" *ngIf="pollTypeController.value == 'CLAIM' || pollTypeController.value == 'PRE_AUTH'">
          <label class="control-label text-primary medium">Poll Communication Requests for Claims/Preauth submitted within past :</label>
          <div class="row small-gutter">
            <div class="col-auto">
              <mat-form-field appearance="fill" class="no-label">
                <input matInput placeholder="Enter number" type="number" min="1" [formControl]="pollTypePeriodController" />
              </mat-form-field>
            </div>
            <div class="col-auto">
              <mat-form-field appearance="fill" class="no-label">
                <mat-select value="MONTH" [formControl]="pollTypePeriodUnitController">
                  <mat-option value="DAY">Day</mat-option>
                  <mat-option value="MONTH">Month</mat-option>
                  <mat-option value="YEAR">Year</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </ng-container>
      <p *ngIf="errors.pollTypeConfigurationError != null && errors.pollTypeConfigurationError != '' && !componentLoading.pollType" class="error-card mb-0">
        {{errors.pollTypeConfigurationError}}</p>
      <div class="inline-loader" *ngIf="componentLoading.pollType">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Payer Selection & Mapping
          <mat-menu #payerMappingMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.payerMappingSaveError != null">{{errors.payerMappingSaveError}}</ng-container>
                <ng-container *ngIf="success.payerMappingSaveSuccess != null">{{success.payerMappingSaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.payerMappingSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="payerMappingMenu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.payerMappingSaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="payerMappingMenu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="(errors.payerMappingError == null || errors.payerMappingError == '') && !componentLoading.payerMapping">
        <div class="row">
          <div class="col-xxl-3 col-lg-4 col-6" *ngFor="let payer of associatedPayers;let i = index">
            <div class="d-flex align-items-center pb-2">
              <p class="medium text-primary">{{payer.name}}</p>
              <mat-slide-toggle color="primary" [(ngModel)]="newPayerMappingEnable[payer.switchAccountId]" (change)="onPayerMapSetting(payer, $event,i)" class="ml-auto">Enable
              </mat-slide-toggle>
            </div>
            <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Mapped value</mat-label>
                <input matInput placeholder="Mapped value" [disabled]="!newPayerMappingEnable[payer.switchAccountId]" [(ngModel)]="newPayerMappingValue[payer.switchAccountId]"
                  required type="text">
              </mat-form-field>
            </div>
          </div>
        </div>
      </ng-container>
      <p class="error-card mb-0" *ngIf="errors.payerMappingError != null && errors.payerMappingError != '' && !componentLoading.payerMapping">{{errors.payerMappingError}}</p>
      <div class="inline-loader" *ngIf="componentLoading.payerMapping">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>

    <!-- //Nphies Payer Selection & Mapping For Legacy Midtables -->

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nphies Payer Selection & Mapping for Legacy Midtables
          <mat-menu #NphiesMappingMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.NphiesMappingSaveError != null">{{errors.NphiesMappingSaveError}}</ng-container>
                <ng-container *ngIf="success.NphiesPayerMappingSuccess != null">{{success.NphiesPayerMappingSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.NphiesMappingSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="NphiesMappingMenu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.NphiesPayerMappingSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="NphiesMappingMenu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngIf="(errors.NphiespayerMappingError == null || errors.NphiespayerMappingError == '') && !componentLoading.NphiesPayerMapping">
        <div class="row">
          <!-- <div class="col-xxl-4 col-6" *ngFor="let Nphiepayer of addNphiesPayerMappingList;let i = index">
            <p class="pb-2 text-primary medium">{{newNphiesPayerName[Nphiepayer.code]}}<span *ngIf="Nphiepayer.tpaNphiesId !== '-1'"> - {{Nphiepayer.tpaName}}</span> </p>
            <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Mapped value</mat-label>
                <input matInput placeholder="Mapped value" [(ngModel)]="newNphiesPayerMappingValue[Nphiepayer.code]" required type="text">
              </mat-form-field>
            </div>
          </div> -->
          <div class="col-xxl-4 col-6" *ngFor="let payer of associatedNphiePayers;let i = index">
            <p class="pb-2 text-primary medium">{{newNphiesPayerName[payer.combination]}}<span *ngIf="payer.tpaNphiesId !== '-1'"> - {{payer.tpaName}}</span> </p>
            <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Mapped value</mat-label>
                <input matInput placeholder="Mapped value" [(ngModel)]="newNphiesPayerMappingValue[payer.combination]" type="text">
              </mat-form-field>
            </div>
          </div>
        </div>
      </ng-container>
      <p *ngIf="errors.NphiespayerMappingError != null && errors.NphiespayerMappingError != '' && !componentLoading.NphiesPayerMapping" class="error-card mb-0">
        {{errors.NphiespayerMappingError}}</p>
      <div class="inline-loader" *ngIf="componentLoading.NphiesPayerMapping">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Provider Code Mapping & Extraction Date Config
          <mat-menu #providerMappingMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.providerMappingSaveError != null">{{errors.providerMappingSaveError}}</ng-container>
                <ng-container *ngIf="success.providerMappingSaveSuccess != null">{{success.providerMappingSaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.providerMappingSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="providerMappingMenu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.providerMappingSaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="providerMappingMenu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="(errors.providerMappingError == null || errors.providerMappingError == '') && !componentLoading.providerMapping">
        <div class="provider-config-container">
          <div class="row small-gutter">
            <div class="col-6">
              <div class="form-group form-group-static">
                <label class="control-label">Provider</label>
                <p class="form-control-static">{{selectedProviderName}}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group form-group-static">
                <label class="control-label">Provider Code</label>
                <p class="form-control-static">{{selectedProviderCode}}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mb-0">
                <mat-form-field appearance="fill">
                  <mat-label>Mapped value</mat-label>
                  <input matInput [formControl]="providerMappingController" placeholder="Mapped value" type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mb-0">
                <mat-form-field appearance="fill">
                  <mat-label>Restrict Extraction Prior to</mat-label>
                  <input id="restrictExtractionDate" matInput [matDatepicker]="restrictExtractionDatePicker" placeholder="Select Date"
                    [formControl]="restrictExtractionDateController">
                  <mat-datepicker-toggle [for]="restrictExtractionDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #restrictExtractionDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <p *ngIf="errors.providerMappingError != null && errors.providerMappingError != '' && !componentLoading.providerMapping" class="error-card mb-0">
        {{errors.providerMappingError}}</p>
      <div *ngIf="componentLoading.providerMapping" class="inline-loader">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Price List Validation
          <mat-menu #serviceCodeMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.serviceCodeSaveError != null">{{errors.serviceCodeSaveError}}</ng-container>
                <ng-container *ngIf="success.serviceCodeSaveSuccess != null">{{success.serviceCodeSaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.serviceCodeSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="serviceCodeMenu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.serviceCodeSaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="serviceCodeMenu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="(errors.payersError == null || errors.payersError == '') && !componentLoading.serviceCode">
        <table style="width: 100%; margin: 10px">
          <thead>
            <th>Payer</th>
            <th style="text-align: center">Service Code Validation</th>
            <th style="text-align: center">Price Unit</th>
          </thead>
          <tr *ngFor="let payer of associatedPayers" style="width: 100%">
            <td style="widows: 42%">
              <p [ngStyle]="{'color': (payer.hasAssociatedPriceList)? 'black':'gray'}">{{payer.name}}
              </p>
            </td>
            <td>
              <mat-slide-toggle style="z-index: 0; display: block; margin-left: auto; margin-right: auto;
                                        width: 15%" [disabled]="!payer.hasAssociatedPriceList" color="primary" [(ngModel)]="newServiceValidationSettings[payer.switchAccountId]">
              </mat-slide-toggle>
            </td>
            <td style="width: 20%;">
              <mat-checkbox style="z-index: 0; display: block; margin-left: auto; margin-right: auto; width: fit-content"
                [disabled]="!payer.hasAssociatedPriceList || isPriceUnitDisabled(payer.switchAccountId)" color="primary" [(ngModel)]="newPriceUnitSettings[payer.switchAccountId]">
                Restrict
              </mat-checkbox>
            </td>
          </tr>
        </table>

      </ng-container>
      <p *ngIf="errors.payersError != null && errors.payersError != '' && !componentLoading.serviceCode" class="error-card mb-0">{{errors.payersError}}</p>
      <div *ngIf="componentLoading.serviceCode" class="inline-loader">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ICD10 Validation
          <mat-menu #ICD10Menu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.ICD10SaveError != null">{{errors.ICD10SaveError}}</ng-container>
                <ng-container *ngIf="success.ICD10SaveSuccess != null">{{success.ICD10SaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.ICD10SaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="ICD10Menu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.ICD10SaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="ICD10Menu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="(errors.payersError == null || errors.payersError == '') && !componentLoading.ICD10Validation">
        <table style="width: 100%; margin: 10px">
          <thead>
            <th>Payer</th>
            <th style="text-align: center">ICD10 Validation</th>
          </thead>
          <tr *ngFor="let payer of associatedPayers" style="width: 100%">
            <td style="widows: 42%">
              <p>{{payer.name}}
              </p>
            </td>
            <td>
              <mat-slide-toggle style="z-index: 0; display: block; margin-left: auto; margin-right: auto;
                                        width: 15%" color="primary" [(ngModel)]="newICD10ValidationSettings[payer.switchAccountId]">
              </mat-slide-toggle>
            </td>
          </tr>
        </table>

      </ng-container>
      <p *ngIf="errors.payersError != null && errors.payersError != '' && !componentLoading.ICD10Validation" class="error-card mb-0">{{errors.payersError}}</p>
      <div *ngIf="componentLoading.ICD10Validation" class="inline-loader">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Portal User Configration
          <mat-menu #portalUserMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.portalUserSaveError != null">{{errors.portalUserSaveError}}</ng-container>
                <ng-container *ngIf="success.portalUserSaveSuccess != null">{{success.portalUserSaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.portalUserSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="portalUserMenu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.portalUserSaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="portalUserMenu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="(errors.portalUserError == null || errors.portalUserError == '') && !componentLoading.portalUser">
        <div class="provider-config-container">
          <div class="row small-gutter">
            <div class="col-6">
              <div class="form-group mb-0">
                <mat-form-field appearance="fill">
                  <mat-label>Portal Username</mat-label>
                  <input matInput placeholder="Enter username" [formControl]="portalUsernameController">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mb-0">
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput placeholder="Enter passowrd" [formControl]="portalPasswordController">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <p *ngIf="errors.portalUserError != null && errors.portalUserError != '' && !componentLoading.portalUser" class="error-card mb-0">{{errors.portalUserError}}</p>
      <div *ngIf="componentLoading.portalUser" class="inline-loader">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          SFDA Validation
          <mat-menu #sfdaMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.sfdaSaveError != null">{{errors.sfdaSaveError}}</ng-container>
                <ng-container *ngIf="success.sfdaSaveSuccess != null">{{success.sfdaSaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.sfdaSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="sfdaMenu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.sfdaSaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="sfdaMenu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="(errors.payersError == null || errors.payersError == '') && !componentLoading.sfda">
        <table style="width: 100%; margin: 10px">
          <thead>
            <th>Payer</th>
            <th style="text-align: center">SFDA Validation</th>
          </thead>
          <tr *ngFor="let payer of associatedPayers" style="width: 100%">
            <td style="widows: 42%">
              <p [ngStyle]="{'color': (payer.hasAssociatedDrugList)? 'black':'gray'}">{{payer.name}}
              </p>
            </td>
            <td>
              <mat-slide-toggle style="z-index: 0; display: block; margin-left: auto; margin-right: auto;
                                        width: 15%" color="primary" [disabled]="!payer.hasAssociatedDrugList" [(ngModel)]="newSFDAValidationSettings[payer.switchAccountId]">
              </mat-slide-toggle>
            </td>
          </tr>
        </table>

      </ng-container>
      <p *ngIf="errors.payersError != null && errors.payersError != '' && !componentLoading.sfda" class="error-card mb-0">{{errors.payersError}}</p>
      <div *ngIf="componentLoading.sfda" class="inline-loader">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          PBM Configuration
          <mat-menu #pbmSuccessConfigurationMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">                
                <ng-container *ngIf="success.pbmConfigurationSaveSuccess != null">Waseel {{success.pbmConfigurationSaveSuccess}}</ng-container>                
                <br *ngIf="success.pbmConfigurationSaveSuccess != null && success.nphiesPbmConfigurationSaveSuccess != null"/>
                <ng-container *ngIf="success.nphiesPbmConfigurationSaveSuccess != null">Nphies {{success.nphiesPbmConfigurationSaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <mat-menu #pbmErrorConfigurationMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.pbmConfigurationSaveError != null">Waseel - {{errors.pbmConfigurationSaveError}}</ng-container>                
                <br *ngIf="errors.pbmConfigurationSaveError != null && errors.nphiesPbmConfigurationSaveError != null"/>
                <ng-container *ngIf="errors.nphiesPbmConfigurationSaveError != null">Nphies - {{errors.nphiesPbmConfigurationSaveError}}</ng-container>                
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.nphiesPbmConfigurationSaveError != null || errors.pbmConfigurationSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="pbmErrorConfigurationMenu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.nphiesPbmConfigurationSaveSuccess != null || success.pbmConfigurationSaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button [class.ml-2]="errors.nphiesPbmConfigurationSaveError != null || errors.pbmConfigurationSaveError != null"
            [matMenuTriggerFor]="pbmSuccessConfigurationMenu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="((errors.pbmConfigurationError == null || errors.pbmConfigurationError == '') && !componentLoading.pbmConfiguration) && ((errors.nphiesPbmConfigurationError == null || errors.nphiesPbmConfigurationError == '') && !componentLoading.nphiesPbmConfiguration)">
        <div class="provider-config-container">
          <div class="row small-gutter">
            <div class="col-6">
              <div class="form-group form-group-static">                
                <p class="form-control-static">Waseel Claim PBM</p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group pt-2">
                <mat-slide-toggle color="primary" [(ngModel)]="newPBMValidationSettings['101']">Enable</mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="provider-config-container">
          <div class="row small-gutter">
            <div class="col-6">
              <div class="form-group form-group-static">                
                <p class="form-control-static">NPHIES Claim PBM</p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group pt-2">
                <mat-slide-toggle color="primary" [(ngModel)]="newNphiesPBMValidationSettings['101']">Enable</mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="provider-config-container">
          <div class="row small-gutter">
            <div class="col-6">
              <div class="form-group form-group-static">                
                <p class="form-control-static">NPHIES Approval PBM</p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group pt-2">
                <mat-slide-toggle color="primary" [(ngModel)]="newNphiesApprovalPBMValidationSettings['101']">Enable</mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
      </ng-container>          
      <div *ngIf="componentLoading.pbmConfiguration || componentLoading.nphiesPbmConfiguration" class="inline-loader">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>   

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            MRE Configuration
            <mat-menu #mreSuccessConfigurationMenu xPosition="before">
              <ng-template matMenuContent>
                <div class="pt-7 pb-7 pr-14 pl-14">                
                  <ng-container *ngIf="success.mreConfigurationSaveSuccess != null">Waseel {{success.mreConfigurationSaveSuccess}}</ng-container>                
                  <br *ngIf="success.mreConfigurationSaveSuccess != null && success.nphiesMreConfigurationSaveSuccess != null"/>
                  <ng-container *ngIf="success.nphiesMreConfigurationSaveSuccess != null">Nphies {{success.nphiesMreConfigurationSaveSuccess}}</ng-container>
                </div>
              </ng-template>
            </mat-menu>
            <mat-menu #mreErrorConfigurationMenu xPosition="before">
              <ng-template matMenuContent>
                <div class="pt-7 pb-7 pr-14 pl-14">
                  <ng-container *ngIf="errors.mreConfigurationSaveError != null">Waseel - {{errors.mreConfigurationSaveError}}</ng-container>                
                  <br *ngIf="errors.mreConfigurationSaveError != null && errors.nphiesMreConfigurationSaveError != null"/>
                  <ng-container *ngIf="errors.nphiesMreConfigurationSaveError != null">Nphies - {{errors.nphiesMreConfigurationSaveError}}</ng-container>                
                </div>
              </ng-template>
            </mat-menu>
            <button type="button" *ngIf="errors.nphiesMreConfigurationSaveError != null || errors.mreConfigurationSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button
              [matMenuTriggerFor]="mreErrorConfigurationMenu">
              <mat-icon>error</mat-icon>
            </button>
            <button type="button" *ngIf="success.nphiesMreConfigurationSaveSuccess != null || success.mreConfigurationSaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button [class.ml-2]="errors.nphiesMreConfigurationSaveError != null || errors.mreConfigurationSaveError != null"
              [matMenuTriggerFor]="mreSuccessConfigurationMenu">
              <mat-icon>check_circle</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="((errors.mreConfigurationError == null || errors.mreConfigurationError == '') && !componentLoading.mreConfiguration) && ((errors.nphiesMreConfigurationError == null || errors.nphiesMreConfigurationError == '') && !componentLoading.nphiesMreConfiguration)">
          <div class="provider-config-container">
            <div class="row small-gutter">
              <div class="col-6">
                <div class="form-group form-group-static">                
                  <p class="form-control-static">NPHIES Claim MRE</p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group pt-2">
                  <mat-slide-toggle color="primary" [(ngModel)]="newNphiesMREValidationSettings['101']">Enable</mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
          <div class="provider-config-container">
            <div class="row small-gutter">
              <div class="col-6">
                <div class="form-group form-group-static">                
                  <p class="form-control-static">NPHIES Approval MRE</p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group pt-2">
                  <mat-slide-toggle color="primary" [(ngModel)]="newNphiesApprovalMREValidationSettings['101']">Enable</mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
        </ng-container>          
        <div *ngIf="componentLoading.mreConfiguration || componentLoading.nphiesMreConfiguration" class="inline-loader">
          <mat-spinner diameter="48"></mat-spinner>
        </div>
      </mat-expansion-panel>   
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Radiology Report Configuration
                <mat-menu #radiologySuccessConfigurationMenu xPosition="before">
                    <ng-template matMenuContent>
                        <div class="pt-7 pb-7 pr-14 pl-14">
                            <ng-container
                                *ngIf="success.radiologyConfigurationSaveSuccess != null">{{success.radiologyConfigurationSaveSuccess}}</ng-container>
                        </div>
                    </ng-template>
                </mat-menu>
                <mat-menu #radiologyErrorConfigurationMenu xPosition="before">
                    <ng-template matMenuContent>
                        <div class="pt-7 pb-7 pr-14 pl-14">
                            <ng-container
                                *ngIf="errors.radiologyConfigurationSaveError != null">{{errors.radiologyConfigurationSaveError}}</ng-container>
                        </div>
                    </ng-template>
                </mat-menu>
                <button type="button" *ngIf="errors.radiologyConfigurationSaveError != null" class="text-danger"
                    (click)="$event.stopPropagation()" mat-icon-button
                    [matMenuTriggerFor]="radiologyErrorConfigurationMenu">
                    <mat-icon>error</mat-icon>
                </button>
                <button type="button" *ngIf="success.radiologyConfigurationSaveSuccess != null" class="text-success"
                    (click)="$event.stopPropagation()" mat-icon-button
                    [class.ml-2]="errors.radiologyConfigurationSaveError != null"
                    [matMenuTriggerFor]="radiologySuccessConfigurationMenu">
                    <mat-icon>check_circle</mat-icon>
                </button>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container
            *ngIf="((errors.radiologyConfigurationError == null || errors.radiologyConfigurationError == '') && !componentLoading.radiologyConfiguration)">
            <div class="provider-config-container">
                <div class="row small-gutter">
                    <div class="col-6">
                        <div class="form-group form-group-static">
                            <p class="form-control-static">Radiology Report Attachment</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group pt-2">
                            <mat-slide-toggle color="primary"
                                [(ngModel)]="newRadiologyValidationSettings['101']">Enable</mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="componentLoading.radiologyConfiguration" class="inline-loader">
            <mat-spinner diameter="48"></mat-spinner>
        </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                NPHIES Transaction Configuration
                <mat-menu #nphiesTransactionSuccessConfigurationMenu xPosition="before">
                    <ng-template matMenuContent>
                        <div class="pt-7 pb-7 pr-14 pl-14">
                            <ng-container
                                *ngIf="success.nphiesTransactionConfigurationSaveSuccess != null">{{success.nphiesTransactionConfigurationSaveSuccess}}</ng-container>
                        </div>
                    </ng-template>
                </mat-menu>
                <mat-menu #nphiesTransactionErrorConfigurationMenu xPosition="before">
                    <ng-template matMenuContent>
                        <div class="pt-7 pb-7 pr-14 pl-14">
                            <ng-container
                                *ngIf="errors.nphiesTransactionConfigurationSaveError != null">{{errors.nphiesTransactionConfigurationSaveError}}</ng-container>
                        </div>
                    </ng-template>
                </mat-menu>
                <button type="button" *ngIf="errors.nphiesTransactionConfigurationSaveError != null" class="text-danger"
                    (click)="$event.stopPropagation()" mat-icon-button
                    [matMenuTriggerFor]="nphiesTransactionErrorConfigurationMenu">
                    <mat-icon>error</mat-icon>
                </button>
                <button type="button" *ngIf="success.nphiesTransactionConfigurationSaveSuccess != null" class="text-success"
                    (click)="$event.stopPropagation()" mat-icon-button
                    [class.ml-2]="errors.nphiesTransactionConfigurationSaveError != null"
                    [matMenuTriggerFor]="nphiesTransactionSuccessConfigurationMenu">
                    <mat-icon>check_circle</mat-icon>
                </button>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container
            *ngIf="((errors.nphiesTransactionConfigurationError == null || errors.nphiesTransactionConfigurationError == '') && !componentLoading.nphiesTransactionConfiguration)">
            <div class="provider-config-container">
                <div class="row small-gutter">
                    <div class="col-6">
                        <div class="form-group form-group-static">
                            <p class="form-control-static">NPHIES Transactions</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group pt-2">
                            <mat-slide-toggle color="primary"
                                [(ngModel)]="newNphiesTransactionValidationSettings['101']">Enable</mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="componentLoading.nphiesTransactionConfiguration" class="inline-loader">
            <mat-spinner diameter="48"></mat-spinner>
        </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Unit Price Configuration
                <mat-menu #nphiesUnitPriceConfigurationMenu xPosition="before">
                    <ng-template matMenuContent>
                        <div class="pt-7 pb-7 pr-14 pl-14">
                            <ng-container
                                *ngIf="success.nphiesUnitPriceConfigurationSaveSuccess != null">{{success.nphiesUnitPriceConfigurationSaveSuccess}}</ng-container>
                        </div>
                    </ng-template>
                </mat-menu>
                <mat-menu #nphiesUnitPriceConfigurationMenu xPosition="before">
                    <ng-template matMenuContent>
                        <div class="pt-7 pb-7 pr-14 pl-14">
                            <ng-container
                                *ngIf="errors.nphiesUnitPriceConfigurationSaveError != null">{{errors.nphiesUnitPriceConfigurationSaveError}}</ng-container>
                        </div>
                    </ng-template>
                </mat-menu>
                <!--button type="button" *ngIf="errors.nphiesUnitPriceConfigurationSaveError != null" class="text-danger"
                    (click)="$event.stopPropagation()" mat-icon-button
                    [matMenuTriggerFor]="nphiesTransactionErrorConfigurationMenu">
                    <mat-icon>error</mat-icon>
                </button>
                <button type="button" *ngIf="success.nphiesTransactionConfigurationSaveSuccess != null" class="text-success"
                    (click)="$event.stopPropagation()" mat-icon-button
                    [class.ml-2]="errors.nphiesTransactionConfigurationSaveError != null"
                    [matMenuTriggerFor]="nphiesTransactionSuccessConfigurationMenu">
                    <mat-icon>check_circle</mat-icon>
                </button-->
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container
            *ngIf="((errors.nphiesUnitPriceConfigurationError == null || errors.nphiesUnitPriceConfigurationError == '') && !componentLoading.nphiesTransactionConfiguration)">
            <div class="provider-config-container">
                <div class="row small-gutter">
                    <div class="col-6">
                        <div class="form-group form-group-static">
                            <p class="form-control-static">Disable Unit Price</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group pt-2">
                            <mat-slide-toggle color="primary"
                                [(ngModel)]="newNphiesUnitPriceValidationSettings['101']">Enable</mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="componentLoading.nphiesUnitPriceConfiguration" class="inline-loader">
            <mat-spinner diameter="48"></mat-spinner>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Net Amount Accuracy
          <mat-menu #netAmountConfigurationMenu xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container *ngIf="errors.netAmountConfigurationSaveError != null">{{errors.netAmountConfigurationSaveError}}</ng-container>
                <ng-container *ngIf="success.netAmountConfigurationSaveSuccess != null">{{success.netAmountConfigurationSaveSuccess}}</ng-container>
              </div>
            </ng-template>
          </mat-menu>
          <button type="button" *ngIf="errors.netAmountConfigurationSaveError != null" class="text-danger" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="netAmountConfigurationMenu">
            <mat-icon>error</mat-icon>
          </button>
          <button type="button" *ngIf="success.netAmountConfigurationSaveSuccess != null" class="text-success" (click)="$event.stopPropagation()" mat-icon-button
            [matMenuTriggerFor]="netAmountConfigurationMenu">
            <mat-icon>check_circle</mat-icon>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="(errors.netAmountConfigurationError == null || errors.netAmountConfigurationError == '') && !componentLoading.netAmount">
        <div class="provider-config-container">
          <div class="row small-gutter">
            <div class="col-6">
              <div class="form-group form-group-static">
                <label class="control-label">Provider</label>
                <p class="form-control-static">{{selectedProviderName}}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group mb-0">
                <mat-form-field appearance="fill">
                  <mat-label>Accuracy Amount</mat-label>
                  <input matInput [formControl]="netAmountController" placeholder="0.5 SR" type="number" pattern="^(\d*\.)?\d+$">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="componentLoading.netAmount" class="inline-loader">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    </mat-expansion-panel>

    

  </mat-accordion>
</app-detailscard>