<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
        <div class="d-flex align-items-center">
            <div class="actions mr-2 my-n2 ml-n1">
                <button matRipple type="button" routerLink="/review/doctor/uploads" class="action-btn">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <p>Claims</p>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
        <div class="fixed-height">
            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th width="10">
                            <mat-checkbox (change)="toggleAllClaims($event)" [(ngModel)]="allCheckBoxIsChecked"
                                [(indeterminate)]="allCheckBoxIsIndeterminate" class="grid-checkbox" color="primary">
                            </mat-checkbox>
                        </th>
                        <th width="10"></th>
                        <th>Claim Ref. No.</th>
                        <th>Dr. Name</th>
                        <th>Member ID</th>
                        <th>National ID</th>
                        <th>Patient File No.</th>
                        <th>Claim Date</th>
                        <th>Net Amount</th>
                        <th>Net Vat</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of claimSummary; let i = index">
                        <tr class="align-middle" >
                            <td>
                                <mat-checkbox class="grid-checkbox"
                                    [checked]="selectedClaimNumberIds.includes(data.provClaimNo)"
                                    (change)="toggleClaim($event, data.provClaimNo)" color="primary">
                                </mat-checkbox>
                            </td>
                            <td class="actions row-click" (click)="viewSingleClaim(data)">
                                <button type="button" mat-icon-button>
                                    <div
                                        *ngIf="(data.claimReviewStatus != null && data.claimReviewStatus.trim() === '1') else checkIcon">
                                        <mat-icon class="text-grey">check</mat-icon>
                                    </div>
                                    <ng-template #checkIcon>
                                        <mat-icon class="text-grey">schedule</mat-icon>
                                    </ng-template>
                                </button>
                            </td>
                            <td class="text-monospace row-click" (click)="viewSingleClaim(data)">{{ data.provClaimNo }}</td>
                            <td class="text-monospace row-click" (click)="viewSingleClaim(data)">{{ data.physicianName }}</td>
                            <td class="text-monospace row-click" (click)="viewSingleClaim(data)">{{ data.memberId }}</td>
                            <td class="text-monospace row-click" (click)="viewSingleClaim(data)">{{ data.idNumber }}</td>
                            <td class="text-monospace row-click" (click)="viewSingleClaim(data)">{{ data.patientFileNumber }}</td>
                            <td class="text-monospace row-click" (click)="viewSingleClaim(data)">{{ data.claimDate | date : 'dd-MM-yyyy' }}</td>
                            <td class="text-monospace row-click" (click)="viewSingleClaim(data)">{{ data.net }}<span class="currency">SAR</span></td>
                            <td class="text-monospace row-click" (click)="viewSingleClaim(data)">{{ data.netVatAmount }}<span class="currency">SAR</span></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
    <div class="block-footer sticky">
        <div class="left-block">
            <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)"
                [length]="pageControl.totalUploads" [pageSize]="pageControl.pageSize" [showFirstLastButtons]="true"
                [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageIndex]="pageControl.pageNumber">
            </mat-paginator>
        </div>
        <div class="right-block">
            <button type="button" mat-flat-button color="primary">Mark as Done</button>
        </div>
    </div>
</div>