<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
        <div class="d-flex align-items-center">
            <div class="actions mr-2 my-n2 ml-n1">
                <button matRipple type="button" routerLink="/review/doctor/uploads" class="action-btn">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <p>Claims</p>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
        <div class="fixed-height">
            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th width="10">
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </th>
                        <th width="10"></th>
                        <th>Claim Ref. No.</th>
                        <th>Dr. Name</th>
                        <th>Member ID</th>
                        <th>National ID</th>
                        <th>Patient File No.</th>
                        <th>Claim Date</th>
                        <th>Net Amount</th>
                        <th>Net Vat</th>
                        <th>Batch No.</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of claimData">
                        <tr class="align-middle">
                            <td>
                                <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                            </td>
                            <td class="actions">
                                <button type="button" mat-icon-button>
                                    <mat-icon class="text-grey">schedule</mat-icon>
                                </button>
                            </td>
                            <td class="text-monospace">{{ data.provclaimno }}</td>
                            <td class="text-monospace">{{ data.physicianname }}</td>
                            <td class="text-monospace">{{ data.memberid }}</td>
                            <td class="text-monospace">{{ data.idnumber }}</td>
                            <td class="text-monospace">{{ data.claimDetails.patientFileNumber }}</td>
                            <td class="text-monospace">{{ data.visitdate | date : 'dd-MM-yyyy' }}</td>
                            <td class="text-monospace">{{ data.net }}<span class="currency">SAR</span></td>
                            <td class="text-monospace">{{ data.netvatamount }}<span class="currency">SAR</span></td>
                            <td class="text-monospace">Batch Number</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
    <div class="block-footer sticky">
        <div class="left-block custom-paginator">
            <button matRipple type="button" title="First Page" (click)="goToFirstPage()">
                <img src="./assets/ic-page-first.svg" alt="First" />
            </button>
            <button matRipple type="button" title="Previous Page" (click)="goToPrePage()">
                <img src="./assets/ic-page-prev.svg" alt="Previous" />
            </button>
            <p class="page-info">
                {{ pageControl.pageNumber + 1 }}<small>/{{ pageControl.totalPages }}</small>
            </p>
            <button matRipple type="button" title="Next Page" (click)="goToNextPage()">
                <img src="./assets/ic-page-next.svg" alt="Next" />
            </button>
            <button matRipple type="button" title="Last Page" (click)="goToLastPage()">
                <img src="./assets/ic-page-last.svg" alt="Last" />
            </button>
        </div>
        <div class="right-block">
            <button type="button" mat-flat-button color="primary">Mark as Done</button>
        </div>
    </div>
</div>