<mat-grid-list cols="4" rowHeight="165px">
    <mat-grid-tile>
        <app-abstractcard [title]="card0Title" [actionText]="card0ActionText" [accentColor]="card0AccentColor" (action)="card0Action()">
            <table>
                <tr>
                    <th>No. Of Claims:</th>
                    <th>total:</th>
                </tr>
                <tr>
                    <td><span class="dashboardNumbers">{{summary.numOfAcceptedClaims + summary.numOfNotAcceptedClaims }}</span></td>
                    <td><span class="dashboardNumbers">{{summary.totalNetAmountOfUploadedClaims + summary.totalNetVatAmount}}</span><span class="currency"> SR</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-abstractcard [title]="card1Title" [actionText]="card1ActionText" [accentColor]="card1AccentColor" (action)="card1Action()">
            <table>
                <tr>
                    <th>No. Of Claims:</th>
                </tr>
                <tr>
                    <td><span class="dashboardNumbers">{{summary.numOfAcceptedClaims}}</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-abstractcard [title]="card2Title" [actionText]="card2ActionText" [accentColor]="card2AccentColor" (action)="card2Action()">
            <table>
                <tr>
                    <th>No. Of Claims:</th>
                </tr>
                <tr>
                    <td><span class="dashboardNumbers">{{summary.numOfNotAcceptedClaims}}</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-abstractcard [title]="card3Title" [actionText]="card3ActionText" [accentColor]="card3AccentColor" (action)="card3Action()">
            <table>
                <tr>
                    <th>No. Of Claims:</th>
                </tr>
                <tr>
                    <td><span class="dashboardNumbers">{{summary.numOfNotUploadedClaims}}</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </mat-grid-tile>
    <mat-grid-tile class="ditalList" [colspan]="4" [rowspan]="4">
        <app-detailscard [title]="detailCardTitle" [accentColor]="detailAccentColor" style="width: 100%;">
            <mat-accordion *ngFor="let claimData of summary.uploadedClaims">
                <mat-expansion-panel style="margin-bottom: 6px;" *ngIf="detailsNoFilter || claimData.uploadStatus == detailsFilter || claimData.uploadStatus == detailsFilter1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{claimData.uploadStatus}}
                        </mat-panel-title>
                        <mat-panel-description>
                            from line {{claimData.fileRowNumber}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let error of claimData.claimErrors">
                        <p>
                            Error Code: {{error.errorCode}} <br>
                            Error Description: {{error.errorDescription}} <br>
                            field Name: {{error.fieldName}}
                        </p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </app-detailscard>
    </mat-grid-tile>
</mat-grid-list>