<mat-grid-list cols="2" >
    <mat-grid-tile>
        <app-abstractcard [title]="card1Title" [actionText]="card1ActionText" (action)="card1Action()">
            <p>No. Of Claims:<br><span class="dashboardNumbers">{{summary.totalNumberOfUploadedClaims}}</span><br>
            Net Amount:<br><span class="dashboardNumbers">{{summary.totalNetAmountOfUploadedClaims}}</span><br>
            Net Vat Amount:<br><span class="dashboardNumbers">{{summary.totalNetVatAmount}}</span></p>
        </app-abstractcard>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
        <app-detailscard [title]="detailCardTitle">
            <mat-accordion *ngFor="let claimData of summary.uploadedClaims">
                <mat-expansion-panel [expanded]="true" *ngIf="claimData.uploadStatus == detailsFilter">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{claimData.uploadStatus}}
                        </mat-panel-title>
                        <mat-panel-description>
                            from line {{claimData.fileRowNumber}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let error of claimData.claimErrors">
                        <p>
                            Error Code: {{error.errorCode}} <br>
                            Error Description: {{error.errorDescription}} <br>
                            field Name: {{error.fieldName}}
                        </p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </app-detailscard>
    </mat-grid-tile>
</mat-grid-list>