<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
        <p>Uploads</p>
    </div>
    <mat-tab-group (selectedTabChange)="dispatchTabChangeEvent($event)" [dynamicHeight]="true" class="primary-tab no-body-padding">
        <mat-tab [label]="'New'">
            <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
                <div class="fixed-height fixed-height-sm">
                    <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>Upload</th>
                                <th width="196" class="text-center">Total Claims</th>
                                <th width="60"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let upload of (newUploads$|async).uploads">
                                <!-- <tr class="align-middle" (click)="viewUploadClaims(upload)"> -->
                                <tr class="align-middle" (click)="viewUploadClaims(upload)">
                                    <td class="row-click">
                                        {{ upload.name }}
                                        <p class="text-grey">{{upload.date}}</p>
                                    </td>
                                    <td class="text-center row-click">
                                        <h4 class="text-primary">{{upload.totalClaims}}</h4>
                                    </td>
                                    <td class="text-center row-click">
                                        <mat-icon class="text-primary">arrow_forward</mat-icon>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </ng-scrollbar>
            <div class="block-footer sticky">
                <div class="left-block">
                    <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)" [length]="(newUploads$|async).pageControls.totalUploads" [pageSize]="(newUploads$|async).pageControls.pageSize"
                        [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions" [pageIndex]="(newUploads$|async).pageControls.pageNumber">
                    </mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab [label]="'In Progress'">
            <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
                <div class="fixed-height fixed-height-sm">
                    <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>Upload</th>
                                <th width="150" class="text-center">Total Claims</th>
                                <th width="170" class="text-center">Pending Claims</th>
                                <th width="200" class="text-center">Reviewed Claims</th>
                                <th width="60"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let upload of (inProgressUploads$|async).uploads">
                                <tr class="align-middle" (click)="viewUploadClaims(upload)">
                                    <td class="row-click">
                                        {{ upload.name }}
                                        <p class="text-grey">{{upload.date}}</p>
                                    </td>
                                    <td class="text-center row-click">
                                        <h4 class="text-primary">{{upload.totalClaims}}</h4>
                                    </td>
                                    <td class="text-center row-click" *ngIf='isDoctor'>
                                        <h4 class="text-primary">{{upload.pendingClaimsOfDoctor}}</h4>
                                    </td>
                                    <td class="text-center row-click" *ngIf='isCoder'>
                                        <h4 class="text-primary">{{upload.pendingClaimsOfCoder}}</h4>
                                    </td>
                                    <td class="text-center row-click" *ngIf='isDoctor'>
                                        <h4 class="text-primary">{{upload.reviewedClaimsOfDoctor}}</h4>
                                    </td>
                                    <td class="text-center row-click" *ngIf='isCoder'>
                                        <h4 class="text-primary">{{upload.reviewedClaimsOfCoder}}</h4>
                                    </td>
                                    <td class="text-center row-click">
                                        <mat-icon class="text-primary">arrow_forward</mat-icon>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </ng-scrollbar>
            <div class="block-footer sticky">
                <div class="left-block">
                    <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)" [length]="(inProgressUploads$|async).pageControls.totalUploads" [pageSize]="(inProgressUploads$|async).pageControls.pageSize"
                        [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions" [pageIndex]="(inProgressUploads$|async).pageControls.pageNumber">
                    </mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab [label]="'Completed'">
            <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
                <div class="fixed-height fixed-height-sm">
                    <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>Upload</th>
                                <th width="196" class="text-center">Total Claims</th>
                                <th width="60"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let upload of (completedUploads$|async).uploads">
                                <tr class="align-middle" (click)="viewUploadClaims(upload)">
                                    <td class="row-click">
                                        {{ upload.name }}
                                        <p class="text-grey">{{upload.date}}</p>
                                    </td>
                                    <td class="text-center row-click">
                                        <h4 class="text-primary">{{upload.totalClaims}}</h4>
                                    </td>
                                    <td class="text-center row-click">
                                        <mat-icon class="text-primary">arrow_forward</mat-icon>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </ng-scrollbar>
            <div class="block-footer sticky">
                <div class="left-block">
                    <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)" [length]="(completedUploads$|async).pageControls.totalUploads" [pageSize]="(completedUploads$|async).pageControls.pageSize"
                        [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions" [pageIndex]="(completedUploads$|async).pageControls.pageNumber">
                    </mat-paginator>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>