<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Add Month</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body pb-0">
    <div class="form-group">
        <label class="control-label">Month</label>
        <input autocomplete="off" placeholder="Select Month" class="form-control date-picker" bsDatepicker [bsConfig]="datePickerConfig" />
    </div>
</div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="primary">Add Month</button>
    </div>
</div>