<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
        <p>Tawuniya GSS Reports</p>
    </div>
    <div class="block-filter-panel">
        <div class="row small-gutter">
            <div class="col-4">
                <div class="form-group">
                    <label class="control-label">From Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="filterFromDate" [formControl]="fromDate" class="form-control" placeholder="Select from date">
                        <mat-datepicker-toggle [for]="filterFromDate"></mat-datepicker-toggle>
                        <mat-datepicker #filterFromDate startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, filterFromDate,'from')"></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="control-label">To Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="filterToDate" [formControl]="toDate" class="form-control" placeholder="Select to date">
                        <mat-datepicker-toggle [for]="filterToDate"></mat-datepicker-toggle>
                        <mat-datepicker #filterToDate startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, filterToDate,'to')"></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="control-label">&nbsp;</label>
                    <button type="button" mat-flat-button color="primary" (click)="searchQuerySummary()">Search</button>
                </div>
            </div>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
        <div class="fixed-height fixed-height-sm">
            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Ref. No.</th>
                        <th>Loss Month</th>
                        <th class="text-center">No. of Claims</th>
                        <th>Gross</th>
                        <th>Discount</th>
                        <th>Patient Share</th>
                        <th>Net</th>
                        <th>Net Vat</th>
                        <th>Payable</th>
                        <th>Status</th>
                        <th width="10"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of initiateModel">
                        <tr *ngIf="data != null" (click)="openDetailView(data)">
                            <td class="row-click">{{ data?.gssReferenceNumber }}</td>
                            <td class="row-click">{{ data?.lossMonth }}</td>
                            <td class="row-click" class="text-center">{{ data?.totalNumberOfClaim }}</td>
                            <td class="row-click">{{ data?.totalGross?.value }} <span class="currency">{{
                                    data?.totalGross?.currencyCode }}</span></td>
                            <td class="row-click">{{ data?.totalDiscount?.value }} <span class="currency">{{
                                    data?.totalDiscount?.currencyCode }}</span></td>
                            <td class="row-click">{{ data?.totalPatientShare?.value }} <span class="currency">{{
                                    data?.totalPatientShare?.currencyCode }}</span></td>
                            <td class="row-click">{{ data?.totalNet?.value }} <span class="currency">{{
                                    data?.totalNet?.currencyCode }}</span></td>
                            <td class="row-click">{{ data?.totalNetVat?.value }} <span class="currency">{{
                                    data?.totalNetVat?.currencyCode }}</span></td>
                            <td class="row-click">{{ data?.totalNetPayable?.value }} <span class="currency">{{
                                    data?.totalNetPayable?.currencyCode }}</span></td>
                            <td class="row-click">
                                <span class="status-badge size-sm primary" *ngIf="data?.status === 'new'">New</span>
                                <span class="status-badge size-sm success"
                                    *ngIf="data?.status === 'signed'">Signed</span>
                                <span class="status-badge size-sm danger"
                                    *ngIf="data?.status === 'cancelled'">Cancelled</span>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
    <button mat-fab color="primary" class="page-fab" (click)="openGenerateReportDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>