<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">

        <p>Tawuniya GSS Reports </p>

    </div>

    <form #tawuniyaGssForm='ngForm' (ngSubmit)='tawuniyaGssForm.valid'>
        <div class="block-filter-panel">
            <div class="row small-gutter">
                <div class="col-4">
                    <div class="form-group"
                        [ngClass]="{'has-error' : tawuniyaGssForm.submitted && fromDateMonth.invalid}">
                        <label class="control-label">Date From</label>
                        <div class="date-picker">
                            <!-- [matDatepicker]="fromDate"  -->

                            <input autocomplete="off" class="form-control date-picker" bsDatepicker
                                [bsConfig]="datePickerConfig" (onShown)="onOpenCalendar($event)"
                                placeholder="Select from month" [formControl]='fromDateMonth'
                                (bsValueChange)="dateValidation($event)" />

                        </div>
                        <mat-error
                            *ngIf="tawuniyaGssForm.submitted && fromDateMonth.invalid && fromDateMonth.hasError('required')">
                            From Loss Month is required
                        </mat-error>
                        <mat-error
                            *ngIf="tawuniyaGssForm.submitted && fromDateMonth.invalid && fromDateMonth.hasError('overlapped')">
                            Date From can not be after Date To
                        </mat-error>

                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group"
                        [ngClass]="{'has-error' :  tawuniyaGssForm.submitted && toDateMonth.invalid}">
                        <label class="control-label">Date To</label>
                        <div class="date-picker">
                            <!--  -->

                            <input autocomplete="off" class="form-control date-picker" placeholder="Select to month"
                                bsDatepicker [bsConfig]="datePickerConfig" (onShown)="onOpenCalendar($event)"
                                [formControl]='toDateMonth' [minDate]="minDate" />

                        </div>
                        <mat-error *ngIf="toDateMonth.invalid && tawuniyaGssForm.submitted">To Loss Month is required
                        </mat-error>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <button type="submit" mat-flat-button color="primary"
                            (click)="searchQuerySummary()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <div class="pt-5 pb-5" *ngIf="!formIsSubmitted">
        <app-empty-state class="pt-5 pb-5" [message]="'Please select criteria to search GSS report'">
        </app-empty-state>
    </div>

    <div class="pt-5 pb-5" *ngIf="!resultHasValue() && tawuniyaGssForm?.valid && formIsSubmitted">
        <app-empty-state class="pt-5 pb-5" [message]="'No GSS reports found with the requested search criteria!'"
            >
        </app-empty-state>
    </div>

    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true"
        *ngIf="resultHasValue() && tawuniyaGssForm?.valid && formIsSubmitted">
        <div class="fixed-height fixed-height-sm">
            <!-- <div  style="min-height: 500px;max-height: 500px;display: flex; justify-content: center;"
            [ngStyle]="{'align-items': !resultHasValue() && tawuniyaGssForm?.valid && formIsSubmitted ? 'center' : 'unset'}" > -->

            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Ref. No.</th>
                        <th>Loss Month</th>
                        <th class="text-center">No. of Claims</th>
                        <th>Gross</th>
                        <th>Discount</th>
                        <th>Patient Share</th>
                        <th>Net</th>
                        <th>Net Vat</th>
                        <th>Payable</th>
                        <th>Status</th>
                        <th width="10"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of gssReportResponses">
                        <tr *ngIf="data != null">
                            <td class="row-click" (click)="openDetailView(data)">{{ data?.gssReferenceNumber }}</td>
                            <td class="row-click" (click)="openDetailView(data)">{{ data?.lossMonth }}</td>
                            <td class="row-click" (click)="openDetailView(data)" class="text-center">{{
                                data?.totalNumberOfClaim }}</td>
                            <td class="row-click" (click)="openDetailView(data)">{{ data?.totalGross?.value }} <span
                                    class="currency">{{
                                    data?.totalGross?.currencyCode }}</span></td>
                            <td class="row-click" (click)="openDetailView(data)">{{ data?.totalDiscount?.value }} <span
                                    class="currency">{{
                                    data?.totalDiscount?.currencyCode }}</span></td>
                            <td class="row-click" (click)="openDetailView(data)">{{ data?.totalPatientShare?.value }}
                                <span class="currency">{{
                                    data?.totalPatientShare?.currencyCode }}</span>
                            </td>
                            <td class="row-click" (click)="openDetailView(data)">{{ data?.totalNet?.value }} <span
                                    class="currency">{{
                                    data?.totalNet?.currencyCode }}</span></td>
                            <td class="row-click" (click)="openDetailView(data)">{{ data?.totalNetVat?.value }} <span
                                    class="currency">{{
                                    data?.totalNetVat?.currencyCode }}</span></td>
                            <td class="row-click" (click)="openDetailView(data)">{{ data?.totalNetPayable?.value }}
                                <span class="currency">{{
                                    data?.totalNetPayable?.currencyCode }}</span>
                            </td>
                            <td class="row-click" (click)="openDetailView(data)">
                                <span class="status-badge size-sm primary" [ngClass]="{'primary': data?.status?.toLowerCase() === 'new',
                                'success' : data?.status?.toLowerCase() === 'signed',
                                'danger' : data?.status?.toLowerCase() === 'cancelled' }">{{data?.status |
                                    titlecase}}</span>
                            </td>
                            <td class="actions">
                                <button type="button" mat-icon-button class="text-primary" (click)="downloadData(data)">
                                    <mat-icon>file_download</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>

    <div class="block-footer sticky">
        <div class="right-block btn-list">
            <button mat-flat-button class="animate__bounceIn" color="primary" (click)="openGenerateReportDialog()">
                Initiate GSS Report
            </button>
        </div>
    </div>
</div>