.mainCardBody {
    padding: 10px;
    background-color: white;
    color: #3060AA;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px 5px;
}

td {
    width: 50%;
}

td input, td select, td textarea {
    width: 100%;
    background-color: #EFF5FF;
    border: unset;
    padding: 5px;
    color: #3060AA;
    border-radius: 3px;
}

td input:focus, td select:focus, td textarea{
    outline: unset;
}


.fieldError{
    outline: auto !important;
    outline-color: #c44848 !important;
}