<div class="mainCardBody">

    <table>
        <tbody>
            <tr>
                <td><label>Claim Date*</label></td>
                <td><label>Claim Type*</label></td>
            </tr>
            <tr>
                <td>
                    <input [ngClass]="{'fieldError': fieldHasError('claimDate')}" id="claimDateInput" type="date"
                        [formControl]="claimDateController" (change)="updateClaim('claimDate')">
                </td>
                <td>
                    <select [ngClass]="{'fieldError': fieldHasError('claimType')}" [value]="selectedClaimType"
                        (change)="selectedClaimType = $event.target.value; updateClaim('claimType');">
                        <option value="Dental">Dental</option>
                        <option value="Optical">Optical</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><label>Patient File Number*</label></td>
                <td><label>Member DOB*</label></td>
            </tr>
            <tr>
                <td>
                    <input [ngClass]="{'fieldError': fieldHasError('fileNumber')}" id="fileNumberInput" type="text"
                        [formControl]="fielNumberController" (change)="updateClaim('fileNumber')">
                </td>
                <td>
                    <input [ngClass]="{'fieldError': fieldHasError('memberDob')}" id="memberDobInput" type="date"
                        [formControl]="memberDobController" (change)="updateClaim('memberDob')">
                </td>
            </tr>
            <tr>
                <td colspan="2"><label>Chief Complaint Symptoms</label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea [ngClass]="{'fieldError': fieldHasError('mainSymptoms')}"
                        [formControl]="mainSymptomsController" (change)="updateClaim('mainSymptoms')"></textarea>
                </td>
            </tr>

        </tbody>
    </table>

    <hr />

    <table>
        <tbody>
            <tr>
                <td><label>Duration of Illness</label></td>
                <td><label>Unit of Duration</label></td>

            </tr>
            <tr>
                <td><label><input [ngClass]="{'fieldError': fieldHasError('illnessDuration')}" id="illnessDurationInput"
                            type="number" [formControl]="illnessDurationController"
                            (change)="updateClaim('illnessDuration')"></label></td>
                <td [ngClass]="{'fieldError': fieldHasError('illnessDurationUnit')}">
                    <mat-button-toggle-group unitIllness (change)="updateClaimUnit('illnessDurationUnit',$event)">
                        <mat-button-toggle value="Day" checked="true">
                            Day
                        </mat-button-toggle>
                        <mat-button-toggle value="Week">
                            Week
                        </mat-button-toggle>
                        <mat-button-toggle value="Month">
                            Month
                        </mat-button-toggle>
                        <mat-button-toggle value="Year">
                            Year
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </td>
            </tr>
            <tr>
                <td><label>Age</label></td>
                <td><label>Unit of Age</label></td>
            </tr>
            <tr>
                <td><label><input [ngClass]="{'fieldError': fieldHasError('age')}" id="ageInput" type="number"
                            [formControl]="ageController" (change)="updateClaim('age')"></label></td>
                <td [ngClass]="{'fieldError': fieldHasError('ageUnit')}">
                    <mat-button-toggle-group (change)="updateClaimUnit('ageUnit',$event)">
                        <mat-button-toggle value="Day">
                            Day
                        </mat-button-toggle>
                        <mat-button-toggle value="Week">
                            Week
                        </mat-button-toggle>
                        <mat-button-toggle value="Month">
                            Month
                        </mat-button-toggle>
                        <mat-button-toggle value="Year" checked="true">
                            Year
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </td>
            </tr>
        </tbody>
    </table>
</div>