.blackBackground{
    position: fixed;
    top: 68px;
    left: 0px;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #00000080;
    z-index: 3;
    transition: opacity 500ms ease-in;
    opacity: 0;
    visibility: hidden;
}

.blackBackground.show{
    opacity: 1;
    visibility: visible;
    
}

.notificationCenter{
    position: fixed;
    display: flex;
    height: 100%;
    width: 25%;
    top: 68px;
    right: -25%;
    transition: right 500ms ease-in;
    background: #3B629E;
    z-index: 4;
}

.notificationCenter.show{
    right: 0%;
}

.notificationCenter *{
    width: 100%;
}