<div class="blackBackground {{status}}" (click)="this.commen.showNotificationCenterChange.next(false)"></div>
<div class="notificationCenter {{status}}">
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
    <app-notification-card></app-notification-card>
    <div style="height: 50px;"></div>
</div>
