.cardBody {
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 5px;
}

.cardBody>header {
    background-color: white;
}

.cardBody>main {
    background-color: white;
    padding-left: 15px;
    transition: height ease 500ms;
}

.cardBody>header>h4 {
    padding: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.item {
    color: #3060AA;
    background-color: #F2F3FE;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 15px 10px 0px;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    font-weight: 500;
}

mat-icon {
    margin-right: 10px;
    font-size: large;
}

.error {
    background-color: #FCDCE3;
    color: #DA1717;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
}