<div class="cardBody">
    <header>
        <h4>By {{data.rejectionBy}}</h4>
        <hr>
    </header>

    <main>
        <section style="display: flex;">
            <div>
                <h5>Rejected {{unit}}</h5>
                <h6>{{rejectionByPayerTotalClaims || data.total}} <span style="font-size: medium; font-weight: 300;">{{unit}}</span></h6>
                <div class="error" *ngIf="error != null && !error.startsWith('Payer')">Could not get data from the server.</div>
                <div class="error" *ngIf="error != null && error.startsWith('Payer')">{{error}}</div>
            </div>
            <span class="spacer"></span>
            <div style="width: 240px;">
                <canvas *ngIf="!loading" baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType" [options]="options" [colors]="colors">
                </canvas>
                <mat-spinner diameter="80" *ngIf="loading" style="margin: 15px auto;"></mat-spinner>
            </div>
        </section>
        <section>
            <div *ngFor="let item of data.topFive; let i = index" class="item">
                <mat-icon [style.color]="colors[0].backgroundColor[i]" style="grid-column: 1 / 2;">fiber_manual_record
                </mat-icon>
                <div style="grid-column: 2 / 3;">{{getDepartmentName(item.label)}}</div> 
                <div style="grid-column: 3 / 4;">{{item.total}} <span
                        style="font-size: small; font-weight: 300;">{{unit}}</span></div>
            </div>
        </section>
    </main>
</div>