<div class="primary-card">
    <div class="primary-card-title">By {{data.rejectionBy}}</div>
    <div class="primary-card-content">
        <div class="row no-gutters align-items-center mb-2">
            <div class="col-5 pr-2">
                <h4 class="pb-1">Rejected {{unit}}</h4>
                <h6>{{rejectionByPayerTotalClaims || data.total}} {{unit}}</h6>
            </div>
            <div class="col-7">
                <canvas *ngIf="!loading" baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="options" [colors]="colors">
                </canvas>
                <mat-spinner diameter="48" *ngIf="loading" class="my-2 mx-auto"></mat-spinner>
            </div>
        </div>
        <div class="error-text pb-2" *ngIf="error != null && !error.startsWith('Payer')">Could not get data from the server.</div>
        <div class="error-text pb-2" *ngIf="error != null && error.startsWith('Payer')">{{error}}</div>
        <ul class="item-list">
            <li *ngFor="let item of data.topFive; let i = index">
                <div class="status-dot size-lg" [style.background-color]="colors[0].backgroundColor[i]"></div>
                <div>{{getDepartmentName(item.label)}}</div>
                <div class="ml-auto pl-2 text-right">{{item.total}} <small>{{unit}}</small></div>
            </li>
        </ul>
    </div>
</div>