<div class="primary-dialog-header has-border">
  <h5 class="primary-dialog-title">Add Communication</h5>
  <div class="dialog-toggel-button">
    <input type="checkbox" id="toggle" [(ngModel)]="isToggled" (change)="toggle()" />
    <span class="label">re-adjudication</span>
  </div>  
  <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<form [formGroup]="FormCommunication" (ngSubmit)="add()">
  <div class="primary-dialog-body p-0">
    <div class="table-responsive add-communication-table">
      <table cellspacing="0" cellpadding="0" border="0" class="primary-grid claim-view-table">
        <thead *ngIf="data.communicationRequestId">
          <tr>
            <th>Communication Request ID: {{data.communicationRequestId}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>


              <div class="row small-gutter align-items-center mb-2">
                <div class="col-auto">
                  <div class="file-upload-wrapper inline">
                    <div class="content">
                      <button mat-stroked-button color="primary" type="button">
                        <span *ngIf="selectedFile">{{selectedFile.attachmentName}}</span>
                        <span *ngIf="!selectedFile">Choose File</span>
                      </button>
                    </div>
                    <input type="file" accept="application/pdf,image/png,image/jpeg" class="file-upload-control" multiple (change)="selectFile($event)" (click)="$event.target.value=null"/>
                  </div>
                </div>
                <div class="col-auto">or</div>
                <div class="col">
                  <div class="form-group mb-0" [ngClass]="{'has-error' : isSubmitted && FormCommunication.get('payloadValue').hasError('required')}">
                    <input type="text" class="form-control" placeholder="Enter comment here..." formControlName="payloadValue" />
                    <div *ngIf="isSubmitted && FormCommunication.get('payloadValue').hasError('required')">
                      <span class="error-text">Please enter a comment</span>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="invalidFileMessage" class="error-text pt-2">{{invalidFileMessage}}</div>


              <div class="row small-gutter align-items-center">
                <div class="col">
                  <mat-form-field class="form-control custom-select-control">
                    <mat-select formControlName="claimItemId" placeholder="Select Item" panelClass="nphies-items">
                      <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search Item" formControlName="claimItemIdFilter" showToggleAllCheckbox="true" noEntriesFoundLabel="No item found"
                          name='searchedItem'>
                        </ngx-mat-select-search>
                      </mat-option>
                      <ng-container>
                        <!-- <mat-option value="">Select Care Team</mat-option> -->
                        <mat-option *ngFor="let item of filteredItem  | async" [value]="item">
                          <span>[ Item - {{item.sequence}} ] {{item.typeName}}  ({{item.status}})<span class="d-none">&nbsp;&nbsp;|&nbsp;&nbsp;</span><br />{{item.itemCode}}
                            ({{item.itemDescription}})<span class="d-none">&nbsp;&nbsp;|&nbsp;&nbsp;</span></span>
                          <span class="text-primary non-standard-code" *ngIf="item.nonStandardCode || item.nonStandardDesc">{{item.nonStandardCode}} <ng-container
                              *ngIf="item.nonStandardDesc">({{item.nonStandardDesc}})</ng-container></span>
                        </mat-option>
                      </ng-container>

                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-auto">
                  <button mat-flat-button color="primary" type="submit">Add</button>
                </div>
              </div>

            </td>
          </tr>
          <ng-container *ngFor="let pay of payLoads; let i = index">
            <tr *ngIf="pay.payloadValue">
              <td>
                {{pay.payloadValue}}
                <div class="pt-2 nphies-items" *ngIf="pay.claimItemId">
                  <span>[ <span class="medium">Item</span> {{pay.claimItemId.sequence}} ] - {{pay.claimItemId.typeName}}<br />{{pay.claimItemId.itemCode}}
                    ({{pay.claimItemId.itemDescription}})</span>
                  <span class="text-primary non-standard-code" *ngIf="pay.claimItemId.nonStandardCode || pay.claimItemId.nonStandardDesc">{{pay.claimItemId.nonStandardCode}}
                    <ng-container *ngIf="pay.claimItemId.nonStandardDesc">
                      ({{pay.claimItemId.nonStandardDesc}})</ng-container>
                  </span>
                </div>
              </td>
            </tr>

            <tr *ngIf="pay.payloadAttachment && pay.attachmentType && getFilename(pay.attachmentType) === 'image'">
              <td>
                <ul class="inline-attachments no-space">
                  <li>
                    <button type="button">
                      <img src="./assets/file-types/ic-jpg.svg" alt="JPG" />
                      <span>{{pay.attachmentName}}</span>
                    </button>
                    <button type="button" title="Close" class="close" (click)="removePayload(i)">
                      <mat-icon class="size-16">close</mat-icon>
                    </button>
                  </li>
                </ul>
                <div class="pt-2 nphies-items" *ngIf="pay.claimItemId">
                  <span>[ <span class="medium">Item</span> {{pay.claimItemId.sequence}} ] - {{pay.claimItemId.typeName}}<br />{{pay.claimItemId.itemCode}}
                    ({{pay.claimItemId.itemDescription}})</span>
                  <span class="text-primary non-standard-code" *ngIf="pay.claimItemId.nonStandardCode || pay.claimItemId.nonStandardDesc">{{pay.claimItemId.nonStandardCode}}
                    <ng-container *ngIf="pay.claimItemId.nonStandardDesc">
                      ({{pay.claimItemId.nonStandardDesc}})</ng-container>
                  </span>
                </div>
              </td>
            </tr>

            <tr *ngIf="pay.payloadAttachment && pay.attachmentType && getFilename(pay.attachmentType) === 'pdf'">
              <td>
                <ul class="inline-attachments no-space">
                  <li>
                    <button type="button">
                      <img src="./assets/file-types/ic-pdf.svg" alt="PDF" />
                      <span>{{pay.attachmentName}}</span>
                    </button>
                    <button type="button" title="Close" class="close" (click)="removePayload(i)">
                      <mat-icon class="size-16">close</mat-icon>
                    </button>
                  </li>
                </ul>
                <div class="pt-2 nphies-items" *ngIf="pay.claimItemId">
                  <span>[ <span class="medium">Item</span> {{pay.claimItemId.sequence}} ] - {{pay.claimItemId.typeName}}<br />{{pay.claimItemId.itemCode}}
                    ({{pay.claimItemId.itemDescription}})</span>
                  <span class="text-primary non-standard-code" *ngIf="pay.claimItemId.nonStandardCode || pay.claimItemId.nonStandardDesc">{{pay.claimItemId.nonStandardCode}}
                    <ng-container *ngIf="pay.claimItemId.nonStandardDesc">
                      ({{pay.claimItemId.nonStandardDesc}})</ng-container>
                  </span>
                </div>
              </td>
            </tr>
          </ng-container>


        </tbody>
      </table>
    </div>
  </div>
  <div class="primary-dialog-footer has-border">
    <div *ngIf="emptyPayloadError" class="text-left text-danger">
      {{emptyPayloadError}}
    </div>
    <div class="btn-list text-right">
      <button mat-button type="button" (click)="closeDialog()">Close</button>
      <button mat-flat-button type="button" color="primary" (click)="onSubmit()">Add Communication</button>
    </div>
  </div>
</form>
