<div class="dispense-response-dialog">
    <div class="primary-dialog-header has-border color_font_header_dialog">
        <h5 class="primary-dialog-title">Prescription Dispense Response</h5>
        <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
    </div>

    <div *ngIf="DispenseQueryResult.items && DispenseQueryResult.items.length > 0">
        <!-- Track if any item has suggested drugs -->
        <ng-container *ngIf="hasSuggestedDrugs(DispenseQueryResult.items); else noSuggestedDrugs">
            <div class="dispense-response-body pb-0">
                <table class="dispense-response-table">
                    <ng-container *ngFor="let item of DispenseQueryResult.items; let i = index">
                        <!-- Check if the item has suggestedDrugs -->
                        <ng-container *ngIf="item.suggestedDrugs && item.suggestedDrugs.length > 0">
                            <thead>
                                <tr class="dispense-response-item-header">
                                    <th width="10"></th>
                                    <th>Item Code</th>
                                    <th>Item Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="dispense-response-item-body">
                                    <td class="text-primary text-center row-click" width="10"
                                        (click)="currentOpenItem = (i == currentOpenItem) ? -1 : i">
                                        <mat-icon *ngIf="currentOpenItem != i" class="size-21">add_circle_outline</mat-icon>
                                        <mat-icon *ngIf="currentOpenItem == i" class="size-21">remove_circle_outline</mat-icon>
                                    </td>
                                    <td class="row-click" (click)="currentOpenItem = (i == currentOpenItem) ? -1 : i">
                                        {{item.itemCode}}
                                    </td>
                                    <td class="row-click" (click)="currentOpenItem = (i == currentOpenItem) ? -1 : i">
                                        {{item.itemDescription}}
                                    </td>
                                </tr>
                                <tr *ngIf="currentOpenItem == i">
                                    <td colspan="3">
                                        <div class="box mb-2">
                                            <h5 class="align-self-center medium pb-2">Suggested Drugs</h5>
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="primary-grid claim-view-table">
                                                        <thead>
                                                            <tr>
                                                                <th>Item Code</th>
                                                                <th>Item Description</th>
                                                                <th>Non Standard Code</th>
                                                                <th>Non Standard Description</th>
                                                                <th>Unit Price</th>
                                                                <th>Total Price</th>
                                                                <th>Patient Share</th>
                                                                <th>Max Patient Share</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container *ngFor="let suggestedDrug of item.suggestedDrugs; let j = index">
                                                                <tr>
                                                                    <td>{{suggestedDrug.itemCode}}</td>
                                                                    <td>{{suggestedDrug.itemDescription}}</td>
                                                                    <td>{{suggestedDrug.nonStandardCode}}</td>
                                                                    <td>{{suggestedDrug.display}}</td>
                                                                    <td>{{suggestedDrug.unitPrice}}</td>
                                                                    <td>{{suggestedDrug.totalPrice}}</td>
                                                                    <td>{{suggestedDrug.patientShare}}</td>
                                                                    <td>{{suggestedDrug.maxPatientShare}}</td>
                                                                </tr>
                                                            </ng-container>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </ng-container>
                </table>
            </div>
        </ng-container>

        <ng-template #noSuggestedDrugs>
            <div class="no-suggested-drugs-message">
                <h5>No suggested drugs available to dispense.</h5>
            </div>
        </ng-template>
        
    </div>

    <div class="text-right p-14">
        <button mat-button type="button" color="primary" (click)="closeDialog()">Close</button>
    </div>
</div>
