.loadingBG {
    background-color: #00000050;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.loadingSpinner {
    left: 35%;
    height: fit-content;
    width: 30%;
    position: absolute;
    z-index: 11;
    top: 35%;
    border-radius: 25px;
}

mat-icon {
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

.loadingSpinner mat-spinner {
    margin: 13% auto;
}

.header {
    width: 100%;
    padding: 5px;
    color: #3060AA;
    display: flex;
}

.header button {
    color: #707070;
    width: unset;
    height: 20px;
    line-height: unset;
}

.header mat-icon {
    font-size: medium;
    font-weight: 200;
}

.header p {
    font-size: medium;
    margin: 3px 15px;
}

.header.sub {
    background-color: #EFF5FF;
    border-bottom: 1px solid #c4c4c4;
}

.content {
    color: #3060AA;
    padding: 0px 20px;
    overflow-y: auto;
    max-height: 80%;
    padding-bottom: 42px;
}

.content td.error {
    color: #770a0a;
}

.content table {
    width: 100%;
}

.commentBox {
    padding: 10px;
    width: 100%;
    border: none;
    height: 100%;
    visibility: hidden;
}

.commentBox.error {
    visibility: visible;
    background: #f5d4d4;
    color: #770a0a;
}

.amountBox {
    margin: 12px;
    padding: 10px;
    background-color: #EFF5FF;
    height: 100%;
}

.amountBox div {
    border: 2px solid #3060AA;
    padding: 20px;
    border-radius: 10px;
}

.services {
    padding: 10px;
    background-color: #EFF5FF;
}

.services table {
    width: 100%;
    font-size: small;
    text-align: center;
    border-spacing: 5px;
    border-collapse: separate;
}

.services th {
    font-weight: 400;
    color: white;
    background-color: #3161AA;
    border-radius: 5px;
    padding: 10px 5px;
}

.services td {
    color: #707070;
    background-color: white;
    border-radius: 5px;
    padding: 10px 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: #EFF5FF;
    border-top: 1px solid #c4c4c4;
}

.icd10search {
    background-color: #D4E4FF;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #3161AA;
    font-size: 10px;
}

.gInfo {
    display: flex;
    margin: 20px 0px;
}

.gInfo table {
    background-color: #D4E4FF;
}

.gInfo table th, .gInfo table td {
    padding: 5px;
    height: 32px;
    width: 25%;
}

.attachments {
    background-color: white;
    height: 95px;
    padding: 5px;
    display: flex;
    overflow-x: auto;
    /* overflow: visible; */
}

.servicesWarning{
    background-color: #fadfbd !important;
    color: #f59517 !important;
}

.attachment {
    background-color: #EFF5FF;
    min-width: 250px;
    margin-right: 10px;
    padding-top: 7.5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    overflow: visible;
}

.thumbnail {
    display: inline-block;
    overflow: visible;
    z-index: 5;
}

.thumbnailImage {
    transition: transform .2s;
    z-index: 5;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
.mat-radio-button {
    margin-top: 10px;
    vertical-align: middle;
    color: #3060AA;
    background-color: #EFF5FF;
  }

  .mat-menu-content {
      padding: 10px !important;
  }
  .block {
    display: block;
    margin-left: 16px;
    margin-right: 16px;
 }

 .claimDialog ::ng-deep.mat-menu-panel {
    width: 400px !important;
    max-width: 400px !important;
  }

/* .thumbnail:hover .thumbnailImage {
    width: unset !important;
    height: unset !important;
    max-width: 120px;
    max-height: 120px;
    transform-origin: bottom left;
    transform: scale(2);
    z-index: 5;
}
.thumbnail:hover+.attachmentInfo{
    z-index: -1;
} */
.attachmentInfo{
    display: flex;
    z-index: 1;
}
/* .thumbnailImage:hover {
    
} */