<mat-card *ngIf="loading" class="loadingSpinner">
    <mat-spinner *ngIf="loadingResponse == null" diameter="40"></mat-spinner>
    <mat-icon *ngIf="loadingResponse != null && isAccepted()" [style.color]="commen.getCardAccentColor('Accepted')">
        check_circle</mat-icon>
    <mat-icon *ngIf="loadingResponse != null && !isAccepted()" [style.color]="commen.getCardAccentColor('NotAccepted')">
        cancel</mat-icon>
    <p *ngIf="loadingResponse != null">{{loadingResponse}}</p>
    <mat-card-actions *ngIf="loadingResponse != null" style="text-align: end;">
        <button mat-button (click)="onDoneSaving()">OK</button>
    </mat-card-actions>
</mat-card>
<div *ngIf="loading" class="loadingBG"></div>
<div class="header">
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>clear</mat-icon>
    </button>
    <p>{{data.claim.casetype}}</p>
    <span class="spacer"></span>
    <p>Claim Date: {{data.claim.visitdate}}</p>
</div>
<div class="header sub">
    <p>Doctor Name: {{data.claim.physicianname}}</p>
    <span class="spacer"></span>
    <p *ngIf="data.claim.payerclaimrefno != null && data.claim.payerclaimrefno != ''">Payer Claim R-No:
        {{data.claim.payerclaimrefno}}
    </p>
</div>
<div class="content">
    <div class="gInfo">
        <table style="width: 82%; margin-right: 3%;">
            <tr>
                <th>
                    Patient Name
                </th>
                <td matTooltip="{{getPatientFullName()}}">
                    {{getPatientName()}}
                </td>
                <th class="{{eligibilityClasses}}">
                    Eligibility Ref No
                </th>
                <td class="{{eligibilityClasses}}">
                    <label *ngIf="!isEditMode">{{data.claim.eligibilitynumber}}</label>
                    <input type="text" *ngIf="isEditMode" value="{{data.claim.eligibilitynumber}}"
                        [formControl]="eligibilitynumber" maxlength="20">
                </td>
            </tr>
            <tr>

                <th class="{{memberidClasses}}">
                    Member ID
                </th>
                <td class="{{memberidClasses}}">
                    <label *ngIf="!isEditMode">{{data.claim.memberid}}</label>
                    <input type="text" *ngIf="isEditMode" value="{{data.claim.memberid}}" [formControl]="memberid"
                        maxlength="30">
                </td>
                <th>
                    Porvider Claim Number
                </th>
                <td>
                    {{data.claim.provclaimno}}
                </td>
            </tr>
            <tr>

                <th class="{{approvalClasses}}">
                    Approval No
                </th>

                <td class="{{approvalClasses}}">
                    <label *ngIf="!isEditMode">{{data.claim.approvalnumber}}</label>
                    <input type="text" *ngIf="isEditMode" value="{{data.claim.approvalnumber}}"
                        [formControl]="approvalnumber" maxlength="20">
                </td>

                <th>
                    Patient File No.
                </th>
                <td>
                    {{data.claim.patientfilenumber}}
                </td>
            </tr>









            <tr>

                <th>
                    Policy No
                </th>
                <td>
                    <label *ngIf="!isEditMode">{{data.claim.policynumber}}</label>
                    <input type="text" *ngIf="isEditMode" value="{{data.claim.policynumber}}"
                        [formControl]="policynumber" maxlength="30">
                </td>

                <th>
                    National ID
                </th>
                <td>
                    <label *ngIf="!isEditMode">{{data.claim.nationalId}}</label>
                    <input type="text" *ngIf="isEditMode" value="{{data.claim.nationalId}}" [formControl]="nationalId"
                        maxlength="30">
                </td>
            </tr>
            <tr>
                <th class="{{approvalClasses}}" colspan="4">
                    Chief Complaint Symptoms
                </th>
                <th class="{{genderClasses}}">
                    Gender
                </th>
                <td class="{{genderClasses}}">
                    <label *ngIf="!isEditMode">{{genderToText(data.claim.gender)}}</label>
                    <select *ngIf="isEditMode" [value]="data.claim.gender" [formControl]="gender">
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label *ngIf="!isEditMode">{{data.claim.chiefcomplaintsymptoms}}</label>
                    <textarea *ngIf="isEditMode" value="{{data.claim.chiefcomplaintsymptoms}}"
                        [formControl]="chiefComplaintSymptoms" style="width: 100%;"></textarea>
                </td>
            </tr>
        </table>
        <table style="width: 15%;">
            <tr>
                <th>
                    Net Amount
                </th>
            </tr>
            <tr>
                <td>
                    <label for="">{{data.claim.net}} {{data.claim.unitofnet}}</label>
                </td>
            </tr>
            <tr>
                <th>
                    Vat Amount
                </th>
            </tr>
            <tr>
                <td>
                    <label for="">{{data.claim.netvatamount}} {{data.claim.unitofnetvatamount}}</label>
                </td>
            </tr>
        </table>
    </div>
    <textarea class="commentBox {{commentBoxClasses}}" disabled>{{commentBoxText}}</textarea>
    <div class="services">
        <p>Diagnosis</p>
        <mat-form-field class="icd10search" *ngIf="isEditMode" style="width: 100%;">
            <input type="text" placeholder="Select diagnosis" aria-label="ICD10" matInput [formControl]="searchDiag"
                [matAutocomplete]="auto" (keyup)="searchICDCodes()">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" (click)="addICDDignosis(option)">
                    {{option.diagnosisCode}} | {{option.diagnosisDescription}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <table>
            <thead>
                <th *ngIf="isEditMode" colspan="2">Code</th>
                <th *ngIf="!isEditMode">Code</th>
                <th>Description</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let diag of data.claim.diagnosis">
                    <tr *ngIf="!diagnosisList.includes(diag) || diag.diagnosisId == null">
                        <span *ngIf="isEditMode">
                            <button (click)="deleteDiagnosis(diag)" mat-icon-button matTooltip="Remove">
                                <mat-icon aria-hidden="false" aria-label="Remove" style="color: red; font-size: 25px">
                                    remove_circle</mat-icon>
                            </button></span>
                        <td>{{diag.diagnosisCode}}</td>
                        <td>{{diag.diagnosisDescription}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="services">
        <p>Services</p>
        <table>
            <thead>
                <th>Service Code</th>
                <th>Gross Amount</th>
                <th>Department</th>
                <th>
                    <div style="width: 100%; display: flex;">
                        <div>Patient Share</div>
                        <div style="margin-left: auto;">Vat</div>
                    </div>
                </th>
                <th>
                    <div style="width: 100%; display: flex;">
                        <div>Net Amount</div>
                        <div style="margin-left: auto;">Vat</div>
                    </div>
                </th>
                <th>Date</th>
                <th>Invoice No.</th>
            </thead>
            <tbody>
                <tr *ngFor="let service of data.claim.services">
                    <td>{{service.servicecode}}</td>
                    <td>{{service.gross}}</td>
                    <td>{{service.invoicedepartment}}</td>
                    <td>
                        <div style="width: 100%; display: flex;">
                            <div>{{service.patientshare}} {{service.unitofpatientshare}}</div>
                            <div style="margin-left: auto;">{{service.patientsharevatamount}}
                                {{service.unitofpatientsharevatamount}}</div>
                        </div>
                    </td>
                    <td>
                        <div style="width: 100%; display: flex;">
                            <div>{{service.net}} {{service.unitofnet}}</div>
                            <div style="margin-left: auto;">{{service.netvatamount}} {{service.unitofnetvatamount}}
                            </div>
                        </div>
                    </td>
                    <td>{{service.servicedate}}</td>
                    <td>{{service.invoicenumber}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="header footer">
    <p *ngIf="data.claim.batchid != null">Batch ID: {{data.claim.batchid}}</p>
    <span class="spacer"></span>
    <button mat-button cdkFocusInitial *ngIf="isEditable()" (click)="toggleEditMode()">{{editButtonLabel}}</button>
    <button mat-raised-button *ngIf="isEditMode" (click)="save()" color="primary" style="color: white;">Save</button>
</div>
<div mat-dialog-content>

</div>
<div mat-dialog-actions align="end">
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button> -->
</div>