<div class="notification clickable">
    <div class="header">
        <table>
            <thead>
                <th>Batch ID: {{notification.reference}}</th>
                <th><span class="spacer"></span>Date: {{date}}</th>
            </thead>
        </table>
    </div>
    <div *ngIf="notification.type == 0" class="batchContent">
        <table>
            <th>
                <p>Total</p>
                <p class="totalPaied"><mat-icon>arrow_upward</mat-icon>65640</p>
                <p class="totalUnpaied"><mat-icon>arrow_downward</mat-icon>1021</p>
            </th>
            <th>
                <p>No. of Claims<br><span style="font-size: 16px;">54564</span></p>
                <table cellspacing="5px" style="border-collapse: separate;">
                    <tr style="font-size: smaller;">
                        <td class="paied" style="border-top: 1px solid #00FF1E;">
                            Paied
                        </td>
                        <td class="partlyPaied" style="border-top: 1px solid #64FFF9;">
                            Partly Paied
                        </td>
                        <td class="rejected" style="border-top: 1px solid #FF7BD6;">
                            Rejected
                        </td>
                    </tr>
                    <tr style="font-size: medium;">
                        <td>
                            54523
                        </td>
                        <td>
                            10535
                        </td>
                        <td>
                            1021
                        </td>
                    </tr>
                </table>
            </th>
        </table>
    </div>
</div>
