<div class="row">
    <div class="col-4">
        <div class="form-group">
            <div class="control-label">Beneficiary Name</div>
            <p class="form-control-static">{{eligibilityResponse.banificiaryName}}</p>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <div class="control-label">Service Date</div>
            <p class="form-control-static">{{eligibilityResponse.serviceDate | date :'dd/MM/yyyy'}}</p>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <div class="control-label">Transaction Date</div>
            <p class="form-control-static">{{eligibilityResponse.transactionDate | date :'dd/MM/yyyy hh:mm:ss'}}</p>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <div class="control-label">Eligibility Purpose</div>
            <p class="form-control-static" *ngFor="let Purpose of eligibilityResponse.eligibilityPurpose">{{Purpose}}
            </p>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <div class="control-label">Eligibility Status</div>
            <p class="form-control-static">{{eligibilityResponse.eligibilityStatus=="true"?"Eligible":"Ineligible"}}</p>

            <div >
                <p *ngIf="eligibilityResponse.error.reasonCode != null" class="form-control-static">{{getReasonError()}}</p>
                <p *ngIf="eligibilityResponse.error.massage != null" class="form-control-static">{{eligibilityResponse.error.massage}}</p>
            </div>
        </div>
    </div>
</div>

<h5 class="form-title">
    Benefit Category - Medical Coverage
</h5>
<div class="table-responsive">
    <table class="primary-grid" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Code</th>
                <th>Value</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>copay</td>
                <td>10-SAR</td>
                <td>Copayment per service</td>
            </tr>
            <tr>
                <td>lifetime</td>
                <td>Lifetime</td>
                <td>Benefit Term</td>
            </tr>
            <tr>
                <td>lifetime</td>
                <td></td>
                <td>Benefit Unit</td>
            </tr>
            <tr>
                <td>in</td>
                <td>in network</td>
                <td>Benefit Network</td>
            </tr>
            <tr>
                <td></td>
                <td>Insurance Group E</td>
                <td>Benefit Name</td>
            </tr>
        </tbody>
    </table>
</div>

<h5 class="form-title">
    Benefit Category - Diagnostic X-ray
</h5>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ex deleniti mollitia alias sequi soluta explicabo nulla
amet quidem. Cumque voluptatem, maxime eos tenetur
saepe temporibus dolores explicabo nesciunt exercitationem. Necessitatibus, illum minus dolorem voluptatem enim numquam
hic cupiditate odit aliquid labore quisquam
temporibus unde natus error laboriosam aspernatur reiciendis.

<h5 class="form-title">
    Benefit Category - Consultation
</h5>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ex deleniti mollitia alias sequi soluta explicabo nulla
amet quidem. Cumque voluptatem, maxime eos tenetur
saepe temporibus dolores explicabo nesciunt exercitationem. Necessitatibus, illum minus dolorem voluptatem enim numquam
hic cupiditate odit aliquid labore quisquam
temporibus unde natus error laboriosam aspernatur reiciendis.

<h5 class="form-title">
    Benefit Category - Surgical
</h5>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ex deleniti mollitia alias sequi soluta explicabo nulla
amet quidem. Cumque voluptatem, maxime eos tenetur
saepe temporibus dolores explicabo nesciunt exercitationem. Necessitatibus, illum minus dolorem voluptatem enim numquam
hic cupiditate odit aliquid labore quisquam
temporibus unde natus error laboriosam aspernatur reiciendis.

<h5 class="form-title">
    Benefit Category - Medical Care
</h5>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ex deleniti mollitia alias sequi soluta explicabo nulla
amet quidem. Cumque voluptatem, maxime eos tenetur
saepe temporibus dolores explicabo nesciunt exercitationem. Necessitatibus, illum minus dolorem voluptatem enim numquam
hic cupiditate odit aliquid labore quisquam
temporibus unde natus error laboriosam aspernatur reiciendis.