.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.attachment {
    flex: 0 1 270px;
    margin: 5px;
    background-color: #F8F8F8;
    height: 95px;
    padding: 5px;
    display: flex;
}

.thumbnail {
    display: grid;
    overflow: visible;
    place-items: center;
}

.attachmentInfo{
    display: flex;
    z-index: 1;
}