<div *ngIf="errorMessage != null  && !isLoadaing" class="p-3 bg-white">
    <p class="error-card mb-0">{{errorMessage}}</p>
</div>

<ng-container *ngIf="errorMessage == null && !isLoadaing">
    <div class="block-header">
        <p class="align-self-center pr-2">Uploads</p>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
        <div class="fixed-height">
            <table class="primary-grid contextful sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th class="text-all-claim light-bg-all-claim">
                            <div class="column-header-action">
                                <span>Upload Name</span>
                            </div>
                        </th>
                        <th class="text-all-claim light-bg-all-claim">
                            <div class="column-header-action">
                                <span>Upload Date</span>
                            </div>
                        </th>
                        <th class="text-all-claim light-bg-all-claim">
                            <div class="column-header-action">
                                <span>Number Of Claims</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let upload of uploads">
                        <td (click)="openUpload(upload.uploadId)" class="row-click">
                            <span class="text-monospace">{{upload.uploadName}}</span>
                        </td>
                        <td (click)="openUpload(upload.uploadId)" class="row-click">
                            <span class="text-monospace">{{upload.uploadDate | date : 'yyyy/MM/dd hh:mm:ss'}}</span>
                        </td>
                        <td (click)="openUpload(upload.uploadId)" class="row-click">
                            <span class="text-monospace">{{upload.totalClaims}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
    <div class="block-footer sticky-bottom">
        <div class="left-block">
            <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)" [length]="length"
                [pageSize]="pageSize" [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex">
            </mat-paginator>
        </div>
    </div>
</ng-container>