<div class="animate__animated animate__faster animate__fadeIn">
    <div *ngIf="errorMessage != null  && !isLoading" class="p-3 bg-white">
        <p class="error-card mb-0">{{errorMessage}}</p>
    </div>

    <div class="uploads-body scroll-block" *ngIf="errorMessage == null" scrollable (scrollPosition)="scrollHandler($event)">
        <div class="row small-gutter">
            <div class="col-6 pb-3" *ngFor="let upload of uploads">
                <app-upload-card [data]="upload" (click)="upload.uploadName.endsWith('[DELETED]')? null:openUpload(upload.uploadId)">
                </app-upload-card>
            </div>
        </div>
        <p class="info-block" *ngIf="isLoading && length != MAX">Loading more data...</p>
        <p class="info-block" *ngIf="!isLoading && errorMessage == null && uploads.length != 0 && uploads.length >= length">
            There is no more data</p>
        <app-empty-state *ngIf="!isLoading && errorMessage == null && uploads.length == 0"></app-empty-state>
    </div>
</div>