<app-language-switcher class="login-language-switch animate__animated animate__faster animate__fadeIn" [languageList]="languageList" [activeLanguageLabel]="activeLanguageLabel">
</app-language-switcher>
<div class="login-outer">
    <div class="login-inner">
        <div class="login-card animate__animated animate__faster animate__fadeIn">
            <img src="assets/waseel_logo_Dark_Blue.png" class="brand" alt="Waseel">
            <div class="form-group mb-0">
                <mat-form-field appearance="outline">
                    <mat-label i19n="@@username">Username</mat-label>
                    <input matInput autofocus i18n-placeholder="@@username" placeholder="Enter username here..." [formControl]="username" (keyup.enter)="login()">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-group mb-0">
                <mat-form-field appearance="outline">
                    <mat-label i18n="@@password">Password</mat-label>
                    <input type="password" matInput i18n-placeholder="@@password" placeholder="Enter password here..." [formControl]="password" (keyup.enter)="login()">
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>
            <p *ngIf="errors != null" class="error-block">{{errors}}</p>
            <button class="submit-btn" mat-flat-button color="primary" (click)="login()" i18n="@@signin" [disabled]="isLoading">Sign In</button>
            <div class="loader-block" *ngIf="isLoading">
                <mat-spinner [diameter]="48"></mat-spinner>
            </div>
        </div>
    </div>
</div>