<div class="form-group" *ngIf="pageMode != 'VIEW'" [class.has-error]="fieldHasError('diagnosis')">
    <label class="control-label">Add Diagnosis</label>
    <input type="text" class="form-control" placeholder="Search diagnosis code here..." [formControl]="diagnosisController" [matAutocomplete]="auto" (keyup)="searchICDCodes()"
        [readonly]="diagnosisList.length >= 14">
    <p class="control-hint" *ngIf="diagnosisList.length >= 14">You've reached maximum number of allowed diagnosis 14/14</p>
    <p class="error-text control-error" *ngIf="fieldHasError('diagnosis') && diagnosisList.length == 0">There must be at least one diagnosis.</p>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of icedOptions" (click)="addICDDiagnosis(option)">
            {{option.diagnosisCode}} | {{option.diagnosisDescription}}
        </mat-option>
    </mat-autocomplete>
</div>
<hr *ngIf="diagnosisList.length>0" class="hr">

<div class="table-responsive" *ngIf="pageMode === 'VIEW'">
    <table cellspacing="0" cellpadding="0" border="0" class="primary-grid">
        <ng-container *ngIf="diagnosisList.length>0">
        <thead class="header-primary">
            <tr>
                <th>Diagnosis Code</th>
                <th>Diagnosis Description</th>
            </tr>
        </thead>
        </ng-container>
        <tbody>
            <ng-container *ngIf="diagnosisList.length>0">
            <tr *ngFor="let diagnosis of diagnosisList">
                <td>{{diagnosis.diagnosisCode}}</td>
                <td>
                    <div class="d-flex">
                        {{diagnosis.diagnosisDescription}}
                        <button class="text-danger delete-btn ml-auto" *ngIf="!diagnosisController.disabled" (click)="removeDiagnosis(diagnosis)" matTooltip="Remove">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </ng-container>
            <ng-container *ngIf='diagnosisList.length === 0'>
                <tr>
                    <td colspan="2">
                        <app-empty-state></app-empty-state>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>