<div class="form-group" *ngIf="pageMode != 'VIEW'">
    <label class="control-label">Add Diagnosis</label>
    <input type="text" class="form-control" placeholder="Search diagnosis code here..." [formControl]="diagnosisController" [matAutocomplete]="auto" (keyup)="searchICDCodes()"
        [readonly]="diagnosisList.length >= 14">
    <p class="control-hint" *ngIf="diagnosisList.length >= 14">You've reached maximum number of allowed diagnosis 14/14</p>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of icedOptions" (click)="addICDDiagnosis(option)">
            {{option.diagnosisCode}} | {{option.diagnosisDescription}}
        </mat-option>
    </mat-autocomplete>
</div>
<hr *ngIf="diagnosisList.length>0" class="hr">

<div class="table-responsive" *ngIf="diagnosisList.length>0">
    <table cellspacing="0" cellpadding="0" border="0" class="primary-grid">
        <thead class="header-primary">
            <tr>
                <th>Diagnosis Code</th>
                <th>Diagnosis Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let diagnosis of diagnosisList">
                <td>{{diagnosis.diagnosisCode}}</td>
                <td>
                    <div class="d-flex">
                        {{diagnosis.diagnosisDescription}}
                        <div class="ml-auto d-flex">
                            <button class="text-danger delete-btn" *ngIf="diagnosisHasError(diagnosis.diagnosisId)"  [matTooltip]="getDiagnosisError(diagnosis.diagnosisId)">
                                <mat-icon>error</mat-icon>
                            </button>
                            <button class="text-danger delete-btn" *ngIf="!diagnosisController.disabled" (click)="removeDiagnosis(diagnosis)" matTooltip="Remove">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-empty-state message="No diagnosis data found!" *ngIf='diagnosisList.length === 0'></app-empty-state>