<div *ngIf="isAddItemVisible" class="popup">
    <div class="primary-dialog-header has-border">
        <h5 class="primary-dialog-title">Add Item</h5>
        <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
    </div>
    <div class="primary-dialog-body pb-0">
         <hr class="hr mb-3">
        <div class="row small-gutter">
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Prescribed Medication</label>
                    <mat-form-field class="form-control custom-select-control">        
                        <mat-select formControlName="type" (selectionChange)="typeChange()" [(ngModel)]="selectedOption">
                            <mat-option value="">Select Type</mat-option>
                       <mat-option *ngFor="let type of prescribedCode"  [value]="type">  {{ type.name }}</mat-option>
                           </mat-select>
                    </mat-form-field>
                  </div>
              </div>
              
              <div class="col-4 col-lg-3">
                <div class="form-group">
                  <label class="control-label">{{ selectedOption === 'Scientific Code' ? 'Scientific Code' : 'GTIN Code' }}</label>
                  <mat-form-field class="form-control custom-select-control">
                    <mat-select value="">
                      <ng-container *ngIf="selectedOption === 'Scientific Code'; else gtincode">
                        <mat-option *ngFor="let type of filteredPescribedMedicationItem  | async" [value]="type">
                            <span>{{type.descriptionCode}} ( {{type.tradeName}} )</span><br/>
                          <span class="text-primary non-standard-code" >{{type.gtinNumber}} </span>
                          </mat-option>
                          </ng-container>
                      <ng-template #gtincode>
                        <mat-select panelClass="custom-dropdown" formControlName="item" [disabled]="IsItemLoading" #itemSelect placeholder="Select Code-Description">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search Item" formControlName="itemFilter" noEntriesFoundLabel="No items found" name='searchedItem'></ngx-mat-select-search>
                            </mat-option>
                            <cdk-virtual-scroll-viewport itemSize="10" minBufferPx="{{itemList.length}}" maxBufferPx="{{itemList.length * 10}}" class="viewport">  
                              <mat-option *cdkVirtualFor="let item of filteredItem | async" [value]="item" >
                                  {{item.code}} - {{item.description}}
                              </mat-option>
                          </cdk-virtual-scroll-viewport>
                        </mat-select>
                      </ng-template>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
    
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Non Standard Code</label>
                    <input class="form-control" placeholder="Enter non standard code">
                </div>
            </div>
    
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Non Standard Description</label>
                    <input class="form-control" placeholder="Enter non standard description">
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="form-group">
                  <label class="control-label">Absence of Scientific Code<span *ngIf="selectedOption === 'GTIN Code'" class="asterisk">*</span></label>
                  <mat-form-field class="form-control custom-select-control">
                    <mat-select [(ngModel)]="selectedAbsenceOption" name="absenceOption" required>
                      <mat-option value="">Select</mat-option>
                      <mat-option value="Unresponsive">Unresponsive</mat-option>
                      <mat-option value="Adverse Effect">Adverse Effect</mat-option>
                      <mat-option value="Irreplaceable">Irreplaceable</mat-option>
                      <mat-option value="Allergy">Allergy</mat-option>
                      <mat-option value="Others">Others</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              
              
    
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Body Site</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select value="">
                            <mat-option value="">Select Body Site</mat-option>
                            <mat-option>Option 1</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
    
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Sub Site</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select value="">
                            <mat-option value="">Select Sub Site</mat-option>
                            <mat-option>Option 1</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
    
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Authored On</label>
                    <div class="date-picker">
                        <input [owlDateTime]="authoredOn" class="form-control" placeholder="Select authored on">
                        <mat-datepicker-toggle [owlDateTimeTrigger]="authoredOn"></mat-datepicker-toggle>
                        <owl-date-time #authoredOn></owl-date-time>
                    </div>
                </div>
            </div>
    
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Supporting Info</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select placeholder="Select Supporting Info">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search Item" showToggleAllCheckbox="true" noEntriesFoundLabel="No supporting info found">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="">Select supporting info</mat-option>
                            <mat-option value="Option 1">
                                item sequence - item categoryName - item code
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Diagnosis</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select placeholder="Select Care Team">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search Item" showToggleAllCheckbox="true" noEntriesFoundLabel="No diagnosis found">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="">Select diagnosis</mat-option>
                            <mat-option value="Option 1">
                                item diagnosisCode - item diagnosisDescription
                            </mat-option>
    
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Care Teams<span class="asterisk">*</span></label>
    
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select placeholder="Select Care Team">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Search Item" showToggleAllCheckbox="true" noEntriesFoundLabel="No care team found">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="">Select Care Team</mat-option>
                            <mat-option value="Option 1">
                                item practitionerName - item practitionerRole - item careTeamRole - item speciality
                            </mat-option>
    
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Is Package?</label>
                    <mat-radio-group class="radio-group inline" formControlName="isPackage">
                      <mat-radio-button color="primary" [value]="true">Yes</mat-radio-button>
                      <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                   </div>
            </div>
    
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Strength</label>
                    <input class="form-control" placeholder="Enter Strength">
                </div>
            </div>
    
            <div class="col-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Quantity <span class="asterisk">*</span></label>
                    <div class="row extra-small-gutter">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Enter quantity" appTwoDigitDecimaNumber>
                        </div>
                        <div class="col-auto">
                            <mat-form-field class="form-control custom-select-control">
                                <mat-select value="">
                                    <mat-option value="">Code<span>*</span></mat-option>
                                    <mat-option value="{unit}">Unit</mat-option>
                                    <mat-option value="{package}">Package</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="primary-dialog-footer has-border">
        <div class="btn-list text-right">
            <button type="button" mat-button (click)="closeDialog()">Close</button>
            <button type="submit" mat-flat-button color="primary">
                <span *ngIf="!data.item" id="addItemButton">Add</span>
                <span *ngIf="data.item" id="saveItemButton">Save</span>
            </button>
        </div>
    </div>
</div>
<div *ngIf="isAddItemDetailsVisible" class="popup">
    <div class="primary-dialog-header has-border">
        <h5 class="primary-dialog-title">Add Item Details</h5>
        <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
    </div>
    <div class="primary-dialog-body pb-0">
      <hr class="hr mb-3">
    <div class="row small-gutter">
    <div class="col-4 col-lg-3">
        <div class="form-group">
          <label class="control-label">Prescribed Medication</label>
          <mat-form-field class="form-control custom-select-control">
            <mat-select [(ngModel)]="selectedOption">
              <mat-option value="">Select Prescribed Medication</mat-option>
              <mat-option value="GTIN Code">GTIN Code</mat-option>
              <mat-option value="Scientific Code">Scientific Code</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <div class="col-4 col-lg-3">
        <div class="form-group">
          <label class="control-label">{{ selectedOption === 'Scientific Code' ? 'Scientific Code' : 'GTIN Code' }}</label>
          <mat-form-field class="form-control custom-select-control">
            <mat-select value="">
              <ng-container *ngIf="selectedOption === 'GTIN Code'; else scientificCode">
                <mat-option value="">Select GTIN Code</mat-option>
                <mat-option value="Option 1">Option 1</mat-option>
                <!-- Add more GTIN Code options as needed -->
              </ng-container>
              <ng-template #scientificCode>
                <mat-option value="">Select Scientific Code</mat-option>
                <mat-option value="Option 1">Option 1</mat-option>
                <!-- Add more Scientific Code options as needed -->
              </ng-template>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    <div class="col-4 col-lg-3">
        <div class="form-group">
            <label class="control-label">Non Standard Code</label>
            <input class="form-control" placeholder="Enter non standard code">
        </div>
    </div>

    <div class="col-4 col-lg-3">
        <div class="form-group">
            <label class="control-label">Non Standard Description</label>
            <input class="form-control" placeholder="Enter non standard description">
        </div>
    </div>

    <div class="col-4 col-lg-3">
        <div class="form-group">
            <label class="control-label">Absence of Scientific Code</label>
            <mat-form-field class="form-control custom-select-control">
                <mat-select value="">
                    <mat-option value="">Select</mat-option>
                    <mat-option value="Unresponsive">Unresponsive</mat-option>
                    <mat-option value="Adverse Effect">Adverse-effect</mat-option>
                    <mat-option value="Adverse Effect">Irreplacable</mat-option>
                    <mat-option value="Allergy">Allergy</mat-option>
                    <mat-option value="Others">Others</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="col-4 col-lg-3">
        <div class="form-group">
            <label class="control-label">Strength</label>
            <input class="form-control" placeholder="Enter Strength">
        </div>
    </div>

    <div class="col-4 col-lg-3">
        <div class="form-group">
            <label class="control-label">Quantity <span class="asterisk">*</span></label>
            <div class="row extra-small-gutter">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Enter quantity" appTwoDigitDecimaNumber>
                </div>
                <div class="col-auto">
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select value="">
                            <mat-option value="">Code<span>*</span></mat-option>
                            <mat-option value="{unit}">Unit</mat-option>
                            <mat-option value="{package}">Package</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="primary-dialog-footer has-border">
        <div class="btn-list text-right">
            <button type="button" mat-button (click)="closeDialog()">Close</button>
            <button type="submit" mat-flat-button color="primary">
                <span>Add</span>
            </button>
        </div>
    </div>
    </div>
</div>

<div *ngIf="isAddDosageTimingVisible" class="popup">
   
    <!-- Add Dosage Details Section -->
    <div class="primary-dialog-header has-border">
      <h5 class="primary-dialog-title">Add Dosage Details</h5>
      <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
    </div>
    <div class="primary-dialog-body pb-0">
      <div class="row small-gutter">
        <div class="col-4">
          <div class="form-group">
            <label class="control-label">Note</label>
            <input class="form-control" placeholder="Enter Note">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label class="control-label">Patient Instruction</label>
            <input class="form-control" placeholder="Enter Patient Instruction">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label class="control-label">Route</label>
            <mat-form-field class="form-control custom-select-control">
              <mat-select placeholder="Select route" [formControl]="routes">
                <mat-option *ngFor="let route of routes" [value]="route">{{ route.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        
        <div class="col-4">
            <div class="form-group">
              <label class="control-label">Dose Type</label>
              <mat-form-field class="form-control custom-select-control">
                <mat-select placeholder="Select dose type" [(ngModel)]="selectedDoseType">
                  <mat-option value="Dose_Quantity_Range">Dose Quantity Range</mat-option>
                  <mat-option value="Dose_Quantity">Dose Quantity</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          
          <div class="col-4" *ngIf="selectedDoseType === 'Dose_Quantity_Range'">
            <div class="form-group">
              <label class="control-label">Dose Quantity Range</label>
              <div class="row small-gutter">
                <div class="col-6">
                  <input class="form-control" placeholder="Min">
                </div>
                <div class="col-6">
                  <input class="form-control" placeholder="Max">
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-4" *ngIf="selectedDoseType === 'Dose_Quantity'">
            <div class="form-group">
              <label class="control-label">Dose Quantity</label>
              <input class="form-control" placeholder="Enter the dose quantity">
            </div>
          </div>
           <div class="col-4">
          <div class="form-group">
            <label class="control-label">Dose Unit</label>
            <mat-form-field class="form-control custom-select-control">
              <mat-select placeholder="Select dose unit">
                <mat-option value="">Select dose unit</mat-option>
                <mat-option value="mg">mg</mat-option>
                <mat-option value="mcg">mcg</mat-option>
                <mat-option value="g">g</mat-option>
                <mat-option value="ml">ml</mat-option>
                <mat-option value="mol">mol</mat-option>
                <mat-option value="pg">pg</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>
      
        <div class="col-4">
            <div class="form-group">
              <label class="control-label">Rate Type</label>
              <mat-form-field class="form-control custom-select-control">
                <mat-select [(ngModel)]="selectedRateType" placeholder="Select rate type">
                  <mat-option value="Rate Ratio">Rate Ratio</mat-option>
                  <mat-option value="Rate Range">Rate Range</mat-option>
                  <mat-option value="Rate Quantity">Rate Quantity</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          
          <div class="col-4" *ngIf="selectedRateType === 'Rate Ratio'">
            <div class="form-group">
              <label class="control-label">Rate Ratio</label>
              <div class="row small-gutter">
                <div class="col-6">
                  <input class="form-control" placeholder="Numerator">
                </div>
                <div class="col-6">
                  <input class="form-control" placeholder="Denominator">
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-4" *ngIf="selectedRateType === 'Rate Range'">
            <div class="form-group">
              <label class="control-label">Rate Range</label>
              <div class="row small-gutter">
                <div class="col-6">
                  <input class="form-control" placeholder="Min">
                </div>
                <div class="col-6">
                  <input class="form-control" placeholder="Max">
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-4" *ngIf="selectedRateType === 'Rate Quantity'">
            <div class="form-group">
              <label class="control-label">Rate Quantity</label>
              <input class="form-control" placeholder="Enter the rate quantity">
            </div>
          </div>
          
        <div class="col-4">
          <div class="form-group">
            <label class="control-label">Rate Unit</label>
            <mat-form-field class="form-control custom-select-control">
              <mat-select placeholder="Select rate unit">
                <mat-option value="">Select rate unit</mat-option>
                <mat-option value="seconds">seconds</mat-option>
                <mat-option value="minutes">minutes</mat-option>
                <mat-option value="hours">hours</mat-option>
                <mat-option value="days">days</mat-option>
                <mat-option value="weeks">week</mat-option>
                <mat-option value="months">month</mat-option>
                <mat-option value="months">a- unit of time (UCUM)</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Dosage Timing Section -->
    <div class="primary-dialog-header has-border">
      <h5 class="primary-dialog-title">Add Dosage Timing</h5>
      <button type="button" (click)="showAddDosageTimingPopup()" class="dialog-close" matRipple></button>
    </div>
    <div class="primary-dialog-body pb-0">
      <div class="row small-gutter">
        <div class="col-4">
          <div class="form-group">
            <label class="control-label">Start Date</label>
                 <div class="date-picker">
                    <input [owlDateTime]="dosageTimingStartDate" class="form-control" placeholder="Select date">
                    <mat-datepicker-toggle [owlDateTimeTrigger]="dosageTimingStartDate"></mat-datepicker-toggle>
                    <owl-date-time #dosageTimingStartDate></owl-date-time>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label class="control-label">End Date</label>
                <div class="date-picker">
                    <input [owlDateTime]="dosageTimingEndDate" class="form-control" placeholder="Select date">
                    <mat-datepicker-toggle [owlDateTimeTrigger]="dosageTimingEndDate"></mat-datepicker-toggle>
                    <owl-date-time #dosageTimingEndDate></owl-date-time>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Refill</label>
                <input class="form-control" placeholder="Enter Refill">
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Duration</label>
                <div class="row extra-small-gutter">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Enter duration">
                    </div>
                    <div class="col-auto">
                        <mat-form-field class="form-control custom-select-control">
                            <mat-select value="UCUM">
                                <mat-option value="seconds">s</mat-option>
                                <mat-option value="minutes">min</mat-option>
                                <mat-option value="hours">h</mat-option>
                                <mat-option value="days">d</mat-option>
                                <mat-option value="weeks">wk</mat-option>
                                <mat-option value="months">mo</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Frequency</label>
                <div class="row extra-small-gutter">
                    <div class="col-auto">
                        <mat-form-field class="form-control custom-select-control">
                            <mat-select value="BID">
                                <mat-option value="BID">BID</mat-option>
                                <mat-option value="TID">TID</mat-option>
                                <mat-option value="QID">QID</mat-option>
                                <mat-option value="AM">AM</mat-option>
                                <mat-option value="PM">PM</mat-option>
                                <mat-option value="QD">QD</mat-option>
                                <mat-option value="QOD">QOD</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Enter frequency">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Period</label>
                <div class="row extra-small-gutter">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Enter period">
                    </div>
                    <div class="col-auto">
                        <mat-form-field class="form-control custom-select-control">
                            <mat-select value="days">
                              <mat-option value="seconds">seconds</mat-option>
                              <mat-option value="minutes">minutes</mat-option>
                              <mat-option value="hours">hours</mat-option>
                              <mat-option value="days">days</mat-option>
                              <mat-option value="weeks">week</mat-option>
                              <mat-option value="months">month</mat-option>
                              <mat-option value="months">a- unit of time (UCUM)</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button type="button" mat-button (click)="closeDialog()">Close</button>
        <button type="submit" mat-flat-button color="primary">
            <span>Add</span>
        </button>
    </div>
</div>
</div>