<div class="animate__animated animate__faster animate__fadeIn">
    <div class="animate__animated animate__faster animate__fadeIn block-card">
        <div class="block-header">
            <p>Uploads Summary</p>
        </div>
        <div class="block-body">
            <div class="row small-gutter uploaded-card-all">
                <div class="col-xl-4 col-md-6">
                    <div class="uploaded-card">
                        <p class="medium text-primary">upload-20-12-2022.xlsx</p>
                        <span class="text-medium-grey">2023/09/20 04:00:45 PM</span>
                        <hr class="hr separator">
                        <p class="small-label">Total No. of Beneficiary</p>
                        <p class="dashboard-numbers text-primary">4</p>
                        <hr class="hr separator">
                        <div class="row small-gutter">
                            <div class="col">
                                <p class="small-label">Beneficiaries Saved</p>
                                <p class="dashboard-numbers">0</p>
                            </div>
                            <div class="col">
                                <p class="small-label">Beneficiaries Not Saved</p>
                                <p class="dashboard-numbers text-danger">4</p>
                            </div>
                            <div class="col-auto">
                                <button type="button" mat-stroked-button color="primary" (click)="openErrorsDialog()">Errors</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="uploaded-card">
                        <p class="medium text-primary">SGHR_601_5.xlsx</p>
                        <span class="text-medium-grey">2023/09/18 04:37:22 PM</span>
                        <hr class="hr separator">
                        <p class="small-label">Total No. of Beneficiary</p>
                        <p class="dashboard-numbers text-primary">500</p>
                        <hr class="hr separator">
                        <div class="row small-gutter">
                            <div class="col">
                                <p class="small-label">Beneficiaries Saved</p>
                                <p class="dashboard-numbers">456</p>
                            </div>
                            <div class="col">
                                <p class="small-label">Beneficiaries Not Saved</p>
                                <p class="dashboard-numbers text-danger">44</p>
                            </div>
                            <div class="col-auto">
                                <button type="button" mat-stroked-button color="primary" (click)="openErrorsDialog()">Errors</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="uploaded-card">
                        <p class="medium text-primary">Test_item_error.xlsx</p>
                        <span class="text-medium-grey">2023/09/13 04:26:53 PM</span>
                        <hr class="hr separator">
                        <p class="small-label">Total No. of Beneficiary</p>
                        <p class="dashboard-numbers text-primary">12</p>
                        <hr class="hr separator">
                        <div class="row small-gutter">
                            <div class="col">
                                <p class="small-label">Beneficiaries Saved</p>
                                <p class="dashboard-numbers">12</p>
                            </div>
                            <div class="col">
                                <p class="small-label">Beneficiaries Not Saved</p>
                                <p class="dashboard-numbers text-danger">0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>