<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header">
        <div class="d-flex align-items-center">
            <div class="actions mr-2 my-n2 ml-n1">
                <button matRipple type="button" (click)="goBack()" class="action-btn">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <p>Accounts Receivables Monthly - {{payerName}}</p>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" class="bg-white">
        <div class="fixed-height fixed-height-lg">
            <table class="primary-grid manual-row-color" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th rowspan="2" width="10"></th>
                        <th rowspan="2">Month</th>
                        <th rowspan="2">Total Submitted</th>
                        <th colspan="2" class="text-center">Total Received</th>
                        <th colspan="2" class="text-center">Initial Rejection</th>
                        <th rowspan="2">Amount Outstanding(SR)</th>
                        <th rowspan="2">Due Date</th>
                        <th rowspan="2">Days Overdue</th>
                        <th rowspan="2">Avg. TAT</th>
                        <th rowspan="2"></th>
                    </tr>
                    <tr>
                        <th class="not-first-child">SR</th>
                        <th>%</th>
                        <th>SR</th>
                        <th class="not-last-child">%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="seperator-row" *ngIf="receivableDetailsData.length>0">
                        <td colspan="2">{{payerName}}</td>
                        <td>{{sumOfTotalReceivableObj.sumTotalSubmitted}}</td>
                        <td>{{sumOfTotalReceivableObj.sumTotalReceivedAmount}}</td>
                        <td>{{sumOfTotalReceivableObj.sumTotalReceivedAmountPerc}}</td>
                        <td>{{sumOfTotalReceivableObj.initRejectionAmount}}</td>
                        <td>{{sumOfTotalReceivableObj.initRejectionAmountPerc}}</td>
                        <td>{{sumOfTotalReceivableObj.sumTotalOutstandingAmount}}</td>
                        <td></td>
                        <td></td>
                        <td>{{sumOfTotalReceivableObj.sumAvgTat}}</td>
                        <td></td>
                    </tr>
                    <ng-container *ngFor="let item of receivableDetailsData;let i=index;">

                        <tr>
                            <td class="text-primary text-center row-click" (click)="toggleRow(i)" width="10">
                                <mat-icon *ngIf="currentOpenRecord!=i" class="size-21">add_circle_outline</mat-icon>
                                <mat-icon *ngIf="currentOpenRecord==i" class="size-21">remove_circle_outline</mat-icon>
                            </td>
                            <td class="row-click" (click)="toggleRow(i)">{{item.month}}</td>
                            <td class="row-click" (click)="toggleRow(i)">{{item.totalSubmitted}}</td>
                            <td class="row-click" (click)="toggleRow(i)">{{item.totalReceivedAmount}}</td>
                            <td class="row-click" (click)="toggleRow(i)">{{item.totalReceivedPerc}}</td>
                            <td class="row-click" (click)="toggleRow(i)">{{item.initRejectionAmount}}</td>
                            <td class="row-click" (click)="toggleRow(i)">{{item.initRejectionPerc}}</td>
                            <td class="row-click" (click)="toggleRow(i)">{{item.outstandingAmount}}</td>
                            <td class="row-click" (click)="toggleRow(i)">
                                {{item.dueDateMessage!==null && item.dueDateMessage!==''?item.dueDateMessage: item.dueDate | date: 'dd-MM-yyyy'}}
                            </td>
                            <td class="row-click" (click)="toggleRow(i)">{{item.overDueDay}}</td>
                            <td class="row-click" (click)="toggleRow(i)">{{item.avgTat}}</td>
                            <td class="actions">
                                <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" *ngIf="!(item.totalSubmitted===0 || item.totalSubmitted===null)"
                                    (click)="setSelcetedPayerAndDate(item)">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="currentOpenRecord==i">
                            <td colspan="12">
                                <div class="box">
                                    <h5 class="align-self-center medium pb-2">Payments</h5>
                                    <div class="table-responsive">
                                        <table class="primary-grid">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Amount</th>
                                                    <th>TAT</th>
                                                    <th>Payment Ratio</th>
                                                    <th>Type</th>
                                                    <th width="10"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let innerData of item.payments">
                                                    <td>{{innerData.paymentDate | date: 'dd-MM-yyyy'}}</td>
                                                    <td>{{innerData.amount}}</td>
                                                    <td>{{innerData.tat}}</td>
                                                    <td>{{innerData.paymentRatio}}</td>
                                                    <td>{{innerData.type}}</td>
                                                    <td>
                                                        <button class="text-danger delete-btn" (click)="deletePayment(innerData.paymentId)">
                                                            <mat-icon>delete_outline</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" class="p-0">
                                                        <app-empty-state *ngIf="item.payments == null || item.payments.length == 0" class="claim-list-empty-state"
                                                            message='No records found!'>
                                                        </app-empty-state>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                    <tr>
                        <td colspan="12" class="p-0">
                            <app-empty-state *ngIf="receivableDetailsData == null || receivableDetailsData.length == 0" class="claim-list-empty-state" message='No records found!'>
                            </app-empty-state>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
    <!-- <div class="block-footer sticky">
        <div class="left-block custom-paginator">
            <button matRipple type="button" title="First Page">
                <img src="./assets/ic-page-first.svg" alt="First" />
            </button>
            <button matRipple type="button" title="Previous Page">
                <img src="./assets/ic-page-prev.svg" alt="Previous" />
            </button>
            <p class="page-info">
                1<small>/5</small>
            </p>
            <button matRipple type="button" title="Next Page">
                <img src="./assets/ic-page-next.svg" alt="Next" />
            </button>
            <button matRipple type="button" title="Last Page">
                <img src="./assets/ic-page-last.svg" alt="Last" />
            </button>
        </div>
    </div> -->
    <mat-menu #actionsMenu xPosition="before">
        <ng-template matMenuContent>
            <button mat-menu-item (click)="openAddPaymentDialog()">Add Payment</button>
            <button mat-menu-item (click)="openAddInitialRejectionDialog()">{{isAddOrEditRejectionLable}} Initial
                Rejection</button>
        </ng-template>
    </mat-menu>
</div>