<mat-menu #appMenu="matMenu">
    <div class="menuContent" (click)="$event.stopPropagation()" >
        <div class="searchByDate" (keyup.enter)="search()">
            <mat-form-field [ngClass]="{'mat-form-field-invalid':fromDateHasError}" style="margin-right: 5px;">
                <input matInput [matDatepicker]="fromPicker" placeholder="From claim date"
                    [formControl]="fromDateControl" (keyup.enter)="search()"
                    (dateChange)="updateChips('fromDate', $event.value.format('DD-MM-YYYY'))">
                <mat-datepicker-toggle matSuffix [for]="fromPicker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field [ngClass]="{'mat-form-field-invalid':toDateHasError}" style="margin-right: 5px;">
                <input matInput [matDatepicker]="toPicker" placeholder="To claim date" [formControl]="toDateControl"
                    (keyup.enter)="search()" (dateChange)="updateChips('toDate', $event.value.format('DD-MM-YYYY'))">
                <mat-datepicker-toggle matSuffix [for]="toPicker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field [ngClass]="{'mat-form-field-invalid':payerIdHasError}">
                <mat-label>Select Payer</mat-label>
                <mat-select [formControl]="payerIdControl" (keyup.enter)="search()"
                    (selectionChange)="updateChips('payerId', $event.value)">
                    <mat-option *ngFor="let payer of payers" [value]="payer.id">
                        {{payer.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="width: 100%; text-align: end;">
            <button mat-flat-button style="margin-right: 5px;" (click)="clear()">Clear</button>
            <button mat-raised-button color="primary" (click)="search()">Search</button>
        </div>
    </div>
</mat-menu>

<mat-form-field color="accent" appearance="outline" floatLabel="never" class="searchField" style="font-size: smaller;"
     (keyup.enter)="search()" [matMenuTriggerFor]="appMenu">
    <mat-icon matPrefix style="margin-right: 10px;">search</mat-icon>
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let query of queries" removable="true" (removed)="remove(query)"
            [matTooltip]="getQueryTypeText(query.type)">
            {{queryToText(query)}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input type="text" placeholder="search by batch id..." matInput autocomplete="off" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            [formControl]="searchControl" (matChipInputTokenEnd)="updateChips('batchId', $event.value)"
            (keyup.enter)="search()" (click)="$event.stopPropagation()">
        <mat-icon matSuffix style="cursor: pointer;">keyboard_arrow_down</mat-icon>
    </mat-chip-list>
</mat-form-field>