<div class="advance-search">
    <mat-form-field class="search-mode-select">
        <mat-select [value]="selectedSearchMode" (selectionChange)="onSearchModeChange($event);">
            <mat-option *ngFor="let type of searchMode(isClaimUser)" [value]="type.key">
                {{type.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="input-wrapper">
        <input type="text" [formControl]="searchControl" [matChipInputFor]="chipList" autocomplete="off"
            [readonly]="selectedSearchMode == 'payer&date'" (keyup.enter)="isClaimUser?search(true):search(false)">
        <!-- <button mat-icon-button (click)="search()" class="search-btn">
            <mat-icon>search</mat-icon>
        </button> -->
        <div class="search-btns">
            <button
                *ngIf="((isClaimUser && selectedSearchMode !== 'payer&date') || (isClaimUser && (selectedPayerType === '' || selectedPayerType === 'W') && selectedSearchMode == 'payer&date') )&& selectedSearchMode!='requestBundleId' &&   selectedSearchMode!='status&date' &&  tpaMode!='tpa_N'"
                type="button" matRipple matRippleColor="rgba(48,96,170,0.1)" class="search-btn" (click)="search(true)">
                <mat-icon>search</mat-icon>
                <span>Waseel</span>
            </button>
            <span class="separator"
                *ngIf="(hasNphiesClaims  && selectedCriteriaIsUsedInBoth && selectedSearchMode !== 'payer&date') || (hasNphiesClaims  && selectedCriteriaIsUsedInBoth && (selectedPayerType === '' || selectedPayerType === 'N') && (selectedSearchMode == 'payer&date' && selectedPayerType !== 'N'))"></span>
            <button
                *ngIf="(hasNphiesClaims  && selectedCriteriaIsUsedInBoth && selectedSearchMode !== 'payer&date') || (hasNphiesClaims  && selectedCriteriaIsUsedInBoth && (selectedPayerType === '' || selectedPayerType === 'N') && selectedSearchMode == 'payer&date') || selectedSearchMode=='requestBundleId' ||  selectedSearchMode=='status&date' ||  tpaMode=='tpa_N'"
                type="button" matRipple matRippleColor="rgba(48,96,170,0.1)" class="search-btn" (click)="search(false)">
                <mat-icon>search</mat-icon>
                <span>NPHIES</span>
            </button>
        </div>

        <!-- <ng-template #showOnlySearchIcon>
            <div class="search-btns">
                <button type="button" matRipple matRippleColor="rgba(48,96,170,0.1)" class="search-btn" (click)="search(true)">
                    <mat-icon>search</mat-icon>
                    <span>Waseel</span>
                </button>
            </div>
        </ng-template> -->

        <mat-chip-list #chipList (keyup.enter)="isClaimUser?search(true):search(false)">
            <ng-container
                *ngIf="selectedSearchMode == 'payer&date' || selectedSearchMode == 'tpa&date' ||  selectedSearchMode == 'status&date'">
                <mat-chip matTooltip="Select Payer" [matMenuTriggerFor]="payersMenu"
                    *ngIf="selectedSearchMode == 'payer&date'">
                    <span [ngStyle]="{'color':payerHasError? '#D84646':'#3A3A3A'}">{{selectedPayer != null?
                        selectedPayer.name : 'Select Payer'}}</span>
                </mat-chip>
                <mat-chip matTooltip="Select TPA" [matMenuTriggerFor]="tpasMenu"
                    *ngIf="selectedSearchMode == 'tpa&date'">
                    <span [ngStyle]="{'color':tpaHasError? '#D84646':'#3A3A3A'}">{{selectedTpa != null?
                        selectedTpa.name_english!=null?selectedTpa.name_english:selectedTpa.name
                        : 'Select TPA'}}</span>
                </mat-chip>

                <mat-chip matTooltip="Select Status" [matMenuTriggerFor]="statusMenu"
                    *ngIf="selectedSearchMode == 'status&date'">
                    <span [ngStyle]="{'color':statusHasError? '#D84646':'#3A3A3A'}">{{selectedStatus != null?
                        selectedStatus.name
                        : 'Select Status'}}</span>
                </mat-chip>

                <mat-chip matTooltip="From Date" (click)="fromPicker.open()">
                    <input [matDatepicker]="fromPicker" [formControl]="fromDateControl" class="hidden-input">
                    <span
                        [ngStyle]="{'color':fromDateHasError? '#D84646':'#3A3A3A'}">{{dateToText(fromDateControl.value)
                        || 'From'}}</span>
                    <mat-datepicker #fromPicker></mat-datepicker>
                </mat-chip>
                <mat-chip matTooltip="To Date" (click)="toPicker.open()">
                    <input [matDatepicker]="toPicker" [formControl]="toDateControl" class="hidden-input">
                    <span [ngStyle]="{'color':toDateHasError? '#D84646':'#3A3A3A'}">{{dateToText(toDateControl.value) ||
                        'To'}}</span>
                    <mat-datepicker #toPicker></mat-datepicker>
                </mat-chip>
                <mat-chip matTooltip="Select Claim Type" [matMenuTriggerFor]="waseelClaimTypeMenu"
                    *ngIf="selectedSearchMode == 'payer&date' && selectedPayerType == 'W'">
                    <span [ngStyle]="{'color':payerHasError? '#D84646':'#3A3A3A'}">{{selectedClaimType != null?
                        selectedClaimType : 'Claim Type'}}</span>
                </mat-chip>
                <mat-chip matTooltip="Select Claim Type" [matMenuTriggerFor]="nphiesClaimTypeMenu"
                    *ngIf="selectedSearchMode == 'payer&date' && selectedPayerType == 'N'">
                    <span [ngStyle]="{'color':payerHasError? '#D84646':'#3A3A3A'}">{{selectedClaimType != null?
                        selectedClaimType : 'Claim Type'}}</span>
                </mat-chip>
            </ng-container>
        </mat-chip-list>
    </div>
    <button class="icon-btn close-btn" (click)="toggleSearch()" mat-icon-button matTooltip="Close">
        <mat-icon aria-hidden="false" aria-label="Close">close</mat-icon>
    </button>
</div>

<mat-menu #payersMenu class="header-search-menu">
    <h5 *ngIf="payers.length > 0" class="menu-opt-group">Waseel</h5>
    <button *ngFor="let payer of payers"
        (click)="selectedPayer = payer; selectedSearchMode = 'payer&date'; tpaMode =''; selectedPayerType = 'W'; selectedClaimType=null; selectedTpa = null"
        mat-menu-item>
        <span>{{payer.name}}</span>
    </button>
    <h5 class="menu-opt-group">NPHIES</h5>
    <app-nphies-payers-selector (payerSelected)="onNphiesPayerSelected($event)" [isMatSelect]="false">
    </app-nphies-payers-selector>
</mat-menu>

<mat-menu #tpasMenu class="header-search-menu">
    <h5 *ngIf="waseelTpas.length > 0" class="menu-opt-group">Waseel</h5>
    <button *ngFor="let tpa of waseelTpas" (click)="selectedTpa = SelectTpa(tpa,'tpa_W')" mat-menu-item>
        <span>{{tpa.name}}</span>
    </button>
    <h5 class="menu-opt-group">NPHIES</h5>
    <button *ngFor="let tpa of NphiesTpas" (click)="selectedTpa = SelectTpa(tpa,'tpa_N')" mat-menu-item>
        <span>{{tpa.name_english}}</span>
    </button>

</mat-menu>

<mat-menu #waseelClaimTypeMenu class="header-search-menu">
    <button *ngFor="let type of casetypes" (click)="selectedClaimType = type.value;" mat-menu-item>
        <span>{{type.name}}</span>
    </button>
</mat-menu>
<mat-menu #nphiesClaimTypeMenu class="header-search-menu">
    <button *ngFor="let type of claimTypes" (click)="selectedClaimType = type.value;" mat-menu-item>
        <span>{{type.name}}</span>
    </button>
</mat-menu>
<mat-menu #statusMenu class="header-search-menu">
    <button *ngFor="let status of statusList" (click)="selectedStatus = status;" mat-menu-item>
        <span>{{status.name}}</span>
    </button>
</mat-menu>