.mainPage {
    margin: 80px 20px 0px 20px;
}
.header {
    display: flex;
    color: #3060AA;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 20px;
    height: 40px;
}
label{
    color: #3060AA;
    padding: 5px;
    font-size: small;
}
.body {
    padding: 10px;
    background-color: #EFF5FF;
    height: 75vh;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px 5px;
}

.hiddenByDefault{
    opacity: 0;
    transition: opacity 500ms ease;
}

.show{
    opacity: 1;
}

.footer {
    display: flex;
    color: #3060AA;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    height: 60px;
}

.fabButton {
    position: fixed;
    bottom: 16%;
    right: 5vw;
}

.error{
    color: #c23a3a;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

button:focus{
    outline: unset;
}