.mainPage {
    margin: 80px 20px 0px 20px;
}
.header {
    display: flex;
    color: #3060AA;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    height: 40px;
}
label{
    color: #3060AA;
    padding: 5px;
    font-size: small;
}
.body {
    padding: 10px 0px;
    background-color: #EFF5FF;
    height: 77vh;
}

.footer {
    display: flex;
    color: #3060AA;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    height: 40px;
}

.fabButton {
    position: fixed;
    bottom: 10vh;
    right: 5vw;
}

button:focus{
    outline: unset;
}