<div class="parent" [ngClass]="{'mainPage': pageMode == 'CREATE'}">
    <div class="header">
        <p>Create Claim</p><span class="spacer"></span>
        <p *ngIf="claim != null && errors == null && claim.visitInformation != null" class="hiddenByDefault"
            [ngClass]="{'show':claim != null && errors == null}">
            {{(claim.visitInformation.departmentCode==dentalDepartmentCode)?'Dental':'Optical'}}</p>
    </div>
    <div class="body">
        <div class="error" *ngIf="errors != null && !isLoading" style="grid-column: 1 / span 12;">
            {{getError()}}
        </div>
        <ng-container *ngIf="claim != null && errors == null">
            <claim-patient-info style="grid-column: 1 / span 8; margin: 5px;"></claim-patient-info>
            <claim-physician-header style="grid-column: 9 / span 4; margin: 5px;"></claim-physician-header>
            <claim-data style="grid-column: 1 / span 8; margin: 5px;"></claim-data>
            <gdpn-calculation style="grid-column: 9 / span 4; margin: 5px;"></gdpn-calculation>
        </ng-container>
    </div>
    <div class="footer">
        <span class="spacer"></span>
        <button *ngIf="claim != null" mat-flat-button style="margin-right: 10px;" (click)="cancel()">Cancel</button>
        <button *ngIf="claim != null" mat-raised-button color="primary" style="margin-right: 10px;"
            (click)="save()">Save</button>
    </div>
</div>

<button mat-fab color="primary" class="fabButton" [matMenuTriggerFor]="claimTypeMenu"
    *ngIf="claim == null && errors == null && !isLoading">
    <mat-icon>add</mat-icon>
</button>

<mat-menu #claimTypeMenu yPosition="above" xPosition="before">
    <ng-template matMenuContent>
        <label>Claim Type</label>
        <button mat-menu-item (click)="startCreatingClaim(dentalDepartmentCode)">Dental</button>
        <button mat-menu-item (click)="startCreatingClaim(opticalDepartmentCode)">Optical</button>
    </ng-template>
</mat-menu>