.header{
    width: 100%;
    padding: 5px;
    color: white;
    display: flex;
    background-color: #3060AA;
    border-bottom: 1px solid #c4c4c4;
}

.header button{
    width: unset;
    height: 20px;
    line-height: unset;
}
.header mat-icon{
    font-size: medium;
    font-weight: 200;
}

.header p{
    font-size: medium;
    margin: 3px 15px;
}



.content{
    color: #3060AA;
    padding: 0px 20px;
    overflow-y: auto;
    max-height: 88%;
    padding-top: 20px;
}

.content td.error{
    color: #770a0a;
}

.content table{
    width: 100%;
}

.gInfo{
    display: flex;
    margin: 20px 0px;
}
.gInfo table{
    background-color: #EFF5FF;
    min-height: 170px;
}

.gInfo table th, .gInfo table td {
    padding: 10px;
    height: 32px;
}

.currency{
    font-size: x-small;
    font-weight: 600;
}

.commentBox{
    padding: 10px;
    width: 100%;
    border: none;
    height: 100%;
    background-color: #EFF5FF;
    color: #3060AA;
}
.commentBox.error{
    visibility: visible;
    background: #f5d4d4;
    color: #770a0a;
}

.amountBox{
    margin: 12px;
    padding: 10px;
    background-color: #EFF5FF;
    height: 100%;
    
}

.amountBox div{
    border: 2px solid #3060AA;
    padding: 20px;
    border-radius: 10px;
}

.services{
    padding: 10px;
    background-color: #eff5ff;
}

.services table{
    width: 100%;
    font-size: small;
    text-align: center;
    border-spacing: 5px;
    border-collapse: separate;
}
.services th{
    font-weight: 400;
    color: white;
    background-color: #3161AA;
    border-radius: 5px;
    padding: 10px 5px;
}
.services td{
    color: #707070;
    background-color: white;
    border-radius: 5px;
    padding: 10px 5px;
}

.errors{
    padding: 10px;
    background-color: #FFEFEF;
    color: #A73535;
}

.errors table{
    width: 100%;
    font-size: small;
    text-align: center;
    border-spacing: 5px;
    border-collapse: separate;
}
.errors th{
    font-weight: 400;
    color: #A73535;
    background-color: #FFB2B2;
    border-radius: 5px;
    padding: 10px 5px;
}
.errors td{
    color: #707070;
    background-color: white;
    border-radius: 5px;
    padding: 10px 5px;
}

.footer{
    height: 5%;
    position: absolute;
    bottom: 0;
    background-color: #EFF5FF;
    border-top: 1px solid #c4c4c4;
}