<div class="header sub">
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>clear</mat-icon>
    </button>
    <p>Claim Status: {{claim.claimStatus}}</p>
    <span class="spacer"></span>
    <p>Provider Claim ID: {{claim.providerClaimId}}</p>
</div>
<div class="content">
    <div class="gInfo">
        <table style="width: 72%; margin-right: 3%; background-color: unset;">
            <tr>
                <td>
                    Patient Name<br>
                    <span matTooltip="{{claim.patientName}}">{{claim.patientName}}</span>
                </td>
                <td>
                    Dr. Name<br>
                    <span>{{claim.drName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Policy No<br>
                    <span>{{claim.policyNumber}}</span>
                </td>
                <td>
                    Patient File No<br>
                    <span>{{claim.patientFileNumber}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2"><textarea rows="1" class="commentBox" disabled>{{claim.statusDescription}}</textarea></td>
            </tr>
        </table>
        <table style="width: 25%; font-size: medium;">
            <tr>
                <td>
                    Net Amount
                </td>
            </tr>
            <tr>
                <th>
                    <label for="">{{claim.netVatAmount}} <span class="currency">{{claim.netAmountUnit}}</span></label>
                </th>
            </tr>
            <tr>
                <td>
                    Vat
                </td>
            </tr>
            <tr>
                <th>
                    <label for="">{{claim.netVatAmount}} <span class="currency">{{claim.netvatAmountUnit}}</span></label>
                </th>
            </tr>
        </table>
    </div>
    <div class="services" *ngIf="claim.services != null">
        <p>Services</p>
        <table>
            <thead>
                <th>Invoice No</th>
                <th>Code</th>
                <th>Decscription</th>
                <th>
                    <div style="width: 100%; display: flex;">
                        <div>Requested NA</div>
                        <div style="margin-left: auto;">Vat</div>
                    </div>
                </th>
                <th>Different in computation</th>
                <th>Rejected Am.</th>
                <th>Status</th>
                <th>Status Details</th>
            </thead>
            <tbody>
                <tr *ngFor="let service of claim.services">
                    <td>{{service.invoiceNmber}}</td>
                    <td>{{service.code}}</td>
                    <td>{{service.description}}</td>
                    <td>
                        <div style="width: 100%; display: flex;">
                            <div>{{service.requestedNA}} <span class="currency">{{service.requestedNAUnit}}</span></div>
                            <div style="margin-left: auto;">{{service.requestedNAVat}} <span class="currency">{{service.requestedNAVatUnit}}</span></div>
                        </div>
                    </td>
                    <td>{{service.differentInComputation}}</td>
                    <td>{{service.rejectedAmount}} <span class="currency">{{service.rejectedAmountUnit}}</span></td>
                    <td>{{service.status}}</td>
                    <td>{{service.statusDetails}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="errors" *ngIf="claim.claimErrors != null">
        <p>Claim Errors</p>
        <table>
            <thead>
                <th>Error Code</th>
                <th>Feild Name</th>
                <th>Decscription</th>
            </thead>
            <tbody>
                <tr *ngFor="let error of claim.claimErrors">
                    <td>{{error.status}}</td>
                    <td>{{error.feildName}}</td>
                    <td>{{error.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="header footer">
    <span class="spacer"></span>
    <p></p>
</div>