<mat-card class="payerContiner">
    <select required [formControl]="payer" tabindex="3" style="margin: 0px auto;">
        <option value="0" selected>Select a Payer</option>
        <option value="102">Tawuniya</option>
        <option value="300">MDG</option>
        <option value="306">SE</option>
        <option value="204">AXA</option>
    </select>
</mat-card>
<div style="display: flex; height: 650px;">
    <div class="progressContiner">
        <lib-stepperProgressBar class="stepperProgressBar" [controller]="progressStepper" [steps]="steps" [isVertical]="isVertical">
        </lib-stepperProgressBar> 
    </div>
    <div class="dragAndDropContainer">
        <div class="containerFileIcon" *ngIf="currentFileUpload != undefined">
            <table style="text-align: start; background-color: #F4F4F4; margin: 5px;">
                <tbody>
                    <tr>
                        <td style="padding: 10px; width: 40px;"><img  src="assets/xls.svg" alt="{{currentFileUpload.name}}" width="40px"></td>
                        <td style="padding: 10px; color: #3765AC; font-size: large; font-weight: 600;">{{currentFileUpload.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" {{uploadContainerClass}}" *ngIf="currentFileUpload == undefined" (click)="fileInput.click()" appDragdrop (onFileDropped)="selectFile($event)">
            <p *ngIf="currentFileUpload == undefined" class="containerText">Choose a file or drag it here.<br>{{error}}</p>
            <input hidden type="file" #fileInput id="file" onclick="this.value = null" (change)="selectFile($event.target.files)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        </div>
    </div>
</div>
