<div class="mainCardBody">
    <div class="leftComponent">
        <label>Admission Date & Time*</label>
        <input [ngClass]="{'fieldError': fieldHasError('admissionDate')}" type="datetime-local"
            [formControl]="admissionDateController" (change)="updateClaim('admissionDate')"
            [matTooltip]="getFieldError('admissionDate')">
    </div>
    <div class="rightComponent">
        <label>Discharge Date & Time*</label>
        <input [ngClass]="{'fieldError': fieldHasError('dischargeDate')}" type="datetime-local"
            [formControl]="dischargeDateController" (change)="updateClaim('dischargeDate')"
            [matTooltip]="getFieldError('respiratoryRate')">
    </div>

    <div class="leftComponent">
        <label>Length of Stay*</label>
        <input [ngClass]="{'fieldError': fieldHasError('lengthOfStay')}" type="number"
            [formControl]="lengthOfStayController" (change)="updateClaim('lengthOfStay')"
            [matTooltip]="getFieldError('lengthOfStay')">
    </div>
    <div class="rightComponent">
        <label style="display: block;">Unit of Stay</label>
        <mat-button-toggle-group (change)="updateClaimUnit('stayUnit',$event)" [disabled]="lengthOfStayController.disabled"
            [ngClass]="{'fieldError': fieldHasError('stayUnit')}">
            <mat-button-toggle value="Day" [checked]="lengthOfStayUnit == 'Day'">
                Day
            </mat-button-toggle>
            <mat-button-toggle value="Month" [checked]="lengthOfStayUnit == 'Month'">
                Month
            </mat-button-toggle>
            <mat-button-toggle value="Year" [checked]="lengthOfStayUnit == 'Year'">
                Year
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="leftComponent">
        <label>Room Number*</label>
        <input [ngClass]="{'fieldError': fieldHasError('roomNumber')}"
            [formControl]="roomNumberController" (change)="updateClaim('roomNumber')"
            [matTooltip]="getFieldError('roomNumber')">
    </div>
    <div class="rightComponent">
        <label>Bed Number*</label>
        <input [ngClass]="{'fieldError': fieldHasError('bedNumber')}"
            [formControl]="bedNumberController" (change)="updateClaim('bedNumber')"
            [matTooltip]="getFieldError('bedNumber')">
    </div>
</div>