<div class="row">
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('admissionDate')" [matTooltip]="getFieldError('admissionDate')">
            <label class="control-label">Admission Date & Time<span class="asterisk">*</span></label>
            <input type="datetime-local" class="form-control" placeholder="Select addmission date & time" [formControl]="admissionDateController"
                (change)="updateClaim('admissionDate')">
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('dischargeDate')" [matTooltip]="getFieldError('respiratoryRate')">
            <label class="control-label">Discharge Date & Time<span class="asterisk">*</span></label>
            <input type="datetime-local" placeholder="Select discharge date & time" [formControl]="dischargeDateController" (change)="updateClaim('dischargeDate')"
                class="form-control">
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('lengthOfStay')" [matTooltip]="getFieldError('lengthOfStay')">
            <label class="control-label">Length of Stay<span class="asterisk">*</span></label>
            <input type="number" placeholder="Enter length of stay" [formControl]="lengthOfStayController" (change)="updateClaim('lengthOfStay')" class="form-control">
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('stayUnit')">
            <label class="control-label">Unit of Stay</label>
            <mat-button-toggle-group (change)="updateClaimUnit('stayUnit',$event)" [disabled]="lengthOfStayController.disabled" class="primary-button-toggle">
                <mat-button-toggle value="Day" [checked]="lengthOfStayUnit == 'Day'">
                    Day
                </mat-button-toggle>
                <mat-button-toggle value="Month" [checked]="lengthOfStayUnit == 'Month'">
                    Month
                </mat-button-toggle>
                <mat-button-toggle value="Year" [checked]="lengthOfStayUnit == 'Year'">
                    Year
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('roomNumber')" [matTooltip]="getFieldError('roomNumber')">
            <label class="control-label">Room Number<span class="asterisk">*</span></label>
            <input placeholder="Enter room number" [formControl]="roomNumberController" (change)="updateClaim('roomNumber')" class="form-control">
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="form-group" [class.has-error]="fieldHasError('bedNumber')" [matTooltip]="getFieldError('bedNumber')">
            <label class="control-label">Bed Number<span class="asterisk">*</span></label>
            <input placeholder="Enter bed number" [formControl]="bedNumberController" (change)="updateClaim('bedNumber')" class="form-control">
        </div>
    </div>
</div>