<app-sidebar *ngIf="isLoggedIn"></app-sidebar>
<app-header *ngIf="isLoggedIn" [languageList]="languageList" [activeLanguageLabel]="activeLanguageLabel"></app-header>
<app-language-switcher *ngIf="!isLoggedIn" [languageList]="languageList" [activeLanguageLabel]="activeLanguageLabel"></app-language-switcher>

<div class="res">

    <router-outlet style="
        display: block;
        margin-top: 70px;">
    </router-outlet>


</div>

<app-notification-center *ngIf="isLoggedIn"></app-notification-center>
<app-upload-history-center *ngIf="isLoggedIn"></app-upload-history-center>
<app-announcement-center *ngIf="isLoggedIn"></app-announcement-center>