<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header has-border">
        <p>Policies</p>
    </div>
    <div class="block-filter-panel">
        <div class="row small-gutter">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">From Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="filterFromDate" class="form-control" placeholder="Select from date">
                        <mat-datepicker-toggle [for]="filterFromDate"></mat-datepicker-toggle>
                        <mat-datepicker #filterFromDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">To Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="filterToDate" class="form-control" placeholder="Select to date">
                        <mat-datepicker-toggle [for]="filterToDate"></mat-datepicker-toggle>
                        <mat-datepicker #filterToDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Policy No.</label>
                    <input placeholder="Enter policy no." class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Policy Holder Name</label>
                    <input placeholder="Enter policy holder name" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>