<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header has-border">
        <p>Policies</p>
    </div>
    <div class="block-filter-panel">
        <div class="row small-gutter">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Search By<span class="asterisk">*</span></label>
                    <div class="checkbox-group">
                        <mat-radio-group [(ngModel)]="purposeRadioButton" layout="row"
                            (change)="OptionChanged($event.value)">
                            <mat-radio-button value="0" class="md-primary" color="primary"
                                [checked]="purposeRadioButton == '0'"> List All Policies
                            </mat-radio-button>
                            <mat-radio-button value="1" class="md-primary" color="primary"
                                [checked]="purposeRadioButton == '1'"> Search By Contract
                            </mat-radio-button>
                            <mat-radio-button value="2" class="md-primary" color="primary"
                                [checked]="purposeRadioButton == '2'"> Search By Dates
                            </mat-radio-button>
                            <mat-radio-button value="3" class="md-primary" color="primary"
                                [checked]="purposeRadioButton == '3'"> Search By Policy
                            </mat-radio-button>
                        </mat-radio-group>

                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">Contracts</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select [formControl]="ContractController" ([value])="0"
                            [disabled]="purposeRadioButton != '1'">
                            <mat-option value="0">Select Contract</mat-option>
                            <mat-option *ngFor="let contract of contracts" [value]="contract.contractId">
                                {{contract.contractNo}}
                                ({{contract.contractName}})</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">From Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="filterFromDate" class="form-control" placeholder="Select from date"
                            [disabled]="purposeRadioButton != '2'" [formControl]="StartDateController">
                        <mat-datepicker-toggle [for]="filterFromDate"></mat-datepicker-toggle>
                        <mat-datepicker #filterFromDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">To Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="filterToDate" class="form-control" placeholder="Select to date"
                            [disabled]="purposeRadioButton != '2'" [formControl]="EndDateController">
                        <mat-datepicker-toggle [for]="filterToDate"></mat-datepicker-toggle>
                        <mat-datepicker #filterToDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">Policy</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select [formControl]="PolicyController" ([value])="0"
                            [disabled]="purposeRadioButton != '3'">
                            <mat-option value="0">Select Policy</mat-option>
                            <mat-option *ngFor="let policy of policyList" [value]="policy.policyId">
                                {{policy.policyNo}}
                                ({{policy.policyName}})</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!--div class="form-group flex-grow-1">
                <label class="control-label">Select Policy</label>
                <input type="text" class="form-control" placeholder="Search for policy by name or policy No.."
                    [formControl]="PolicyController" [matAutocomplete]="auto" (keyup)="filterOptions()"
                    [disabled]="purposeRadioButton != '3'">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let policy of policyList" (click)="selectPolicy(policy)">
                        {{policy.policyNo}}
                        ({{policy.policyName}})
                    </mat-option>
                </mat-autocomplete>
            </div-->
        </div>
        <div class="form-group">
            <button type="button" mat-flat-button color="primary" (click)="searchByCriteria()">Search</button>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" class="bg-white">
        <div class="fixed-height" *ngIf="policies && policies.length>0">
            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Policy No.</th>
                        <th>Policy Name</th>
                        <th>Contract Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th class="text-center">Active</th>
                        <th width="10"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let policy of policies">

                        <td class="row-click" routerLink="/policy-management/edit/{{policy.policyId}}">
                            {{policy.policyNo}}</td>
                        <td class="row-click" routerLink="/policy-management/edit/{{policy.policyId}}">
                            {{policy.policyName}}</td>
                        <td class="row-click" routerLink="/policy-management/edit/{{policy.policyId}}">
                            {{policy.contractName}}</td>
                        <td class="row-click" routerLink="/policy-management/edit/{{policy.policyId}}">
                            {{policy.startDate}}</td>
                        <td class="row-click" routerLink="/policy-management/edit/{{policy.policyId}}">
                            {{policy.endDate}}</td>
                        <td class="row-click" routerLink="/policy-management/edit/{{policy.policyId}}">
                            {{policy.isActive}}</td>
                        <td class="actions">
                            <button mat-icon-button type="button" matTooltip="Edit" class="text-primary"
                                routerLink="/policy-management/edit/{{policy.policyId}}">
                                <mat-icon>create</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-empty-state *ngIf="!policies" message='No Policies found!'>
        </app-empty-state>
    </ng-scrollbar>
    <div class="block-footer sticky-bottom">
        <div class="left-block">
            <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)" [length]="length"
                [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
            </mat-paginator>
        </div>
    </div>
    <button mat-fab color="primary" class="page-fab" routerLink="/policy-management/add">
        <mat-icon>add</mat-icon>
    </button>
</div>