<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Prescription Validation Response Summary</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>

<div *ngIf="PbmPrescriptionResult.errorCode == null">
    <div class="primary-dialog-body pb-0" >
        <div class="row small-gutter">
            <div class="col-md-7">
                <div class="form-group form-group-static">
                    <div class="control-label">Request ID</div>
                    <p class="form-control-static text-primary">{{ PbmPrescriptionResult.pbmRequestId }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-static">
                    <div class="control-label">Reference Number</div>
                    <p class="form-control-static text-primary">{{ PbmPrescriptionResult.referenceNumber }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-static">
                    <div class="control-label">Response Status</div>
                    <p class="form-control-static text-danger" *ngIf="PbmPrescriptionResult.status != 'APPROVED' && PbmPrescriptionResult.status != 'PARTIAL_APPROVED'">{{ PbmPrescriptionResult.status }}</p>
                    <p class="form-control-static text-warning" *ngIf="PbmPrescriptionResult.status == 'PARTIAL_APPROVED'">{{ PbmPrescriptionResult.status }}</p>
                    <p class="form-control-static text-success" *ngIf="PbmPrescriptionResult.status == 'APPROVED'">{{ PbmPrescriptionResult.status }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box ng-star-inserted" *ngFor="let row of PbmPrescriptionResult.results | orderBy: 'sequence'" style="margin-left: 3px; margin-right: 3px; margin-bottom: 6px;">
        <h4 class="align-self-center medium pb-2">Sequence: {{ row.sequence }}</h4>
        <div class="table-responsive">
            <table class="primary-grid claim-view-table" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
                <thead>
                    <tr>
                        <th>Item Description</th>
                        <th>Item Name</th>
                        <th>Item Code</th>
                        <th>Status</th>
                        <th>Serviced Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ row.itemDescription  ? row.itemDescription  : '-' }}</td>
                        <td>{{ row.typeName  ? row.typeName  : '-' }}</td>
                        <td>{{ row.itemCode ?  row.itemCode  : '-' }}</td>
                        <td class="semibold text-success" *ngIf="row.status == 'APPROVED'">{{ row.status }}</td>
                        <td class="semibold text-danger" *ngIf="row.status != 'APPROVED' && row.status != 'PARTIAL_APPROVED'">{{ row.status }}</td>
                        <td class="semibold text-warning" *ngIf="row.status == 'PARTIAL_APPROVED'">{{ row.status }}</td>
                        <td>{{ row.servicedDate ? row.servicedDate : '-' }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Absence Of Scientific Code Reason</th>
                        <th>Quantity</th>
                        <th>Quantity Code</th>
                        <th>Strength</th>
                        <th>Display</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ row.absenceOfScientificCodeReason ? row.absenceOfScientificCodeReason : '-' }}</td>
                        <td>{{ row.quantity ? row.quantity  : '-' }}</td>
                        <td>{{ row.quantityCode  ? row.quantityCode  : '-'  }}</td>
                        <td>{{ row.strength  ? row.strength  : '-' }}</td>
                        <td>{{ row.display  ? row.display  : '-' }}</td>
                    </tr>
                </tbody>
            </table>
            <h4 class="align-self-center medium pb-2"></h4>
            <h4 class="align-self-center medium pb-2">Errors</h4>
            <div class="table-responsive">
                <table class="primary-grid claim-view-table" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
                    <thead *ngIf="row.errors.length > 0">
                        <tr>
                            <th>Denial Code</th>
                            <th>Rejection Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let error of row.errors">
                            <td>{{ error.denialCode }}</td>
                            <td>{{ error.rejectionReason }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="text-right p-14">
    <button mat-button type="button" color="primary" (click)="closeDialog()">Close</button>
</div>