<div class="animate__animated animate__faster animate__fadeIn block-card">
  <div class="block-header">
    <p>CDM Provider Configuration</p>
  </div>
  <div class="block-body">
    <div class="form-group mb-0">
      <label class="control-label">Select Provider</label>
      <input [matAutocomplete]="auto" class="form-control search-box" placeholder="Search provider here..."
        [formControl]="providerController" (input)="updateFilter()" (keyup.enter)="selectProvider()"
        [readonly]="isLoading">
      <mat-autocomplete autoActiveFirstOption #auto>
        <mat-option *ngFor="let provider of filteredProviders"
          [value]="provider.switchAccountId + ' | ' + provider.code + ' | ' + provider.name + ' | CCHI ID:'+ provider.cchiId"
          (click)="selectProvider(provider.switchAccountId)">
          {{provider.switchAccountId}} | {{provider.code}} | {{provider.name}} | CCHI ID: {{provider.cchiId}}
        </mat-option>
        <mat-option *ngIf="error!= null && error != '' && !isLoading">
          {{error}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <mat-accordion hideToggle="true" displayMode="flat" multi="true" class="config-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Configuration
          <mat-menu #cdmProviderConfiguration xPosition="before">
            <ng-template matMenuContent>
              <div class="pt-7 pb-7 pr-14 pl-14">
                <ng-container>Error Message</ng-container>
                <ng-container>Success Message</ng-container>
              </div>
            </ng-template>
          </mat-menu>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="bodyOfCodeValueManagement">
        <div class="cardInCodeValueManagement">
          <header>
            Categories
          </header>
          <div style="height: 85%; overflow-y: auto;">
            <div class="item" (click)="fetchDiagnosis()" [ngClass]="diagnosisFlag ? 'selected': ''">Diagnosis Code</div>
            <div class="item" (click)="fetchPolicy()" [ngClass]="fetchFlag ? 'selected': ''">Policy No.</div>
            <div class="item" (click)="fetchRegions()" [ngClass]="regionFlag ? 'selected': ''">Region</div>
          </div>

        </div>
        <div class="cardInCodeValueManagement">
          <header>
            List of values
          </header>
          <div class="mappedValueInput" *ngIf="fetchFlag">
            <input [(ngModel)]="newItem" (keydown.enter)="addItem(newItem)" placeholder="Add item">
            <button mat-flat-button (click)="addItem(newItem)">Add</button>
          </div>

          <div style="height: 85%; overflow-y: auto;" *ngIf="diagnosisFlag">
            <div *ngFor="let item of diagnosisList" class="item" (click)="onDiagChange(item)">
              <label class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="item.selected">
                <span (click)="onDiagChange(item)">{{ item.diagnosisDescription }}</span>
              </label>
            </div>

          </div>
          <div style="height: 85%; overflow-y: auto;" *ngIf="regionFlag">
            <div *ngFor="let item of regions" class="item" (click)="onRegionChange(item)">
              <label class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="item.selected">
                <span (click)="onRegionChange(item)">{{ item.regionDescription }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="cardInCodeValueManagement purple">
          <header>
            Selected Values
          </header>
          <div style="height: 85%; overflow-y: auto;" *ngIf="diagnosisFlag">
            <div class="editableItem" *ngFor="let item of diagSelectedItems; let i = index">
              <div>{{ item.diagnosisDescription }}</div>
              <button mat-flat-button style="color: #EC6B6B;"
                (click)="removeDiagItem(item.cdmSequence, i)">Remove</button>
            </div>
          </div>
          <div style="height: 85%; overflow-y: auto;" *ngIf="fetchFlag">
            <div class="editableItem" *ngFor="let item of policySelectedItems; let i = index">
              <span>{{ item.policyCode }}</span>
              <button mat-flat-button style="color: #EC6B6B;"
                (click)="removePolicyItem(item.cdmSequence, i)">Remove</button>
            </div>
          </div>
          <div style="height: 85%; overflow-y: auto;" *ngIf="regionFlag">
            <div class="editableItem" *ngFor="let item of regSelectedItems; let i = index">
              <div>{{ item.regionDescription }}</div>
              <button mat-flat-button style="color: #EC6B6B;"
                (click)="removeRegItem(item.cdmSequence, i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <div class="inline-loader">
        <mat-spinner diameter="48" *ngIf="isLoading"></mat-spinner>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="block-footer sticky">
    <div class="right-block">
      <div class="btn-list">
        <button mat-button (click)="reset()">Reset</button>
        <button mat-flat-button color="primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>