<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
        <div class="d-flex align-items-center">
            <div class="actions mr-2 my-n2 ml-n1">
                <button matRipple type="button" routerLink="/tawuniya-gss" class="action-btn">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <p>Tawuniya GSS Report Details</p>
        </div>
        <div class="right-block">
            <div class="d-flex align-items-center mb-n2 mt-n2">
                <span class="status-badge size-sm primary" *ngIf="initiateModel?.status" [ngClass]="
                {
                'primary': isNew(), 
                'bg-parrot' : isSigned(),
                'success' : isConfirmed(), 
                'danger' : isRejected(), 
                'bg-warning' : isPending() 
            }">
                    {{initiateModel?.status | titlecase}}
                </span>
                <button type="button" [disabled]="downloaded" mat-icon-button class="text-primary"
                    [ngStyle]="{'cursor': downloaded ? 'default' : 'pointer'}" (click)="downloadData()">
                    <mat-icon *ngIf="!downloaded">file_download</mat-icon>
                    <mat-icon *ngIf="downloaded">check_circle</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="block-body">
        <h5 class="form-title no-border pb-3">Report Overview</h5>
        <div class="row small-gutter">
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">Reference No.</label>
                    <span class="form-control-static">{{ initiateModel?.gssReferenceNumber }}</span>
                </div>
            </div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">Loss Month</label>
                    <span class="form-control-static">{{ initiateModel?.lossMonth }}</span>
                </div>
            </div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">No. of Claims</label>
                    <span class="form-control-static">{{ initiateModel?.totalNumberOfClaim }}</span>
                </div>
            </div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">Provider Name</label>
                    <span class="form-control-static">{{ initiateModel?.providerName }}</span>
                </div>
            </div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">CCHI ID</label>
                    <span class="form-control-static">{{ initiateModel?.cchiId }}</span>
                </div>
            </div>
            <div class="w100 d-none d-xxl-block"></div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">Gross</label>
                    <span class="form-control-static">{{ initiateModel?.totalGross?.value }} <span class="currency">{{
                            initiateModel?.totalGross?.currencyCode }}</span></span>
                </div>
            </div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">Patient Share</label>
                    <span class="form-control-static">{{ initiateModel?.totalPatientShare?.value }} <span
                            class="currency">{{ initiateModel?.totalPatientShare?.currencyCode
                            }}</span></span>
                </div>
            </div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">Net</label>
                    <span class="form-control-static">{{ initiateModel?.totalNet?.value }} <span class="currency">{{
                            initiateModel?.totalNet?.currencyCode }}</span></span>
                </div>
            </div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">Net Vat</label>
                    <span class="form-control-static">{{ initiateModel?.totalNetVat?.value }} <span class="currency">{{
                            initiateModel?.totalNetVat?.currencyCode }}</span></span>
                </div>
            </div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">Discount</label>
                    <span class="form-control-static">{{ initiateModel?.totalDiscount?.value }} <span
                            class="currency">{{ initiateModel?.totalDiscount?.currencyCode
                            }}</span></span>
                </div>
            </div>
            <div class="w100 d-none d-xxl-block"></div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <label class="control-label">Payable</label>
                    <span class="form-control-static">{{ initiateModel?.totalNetPayable?.value }} <span
                            class="currency">{{ initiateModel?.totalNetPayable?.currencyCode
                            }}</span></span>
                </div>
            </div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6">
                <div class="form-group form-group-static">
                    <button mat-stroked-button color="primary" *ngIf="false" (click)="openVatInfoDialog()">Show VAT Information</button>
                </div>
            </div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6"></div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6"></div>
            <div class="col-xxl col-xl-3 col-lg-4 col-md-6"></div>
        </div>
        <h5 class="form-title no-border pb-3">Policy Details</h5>
        <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Policy No.</th>
                        <th>Policy Holder Name</th>
                        <th class="text-center">No. of Claims</th>
                        <th>Gross</th>
                        <th>Discount</th>
                        <th>Patient Share</th>
                        <th>Net</th>
                        <th>Net Vat</th>
                        <th>Payable</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of initiateModel?.policyDetails; let i = index">
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ data.policyNumber }}</td>
                            <td>{{ data.policyHolderName }}</td>
                            <td class="text-center">{{ data.noOfClaims }}</td>
                            <td>{{ data.gross?.value }} <span class="currency">{{ data.gross?.currencyCode }}</span>
                            </td>
                            <td>{{ data.discount?.value }} <span class="currency">{{ data.discount?.currencyCode
                                    }}</span></td>
                            <td>{{ data.patientShare?.value }}<span class="currency">{{ data.patientShare?.currencyCode
                                    }}</span></td>
                            <td>{{ data.net?.value }}<span class="currency">{{ data.net?.currencyCode }}</span></td>
                            <td>{{ data.netVat?.value }}<span class="currency">{{ data.netVat?.currencyCode }}</span>
                            </td>
                            <td>{{ data.netPayable?.value }}<span class="currency">{{ data.netPayable?.currencyCode
                                    }}</span></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </ng-scrollbar>
    </div>
    <div class="block-footer sticky">
        <div class="right-block btn-list">
            <button color="primary" mat-stroked-button (click)="generateReport(true)" [disabled]="disabledConfirmBtn()">Regenerate GSS Report</button>
            <button id="confirm-btn" mat-flat-button color="primary" (click)="onConfirm()" [disabled]="disabledConfirmBtn()"> Confirm </button>
        </div>
    </div>
</div>