<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Errors</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body">
    <div class="table-responsive">
        <table class="primary-grid claim-view-table">
            <thead>
                <tr>
                    <th class="light-bg-danger text-danger">Errors</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SHEET: [BeneficiaryDetails], ROW_NO: [2], COMMENT: [Missing or Invalid Gender]</td>
                </tr>
                <tr>
                    <td>SHEET: [BeneficiaryDetails], ROW _NO: [2], COMMENT: [Missing or Invalid Full Name]</td>
                </tr>
                <tr>
                    <td>SHEET: [BeneficiaryDetails], ROW_NO: [3], COMMENT: [Missing or Invalid Gender]</td>
                </tr>
                <tr>
                    <td>SHEET: [BeneficiaryDetails], ROW_NO: [3], COMMENT: [Missing or Invalid Full Name]</td>
                </tr>
                <tr>
                    <td>SHEET: [BeneficiaryDetails], ROW_NO: [4], COMMENT: [Missing or Invalid Gender]</td>
                </tr>
                <tr>
                    <td>SHEET: [BeneficiaryDetails], ROW_NO: [4], COMMENT: [Missing or Invalid Full Name]</td>
                </tr>
                <tr>
                    <td>SHEET: [BeneficiaryDetails], ROW_NO: [5], COMMENT: [Missing or Invalid Gender]</td>
                </tr>
                <tr>
                    <td>SHEET: [BeneficiaryDetails]ROW_NO: [51 COMMENT: Missing or Invalid Full Name</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="primary-dialog-footer has-border text-right">
    <button mat-flat-button color="primary" (click)="closeDialog()">Close</button>
</div>