
table {
    margin: 0px;
    width: 100%;
}

.currency{
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0;
    color: #3060AA;
    opacity: 0.25;
}

.viewPort{
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 30px;
}

mat-paginator{
    margin-bottom: 10px;
    margin-left: auto;
}
mat-expansion-panel{
    box-shadow: 0 2px 1px -1px rgb(233, 233, 233), 
                0 1px 1px 0 rgb(233, 233, 233), 
                0 1px 3px 0 rgb(233, 233, 233) !important;
}
mat-expansion-panel:nth-child(odd){
    background-color: #EDF4FF;
}
mat-expansion-panel:hover{
    cursor: pointer;
    background-color: #c7ddff;
}

.paginatorContainer{
    display: flex;
    align-items: center;
    background-color: white;
}

.page-select {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 30px;
    width: 50%;
}
  
.label {
    margin: 0 4px;
}

.errorCard{
    background-color: #E988AD;
    color:white;
}