<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">PBM Validation Response Summary</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body pb-0">
    <div class="row small-gutter">
        <div class="col-md-6">
            <div class="form-group form-group-static">
                <div class="control-label">Request ID</div>
                <p class="form-control-static text-primary">{{ pbmResult.requestId }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-static">
                <div class="control-label">Response Status</div>

                <p class="form-control-static text-danger" *ngIf="pbmResult.status !='APPROVED'">{{ pbmResult.status }}</p>
                <p class="form-control-static text-success" *ngIf="pbmResult.status =='APPROVED'">{{ pbmResult.status }}</p>
                
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="primary-grid claim-view-table">
        <thead>
            <tr>
                <th>Service Code</th>
                <th>Service Description </th>
                <th>Status</th>
                <th>Requested Qty.</th>
                <th>Rejection Reason</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let row of pbmResult.results">
                <td>{{row.standardCode}}</td>
                <td>{{row.serviceDescription}}</td>
                <td class="semibold text-success" *ngIf="row.status =='APPROVED'">{{ row.status }}</td>
                <td class="semibold text-danger" *ngIf="row.status !='APPROVED'">{{ row.status }}</td>
                <td>{{ row.requestedQuantity }}</td>
                <td>
                    <ng-container *ngFor="let error of row.errors;let i=index">
                        <span class="abbr" matTooltip="{{error.description}}">{{ error.code }}</span>
                        <ng-container *ngIf="i!=row.errors.length-1">, </ng-container>
                      </ng-container>
                </td>
            </tr>
           

        </tbody>
    </table>
</div>
<div class="text-right p-14">
    <button mat-button type="button" color="primary" (click)="closeDialog()">Close</button>
</div>