<ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" *ngIf="paymentReconciliations && paymentReconciliations.length > 0">
  <div class="fixed-height">
    <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Period Start Date</th>
          <th>Period End Date</th>
          <th>Issuer</th>
          <th>Payment Date</th>
          <th>Amount</th>
          <th>Payment Notice</th>
          <th width="10"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pr of paymentReconciliations" [ngClass]="{'text-warning light-bg-warning': pr.notificationStatus !== 'read'}">
          <td class="row-click" (click)="RedirectToDetails(pr.reconciliationId, pr.notificationStatus, pr.notificationId)">
            {{pr.reconciliationId}}</td>
          <td class="row-click" (click)="RedirectToDetails(pr.reconciliationId, pr.notificationStatus, pr.notificationId)">
            {{pr.periodStartDate | date: 'dd/MM/yyyy'}}</td>
          <td class="row-click" (click)="RedirectToDetails(pr.reconciliationId, pr.notificationStatus, pr.notificationId)">
            {{pr.periodEndDate | date: 'dd/MM/yyyy'}}</td>
          <td class="row-click" (click)="RedirectToDetails(pr.reconciliationId, pr.notificationStatus, pr.notificationId)">
            {{pr.issuerName}}</td>
          <td class="row-click" (click)="RedirectToDetails(pr.reconciliationId, pr.notificationStatus, pr.notificationId)">
            {{pr.paymentDate | date: 'dd/MM/yyyy'}}</td>
          <td class="row-click" (click)="RedirectToDetails(pr.reconciliationId, pr.notificationStatus, pr.notificationId)">
            {{pr.paymentAmount}} <span class="currency">SR</span></td>
          <td class="row-click" (click)="RedirectToDetails(pr.reconciliationId, pr.notificationStatus, pr.notificationId)">
            {{pr.paymentNoticeStatus}}</td>
          <td class="actions">
            <mat-menu #recentReconciliationActionsMenu xPosition="before">
              <ng-template matMenuContent>
                <button mat-menu-item type="button" (click)="openSendPaymentNoticeConfimationDialog(pr.reconciliationId, pr.paymentAmount)">
                  <mat-icon class="material-icons-outlined">send</mat-icon>
                  <span>Send Payment Notice</span>
                </button>
              </ng-template>
            </mat-menu>
            <button type="button" *ngIf="pr.paymentNoticeStatus !== 'Sent'" mat-icon-button [matMenuTriggerFor]="recentReconciliationActionsMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-scrollbar>
<app-empty-state class="claim-list-empty-state" *ngIf="paymentReconciliations && paymentReconciliations.length === 0" message='No payment reconciliation found!'>
</app-empty-state>
<div class="pagination-header" *ngIf="!(paymentReconciliations && paymentReconciliations.length === 0)">
  <div class="form-group page-select">
    <label class="control-label">Go to page: </label>
    <mat-form-field class="form-control custom-select-control">
      <mat-select [ngModel]="manualPage" (ngModelChange)="updateManualPage($event)">
        <mat-option *ngFor="let i of paginatorPagesNumbers" [value]="i">{{i+1}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="material-paginator">
    <mat-paginator #paginator [length]="paginatorLength" [pageSizeOptions]="paginatorPageSizeOptions" (page)="paginatorAction($event)">
    </mat-paginator>
  </div>
  <div class="right-block" *ngIf="paymentReconciliations.length != 0">
    <div class="actions">
      <button mat-flat-button color="primary" (click)="readAllNotification();">Mark all as read </button>
    </div>
  </div>
</div>