<div class="dialog-body">
    <h3 class="dialog-title pb-2"  style.color="#1C7C26">Delete claims</h3>
    <p style.color="#1C7C26"> Are you sure you want to delete the claims?</p>
    <div class="btn-list text-right pt-4">
        <button mat-button mat-dialog-close="deleteAll"   matTooltip="this will delete everythings inculding submitted claims" cdkFocusInitial>Delete All</button>
      <button  mat-button mat-dialog-close="cancel">Cancel</button>
      <button  mat-flat-button mat-dialog-close="confirm" color="primary" cdkFocusInitial>Confirm</button>

    </div>
  </div>