<div class="primary-dialog-header has-border align-items-center">
    <h5 class="primary-dialog-title semibold"> {{ dataModel.patientInfo.patientId}} - {{dataModel.patientInfo.patientName }}</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close ml-auto" matRipple></button>
</div>
<div class="primary-dialog-body no-footer">
    <div class="row small-gutter">
        <div class="col-4 col-xxl-3">
            <div class="form-group form-group-static">
                <div class="control-label">Patient ID</div>
                <p class="form-control-static">{{dataModel.patientInfo.patientId}}</p>
            </div>
        </div>
        <div class="col-4 col-xxl-3">
            <div class="form-group form-group-static">
                <div class="control-label">Patient Name</div>
                <p class="form-control-static">{{ dataModel.patientInfo.patientName }}</p>
            </div>
        </div>
        <div class="col-4 col-xxl-3">
            <div class="form-group form-group-static">
                <div class="control-label">Member ID</div>
                <p class="form-control-static">{{dataModel.patientInfo.memberCode}}</p>
            </div>
        </div>
        <div class="col-4 col-xxl-3">
            <div class="form-group form-group-static">
                <div class="control-label">Phone No.</div>
                <p class="form-control-static">{{dataModel.patientInfo.contactNumber}}</p>
            </div>
        </div>
        <div class="col-4 col-xxl-3">
            <div class="form-group form-group-static">
                <div class="control-label">Policy No.</div>
                <p class="form-control-static">{{dataModel.patientInfo.policyNumber}}</p>
            </div>
        </div>
        <div class="col-4 col-xxl-3">
            <div class="form-group form-group-static">
                <div class="control-label">Policy Name</div>
                <p class="form-control-static">{{dataModel.patientInfo.policyName}}</p>
            </div>
        </div>
        <div class="col-4 col-xxl-3">
            <div class="form-group form-group-static">
                <div class="control-label">Policy Duration</div>
                <p class="form-control-static"> {{dataModel.patientInfo.policyStartDate | date:
                    'dd-MM-yyyy'}} - {{dataModel.patientInfo.policyEndDate | date:
                    'dd-MM-yyyy'}} </p>
            </div>
        </div>
        <div class="col-4 col-xxl-3">
            <div class="form-group form-group-static">
                <div class="control-label">Gender</div>
                <p class="form-control-static">{{dataModel.patientInfo.gender}}</p>
            </div>
        </div>
        <div class="col-4 col-xxl-3">
            <div class="form-group form-group-static">
                <div class="control-label">Date of Birth</div>
                <p class="form-control-static">{{dataModel.patientInfo.dob | date:
                    'dd-MM-yyyy'}}</p>
            </div>
        </div>
        <div class="col-4 col-xxl-3">
            <div class="form-group form-group-static">
                <div class="control-label">Age</div>
                <p class="form-control-static">{{dataModel.patientInfo.age}}</p>
            </div>
        </div>
    </div>

    <h5 class="form-title">
        List of Approvals
    </h5>

    <div class="table-responsive">
        <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th width="10"></th>
                    <th>Approval No.</th>
                    <th>Approval Date</th>
                    <th>Provider Name</th>
                    <th>City</th>
                    <th>Region</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let approval of dataModel.approvals; let index">
                <tr>
                    <td class="text-primary row-click" width="10" (click)="toggleRow(index)">
                        <mat-icon *ngIf="currentDetailsOpen!=index" class="size-21">add_circle_outline</mat-icon>
                        <mat-icon *ngIf="currentDetailsOpen==index" class="size-21">remove_circle_outline</mat-icon>
                    </td>
                    <td class="row-click" (click)="toggleRow(index)">{{approval.approvalNumber}}</td>
                    <td class="row-click" (click)="toggleRow(index)">{{approval.approvalDate  | date:
                        'dd-MM-yyyy'}}</td>
                    <td class="row-click" (click)="toggleRow(index)">{{approval.providerName}}</td>
                    <td class="row-click" (click)="toggleRow(index)">{{approval.city}}</td>
                    <td class="row-click" (click)="toggleRow(index)">{{approval.region}}</td>
                    <td>
                        <a href="{{approval.prescriptionUrl}}" class="primary-link">View Prescription</a>
                    </td>
                </tr>
                <tr *ngIf="currentDetailsOpen==index">
                    <td></td>
                    <td colspan="6">
                        <p class="semibold pb-8">Diagnosis</p>
                        <div class="table-responsive">
                            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Diagnosis Code</th>
                                        <th>Diagnosis Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let diagnose of approval.diagnosis">
                                        <th>{{diagnose.diagnosisCode}}</th>
                                        <th>{{diagnose.diagnosisDescription}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <p class="semibold pb-8">Prescribed Medications</p>
                        <div class="table-responsive">
                            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Medication Name</th>
                                        <th>Medication Code</th>
                                        <th>Doses</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let med of approval.medications">
                                        <td>{{med.tradeName}}</td>
                                        <td>{{med.code}}</td>
                                        <td>{{med.dose}}</td>
                                        <td>{{med.quantity}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>