<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="feedback-form">
        <!-- builder start -->
        <div class="builder">
            <div class="block-header d-flex align-items-center">
                <p>Feedback Survey Designer</p>
                <button mat-flat-button class="ml-auto text-primary mt-n10 mb-n10 mr-n10" (click)="openPreviewDialog()">
                    <mat-icon class="material-icons-outlined mr-2">visibility</mat-icon>
                    <span>Preview</span>
                </button>
            </div>
            <div class="builder-body">
                <ul class="feedback-questions edit-mode">
                    <li class="selected">
                        <div class="question-body">
                            <span class="que-no">Question 1</span>
                            <p class="que">
                                How likely are you to recommend our services to others? <span class="asterisk">*</span>
                                <span class="text-arabic text-left d-block">ما مدى احتمالية أن توصي بخدماتنا للآخرين؟</span>
                            </p>
                            <feedback-rating [rating]="0"></feedback-rating>
                        </div>
                        <div class="controls">
                            <mat-slide-toggle [checked]="true" color="primary">Required</mat-slide-toggle>
                            <div class="ml-auto">
                                <div class="btn-list d-flex align-items-center">
                                    <button mat-icon-button class="text-primary" disabled>
                                        <mat-icon>arrow_upward</mat-icon>
                                    </button>
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon>arrow_downward</mat-icon>
                                    </button>
                                    <div class="vertical-separator h-32"></div>
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="question-body">
                            <span class="que-no">Question 2</span>
                            <p class="que">
                                Which product you are using? <span class="asterisk">*</span>
                                <span class="text-arabic text-left d-block">ما المنتج الذي تستخدمه؟</span>
                            </p>
                            <div class="checkbox-group inline row">
                                <div class="col-6">
                                    <mat-checkbox color="primary">Waseel Connect <span class="text-arabic text-grey">(عربي)</span></mat-checkbox>
                                </div>
                                <div class="col-6">
                                    <mat-checkbox color="primary">Dawy <span class="text-arabic text-grey">(عربي)</span></mat-checkbox>
                                </div>
                                <div class="col-6">
                                    <mat-checkbox color="primary">Communication Portal <span class="text-arabic text-grey">(عربي)</span></mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="controls">
                            <mat-slide-toggle [checked]="true" color="primary">Required</mat-slide-toggle>
                            <div class="ml-auto">
                                <div class="btn-list d-flex align-items-center">
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon>arrow_upward</mat-icon>
                                    </button>
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon>arrow_downward</mat-icon>
                                    </button>
                                    <div class="vertical-separator h-32"></div>
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="question-body">
                            <span class="que-no">Question 3</span>
                            <p class="que">
                                Which product you are using? <span class="asterisk">*</span>
                                <span class="text-arabic text-left d-block">ما المنتج الذي تستخدمه؟</span>
                            </p>
                            <mat-radio-group class="radio-group inline row">
                                <div class="col-6">
                                    <mat-radio-button value="1" color="primary">Waseel Connect <span class="text-arabic text-grey">(عربي)</span></mat-radio-button>
                                </div>
                                <div class="col-6">
                                    <mat-radio-button value="2" color="primary">Dawy <span class="text-arabic text-grey">(عربي)</span></mat-radio-button>
                                </div>
                                <div class="col-6">
                                    <mat-radio-button value="3" color="primary">Communication Portal <span class="text-arabic text-grey">(عربي)</span></mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>
                        <div class="controls">
                            <mat-slide-toggle [checked]="true" color="primary">Required</mat-slide-toggle>
                            <div class="ml-auto">
                                <div class="btn-list d-flex align-items-center">
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon>arrow_upward</mat-icon>
                                    </button>
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon>arrow_downward</mat-icon>
                                    </button>
                                    <div class="vertical-separator h-32"></div>
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="question-body">
                            <span class="que-no">Question 4</span>
                            <p class="que">
                                Which product you are using? <span class="asterisk">*</span>
                                <span class="text-arabic text-left d-block">ما المنتج الذي تستخدمه؟</span>
                            </p>
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <mat-form-field class="form-control custom-select-control">
                                            <mat-select value="0">
                                                <mat-option value="0">Select product</mat-option>
                                                <mat-option value="1">Waseel Connect <span class="text-arabic text-grey">(عربي)</span></mat-option>
                                                <mat-option value="2">Dawy <span class="text-arabic text-grey">(عربي)</span></mat-option>
                                                <mat-option value="3">Communication Portal <span class="text-arabic text-grey">(عربي)</span></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="controls">
                            <mat-slide-toggle [checked]="true" color="primary">Required</mat-slide-toggle>
                            <div class="ml-auto">
                                <div class="btn-list d-flex align-items-center">
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon>arrow_upward</mat-icon>
                                    </button>
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon>arrow_downward</mat-icon>
                                    </button>
                                    <div class="vertical-separator h-32"></div>
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="question-body">
                            <span class="que-no">Question 5</span>
                            <p class="que">
                                Please share with us how can we improve your experience?
                                <span class="text-arabic text-left d-block">يرجى مشاركتنا كيف يمكننا تحسين تجربتك؟</span>
                            </p>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Type here..." rows=" 5"></textarea>
                            </div>
                        </div>
                        <div class="controls">
                            <mat-slide-toggle color="primary">Required</mat-slide-toggle>
                            <div class="ml-auto">
                                <div class="btn-list d-flex align-items-center">
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon>arrow_upward</mat-icon>
                                    </button>
                                    <button mat-icon-button class="text-primary" disabled>
                                        <mat-icon>arrow_downward</mat-icon>
                                    </button>
                                    <div class="vertical-separator h-32"></div>
                                    <button mat-icon-button class="text-primary">
                                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center">
                    <button mat-flat-button color="primary" [matMenuTriggerFor]="addQuestionMenu">
                        <span>Add Question</span>
                        <mat-icon class="ml-2">expand_less</mat-icon>
                    </button>
                    <mat-menu #addQuestionMenu="matMenu" class="primary-menu primary-menu-items">
                        <button mat-menu-item>Text Box</button>
                        <button mat-menu-item>Radio Button</button>
                        <button mat-menu-item>Checkbox</button>
                        <button mat-menu-item>Rating</button>
                        <button mat-menu-item>Dropdown</button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <!-- builder end -->


        <!-- property panel start -->
        <div class="property-panel">
            <div class="block-header">
                <p>Feedback Survey Properties</p>
            </div>
            <div class="block-header d-flex align-items-center">
                <button mat-icon-button class="text-primary mr-2 ml-n10 mt-n10 mb-n10">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <p>Question Property Properties</p>
            </div>
            <div class="block-body">
                <div class="form-group">
                    <label class="control-label">Survey Name</label>
                    <input class="form-control" placeholder="Enter survey name" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="startDatePicker" class="form-control" placeholder="Select start date" />
                        <mat-datepicker-toggle [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">End Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="endDatePicker" class="form-control" placeholder="Select end date" />
                        <mat-datepicker-toggle [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </div>
                </div>
                <button mat-stroked-button class="btn-block multiline" (click)="openSelectProviderDialog()" color="primary">All Provider Selected<br />(Click here to select only
                    few)</button>

                <div class="form-group">
                    <label class="control-label">Question (English)</label>
                    <input class="form-control" placeholder="Enter question" type="text" value="How likely are you to recommend our service" />
                </div>
                <div class="form-group">
                    <label class="control-label">Question (Arabic)</label>
                    <input class="form-control" placeholder="Enter question" type="text" value="ما مدى احتمالية أن توصي بخدمتنا" />
                </div>
                <div class="form-group">
                    <label class="control-label">Question Type</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select value="0">
                            <mat-option value="0">Select question type</mat-option>
                            <mat-option value="Text Box">Text Box</mat-option>
                            <mat-option value="Radio Button">Radio Button</mat-option>
                            <mat-option value="Checkbox">Checkbox</mat-option>
                            <mat-option value="Rating">Rating</mat-option>
                            <mat-option value="Dropdown">Dropdown</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label class="control-label">Question Sequence No.</label>
                    <input class="form-control" placeholder="Enter question sequence no." type="text" value="1" />
                </div>
                <div class="form-group">
                    <label class="control-label d-flex align-items-center">
                        <span>Answer Options</span>
                        <button type="button" mat-icon-button class="text-primary my-n2 ml-auto mr-n2" matTooltip="Add Option" [matMenuTriggerFor]="addOptionMenu">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </label>

                    <ul class="options-list">
                        <li>
                            Option 1 &nbsp;<span class="text-arabic text-grey">(الخيار 1)</span>
                            <button class="close-btn" matRipple>
                                <mat-icon class="size-18 d-block">close</mat-icon>
                            </button>
                        </li>
                        <li>
                            Option 2 &nbsp;<span class="text-arabic text-grey">(الخيار 2)</span>
                            <button class="close-btn" matRipple>
                                <mat-icon class="size-18 d-block">close</mat-icon>
                            </button>
                        </li>
                        <li>
                            Option 3 &nbsp;<span class="text-arabic text-grey">(الخيار 3)</span>
                            <button class="close-btn" matRipple>
                                <mat-icon class="size-18 d-block">close</mat-icon>
                            </button>
                        </li>
                    </ul>

                    <mat-menu #addOptionMenu="matMenu" xPosition="before" class="filter-menu">
                        <div class="menu-body">
                            <div (click)="$event.stopPropagation()">
                                <p class="semibold pb-14">Add Option</p>
                                <div class="form-group">
                                    <label class="control-label">Option (English)</label>
                                    <input class="form-control" placeholder="Enter option text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Option (Arabic)</label>
                                    <input class="form-control" placeholder="Enter option text">
                                </div>
                                <div class="btn-list text-right">
                                    <button mat-flat-button>Cancel</button>
                                    <button mat-flat-button color="primary">Add</button>
                                </div>
                            </div>
                        </div>
                    </mat-menu>
                </div>
            </div>
            <div class="block-footer sticky">
                <div class="btn-list right-block">
                    <button mat-flat-button routerLink="/administration/config/feedback-survey">Cancel</button>
                    <button mat-flat-button color="primary" routerLink="/administration/config/feedback-survey">Save</button>
                </div>
            </div>
        </div>
        <!-- property panel end -->
    </div>
</div>