<div class="inner-loader-wrapper">
    <div class="inner-loader" *ngIf="page.pageControls.isLoading">
        <mat-spinner diameter="48"></mat-spinner>
    </div>
    <div *ngIf="page.pageControls != null && page.pageControls.errorMessage != null" class="mb-14">
        <p class="error-card mb-0">{{page.pageControls.errorMessage}}</p>
    </div>
    <app-empty-state *ngIf="page.uploads != null && page.uploads.length == 0" class="claim-list-empty-state" message='No uploads found!'>
    </app-empty-state>
    <div class="row small-gutter">
        <app-upload-assigning-card class="col-lg-6"  *ngFor="let upload of page.uploads" [tabName]="tabName" [data]="upload"></app-upload-assigning-card>
    </div>
    <div class="pt-14" *ngIf="!(page.uploads != null && page.uploads.length == 0)">
        <mat-paginator #paginator class="primary-paginator" aria-label="Select page" (page)="dispatchPageEvent($event)" [length]="page.pageControls.totalUploads"
            [pageSize]="page.pageControls.pageSize" [pageSizeOptions]="[10, 50, 100]" [pageIndex]="page.pageControls.pageNumber">
        </mat-paginator>
    </div>
</div>