<div>PBM Status: {{claimProps.pbmClaimStatus}}</div>
<div class="table-responsive">
    <table cellpadding="0" cellspacing="0" border="0" class="primary-grid">
        <thead class="header-primary">
            <tr>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pbmClaimError">
                <td>{{item}}</td>
            </tr>
        </tbody>
    </table>
</div>
<app-empty-state *ngIf="pbmClaimError.length===0" message='No comments found!'></app-empty-state>