<mat-menu #appMenu="matMenu" xPosition="before" class="filter-menu">
    <div class="menu-body">
        <div (click)="$event.stopPropagation()">
            <div (keyup.enter)="search()">
                <div class="form-group" [class.has-error]="fromDateHasError">
                    <label class="control-label">From claim date</label>
                    <div class="date-picker-mat">
                        <input class="form-control" [matDatepicker]="fromPicker" placeholder="Select from claim date" [formControl]="fromDateControl" (keyup.enter)="search()"
                            (dateChange)="updateChips(fromDate, $event.value.format('DD-MM-YYYY'))">
                        <mat-datepicker-toggle [for]="fromPicker"></mat-datepicker-toggle>
                        <mat-datepicker #fromPicker></mat-datepicker>
                    </div>
                </div>
                <div class="form-group" [class.has-error]="toDateHasError">
                    <label class="control-label">To claim date</label>
                    <div class="date-picker-mat">
                        <input class="form-control" [matDatepicker]="toPicker" placeholder="Select to claim date" [formControl]="toDateControl" (keyup.enter)="search()"
                            (dateChange)="updateChips(toDate, $event.value.format('DD-MM-YYYY'))">
                        <mat-datepicker-toggle [for]="toPicker"></mat-datepicker-toggle>
                        <mat-datepicker #toPicker></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-list text-right">
            <button mat-flat-button (click)="clear()">Clear</button>
            <button mat-flat-button color="primary" (click)="search()">Search</button>
        </div>
    </div>
</mat-menu>

<mat-form-field color="accent" appearance="outline" floatLabel="never" class="text-field" [matMenuTriggerFor]="appMenu">
    <mat-icon matPrefix>search</mat-icon>
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let query of queries" removable="true" (removed)="remove(query)" [matTooltip]="getQueryTypeText(query.type)">
            {{queryToText(query)}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input type="text" placeholder="Enter {{searchBy}}" matInput autocomplete="off" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" [formControl]="searchTextControl" (matChipInputTokenEnd)="updateChips(text, $event.value)" (click)="$event.stopPropagation()"
            [value]="searchTextControl.value" [matAutocomplete]="auto">
    </mat-chip-list>
    <mat-icon matSuffix class="clickable">tune</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="searchWithText()" *ngIf="currentTEXT != null && currentTEXT != ''">
            Search for: {{currentTEXT}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>