<form [formGroup]="announcementForm">
    <div class="primary-dialog-header has-border">
        <h5 class="primary-dialog-title">Select Provider</h5>
        <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
    </div>
    <div class="primary-dialog-body pb-0">

        <div class="row small-gutter">
            <div class="col-md-6">
                <div class="form-group" [class.has-error]="hasError('startDateControl')!=null"
                [matTooltip]="hasError('startDateControl')">
                <mat-form-field>
                    <mat-label>Start Date<span class="asterisk">*</span></mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker"  placeholder="Choose a date" formControlName="startDateControl"
                      [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                      [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                       [enableMeridian]="enableMeridian">
                    </ngx-mat-datetime-picker>
                  </mat-form-field>
                  </div>

                <!-- <div class="form-group" [class.has-error]="hasError('startDateControl')!=null"
                    [matTooltip]="hasError('startDateControl')">
                    <label class="control-label">Start Date<span class="asterisk">*</span></label>
                    <div class="date-picker">
                        <input type="text" [matDatepicker]="startDate" class="form-control"
                            placeholder="Select start date" formControlName="startDateControl" />
                        <mat-datepicker-toggle [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </div>
                </div> -->
            </div>
            <div class="col-md-6">
                <div class="form-group" [class.has-error]="hasError('closeDateControl')!=null"
                [matTooltip]="hasError('closeDateControl')">
                <mat-form-field>
                    <mat-label>Close Date <span class="asterisk">*</span></mat-label>
                    <input matInput [ngxMatDatetimePicker]="closeDate"  placeholder="Choose a date" formControlName="closeDateControl"
                      [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="closeDate"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #closeDate [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                      [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                       [enableMeridian]="enableMeridian">
                    </ngx-mat-datetime-picker>
                  </mat-form-field>
                  </div>
                  <div *ngIf="announcementForm.hasError('dateRange')">
                    <p class="error-text">Start date must be before or equal to Close date.</p>
                  </div>
             
<!--                 
                <div class="form-group" [class.has-error]="hasError('closeDateControl')!=null"
                    [matTooltip]="hasError('closeDateControl')">
                    <label class="control-label">End Date<span class="asterisk">*</span></label>
                    <div class="date-picker">
                        <input type="text" [matDatepicker]="closeDate" class="form-control"
                            placeholder="Select end date" formControlName="closeDateControl" />
                        <mat-datepicker-toggle [for]="closeDate"></mat-datepicker-toggle>
                        <mat-datepicker #closeDate></mat-datepicker>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-md-6">
            <label class="control-label">Active</label>
            <mat-slide-toggle formControlName="status" color="primary"></mat-slide-toggle>
        </div>

    </div>
    <hr class="hr mb-14">
    <div class="block-body">
        <div class="form-group mb-0" [class.has-error]="hasError('providersControl')!=null"
            [matTooltip]="hasError('providersControl')">
            <label class="control-label">Select Provider<span class="asterisk">*</span></label>
            <input [matAutocomplete]="auto" class="form-control search-box" placeholder="Search provider here..."
                formControlName="providersControl" (input)="updateFilter()" (keyup.enter)="selectProvider()"
                [readonly]="isLoading">
            <mat-autocomplete autoActiveFirstOption #auto>
                <mat-option value="All providers" (click)='selectProvider("All")'>
                    All providers
                </mat-option>
                <mat-option value="All NPHIES providers" (click)='selectProvider("NPHIES")'>
                    All NPHIES providers
                </mat-option>
                <mat-option value="All Waseel providers" (click)='selectProvider("Waseel")'>
                    All Waseel providers
                </mat-option>
                <mat-option value="All NPHIES PBM providers" (click)='selectProvider("NPHIES PBM")'>
                    All NPHIES PBM providers
                </mat-option>
                <mat-option value="All NPHIES MRE providers" (click)='selectProvider("NPHIES MRE")'>
                    All NPHIES MRE providers
                </mat-option>
                <mat-option value="All WASEEL PBM providers" (click)='selectProvider("Waseel PBM")'>
                    All WASEEL PBM providers
                </mat-option>
                <mat-option value="All WASEEL MRE providers" (click)='selectProvider("Waseel MRE")'>
                    All WASEEL MRE providers
                </mat-option>
                <mat-option *ngFor="let provider of filteredProviders"
                    [value]="provider.switchAccountId + ' | ' + provider.code + ' | ' + provider.name + ' | '+provider.cchiId"
                    (click)="selectProvider(provider)">
                    {{provider.switchAccountId}} | {{provider.code}} | {{provider.name}} | {{provider.cchiId}}
                </mat-option>
                <mat-option *ngIf="error!= null && error != '' && !isLoading">
                    {{error}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
    <hr class="hr">
    <div style="overflow-x: auto; ;  max-height: 250px;">
        <div class="checkbox-list">

            <mat-checkbox color="primary" *ngIf="allProviders" [checked]="allProviders"
                (change)="cancelSelectedProviders('All')">All
                Provider</mat-checkbox>
            <mat-checkbox color="primary" *ngIf="allWaseelProviders" [checked]="allWaseelProviders"
                (change)="cancelSelectedProviders('Waseel')">All
                Waseel Provider</mat-checkbox>
            <mat-checkbox color="primary" *ngIf="allNphiesProviders" [checked]="allNphiesProviders"
                (change)="cancelSelectedProviders('NPHIES')">All
                NPHIES Provider</mat-checkbox>
                <mat-checkbox color="primary" *ngIf="allWaseelPBMProviders" [checked]="allWaseelPBMProviders"
                (change)="cancelSelectedProviders('Waseel PBM')">All
                Waseel PBM Provider</mat-checkbox>
                <mat-checkbox color="primary" *ngIf="allWaseelMREProviders" [checked]="allWaseelMREProviders"
                (change)="cancelSelectedProviders('Waseel PBM')">All
                Waseel MRE Provider</mat-checkbox>
                <mat-checkbox color="primary" *ngIf="allNphiesPBMProviders" [checked]="allNphiesPBMProviders"
                (change)="cancelSelectedProviders('NPHIES PBM')">All
                NPHIES PBM Provider</mat-checkbox>
                <mat-checkbox color="primary" *ngIf="allNphiesMREProviders" [checked]="allNphiesMREProviders"
                (change)="cancelSelectedProviders('NPHIES MRE')">All
                NPHIES MRE Provider</mat-checkbox>

            <div *ngFor="let provider of selectedProviders">
                <mat-checkbox (change)="cancelSelectedProviders(provider.switchAccountId)" checked="true"
                    color="primary">{{provider.switchAccountId}} | {{provider.code}} | {{provider.name}}</mat-checkbox>
            </div>

        </div>
    </div>
    <div class="primary-dialog-footer has-border">
        <div class="btn-list text-right">
            <button mat-button (click)="closeDialog()">Cancel</button>
            <button mat-flat-button color="primary" (click)="saveAnnouncement()">Save</button>
        </div>
    </div>
</form>