<div class="wrapper" style="height: 72vh;">
    <div class="parent">
        <header>
            <mat-icon style="margin-right: 10px;">settings</mat-icon>
            <h5>Attachments Management</h5>
        </header>
        <main>
            <section class="leftSection">
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Claim Ref. No.</th>
                                <th colspan="2">Member ID</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="overflow: auto;">
                    <table>
                        <tbody>
                            <tr *ngFor="let claim of claims" (click)="onClaimClicked(claim.id)">
                                <td>
                                    <mat-radio-button color="primary" [checked]="selectedClaim == claim.id">
                                    </mat-radio-button>
                                </td>
                                <td>{{claim.referenceNumber}}</td>
                                <td>{{claim.memberId}}</td>
                                <td>
                                    <mat-icon *ngIf="claim.hasAttachments">attach_file</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pageControl">
                    <div>
                        <button mat-icon-button (click)="changePage(0)">
                            <mat-icon>skip_previous</mat-icon>
                        </button>
                        <button mat-icon-button (click)="changePage(1)">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                        <span>{{(currentPage+1) || 0}}</span> / <span>{{maxPages}}</span>
                        <button mat-icon-button (click)="changePage(2)">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                        <button mat-icon-button (click)="changePage(3)">
                            <mat-icon>skip_next</mat-icon>
                        </button>
                    </div>
                </div>
            </section>
            <section class="middleSection">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="3">Assigned Attachments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let attachment of selectedClaimAssignedAttachments; let i = index;">
                            <td>
                                <mat-checkbox [checked]="selectedAssignedAttachments.includes(i)"
                                    (click)="toggleAssignedAttachmentSelection(i);"></mat-checkbox>
                            </td>
                            <td [matTooltip]="attachment.name">{{beautifyFileName(attachment.name)}}</td>
                            <td style="color: white; font-size: 0.8rem;">
                                <span
                                    style="background-color: #FF6D6D; padding: 5px; border-radius: 3px; margin-right: 3px;">
                                    {{getFileExtension(attachment.name)}}</span>
                                <span [matMenuTriggerFor]="attachmentTypeMenu"
                                    (click)="attachmentBeingTypeEdited = attachment"
                                    style="background-color: #9E6DFF; padding: 5px; border-radius: 3px; cursor: pointer;">
                                    {{getFileType(attachment.type)}}</span>
                            </td>
                            <td style="padding-left: 0px; padding-right: 20px;">
                                <mat-icon>visibility</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="rightSection">
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="3">Unassigned Attachments</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="overflow: auto;">
                    <table>
                        <tbody>
                            <tr *ngFor="let attachment of attachments; let i = index;">
                                <td style="padding-left: 20px; padding-right: 0px;">
                                    <mat-checkbox *ngIf="attachment.type == ''"
                                        [checked]="selectedAttachments.includes(i)"
                                        [matMenuTriggerFor]="attachmentTypeMenu"
                                        (click)="attachmentBeingTypeEdited = attachment; selectAttachmentBeingEdited = i"></mat-checkbox>
                                    <mat-checkbox *ngIf="attachment.type != ''"
                                        [checked]="selectedAttachments.includes(i)"
                                        (click)="toggleAttachmentSelection(i);"></mat-checkbox>
                                </td>
                                <td [matTooltip]="attachment.name">{{beautifyFileName(attachment.name)}}</td>
                                <td style="color: white; font-size: 0.8rem;">
                                    <span
                                        style="background-color: #FF6D6D; padding: 5px; border-radius: 3px; margin-right: 3px;">
                                        {{getFileExtension(attachment.name)}}</span>
                                    <span [matMenuTriggerFor]="attachmentTypeMenu"
                                        (click)="attachmentBeingTypeEdited = attachment"
                                        style="background-color: #9E6DFF; padding: 5px; border-radius: 3px; cursor: pointer;">
                                        {{getFileType(attachment.type)}}</span>
                                </td>
                                <td>
                                    <mat-icon>visibility</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button mat-fab color="primary" (click)="fileInput.click()"
                    style="position: absolute; bottom: 90px; right: 30px;">
                    <mat-icon>add</mat-icon>
                    <input hidden type="file" #fileInput onclick="this.value = null" multiple
                        (change)="addFiles($event.target.files)"
                        accept="image/png,image/jpeg,image/jpg,image/tiff,image/gif,application/pdf" />
                </button>
            </section>
        </main>
        <footer>
            <div style="display: flex;">
                <button mat-flat-button>Cancel</button>
                <button mat-raised-button color="primary">{{confirmButtonText}}</button>
            </div>
        </footer>
    </div>
    <div class="floatingButtons">
        <button mat-mini-fab class="moveToLeftButton" (click)="moveSelectionToAssigned()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-mini-fab class="moveToRightButton" (click)="moveSelectionToUnassigned()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>

<mat-menu #attachmentTypeMenu="matMenu">
    <div style="padding: 10px;" *ngIf="attachmentBeingTypeEdited != null">
        <label>What Type of Attachment?</label>
        <mat-radio-group aria-label="Select an option" style="display: grid;" [value]="attachmentBeingTypeEdited.type">
            <mat-radio-button (click)="changeAttachmentType('MEDICAL_REPORT', true)" value="MEDICAL_REPORT">Medical
                Report</mat-radio-button>
            <mat-radio-button (click)="changeAttachmentType('IQAMA_ID_COPY', true)" value="IQAMA_ID_COPY">Iqama/ID Copy
            </mat-radio-button>
            <mat-radio-button (click)="changeAttachmentType('X_RAY_RESULT', true)" value="X_RAY_RESULT">X-Ray Result
            </mat-radio-button>
            <mat-radio-button (click)="changeAttachmentType('LAB_RESULT', true)" value="LAB_RESULT">Lab Result
            </mat-radio-button>
        </mat-radio-group>
    </div>
</mat-menu>