<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header">
        <p>Attachments Management</p>
    </div>
    <div class="px-14 pb-14 bg-white">
        <div class="alert info m-0">
            <mat-icon class="material-icons-outlined">info</mat-icon>
            <span>Maximum 7 files can be uploaded for claim and each file can have maximum 2 MB size.</span>
        </div>
    </div>
    <div class="pl-7 pr-7">
        <div class="row small-gutter bg-white">
            <div class="col-4">
                <div class="table-responsive claim-attachment-table">
                    <table class="primary-grid" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th width="10"></th>
                                <th>Claim Ref. No.</th>
                                <th>Member ID</th>
                                <th width="10"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let claim of claims" (click)="onClaimClicked(claim.id)" class="row-click">
                                <td>
                                    <mat-radio-button color="primary" [checked]="selectedClaim == claim.id">
                                    </mat-radio-button>
                                </td>
                                <td>{{claim.referenceNumber}}</td>
                                <td>{{claim.memberId}}</td>
                                <td>
                                    <mat-icon class="text-primary" *ngIf="claim.hasAttachments && !changesToClaimSuccess(claim.id) && !changesToClaimFailed(claim.id)">attach_file
                                    </mat-icon>
                                    <mat-icon class="text-success" *ngIf="changesToClaimSuccess(claim.id)">check_circle</mat-icon>
                                    <mat-icon class="text-danger" *ngIf="changesToClaimFailed(claim.id)">error</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="block-footer">
                    <div class="ml-auto mr-auto custom-paginator">
                        <button matRipple (click)="changePage(0)" type="button" title="First Page">
                            <img src="./assets/ic-page-first.svg" alt="First" />
                        </button>
                        <button matRipple (click)="changePage(1)" type="button" title="Previous Page">
                            <img src="./assets/ic-page-prev.svg" alt="Previous" />
                        </button>
                        <p class="page-info">
                            {{(currentPage+1) || 0}}<small>/{{maxPages}}</small>
                        </p>
                        <button matRipple (click)="changePage(2)" type="button" title="Next Page">
                            <img src="./assets/ic-page-next.svg" alt="Next" />
                        </button>
                        <button matRipple (click)="changePage(3)" type="button" title="Last Page">
                            <img src="./assets/ic-page-last.svg" alt="Last" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="table-responsive claim-attachment-table">
                    <table class="primary-grid" cellspacing="0" cellpadding="0" border="0">
                        <thead>
                            <tr>
                                <th width="10"></th>
                                <th colspan="3">Assigned Attachments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="assignedAttachmentsLoading">
                                <td colspan="4">
                                    <mat-spinner diameter="30" class="m-auto"></mat-spinner>
                                </td>
                            </tr>
                            <tr *ngFor="let attachment of selectedClaimAssignedAttachments; let i = index;">
                                <td>
                                    <mat-checkbox class="grid-checkbox" [checked]="selectedAssignedAttachments.includes(i)" (click)="toggleAssignedAttachmentSelection(i);">
                                    </mat-checkbox>
                                </td>
                                <td [matTooltip]="attachment.name">{{beautifyFileName(attachment.name)}}</td>
                                <td>
                                    <span class="text-danger">{{getFileExtension(attachment.name)}}</span>
                                    <span [matMenuTriggerFor]="attachmentTypeMenu" (click)="attachmentBeingTypeEdited = attachment; attachmentBeingTypeEditedIsAssigned = true"
                                        class="clickable text-invalid">{{getFileType(attachment.type)}}</span>

                                </td>
                                <td>
                                    <mat-icon class="text-grey clickable" [imageToolTip]="attachment.attachment" [imageExtension]="getFileExtension(attachment.name)">
                                        visibility</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4 relative">
                <div class="attachment-floating-actions">
                    <button mat-mini-fab class="bg-success text-white" (click)="moveSelectionToAssigned()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <button mat-mini-fab class="bg-danger text-white" (click)="moveSelectionToUnassigned()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
                <div class="table-responsive claim-attachment-table">
                    <table class="primary-grid" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th width="10"></th>
                                <th colspan="3">Unassigned Attachments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="attachmentsLoading">
                                <td colspan="4">
                                    <mat-spinner diameter="30" class="m-auto"></mat-spinner>
                                </td>
                            </tr>
                            <tr *ngFor="let attachment of attachments; let i = index;">
                                <td>
                                    <mat-checkbox class="grid-checkbox" *ngIf="attachment.type == ''" [checked]="selectedAttachments.includes(i)"
                                        [matMenuTriggerFor]="attachmentTypeMenu"
                                        (click)="attachmentBeingTypeEdited = attachment; selectAttachmentBeingEdited = i; attachmentBeingTypeEditedIsAssigned = false">
                                    </mat-checkbox>
                                    <mat-checkbox class="grid-checkbox" *ngIf="attachment.type != ''" [checked]="selectedAttachments.includes(i)"
                                        (click)="toggleAttachmentSelection(i);">
                                    </mat-checkbox>
                                </td>
                                <td [matTooltip]="attachment.name">{{beautifyFileName(attachment.name)}}</td>
                                <td>
                                    <span class="text-danger">{{getFileExtension(attachment.name)}}</span>
                                    <span [matMenuTriggerFor]="attachmentTypeMenu" (click)="attachmentBeingTypeEdited = attachment; attachmentBeingTypeEditedIsAssigned = false"
                                        class="text-invalid clickable">{{getFileType(attachment.type)}}</span>
                                </td>
                                <td>
                                    <mat-icon class="text-grey clickable" [imageToolTip]="attachment.attachment" [imageExtension]="getFileExtension(attachment.name)">visibility
                                    </mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="block-footer has-border">
        <div class="left-block" *ngIf="!saving">
            <div class="btn-list">
                <button mat-flat-button color="primary" [disabled]="!hasChanges" (click)="save()">Save</button>
                <button mat-flat-button [disabled]="!hasChanges" (click)="cancel()">Cancel</button>
            </div>
        </div>
        <mat-spinner *ngIf="saving" class="m-auto" diameter="30"></mat-spinner>
    </div>

    <div class="file-upload-wrapper page-fab">
        <div class="content">
            <button mat-fab color="primary" class="page-fab" (click)="fileInput.click()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <input hidden type="file" #fileInput onclick="this.value = null" multiple class="file-upload-control" (change)="addFiles($event.target.files)"
            accept="image/png,image/jpeg,image/jpg,image/tiff,image/gif,application/pdf" />
    </div>

    <mat-menu #attachmentTypeMenu="matMenu" class="primary-menu">
        <ng-container *ngIf="attachmentBeingTypeEdited != null">
            <label class="d-block text-primary pb-2">What Type of Attachment?</label>
            <mat-radio-group aria-label="Select an option" style="display: grid;" [value]="attachmentBeingTypeEdited.type">
                <mat-radio-button class="d-block pb-2" (click)="changeAttachmentType('MEDICAL_REPORT', attachmentBeingTypeEditedIsAssigned)" value="MEDICAL_REPORT">
                    Medical Report
                </mat-radio-button>
                <mat-radio-button class="d-block pb-2" (click)="changeAttachmentType('IQAMA_ID_COPY', attachmentBeingTypeEditedIsAssigned)" value="IQAMA_ID_COPY">
                    Iqama/ID Copy
                </mat-radio-button>
                <mat-radio-button class="d-block pb-2" (click)="changeAttachmentType('X_RAY_RESULT', attachmentBeingTypeEditedIsAssigned)" value="X_RAY_RESULT">
                    X-Ray Result
                </mat-radio-button>
                <mat-radio-button class="d-block" (click)="changeAttachmentType('LAB_RESULT', attachmentBeingTypeEditedIsAssigned)" value="LAB_RESULT">
                    Lab Result
                </mat-radio-button>
            </mat-radio-group>
        </ng-container>
    </mat-menu>
</div>