<div class="mainCardBody">
    <table>
        <tbody>
            <tr>
                <td><label>Full Name*</label></td>
                <td  [matTooltip]="getFieldError('fullName')">
                    <input id="fullNameInput" [ngClass]="{'fieldError': fieldHasError('fullName')}" type="text" [formControl]="fullNameController" (change)="updateClaim('fullName')" required>
                    
                </td>
                
                <td><label>Payer*</label></td>
                <td>
                    <select (change)="selectedPayer = $event.target.value; updateClaim('payer');" required>
                        <option *ngFor="let payer of payersList" [value]="payer.id">{{payer.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Gender</label></td>
                <td>
                    <div id="genderDiv" [ngClass]="{'female': !isMale, 'male': isMale}" (click)="toggleGender()">
                        <i class="fa" [ngClass]="{'fa-venus': !isMale, 'fa-mars': isMale}" aria-hidden="true"></i>
                    </div>
                </td>
                <td><label>Visit Type*</label></td>
                <td>
                    <select (change)="selectedVisitType = $event.target.value; updateClaim('visitType');" required>
                        <option *ngFor="let visitType of visitTypes" [value]="visitType">{{visitType}}</option>
                    </select>
                </td>
                
            </tr>
            <tr>
                <td><label>Nationality</label></td>
                <td>
                    <select (change)="selectedNationality = $event.target.value; updateClaim('nationality');" required>
                        <option value=""></option>
                        <option *ngFor="let nationality of nationalities" [value]="nationality.Code">{{nationality.Name}}</option>
                    </select>
                </td>
                <td><label>Member ID*</label></td>
                <td [matTooltip]="getFieldError('memberId')">
                    <input type="text" [ngClass]="{'fieldError': fieldHasError('memberId')}" [formControl]="memberIdController" (change)="updateClaim('memberId')" required>
                </td>
            </tr>
            <tr>
                <td><label>National ID</label></td>
                <td [matTooltip]="getFieldError('nationalId')" ><input type="number" [ngClass]="{'fieldError': fieldHasError('nationalId')}" [formControl]="nationalIdontroller" (change)="updateClaim('nationalId')"></td>
                <td><label>Approval No.*</label></td>
                <td><input type="text" [ngClass]="{'fieldError': fieldHasError('approvalNum')}" [formControl]="approvalNumontroller" (change)="updateClaim('approvalNum')" required></td>
            </tr>
            <tr>
                <td><label>Policy No.<span *ngIf="selectedPayer != 102">*</span></label></td>
                <td [matTooltip]="getFieldError('policyNum')">
                    <input type="text" [ngClass]="{'fieldError': fieldHasError('policyNum')}" [formControl]="policyNumController" (change)="updateClaim('policyNum')" [required]="selectedPayer != 102">
                </td>
            </tr>
        </tbody>
    </table>
</div>