.mainCardBody {
    padding: 10px;
    background-color: white;
    color: #3060AA;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px 5px;
}

td:nth-child(odd) {
    width: 15%;
}

td:nth-child(even) {
    width: 35%;
}

td input, td select {
    width: 100%;
    background-color: #EFF5FF;
    border: unset;
    padding: 10px;
    color: #3060AA;
    border-radius: 3px;
}

#fullNameInput {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
}

#genderDiv {
    color: white;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px;
    width: 35%;
    text-align: center;
    cursor: pointer;
    transition: background-color 500ms ease;
    background-color: #3060AA;
}

#genderDiv.male {
    background-color: #5ED4FF;
}

#genderDiv.female {
    background-color: #ff5ea9;
}

td input:focus, td select:focus {
    outline: unset;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.fieldError {
    outline: auto !important;
    outline-color: #c44848 !important;
}