<div class="mainCardBody">
    <table>
        <tbody>
            <tr>
                <td><label>Full Name</label></td>
                <td style="display: flex; width: 100%;">
                    <input id="fullNameInput" type="text" [formControl]="fullNameController" (change)="updateClaim('fullName')">
                    <div id="genderDiv" [ngClass]="{'female': !isMale, 'male': isMale}" (click)="toggleGender()">
                        <i class="fa" [ngClass]="{'fa-venus': !isMale, 'fa-mars': isMale}" aria-hidden="true"></i>
                    </div>
                </td>
                <td><label>Payer</label></td>
                <td>
                    <select (change)="selectedPayer = $event.target.value; updateClaim('payer');">
                        <option *ngFor="let payer of payersList" [value]="payer.id">{{payer.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Visit Type</label></td>
                <td>
                    <select (change)="selectedVisitType = $event.target.value; updateClaim('visitType');">
                        <option *ngFor="let visitType of visitTypes" [value]="visitType">{{visitType}}</option>
                    </select>
                </td>
                <td><label>Member ID</label></td>
                <td>
                    <input type="number" [formControl]="memberIdController" (change)="updateClaim('memberId')">
                </td>
            </tr>
            <tr>
                <td><label>Nationality</label></td>
                <td>
                    <select (change)="selectedNationality = $event.target.value; updateClaim('nationality');">
                        <option *ngFor="let nationality of nationalities" [value]="nationality.Code">{{nationality.Name}}</option>
                    </select>
                </td>
                <td><label>Policy No.</label></td>
                <td>
                    <input type="number" [formControl]="policyNumController" (change)="updateClaim('policyNum')">
                </td>
            </tr>
            <tr>
                <td><label>National ID</label></td>
                <td><input type="number" [formControl]="nationalIdontroller" (change)="updateClaim('nationalId')"></td>
                <td><label>Approval No.</label></td>
                <td><input type="number" [formControl]="approvalNumontroller" (change)="updateClaim('approvalNum')"></td>
            </tr>
        </tbody>
    </table>
</div>