<div class="claim-scrubbing-upload-card">
    <div class="inner-loader-wrapper">
        <div class="inner-loader" *ngIf="data.isLoading">
            <mat-spinner diameter="48"></mat-spinner>
        </div>
        <div class="head">
            <div class="content">
                <p>{{data.name || 'Unknown Extraction Name'}}</p>
                <span>{{data.date | date: 'EEEE, dd MMMM, yyyy | hh:mm a'}}</span>
            </div>
            <button type="button" class="btn-action text-primary" (click)="deleteRecord(data)" matRipple>
                <mat-icon class="material-icons-outlined">delete</mat-icon>
            </button>
        </div>
        <div class="row">
            <div class="col-6 doctor-info">
                <div class="name">
                    <div class="content">
                        <span>Doctor</span>
                        <p>{{data.assignedDoctor.id != null? data.assignedDoctor.id:'Not Assigned Yet'}}</p>
                    </div>
                    <button type="button" class="btn-action text-primary" matRipple [matMenuTriggerFor]="addEditDoctoMenu">
                        <mat-icon class="material-icons-outlined">add_circle_outline</mat-icon>
                    </button>
                </div>
                <div class="row claim-numbers extra-small-gutter">
                    <div class="col-4">
                        <p>{{data.totalClaims||0}}</p>
                        <span>Total</span>
                    </div>
                    <div class="col-4">
                        <p>{{data.pendingClaimsOfDoctor||0}}</p>
                        <span>Pending</span>
                    </div>
                    <div class="col-4">
                        <p>{{data.reviewedClaimsOfDoctor||0}}</p>
                        <span>Reviewed</span>
                    </div>
                </div>
            </div>
            <div class="col-6 coder-info">
                <div class="name">
                    <div class="content">
                        <span>Coder</span>
                        <p>{{data.assignedCoder.id != null? data.assignedCoder.id:'Not Assigned Yet'}}</p>
                    </div>
                    <button type="button" class="btn-action text-primary" matRipple [matMenuTriggerFor]="addEditCoderMenu">
                        <mat-icon class="material-icons-outlined">add_circle_outline</mat-icon>
                    </button>
                </div>
                <div class="row claim-numbers extra-small-gutter">
                    <div class="col-4">
                        <p>{{data.totalClaims||0}}</p>
                        <span>Total</span>
                    </div>
                    <div class="col-4">
                        <p>{{data.pendingClaimsOfCoder||0}}</p>
                        <span>Pending</span>
                    </div>
                    <div class="col-4">
                        <p>{{data.reviewedClaimsOfCoder||0}}</p>
                        <span>Reviewed</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<mat-menu #addEditDoctoMenu class="form-menu" xPosition="before">
    <div class="inner" (click)="$event.stopPropagation()">
        <div class="menu-title">Assign Doctor</div>
        <div class="menu-body">
            <div class="form-group">
                <label class="control-label">Doctor</label>
                <mat-form-field class="form-control custom-select-control">
                    <mat-select value="-1" (selectionChange)="onDoctorSelectionChanged($event.value)">
                        <mat-option value="-1">Select Doctor</mat-option>
                        <mat-option *ngFor="let data of (doctorList$ | async)"
                            value="{{data.switchUserId | lowercase}}">{{data.switchUserId}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="text-right">
                <button type="button" mat-flat-button color="primary" (click)="updateAssignment(true, false)">Save</button>
            </div>
        </div>
    </div>
</mat-menu>

<mat-menu #addEditCoderMenu class="form-menu" xPosition="before">
    <div class="inner" (click)="$event.stopPropagation()">
        <div class="menu-title">Assign Coder</div>
        <div class="menu-body">
            <div class="form-group">
                <label class="control-label">Coder</label>
                <mat-form-field class="form-control custom-select-control">
                    <mat-select value="-1" (selectionChange)="onCoderSelectionChanged($event.value)">
                        <mat-option value="-1">Select Coder</mat-option>
                        <mat-option *ngFor="let data of (coderList$ | async)"
                            value="{{data.switchUserId | lowercase}}">{{data.switchUserId}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="text-right">
                <button type="button" mat-flat-button color="primary" (click)="updateAssignment(false, true)">Save</button>
            </div>
        </div>
    </div>
</mat-menu>