<div class="upcoming-feature-header">
    <img src="./assets/stars.svg" alt="Star" />
    <h2>Upcoming Feature</h2>
    <p>Releasing on 1st October</p>
    <button type="button" (click)="closeDialog()" class="btn-close" matRipple>
        <img src="./assets/ic-close-white.svg" alt="Close" />
    </button>
</div>
<ul class="upcoming-feature-body">
    <li>
        <h2>NPHIES Essential Benefit Package Implementation Compliance</h2>
        <p>By October 1, 2022, a change to comply with Nphies Essential Benefit Package implementation plan will be rolled out. It enables, Pharmacy preauthorization and Claim
            transactions
            to include medication selection reasons and prescribed medication codes (GTIN or Scientific Code).</p>
        <img src="./assets/nphies-ebp-screenshot.jpg" alt="Screenshot" />
        <div class="text-right">
            <a href="./assets/nphies-ebp-screenshot.jpg" target="_blank" class="primary-link">Open image in new tab</a>
        </div>
    </li>
</ul>