<div class="animate__animated animate__faster animate__fadeIn block-card" *ngIf="!replyVisible">
    <div class="block-header align-items-center sticky">
        <div class="d-flex align-items-center">
            <div class="actions mr-2 my-n2 ml-n1">
                <button matRipple type="button" routerLink="/ticket-management/tickets" class="action-btn">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <p class="mr-12">{{ ticket.subject !=null ? ticket.subject : 'No Subject' }} <span class="text-regular"> -
                    #{{ticketId}}</span></p>
            <span class="status-badge size-sm primary normal-text">{{ status}}</span>
        </div>
        <div class="ml-auto my-n2 mr-n2">
            <button type="button" *ngIf="status !== 'Error' && status !== 'Closed'" (click)="replyVisible=true" mat-flat-button
                color="primary">Reply</button>
        </div>
    </div>
    <ul class="ticket-chat">
        <li>
            <div class="ticket-chat-header">
                <span class="initial">T</span>
                <div>
                    <p class="name">{{UserName}} - {{providerName}}</p>
                    <span class="date">{{ticket.createdDate | date : 'dd/MM/yyyy hh:mm aa'}}</span>
                </div>
            </div>
            <div class="ticket-chat-body">
                <!--pre>
Dear Waseel

we are AL QUDS POLYCLINIC JEDDAH CCHI:18441 and here is our information:

Waseel ID: aqp
User Name : {{ticket.ticketUsername}}
Waseel Code : {{ ticket.providerId }}
Provider Name : AL QUDS POLYCLINIC JEDDAH
CCHI : 18441

Contact person information:
Name: Dr kamel Samir
Email : {{ticket.email ? ticket.email : '-'}}
Mobile : {{ticket.phoneNumber ? ticket.phoneNumber : '-' }}

Ticket Info :
Ticket Type : {{ticket.type ? ticket.type : '-'}}
Ticket Product :{{ticket.cfProduct ? ticket.cfProduct : '-'}}
Ticket Payer :{{ticket.cfPayer ? ticket.cfPayer : '-'}}
Ticket Due Date : {{ticket.dueBy | date : 'dd/MM/yyyy hh:mm aa'}} 


Description :
</pre-->

                <span [innerHTML]="ticket.description"></span>
                <ul class="attachment-list sm" *ngIf="ticket.attachmentModels">
                    <li *ngFor="let s of ticket.attachmentModels; let i = index" matTooltip={{s.attachmentName}}
                        (click)="viewAttachment($event,s? s:null )">
                        <img [src]='getFileIcon(s.attachmentName)' />
                        <span>{{s.attachmentName}} </span>
                    </li>
                    <!--li matTooltip="Report-4594.xls">
                        <img src="./assets/file-types/ic-xls.svg" alt="xls" />
                        <span>Report-4594.xls</span>
                    </li-->
                </ul>
            </div>
        </li>
        <li *ngFor="let reply of ticket.replies; let i = index">
            <div class="ticket-chat-header">
                <span class="initial">R</span>
                <div>
                    <p class="name">{{reply.userName}}</p>
                    <span class="date">{{reply.replyDate | date : 'dd/MM/yyyy hh:mm aa'}}</span>
                </div>
            </div>
            <div class="ticket-chat-body">
                <span [innerHTML]="reply.description"></span>
            </div>
        </li>
    </ul>
    <div class="block-body" *ngIf="ticket.errors && ticket.errors.length > 0">
        <h5 class="form-title">Errors</h5>
        <div class="table-responsive">
            <table class="primary-grid">
                <thead>
                    <tr>
                        <th class="light-bg-danger text-danger">No.</th>
                        <th class="light-bg-danger text-danger">Error Code</th>
                        <th class="light-bg-danger text-danger">Error Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let error of ticket.errors;let j=index;">
                        <td>{{j+1}}</td>
                        <td>{{error.code}}</td>
                        <td>{{error.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="animate__animated animate__faster animate__fadeIn block-card" *ngIf="replyVisible">
    <div class="block-header align-items-center sticky">
        <div class="actions mr-2 my-n2 ml-n1">
            <button matRipple type="button" (click)="replyVisible=false" class="action-btn">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <p class="mr-12">{{ ticket.subject !=null ? ticket.subject : 'No Subject' }} <span
                class="text-regular">#{{ticketId}}</span></p>
        <span class="status-badge size-sm primary normal-text">{{ status }}</span>
    </div>
    <div class="block-body">
        <div class="form-group">
            <label class="control-label">Reply Message</label>
            <angular-editor [placeholder]="'Enter description here'" [formControl]="description" [config]="editorConfig"
                [(ngModel)]="htmlContent"></angular-editor>
        </div>
        <div class="form-group mb-0">
            <label class="control-label">Attachments</label>
            <div class="alert info">
                <mat-icon class="material-icons-outlined">info</mat-icon>
                <span>Files can have maximum 20 MB size.</span>
            </div>
            <ul class="attachment-list lg">
                <ng-container *ngFor="let attach of attachments; let i = index">
                    <li matTooltip="{{attach.attachmentName}}">
                        <img *ngIf="!isPdf(attach) && !isVideo(attach) && !isDicom(attach) && !isXls(attach)
                                && !isCsv(attach) && !isExe(attach) && !isZip(attach) && !isWord(attach)
                                && !isText(attach) && !isImage(attach)" src="./assets/file-types/ic-other-file.svg"
                            [alt]="attach.attachmentType" />
                        <img *ngIf="isPdf(attach)" src="./assets/file-types/ic-pdf.svg" [alt]="attach.attachmentType" />
                        <img *ngIf="isVideo(attach)" src="./assets/file-types/ic-video.svg"
                            [alt]="attach.attachmentType" />
                        <img *ngIf="isDicom(attach)" src="./assets/file-types/ic-dicom.svg"
                            [alt]="attach.attachmentType" />
                        <img *ngIf="isXls(attach)" src="./assets/file-types/ic-xls.svg" [alt]="attach.attachmentType" />
                        <img *ngIf="isCsv(attach)" src="./assets/file-types/ic-csv.svg" [alt]="attach.attachmentType" />
                        <img *ngIf="isExe(attach)" src="./assets/file-types/ic-exe.svg" [alt]="attach.attachmentType" />
                        <img *ngIf="isZip(attach)" src="./assets/file-types/ic-zip.svg" [alt]="attach.attachmentType" />
                        <img *ngIf="isWord(attach)" src="./assets/file-types/ic-word-file.svg"
                            [alt]="attach.attachmentType" />
                        <img *ngIf="isText(attach)" src="./assets/file-types/ic-txt.svg"
                            [alt]="attach.attachmentType" />
                        <img *ngIf="isImage(attach)" [src]="getImageOfBlob(attach)" [alt]="attach.attachmentType" />
                        <!-- <img src="./assets/file-types/ic-pdfd.svg" alt="{{attach.attachmentType}}" /> -->
                        <span>{{attach.attachmentName}}</span>
                        <button type="button" class="close-btn" (click)="removeAttachment(attach)" matRipple
                            title="Remove File?">
                            <mat-icon>close</mat-icon>
                        </button>
                    </li>
                </ng-container>
                <li matTooltip="Add Attachments" class="add-block">
                    <div class="file-upload-wrapper">
                        <div class="content">
                            <mat-icon>add</mat-icon>
                        </div>
                        <span *ngIf="this.fileError" class="text-danger">{{this.fileError}}</span>
                        <input type="file" class="file-upload-control" (change)="addAttachment($event)" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="block-footer">
        <div class="right-block">
            <div class="btn-list">
                <button mat-flat-button type="button" (click)="replyVisible=false">Cancel</button>
                <button mat-flat-button type="button" (click)="onSubmit()" color="primary">Send Reply</button>
            </div>
        </div>
    </div>
</div>