<div class="sidebar animate__animated animate__fadeIn animate__faster">
  <div class="inner">
    <div class="list-container">
      <ng-container *ngIf="userPrivileges.ProviderPrivileges.WASEEL_CLAIMS.isClaimUser || userPrivileges.ProviderPrivileges.WASEEL_CLAIMS.isAdmin">
        <div class="list-title primary">
          Waseel
        </div>

        <mat-accordion displayMode="flat">
          <mat-expansion-panel hideToggle
            [expanded]="uploads.isActive || uploadClaim.isActive || createClaim.isActive || claimHistory.isActive || notification.isActive || announcement.isActive">
            <mat-expansion-panel-header>
              <mat-panel-title i18n="@@claims">Claims</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav-list">
              <li i18n="@@uploadclaims">
                <a routerLink="/upload" routerLinkActive="is-active" #uploadClaim="routerLinkActive">
                  <img src="assets/ic-upload-claims.svg" alt="Upload Claims" class="default-icon" />
                  <img src="assets/ic-upload-claims-active.svg" alt="Upload Claims" class="active-icon" />
                  <span class="text">Upload Claims</span>
                </a>
              </li>
              <li i18n="@@createclaim">
                <a routerLink="/claims/add" routerLinkActive="is-active" #createClaim="routerLinkActive">
                  <img src="assets/ic-create-claim.svg" alt="Uploads" class="default-icon" />
                  <img src="assets/ic-create-claim-active.svg" alt="Uploads" class="active-icon" />
                  <span class="text">Create Claim</span>
                </a>
              </li>
              <li i18n="@@uploads">
                <a routerLink="/uploads" routerLinkActive="is-active" #uploads="routerLinkActive">
                  <img src="assets/ic-cloud.svg" alt="Cloud" class="default-icon" />
                  <img src="assets/ic-cloud-active.svg" alt="Cloud" class="active-icon" />
                  <span class="text">Uploads</span>
                </a>
              </li>
              <li i18n="@@claimhistory">
                <a routerLink="/upload/history" routerLinkActive="is-active" #claimHistory="routerLinkActive">
                  <img src="assets/ic-claim-history.svg" alt="Claims History" class="default-icon" />
                  <img src="assets/ic-claim-history-active.svg" alt="Claims History" class="active-icon" />
                  <span class="text">Claims History</span>
                </a>
              </li>
              <li *ngIf="userPrivileges.ProviderPrivileges.RCM.isAdmin">
                <a routerLink="/collection-management/create-batch" routerLinkActive="is-active" #createBatch="routerLinkActive">
                  <img src="assets/ic-create-batch.svg" alt="Create Batch" class="default-icon" />
                  <img src="assets/ic-create-batch-active.svg" alt="Create Batch" class="active-icon" />
                  <span class="text">Create Batch</span>
                </a>
              </li>
              <li i18n="@@notifications">
                <a routerLink="/{{providerId}}/notifications" routerLinkActive="is-active" #notification="routerLinkActive">
                  <img src="assets/ic-notifications.svg" alt="Notification" class="default-icon" />
                  <img src="assets/ic-notifications-active.svg" alt="Notification" class="active-icon" />
                  <span class="text">Notifications</span>
                </a>
              </li>
              <li i18n="@@announcements">
                <a routerLink="/{{providerId}}/announcements" routerLinkActive="is-active" #announcement="routerLinkActive">
                  <img src="assets/ic-announcement.svg" alt="Announcements" class="default-icon" />
                  <img src="assets/ic-announcement-active.svg" alt="Announcements" class="active-icon" />
                  <span class="text">Announcements</span>
                </a>
              </li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle
            [expanded]="paymentReport.isActive || submissionReport.isActive || rejectionReport.isActive || medicalRejectionReport.isActive || claimStatusSummaryReport.isActive">
            <mat-expansion-panel-header>
              <mat-panel-title i18n="@@reports">Reports</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav-list">
              <li i18n="@@paymentreport">
                <a routerLink="/{{providerId}}/reports/payment-report" #paymentReport="routerLinkActive" routerLinkActive="is-active">
                  <span class="text">Payment Report</span>
                </a>
              </li>
              <li i18n="@@submissionreport">
                <a routerLink="/{{providerId}}/reports/submission-report" [queryParams]="{type: '2'}" #submissionReport="routerLinkActive" routerLinkActive="is-active">
                  <span class="text">Submission Report</span>
                </a>
              </li>
              <!-- [queryParams]="{type: '3'}"  -->
              <li i18n="@@technicalrejectionreport">
                <a routerLink="/{{providerId}}/reports/technical-rejection-report" #rejectionReport="routerLinkActive" routerLinkActive="is-active">
                  <span class="text">Technical Rejection Report</span>
                </a>
              </li>
              <li i18n="@@medicalrejectionport">
                <a routerLink="/{{providerId}}/reports/medical-rejection-report" #medicalRejectionReport="routerLinkActive" routerLinkActive="is-active">
                  <span class="text">Medical Rejection Report</span>
                </a>
              </li>
              <li i18n="@@claimstatussummaryport">
                <a routerLink="/{{providerId}}/reports/claim-status-summary-report" #claimStatusSummaryReport="routerLinkActive" routerLinkActive="is-active">
                  <span class="text">Claim Status Summary Report</span>
                </a>
              </li>
              <li i18n="@@gssreport">
                <a routerLink="/{{providerId}}/reports/general-summary-statement-report" #GSSReport="routerLinkActive" routerLinkActive="is-active">
                  <span class="text">General Summary Statement Report</span>
                </a>
              </li>
              <li>
                <a routerLink="/{{providerId}}/reports/claims-cover-letter" routerLinkActive="is-active">
                  <span class="text">Claims Cover Letter</span>
                </a>
              </li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title i18n="@@denialManagement">Denial Management</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav-list">
              <li i18n="@@uploadRejectionReport">
                <a routerLink="/reports/creditReports" routerLinkActive="is-active">
                  <img src="assets/ic-credit-report-upload.svg" alt="File Upload" class="default-icon" />
                  <img src="assets/ic-credit-report-upload-active.svg" alt="File Upload" class="active-icon" />
                  <span class="text">Credit Reports</span>
                </a>
              </li>
              <!-- <li i18n="@@rejectionUpload">
                            <a routerLink="/reports/{{providerId}}/creditReportCreate" routerLinkActive="is-active">
                                <img src="assets/ic-credit-report-create.svg" alt="Add File" class="default-icon" />
                                <img src="assets/ic-credit-report-create-active.svg" alt="Add File" class="active-icon" />
                                <span class="text">Credit Report Create</span>
                            </a>
                        </li> -->
              <li i18n="@@cleanClaimProgress">
                <a routerLink="/reports/{{providerId}}/clean-claim-progress-reports" routerLinkActive="is-active">
                  <img src="assets/ic-clean-report-chart.svg" alt="Clean Claim Progress Reports" class="default-icon" />
                  <img src="assets/ic-clean-report-chart-active.svg" alt="Clean Claim Progress Reports" class="active-icon" />
                  <span class="text">Clean Claim Progress Reports</span>
                </a>
              </li>
              <li i18n="@@rejectedClaimProgress" *ngIf="!envStaging && !envProd">
                <a routerLink="/reports/{{providerId}}/rejected-claim-progress-reports" routerLinkActive="is-active">
                  <img src="assets/ic-clean-report-chart.svg" alt="Chart" class="default-icon" />
                  <img src="assets/ic-clean-report-chart-active.svg" alt="Chart" class="active-icon" />
                  <span class="text">Rejected Claim Progress Report</span>
                </a>
              </li>

              <li i18n="@@rejectionTrackingReport">
                <a routerLink="/reports/{{providerId}}/rejection-tracking-report" routerLinkActive="is-active">

                  <img src="assets/ic-clean-report-chart.svg" alt="Chart" class="default-icon" />
                  <img src="assets/ic-clean-report-chart-active.svg" alt="Chart" class="active-icon" />
                  <span class="text">Rejection Tracking Report</span>
                </a>
              </li>
              <li i18n="@@rejectionBreakDownReport">
                <a routerLink="/reports/rejection-breakdown-report" routerLinkActive="is-active">

                  <img src="assets/ic-clean-report-chart.svg" alt="Chart" class="default-icon" />
                  <img src="assets/ic-clean-report-chart-active.svg" alt="Chart" class="active-icon" />
                  <span class="text">Rejection Breakdown Report</span>
                </a>
              </li>

              <li i18n="@@rejectionComparisonReport">
                <a routerLink="/reports/rejection-comparison-report" routerLinkActive="is-active">

                  <img src="assets/ic-clean-report-chart.svg" alt="Chart" class="default-icon" />
                  <img src="assets/ic-clean-report-chart-active.svg" alt="Chart" class="active-icon" />
                  <span class="text">Rejection Comparison Report</span>
                </a>
              </li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle *ngIf="userPrivileges.ProviderPrivileges.RCM.isAdmin || userPrivileges.ProviderPrivileges.RCM.canAccessCollectionManagement">
            <mat-expansion-panel-header>
              <mat-panel-title>Collection Management</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav-list">
              <li>
                <a routerLink="/collection-management/accounts-receivable-list" routerLinkActive="is-active"
                  [class.is-active]="accountsReceivableDetails.isActive || accountsReceivableDetailsPayer.isActive">
                  <span class="text">Accounts Receivables</span>
                </a>
                <a routerLink="/collection-management/accounts-receivable-details" class="d-none" routerLinkActive="is-active" #accountsReceivableDetails="routerLinkActive"></a>
                <a routerLink="/collection-management/accounts-receivable-details-payer" class="d-none" routerLinkActive="is-active"
                  #accountsReceivableDetailsPayer="routerLinkActive"></a>
              </li>
              <li>
                <a routerLink="/collection-management/accounts-receivable-breakdown-report" routerLinkActive="is-active">
                  <span class="text">AR Breakdown Report</span>
                </a>
              </li>
              <li *ngIf="!envStaging && !envProd">
                <a routerLink="/collection-management/accounts-receivable-tracking-report" routerLinkActive="is-active">
                  <span class="text">AR Tracking Report</span>
                </a>
              </li>
              <li>
                <a routerLink="/collection-management/aging-report" routerLinkActive="is-active">
                  <span class="text">Aging Report</span>
                </a>
              </li>
              <li>
                <a routerLink="/collection-management/statement-of-accounts" routerLinkActive="is-active" [class.is-active]="statementAccountDetails.isActive">
                  <span class="text">Statement of Accounts</span>
                </a>
                <a routerLink="/collection-management/statement-of-accounts-details" class="d-none" routerLinkActive="is-active" #statementAccountDetails="routerLinkActive"></a>
              </li>
              <li>
                <a routerLink="/collection-management/reconciliation-report" routerLinkActive="is-active">
                  <span class="text">Reconciliation Report</span>
                </a>
              </li>
              <!-- <li>
                            <a routerLink="/reports/revenue-report" routerLinkActive="is-active">
                                <span class="text">Revenue Report</span>
                            </a>
                        </li> -->
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle *ngIf="userPrivileges.ProviderPrivileges.RCM.isAdmin || userPrivileges.ProviderPrivileges.RCM.canAccessRevenueReport">
            <mat-expansion-panel-header>
              <mat-panel-title>Revenue Reports</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav-list">
              <li>
                <a routerLink="/reports/revenue-tracking-report" routerLinkActive="is-active">
                  <span class="text">Revenue Tracking Report</span>
                </a>
              </li>
              <li>
                <a routerLink="/reports/revenue-report-breakdown" routerLinkActive="is-active">
                  <span class="text">Revenue Breakdown Report</span>
                </a>
              </li>
              <li>
                <a routerLink="/reports/revenue-comparison-report" routerLinkActive="is-active">
                  <span class="text">Revenue Comparison Report</span>
                </a>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>

      <ul class="nav-list" *ngIf="userPrivileges.ProviderPrivileges.GSSReportForTawuniya.canAccessGSSReport">
        <li>
          <a routerLink="/tawuniya-gss" routerLinkActive="is-active">
            <span class="text">Tawuniya GSS Reports</span>
          </a>
        </li>
      </ul>

      <ul class="nav-list" *ngIf="userPrivileges.ProviderPrivileges.WASEEL_CLAIMS.isAdmin">
        <li i18n="@@configurations">
          <a routerLink="/configurations" routerLinkActive="is-active">
            <span class="text">Configurations</span>
          </a>
        </li>
      </ul>



      <ng-container *ngIf="hasAnyNphiesPrivilege">
        <div class="list-title">
          <hr>
        </div>
        <div class="list-title primary">
          Nphies
        </div>
      </ng-container>
      <mat-accordion displayMode="flat">
        <mat-expansion-panel hideToggle *ngIf="(userPrivileges.ProviderPrivileges.NPHIES.isAdmin || userPrivileges.ProviderPrivileges.NPHIES.canAccessBeneficiary)">
          <mat-expansion-panel-header>
            <mat-panel-title>Beneficiary</mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="nav-list">
            <li>
              <a routerLink="/nphies/beneficiary" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="is-active">
                <span class="text">Beneficiary List</span>
              </a>
            </li>
            <li>
              <a routerLink="/nphies/beneficiary/upload" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="is-active">
                <span class="text">Upload Beneficiaries</span>
              </a>
            </li>
            <li>
              <a routerLink="/nphies/beneficiary/add" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="is-active">
                <span class="text">Create Beneficiary</span>
              </a>
            </li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle *ngIf="userPrivileges.ProviderPrivileges.NPHIES.isAdmin || userPrivileges.ProviderPrivileges.NPHIES.canAccessEligibility">
          <mat-expansion-panel-header>
            <mat-panel-title>Eligibility</mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="nav-list">
            <li>
              <a routerLink="/nphies/eligibility" routerLinkActive="is-active">
                <span class="text">Request Eligibility</span>
              </a>
            </li>
            <li>
              <a routerLink="/nphies/eligibility-transactions" routerLinkActive="is-active">
                <span class="text">Eligibility Transactions</span>
              </a>
            </li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle *ngIf="userPrivileges.ProviderPrivileges.NPHIES.isAdmin || userPrivileges.ProviderPrivileges.NPHIES.canAccessPreAuthorization">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="d-flex align-items-center">
                <span>Pre Authorization</span>
                <span *ngIf="NewAuthTransactions > 0" class="alert-marker ml-auto alert-count">{{NewAuthTransactions}}</span>
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="nav-list">
            <li>
              <a routerLink="/nphies/add-preauthorization" routerLinkActive="is-active">
                <span class="text">Request Pre Authorization</span>
              </a>
            </li>
            <li>
              <a routerLink="/nphies/preauthorization-transactions" routerLinkActive="is-active">
                <span class="text">Pre Authorization Transactions</span>
                <span *ngIf="NewAuthTransactions > 0" class="alert-marker alert-count">{{NewAuthTransactions}}</span>
              </a>
            </li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle *ngIf="!envStaging && !envProd && (userPrivileges.ProviderPrivileges.NPHIES.canAccessConvertPreAuthToClaim || userPrivileges.ProviderPrivileges.NPHIES.canAccessPrepareClaim ||  userPrivileges.ProviderPrivileges.NPHIES.canAccessConvertClaim)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="d-flex align-items-center">
                <span>Convert PreAuth To Claim</span>
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="nav-list">
            <li *ngIf="!envStaging && !envProd && (userPrivileges.ProviderPrivileges.NPHIES.canAccessConvertPreAuthToClaim || userPrivileges.ProviderPrivileges.NPHIES.canAccessPrepareClaim)">
              <a routerLink="/nphies/prepare-pre-auth-for-claim" routerLinkActive="is-active">
                <span class="text">Prepare for Claims</span>
              </a>
            </li>
            <li *ngIf="!envStaging && !envProd && (userPrivileges.ProviderPrivileges.NPHIES.canAccessConvertPreAuthToClaim || userPrivileges.ProviderPrivileges.NPHIES.canAccessConvertClaim)">
              <a routerLink="/nphies/convert-pre-auth-to-claim" routerLinkActive="is-active">
                <span class="text">Convert to Claims</span>
              </a>
            </li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle *ngIf="userPrivileges.ProviderPrivileges.NPHIES.isAdmin || userPrivileges.ProviderPrivileges.NPHIES.canAccessClaim">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="d-flex align-items-center">
                <span>Claims</span>
                <span *ngIf="NewClaimTransactions > 0" class="alert-marker ml-auto alert-count">{{NewClaimTransactions}}</span>
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="nav-list">
            <li>
              <a routerLink="/nphies/upload-claim" routerLinkActive="is-active">
                <img src="assets/ic-upload-claims.svg" alt="Upload Claims" class="default-icon" />
                <img src="assets/ic-upload-claims-active.svg" alt="Upload Claims" class="active-icon" />
                <span class="text">Upload Claims</span>
              </a>
            </li>
            <li>
              <a routerLink="/{{providerId}}/claims/create-nphies" routerLinkActive="is-active">
                <img src="assets/ic-create-claim.svg" alt="Uploads" class="default-icon" />
                <img src="assets/ic-create-claim-active.svg" alt="Uploads" class="active-icon" />
                <span class="text">Create Claim</span>
              </a>
            </li>
            <li>
              <a routerLink="/nphies/uploads" routerLinkActive="is-active">
                <img src="assets/ic-cloud.svg" alt="Cloud" class="default-icon" />
                <img src="assets/ic-cloud-active.svg" alt="Cloud" class="active-icon" />
                <span class="text">Uploads</span>
              </a>
            </li>
            <li>
              <a routerLink="/nphies/upload/history" routerLinkActive="is-active" #claimHistory="routerLinkActive">
                <img src="assets/ic-claim-history.svg" alt="Claims History" class="default-icon" />
                <img src="assets/ic-claim-history-active.svg" alt="Claims History" class="active-icon" />
                <span class="text">Claims History</span>
              </a>
            </li>
            <li>
              <a routerLink="/{{providerId}}/claims/transactions" routerLinkActive="is-active">
                <img src="assets/ic-claim-transactions.svg" alt="Cloud" class="default-icon" />
                <img src="assets/ic-claim-transactions-active.svg" alt="Cloud" class="active-icon" />
                <span class="text">Claim Transactions</span>
                <span *ngIf="NewClaimTransactions > 0" class="alert-marker ml-auto alert-count">{{NewClaimTransactions}}</span>
              </a>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>



      <ul class="nav-list">
        <li *ngIf="userPrivileges.ProviderPrivileges.NPHIES.isAdmin || userPrivileges.ProviderPrivileges.NPHIES.canAccessPaymentReconciliation">
          <a routerLink="/nphies/payment-reconciliation" [class.is-active]="paymentReconciliationDetails.isActive" routerLinkActive="is-active">
            <span class="text">Payment Reconciliation</span>
            <span *ngIf="RecentReconciliations > 0" class="alert-marker ml-auto alert-count">{{RecentReconciliations}}</span>
          </a>
          <a routerLink="/nphies/payment-reconciliation-details" class="d-none" #paymentReconciliationDetails="routerLinkActive" routerLinkActive="is-active"></a>
        </li>
        <li *ngIf="userPrivileges.ProviderPrivileges.NPHIES.canAccessPhysician || userPrivileges.ProviderPrivileges.NPHIES.isAdmin">
          <a routerLink="/nphies/physicians" routerLinkActive="is-active">
            <span class="text">Physicians</span>
          </a>
        </li>
        <li *ngIf="userPrivileges.ProviderPrivileges.NPHIES.canAccessPriceList || userPrivileges.ProviderPrivileges.NPHIES.isAdmin">
          <a routerLink="/nphies/pricelist" routerLinkActive="is-active">
            <span class="text">Price List</span>
          </a>
        </li>
      </ul>

      <!-- <ul class="nav-list" *ngIf="userPrivileges.ProviderPrivileges.WASEEL_CLAIMS.isAdmin && !envStaging && !envProd ">
        <li>
          <a routerLink="/nphies/configurations" routerLinkActive="is-active">
            <span class="text">Configurations</span>
          </a>
        </li>
      </ul> -->

      <ng-container *ngIf="userPrivileges.ProviderPrivileges.Contract_Bill.isAdmin || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessContract">
        <div class="list-title">
          <hr>
        </div>
        <div class="list-title primary">
          Contract & Billing
        </div>
        <ul class="nav-list" *ngIf="userPrivileges.ProviderPrivileges.Contract_Bill.isAdmin || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessContract">
          <li>
            <a routerLink="/contract-management" routerLinkActive="is-active">
              <span class="text">Contract Management</span>
            </a>
          </li>
        </ul>
        <mat-accordion displayMode="flat"
          *ngIf="userPrivileges.ProviderPrivileges.Contract_Bill.isAdmin || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessPolicy || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessClass">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Policy Management</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav-list">
              <li *ngIf="userPrivileges.ProviderPrivileges.Contract_Bill.isAdmin || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessPolicy">
                <a routerLink="/policy-management" routerLinkActive="is-active">
                  <span class="text">Policies</span>
                </a>
              </li>
              <li *ngIf="userPrivileges.ProviderPrivileges.Contract_Bill.isAdmin || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessClass">
                <a routerLink="/policy-management/class-management" routerLinkActive="is-active">
                  <span class="text">Classes</span>
                </a>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion displayMode="flat"
          *ngIf="userPrivileges.ProviderPrivileges.Contract_Bill.isAdmin || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessPolicy || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessBilling">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Billing Management</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav-list">
              <li
                *ngIf="userPrivileges.ProviderPrivileges.Contract_Bill.isAdmin || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessPolicy || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessBilling">
                <a routerLink="/billing-management" routerLinkActive="is-active">
                  <span class="text">Billing</span>
                </a>
              </li>
              <li
                *ngIf="userPrivileges.ProviderPrivileges.Contract_Bill.isAdmin || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessPolicy || userPrivileges.ProviderPrivileges.Contract_Bill.canAccessBilling">
                <a routerLink="/billing-management/invoice" routerLinkActive="is-active">
                  <span class="text">Billing Invoices</span>
                </a>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>



      <ng-container
        *ngIf="userPrivileges.WaseelPrivileges.isPAM && (userPrivileges.ProviderPrivileges.WASEEL_CLAIMS.isClaimUser || hasAnyNphiesPrivilege || (userPrivileges.WaseelPrivileges.RCM.isAdmin || userPrivileges.WaseelPrivileges.RCM.isDoctor || userPrivileges.WaseelPrivileges.RCM.isCoder))">
        <div class="list-title" *ngIf="userPrivileges.ProviderPrivileges.WASEEL_CLAIMS.isClaimUser || hasAnyNphiesPrivilege">
          <hr>
        </div>
        <div class="list-title primary">
          Administration
        </div>
      </ng-container>
      <div class="list-container pt-0" *ngIf="userPrivileges.WaseelPrivileges.isPAM||userPrivileges.ProviderPrivileges.WASEEL_CLAIMS.isPayerUser">
        <mat-accordion *ngIf="userPrivileges.WaseelPrivileges.isPAM" displayMode="flat">
          <mat-expansion-panel hideToggle [expanded]="providerConfiguration.isActive || providermapping.isActive || providerCertificate.isActive ">
            <mat-expansion-panel-header>
              <mat-panel-title i18n="@@configuration">Configuration</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav-list">
              <li i18n="@@providerconfiguration">
                <a routerLink="/administration/config/providers" routerLinkActive="is-active" #providerConfiguration="routerLinkActive">
                  <span class="text">Provider Configuration</span>
                </a>
              </li>
              <li i18n="@@providermapping">
                <a routerLink="/administration/config/providerMapping" routerLinkActive="is-active" #providermapping="routerLinkActive">
                  <span class="text">Provider Mapping</span>
                </a>
              </li>
              <li i18n="@@providerCertificate">
                <a routerLink="/administration/config/providerCertificate" routerLinkActive="is-active" #providerCertificate="routerLinkActive">
                  <span class="text">Provider Certificate Configuration</span>
                </a>
              </li>
              <li i18n="@@createProvider">
                <a routerLink="/administration/config/createProvider" routerLinkActive="is-active" #createProvider="routerLinkActive">
                  <span class="text">Create Provider - NPHIES</span>
                </a>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion *ngIf="userPrivileges.WaseelPrivileges.isPAM" displayMode="flat">
          <mat-expansion-panel hideToggle [expanded]="auditTrail.isActive || transactionsLog.isActive">
            <mat-expansion-panel-header>
              <mat-panel-title i18n="@@audit">Logs</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav-list">
              <li i18n="@@audittrail">
                <a routerLink="/administration/auditLogs" routerLinkActive="is-active" #auditTrail="routerLinkActive">
                  <span class="text">Audit Trail</span>
                </a>
              </li>
              <li i18n="@@transactionsLog">
                <a routerLink="/administration/transactions" routerLinkActive="is-active" #transactionsLog="routerLinkActive">
                  <span class="text">Transactions Log</span>
                </a>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-expansion-panel hideToggle [expanded]="payerClaimsReport.isActive">
          <mat-expansion-panel-header>
            <mat-panel-title>Reports</mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="nav-list">
            <li *ngIf="!envStaging && !envProd &&!userPrivileges.ProviderPrivileges.WASEEL_CLAIMS.isPayerUser">
              <a routerLink="/reports/claim-submissions" routerLinkActive="is-active" #claimSubmissions="routerLinkActive">
                <span class="text">Claim Submissions</span>
              </a>
            </li>
            <li>
              <a routerLink="/reports/payer-claims-report" routerLinkActive="is-active" #payerClaimsReport="routerLinkActive">
                <span class="text">Payer Claims Report</span>
              </a>
            </li>
          </ul>
        </mat-expansion-panel>
      </div>
      <ng-container
        *ngIf="(userPrivileges.WaseelPrivileges.RCM.isAdmin || userPrivileges.WaseelPrivileges.RCM.isDoctor || userPrivileges.WaseelPrivileges.RCM.isCoder) && (userPrivileges.ProviderPrivileges.WASEEL_CLAIMS.isClaimUser || hasAnyNphiesPrivilege || userPrivileges.WaseelPrivileges.isPAM)">
        <div class="list-title">
          <hr>
        </div>
        <div class="list-title primary">
          RCM
        </div>
      </ng-container>
      <div class="list-container pt-0"
        *ngIf="(userPrivileges.WaseelPrivileges.RCM.isAdmin || userPrivileges.WaseelPrivileges.RCM.isDoctor || userPrivileges.WaseelPrivileges.RCM.isCoder) && !envStaging && !envProd">
        <ul class="nav-list" *ngIf="userPrivileges.WaseelPrivileges.RCM.isDoctor || userPrivileges.WaseelPrivileges.RCM.isCoder">
          <li>
            <a routerLink="/review/scrubbing/upload" routerLinkActive="is-active" #payerPaymentContract="routerLinkActive">
              <span class="text">Claims Scrubbing</span>
            </a>
          </li>
        </ul>
        <mat-accordion displayMode="flat" *ngIf="userPrivileges.WaseelPrivileges.RCM.isAdmin">
          <mat-expansion-panel hideToggle [expanded]="payerPaymentContract.isActive">
            <mat-expansion-panel-header>
              <mat-panel-title i18n="@@configuration">Configuration</mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="nav-list">
              <li i18n="@@payerPaymentContract">
                <a routerLink="/administration/config/payer-payment-contract" routerLinkActive="is-active" #payerPaymentContract="routerLinkActive">
                  <span class="text">Payer Payment Contract</span>
                </a>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <ng-container *ngIf="userPrivileges.WaseelPrivileges.RCM.isAdmin || userPrivileges.WaseelPrivileges.isPAM">
        <div class="list-title">
          <hr>
        </div>
        <ul class="nav-list">
          <li>
            <a routerLink="/administration/switch-provider" routerLinkActive="is-active" #switchProvider="routerLinkActive">
              <span class="text">Switch Provider</span>
            </a>
          </li>
        </ul>
      </ng-container>
      <ng-container *ngIf="userPrivileges.WaseelPrivileges.RCM.isAdmin">
        <div class="list-title">
          <hr>
        </div>
        <ul class="nav-list">
          <li>
            <a routerLink="/review/scrubbing/admin" routerLinkActive="is-active" #payerPaymentContract="routerLinkActive">
              <span class="text">Claims Scrubbing - Admin</span>
            </a>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
<div class="nav-backdrop">
  <button type="button" (click)="toggleNav()"></button>
</div>
