:host{
  --drop-component-height: 500px;
}

table{
  width: 100%;
  align-items: center;
  text-align: center;
}

.stepperProgressBar{
  height: var(--drop-component-height);
  width: 100%;
}

.center{
  width: 50%;
  padding: 10%;
  margin: auto;

}

.uploadfilecontainer {
  /* background-image: url("../../assets/cloud-2044823_960_720.png"); */
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: var(--drop-component-height);
  width: 100%;
  margin: auto;
  border: 2px dashed #70707080;
  background-color: #FAFAFA !important;
  color: #707070;
  border-radius: 10px;
  
}

.uploadContainerErrorClass{
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: var(--drop-component-height);
  width: 100%;
  margin: auto;
  border: 2px dashed #be3636 ;
  background-color: #f17e7e ;
  color: #be3636;
  border-radius: 10px;
}
.uploadContainerErrorClass:hover {
  cursor: pointer;
  background-color: #db8282 !important;
  opacity: 0.8;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #e0dede !important;
  opacity: 0.8;
}

.containerText {
  width: 100%;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: var(--drop-component-height);
}