<div *ngIf="!uploading">         
    <div class=" {{uploadContainerClass}}" (click)="fileInput.click()" appDragdrop (onFileDropped)="selectFile($event)">
        <p class="containerText">Choose a file or drag it here.</p>
        <p class="containerText" style="line-height: 0; font-size: 14px !important;">{{error}}</p>
        <input hidden type="file" #fileInput id="file" onclick="this.value = null" (change)="selectFile($event.target.files)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
    </div>
</div>
<div *ngIf="uploading && progress.percentage !== 100">
    <h4>Uploading...{{progress.percentage}}%</h4>  
</div>
<div  *ngIf="uploading && progress.percentage === 100">
    <h4>Proccessing...</h4>  
</div>
