:host{
  --drop-component-height: 500px;
}

table{
  width: 100%;
  align-items: center;
  text-align: center;
}

.stepperProgressBar{
  height: var(--drop-component-height);
  width: 100%;
  transform: translateX(-30px);
  z-index: 2;
  padding: 55px 0px 0px 0px;
  position: absolute;
}

.center{
  width: 50%;
  padding: 10%;
  margin: auto;

}

.uploadfilecontainer {
  /* background-image: url("../../assets/cloud-2044823_960_720.png"); */
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: var(--drop-component-height);
  width: 100%;
  /* margin: auto; */
  border: 2px dashed #70707041;
  background-color: #FAFAFA !important;
  color: #707070;
  align-content: center;
  /* border-radius: 10px; */
  
}
.containerFileIcon{
  text-align: center;
  position: absolute;
  width: 92%;
  top: 20%;
}


.uploadContainerErrorClass{
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: var(--drop-component-height);
  width: 100%;
  /* margin: auto; */
  border: 2px dashed #be363641 ;
  background-color: #e7313141 !important;
  color: #be3636;
  /* border-radius: 10px; */
}
.uploadContainerErrorClass:hover {
  cursor: pointer;
  background-color: #db8282 !important;
  opacity: 0.8;
}


.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #e0dede !important;
  opacity: 0.8;
}

.containerText {
  font-size: 20px;
  text-align: center;
  margin-top: 30%;
}