<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
      <p>Cancel Previous Claim - NPHIES</p>
    </div>
    <div class="block-filter-panel">
      <form [formGroup]="CancellClaimForm" (ngSubmit)="cancellClaim()">
        <div class="row small-gutter">
          <div class="col-md">
            <div class="form-group" [class.has-error]="submitted && CancellClaimForm.get('providerId').hasError('required')">
              <label class="control-label">Provider<span class="asterisk">*</span></label>
              <!-- <input type="text" class="form-control" placeholder="Select provider" formControlName="providerId" /> -->
              <input [readonly]="isLoading" type="text" class="form-control search-box" [matAutocomplete]="auto" formControlName="providerId" (input)="updateFilter()"
                (keyup.enter)="selectProvider()" placeholder="Select provider">
              <mat-autocomplete autoActiveFirstOption #auto>
                <mat-option *ngFor="let provider of filteredProviders" [value]="provider.providerId + ' | ' + provider.providerCode + ' | ' + provider.providerEnglishName +  ' (CCHI ID: '+ provider.cchi_ID +')'"
                  (click)="selectProvider(provider.providerId ,provider.cchi_ID, provider.providerCode)">
                  {{provider.providerId}} | {{provider.providerCode}} | {{provider.providerEnglishName}} (CCHI ID: {{provider.cchi_ID}})
                </mat-option>
              </mat-autocomplete>
              <div *ngIf="submitted && CancellClaimForm.get('providerId').hasError('required')">
                <span class="error-text">Please select a Provider</span>
              </div>
             
            </div>
        </div>
        <div class="col-md">
            <!-- selectedPayerError?.trim().length > 0 -->
            <div class="form-group" [class.has-error]="selectedPayer==null && submitted "
                [matTooltip]="selectedPayerError">
                <label class="control-label">Payer<span class="asterisk">*</span></label>
                <app-nphies-payers-selector (selectionChange)="selectPayer($event)"></app-nphies-payers-selector>
              </div>
              <div *ngIf="selectedPayer==null && submitted ">
                <span class="error-text">Please select a Payer</span>
              </div>
          </div>
          <div class="col-md">
          <div class="form-group" [class.has-error]="submitted && CancellClaimForm.get('claimIdentifier').hasError('required')" >
            <label class="control-label">Claim Identifier<span class="asterisk">*</span></label>
            <input placeholder="Enter Claim Identifier" class="form-control" formControlName='claimIdentifier'>
        </div>
        <div *ngIf="submitted && CancellClaimForm.get('claimIdentifier').hasError('required') ">
            <span class="error-text">Please Enter Claim Identifie</span>
          </div>
          </div>
        </div>
        <div class="row small-gutter">
          <div class="col-lg-4">
            <div class="form-group"  >
              <label class="control-label">Claim Identifier Url - System</label>
              <input placeholder="Enter Claim Identifier Url" class="form-control" formControlName='claimIdentifierUrl'>
          </div>
          <div class="form-group">
            <button type="submit" mat-flat-button color="primary">Cancel</button>
          </div>
          </div>
      
        </div>
          </form>