<div class="animate__animated animate__faster animate__fadeIn block-card">
  <div class="block-filter-panel">
    <form [formGroup]="CancellClaimForm" (ngSubmit)="cancellClaim()">
      <div class="block-header">
        <p>Cancel Previous Claim - NPHIES</p>
        <mat-slide-toggle  formControlName="cancelBy" color="primary" id="referral"  class="ml-auto">Cancel By {{isCancellByBundleIds?"Bundle ID":"Claim Identifier"}}
        </mat-slide-toggle>
      </div>
     
   
      <div style="margin-top: 15px;" class="row small-gutter">
        <div class="col-md">
          <div class="form-group"
            [class.has-error]="submitted && CancellClaimForm.get('providerId').hasError('required')">
            <label class="control-label">Provider<span class="asterisk">*</span></label>
            <!-- <input type="text" class="form-control" placeholder="Select provider" formControlName="providerId" /> -->
            <input [readonly]="isLoading" type="text" class="form-control search-box" [matAutocomplete]="auto"
              formControlName="providerId" (input)="updateFilter()" (keyup.enter)="selectProvider()"
              placeholder="Select provider">
            <mat-autocomplete autoActiveFirstOption #auto>
              <mat-option *ngFor="let provider of filteredProviders"
                [value]="provider.providerId + ' | ' + provider.providerCode + ' | ' + provider.providerEnglishName + ' | CCHI ID: '+ provider.cchi_ID"
                (click)="selectProvider(provider.providerId ,provider.cchi_ID, provider.providerCode)">
                {{provider.providerId}} | {{provider.providerCode}} | {{provider.providerEnglishName}} | CCHI ID:
                {{provider.cchi_ID}}
              </mat-option>
            </mat-autocomplete>
            <div *ngIf="submitted && CancellClaimForm.get('providerId').hasError('required')">
              <span class="error-text">Please select a Provider</span>
            </div>
          </div>
        </div>
        <div class="col-md">
          <!-- selectedPayerError?.trim().length > 0 -->
          <div class="form-group" [class.has-error]="selectedPayer==null && submitted "
            [matTooltip]="selectedPayerError">
            <label class="control-label">Payer<span class="asterisk">*</span></label>
            <app-nphies-payers-selector (selectionChange)="selectPayer($event)"></app-nphies-payers-selector>
          </div>
          <div *ngIf="selectedPayer==null && submitted ">
            <span class="error-text">Please select a Payer</span>
          </div>
        </div>
        <div class="col-md" *ngIf="!isCancellByBundleIds">
          <div class="form-group"
            [class.has-error]="submitted && isCancellByBundleIds&&!isValidBundleIdAndClaimsIdentifierFiled()">
            <label class="control-label">Claim Identifier<span class="asterisk">*</span></label>
            <input placeholder="Enter Claim Identifier" class="form-control" formControlName='claimIdentifier'>
          </div>
          <div *ngIf="submitted && isCancellByBundleIds&&!isValidBundleIdAndClaimsIdentifierFiled()">
            <span class="error-text">Please Enter Claim Identifie</span>

          </div>
        </div>
        <div class="col-lg-4" *ngIf="isCancellByBundleIds">
          <div class="form-group"
          [class.has-error]="submitted && isCancellByBundleIds&& !isValidBundleIdAndClaimsIdentifierFiled()">
          <label class="control-label">Request Bundle ID<span class="asterisk">*</span></label>
          <input placeholder="Enter Request Bundle ID" class="form-control" formControlName='requestBundleId' >
        </div>
        <div *ngIf="submitted && isCancellByBundleIds&& !isValidBundleIdAndClaimsIdentifierFiled()">
          <span class="error-text">Please Enter Request Bundle ID</span>
        </div>
       </div>
      </div>
      <div class="row small-gutter">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="control-label">Claim Identifier Url - System</label>
            <input placeholder="Enter Claim Identifier Url" class="form-control" formControlName='claimIdentifierUrl'>
          </div>
        </div>
        <div class="col-md">
          <div class="form-group">
            <button style="margin-top: 21px;" type="submit" mat-flat-button color="primary">Cancel</button>
          </div>
        </div>
      </div>
        <table   *ngIf="JsonRequest!=null || JsonResponse!=null" class="primary-grid" cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <!-- <th>Transaction ID</th> -->
              <th>Transaction Type</th>
              <th>Date</th>
              <!-- <th width="10"></th> -->
              <th width="10"></th>
            </tr>
          </thead>
        <tbody>
          <tr >
            <!-- <td>{{transaction.transactionId}}</td> -->
            <td>cancel-request</td>
            <td>{{ requestDate | date : 'yyyy/MM/dd hh:mm:ss aa'}}</td>
            <td>
              <a href='{{JsonRequest}}' title="Download" class="primary-link"
              >Download</a>
            </td>
          </tr>

          <tr >
            <!-- <td>{{transaction.transactionId}}</td> -->
            <td>cancel-response</td>
            <td>{{ responsDate | date : 'yyyy/MM/dd hh:mm:ss aa'}}</td>
            <td>
              <a href='{{JsonResponse}}' title="Download" class="primary-link"
              >Download</a>
            </td>
          </tr>
        </tbody>
      </table>