<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-filter-panel">
      <form [formGroup]="CancellClaimForm" (ngSubmit)="cancellClaim()">
        <div class="block-header">
          <p>Cancel Previous Claim - NPHIES</p>
          <mat-radio-group formControlName="cancelBy" color="primary" id="referral"  class="ml-auto">
            <mat-radio-button value="CancelByClaimIdentifier" style="padding-right: 16px">Cancel By Claim Identifier </mat-radio-button>
            <mat-radio-button value="CancelByBundleID">Cancel By Bundle ID</mat-radio-button>
          </mat-radio-group>
          <!-- <mat-slide-toggle  formControlName="cancelBy" color="primary" id="referral"  class="ml-auto">Cancel By {{isCancellByBundleIds?"Bundle ID":"Claim Identifier"}}
          </mat-slide-toggle> -->
        </div>
        <div style="margin-top: 15px;" class="row small-gutter">
          <!-- <div class="col-md" *ngIf="getPrivileges().ProviderPrivileges.NPHIES.isAdmin && carrentProviderId=='101'">
            <div class="form-group"
              [class.has-error]="submitted && CancellClaimForm.get('providerId').hasError('required') && getPrivileges().ProviderPrivileges.NPHIES.isAdmin && carrentProviderId=='101'">
              <label class="control-label">Provider<span class="asterisk">*</span></label>
              <input type="text" class="form-control" placeholder="Select provider" formControlName="providerId" />
              <input [readonly]="isLoading" type="text" class="form-control search-box" [matAutocomplete]="auto"
                formControlName="providerId" (input)="updateFilter()" (keyup.enter)="selectProvider()"
                placeholder="Select provider">
              <mat-autocomplete autoActiveFirstOption #auto>
                <mat-option *ngFor="let provider of filteredProviders"
                  [value]="provider.providerId + ' | ' + provider.providerCode + ' | ' + provider.providerEnglishName + ' | CCHI ID: '+ provider.cchi_ID"
                  (click)="selectProvider(provider.providerId ,provider.cchi_ID, provider.providerCode)">
                  {{provider.providerId}} | {{provider.providerCode}} | {{provider.providerEnglishName}} | CCHI ID:
                  {{provider.cchi_ID}}
                </mat-option>
              </mat-autocomplete>
              <div *ngIf="submitted && CancellClaimForm.get('providerId').hasError('required')">
                <span class="error-text">Please select a Provider</span>
              </div>
            </div> -->
          <!-- </div> -->
          <div class="col-md">
            <!-- selectedPayerError?.trim().length > 0 -->
            <div class="form-group" [class.has-error]="selectedPayer==null && submitted "
              [matTooltip]="selectedPayerError">
              <label class="control-label">Payer<span class="asterisk">*</span></label>
              <app-nphies-payers-selector (selectionChange)="selectPayer($event)"></app-nphies-payers-selector>
            </div>
            <div *ngIf="selectedPayer==null && submitted ">
              <span class="error-text">Please select a Payer</span>
            </div>
          </div>
          <div class="col-md" *ngIf="!isCancellByBundleIds">
            <div class="form-group"
              [class.has-error]="submitted && !isCancellByBundleIds&&!isValidBundleIdAndClaimsIdentifierFiled()">
              <label class="control-label">Claim Identifier<span class="asterisk">*</span></label>
              <input placeholder="Enter List of Claim Identifier IDs Like Format 000000-1111,222222-3333" class="form-control" formControlName='claimIdentifier'>
            </div>
            <div *ngIf="submitted && !isCancellByBundleIds&&!isValidBundleIdAndClaimsIdentifierFiled()">
              <span class="error-text">Please Enter Claim Identifier</span>
  
            </div>
          </div>
          <div class="col-lg-4" *ngIf="isCancellByBundleIds">
            <div class="form-group"
            [class.has-error]="submitted && isCancellByBundleIds&& !isValidBundleIdAndClaimsIdentifierFiled()">
            <label class="control-label">Request Bundle ID<span class="asterisk">*</span></label>
            <input class="form-control" formControlName='requestBundleId'  placeholder="Enter List of Bundle IDs Like Format 000000-1111-888,222222-3333-888">
          </div>
          <div *ngIf="submitted && isCancellByBundleIds&& !isValidBundleIdAndClaimsIdentifierFiled()">
            <span class="error-text">Please Enter Request Bundle ID</span>
          </div>
         </div>

         <div class="col-lg-4">
            <div class="form-group">
              <label class="control-label">Claim Identifier Url - System</label>
              <input placeholder="Enter Claim Identifier Url" class="form-control" formControlName='claimIdentifierUrl'>
            </div>
          </div>
        </div>
        <div class="row small-gutter">
      
          <div class="col-md">
            <div class="form-group">
              <button style="margin-top: 21px;" type="submit" mat-flat-button color="primary">Cancel</button>
            </div>
          </div>
        </div>
        <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true">
          <table   *ngIf="cancelResponse!=null &&  cancelResponse.length>0" class="primary-grid" cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <!-- <th>Transaction ID</th> -->
                <th>Transaction Type</th>
                <th>Claim Identifier ID</th>
                <th>Message</th>
                <!-- <th width="10"></th> -->
                <th width="10"></th>
              </tr>
            </thead>
          <tbody *ngFor="let response of cancelResponse">
            <tr >
              <!-- <td>{{transaction.transactionId}}</td> -->
              <td>cancel-request</td>
              <!-- <td>{{ requestDate | date : 'yyyy/MM/dd hh:mm:ss aa'}}</td> -->
              <td>{{response.claimIdentifier}}</td> 
              
             
               <td [ngStyle]="changeColor(response.message)">{{response.message}}</td> 
              <td>
                <a href='{{response.requestJsonUrl}}' title="Download" class="primary-link"
                >Download</a>
              </td>
            </tr>
  
            <tr >
              <!-- <td>{{transaction.transactionId}}</td> -->
              <td>cancel-response</td>
              <td></td>
              <td [ngStyle]="changeColor(response.message)">{{response.statusReason!=null?"Reason :" + response.statusReason:''}}</td>
              <td>
                <a href='{{response.responseJsonUrl}}' title="Download" class="primary-link"
                >Download</a>
              </td>
            </tr>
        <hr>
          </tbody>
        </table>
    </ng-scrollbar>