<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">File Upload</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body">
    <div class="custom-file-upload">
        <div class="content">
            <img src="./assets/ic-pdf-lg.svg" alt="PDF File" />
            <p class="text-normal-color">Report-23041996.pdf</p>
            <span>File Size: 2.95 MB</span>
        </div>
    </div>
</div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-flat-button color="primary">Upload</button>
    </div>
</div>