<div class="primary-dialog-header has-border" *ngIf="detailsModel">
  <h5 class="primary-dialog-title">Eligibility - {{detailsModel.eligibilityRequestId}}</h5>&nbsp;&nbsp;
  <h5 class="primary-dialog-title ml-auto">Transaction - {{detailsModel.transactionId}}</h5>

  <button type="button" (click)="closeDialog()" class="dialog-close ml-4" matRipple></button>
</div>
<div class="primary-dialog-body p-0">
  <mat-tab-group class="primary-tab nphies-eligibility-tab">
    <mat-tab [label]="'Details'">
      <app-eligibility-details *ngIf="detailsModel" [eligibilityResponse]="detailsModel"
        [isPrint]="isPrint"></app-eligibility-details>
    </mat-tab>
    <mat-tab [label]="'JSON'">
      <ng-template matTabContent>
        <app-eligiblity-json-response [otherDataModel]="detailsModel"></app-eligiblity-json-response>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="primary-dialog-footer has-border text-right">
  <div class="btn-list text-right">
    <button mat-flat-button color="primary" (click)="openPreviewDialog()" *ngIf="detailsModel && detailsModel.outcome !== 'Error'">
      {{getType()}}
    </button>
    <button mat-flat-button color="primary" (click)="print()">Print</button>
  </div>
</div>
<!-- <div class="primary-dialog-footer has-border">
  <div class="d-flex">
    <div class="btn-list">
      <button mat-flat-button color="primary">Cancel</button>
      <button mat-flat-button color="primary">Reuse</button>
    </div>
    <div class="btn-list text-right ml-auto">
      <button mat-flat-button color="primary">Progress to Authorization</button>
      <button mat-flat-button color="primary">Progress to Encounter</button>
    </div>
  </div>
</div> -->