<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header has-border">
        <p>Create Batch</p>
    </div>
    <div class="block-filter-panel">
        <div class="row small-gutter">
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Payer</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select value="">
                            <mat-option value="">Select Payer</mat-option>
                            <mat-option value="Payer 1">Payer 1</mat-option>
                            <mat-option value="Payer 2">Payer 2</mat-option>
                            <mat-option value="Payer 3">Payer 3</mat-option>
                            <mat-option value="Payer 4">Payer 4</mat-option>
                            <mat-option value="Payer 5">Payer 5</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Claim Search Start Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="startDate" class="form-control" placeholder="Select start date" />
                        <mat-datepicker-toggle [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label">Claim Search End Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="endDate" class="form-control" placeholder="Select end date" />
                        <mat-datepicker-toggle [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-auto align-self-end">
                <div class="form-group">
                    <button type="button" mat-flat-button color="primary">Show Claims</button>
                </div>
            </div>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" class="bg-white">
        <div class="fixed-height">
            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr class="ng-star-inserted">
                        <th>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </th>
                        <th>Claim Ref. No.</th>
                        <th>Dr. Name</th>
                        <th>Member ID</th>
                        <th>National ID</th>
                        <th>Patient File No.</th>
                        <th>Claim Date</th>
                        <th> Net Amount</th>
                        <th> Net Vat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ng-star-inserted">
                        <td>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="row-click"><span class="text-monospace">601215241019</span></td>
                        <td class="row-click"> Demo</td>
                        <td class="row-click"><span class="text-monospace">1211212111</span></td>
                        <td class="row-click"><span class="text-monospace">1211212111</span></td>
                        <td class="row-click"><span class="text-monospace">1211212111</span></td>
                        <td class="row-click text-nowrap"> 13-06-2021 </td>
                        <td class="row-click text-nowrap"> 331.8<span class="currency"> SAR</span></td>
                        <td class="row-click text-nowrap"> 69.68<span class="currency"> SAR</span></td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="row-click"><span class="text-monospace">60121523163</span></td>
                        <td class="row-click"> Demo</td>
                        <td class="row-click"><span class="text-monospace">1212121122</span></td>
                        <td class="row-click"><span class="text-monospace">112121212</span></td>
                        <td class="row-click"><span class="text-monospace">112121212</span></td>
                        <td class="row-click text-nowrap"> 21-06-2021 </td>
                        <td class="row-click text-nowrap"> 331.8<span class="currency"> SAR</span></td>
                        <td class="row-click text-nowrap"> 69.68<span class="currency"> SAR</span></td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="row-click"><span class="text-monospace">DLL188804</span></td>
                        <td class="row-click"> Mohammed Abdulrahman Ibrahim</td>
                        <td class="row-click"><span class="text-monospace">1.03512E+12</span></td>
                        <td class="row-click"><span class="text-monospace"></span></td>
                        <td class="row-click"><span class="text-monospace">ALHH0030040043</span></td>
                        <td class="row-click text-nowrap"> 04-01-2021 </td>
                        <td class="row-click text-nowrap"> 188.2<span class="currency"> SAR</span></td>
                        <td class="row-click text-nowrap"> 0<span class="currency"> SAR</span></td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="row-click"><span class="text-monospace">DLL187817</span></td>
                        <td class="row-click"> CHOUKAIR MOHAMED MAZEN</td>
                        <td class="row-click"><span class="text-monospace">2.15821E+12</span></td>
                        <td class="row-click"><span class="text-monospace"></span></td>
                        <td class="row-click"><span class="text-monospace">ALHH0030030626</span></td>
                        <td class="row-click text-nowrap"> 04-01-2021 </td>
                        <td class="row-click text-nowrap"> 575<span class="currency"> SAR</span></td>
                        <td class="row-click text-nowrap"> 2.53<span class="currency"> SAR</span></td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="row-click"><span class="text-monospace">DLL186226</span></td>
                        <td class="row-click"> Fathy Farid Fooshan</td>
                        <td class="row-click"><span class="text-monospace">2.29446E+12</span></td>
                        <td class="row-click"><span class="text-monospace"></span></td>
                        <td class="row-click"><span class="text-monospace">ALHH0001528188</span></td>
                        <td class="row-click text-nowrap"> 04-01-2021 </td>
                        <td class="row-click text-nowrap"> 293<span class="currency"> SAR</span></td>
                        <td class="row-click text-nowrap"> 2.37<span class="currency"> SAR</span></td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="row-click"><span class="text-monospace">DLL186218</span></td>
                        <td class="row-click"> AMR MOHAMMED ELMISTEKAWY</td>
                        <td class="row-click"><span class="text-monospace">2.14101E+12</span></td>
                        <td class="row-click"><span class="text-monospace"></span></td>
                        <td class="row-click"><span class="text-monospace">ALHH0001526332</span></td>
                        <td class="row-click text-nowrap"> 04-01-2021 </td>
                        <td class="row-click text-nowrap"> 276.25<span class="currency"> SAR</span></td>
                        <td class="row-click text-nowrap"> 1.04<span class="currency"> SAR</span></td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="row-click"><span class="text-monospace">DLL186207</span></td>
                        <td class="row-click"> Ashraf Hussein Ali</td>
                        <td class="row-click"><span class="text-monospace">1.06869E+12</span></td>
                        <td class="row-click"><span class="text-monospace"></span></td>
                        <td class="row-click"><span class="text-monospace">ALHH0001522106</span></td>
                        <td class="row-click text-nowrap"> 04-01-2021 </td>
                        <td class="row-click text-nowrap"> 627<span class="currency"> SAR</span></td>
                        <td class="row-click text-nowrap"> 0<span class="currency"> SAR</span></td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="row-click"><span class="text-monospace">DLL185631</span></td>
                        <td class="row-click"> DAAD ZOUKAN KARKOUT</td>
                        <td class="row-click"><span class="text-monospace">1.05981E+12</span></td>
                        <td class="row-click"><span class="text-monospace"></span></td>
                        <td class="row-click"><span class="text-monospace">ALHH0001202831</span></td>
                        <td class="row-click text-nowrap"> 04-01-2021 </td>
                        <td class="row-click text-nowrap"> 191.41<span class="currency"> SAR</span></td>
                        <td class="row-click text-nowrap"> 0<span class="currency"> SAR</span></td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="row-click"><span class="text-monospace">DLL185582</span></td>
                        <td class="row-click"> DAAD ZOUKAN KARKOUT</td>
                        <td class="row-click"><span class="text-monospace">2.20336E+12</span></td>
                        <td class="row-click"><span class="text-monospace"></span></td>
                        <td class="row-click"><span class="text-monospace">ALHH0001176488</span></td>
                        <td class="row-click text-nowrap"> 04-01-2021 </td>
                        <td class="row-click text-nowrap"> 440.18<span class="currency"> SAR</span></td>
                        <td class="row-click text-nowrap"> 2<span class="currency"> SAR</span></td>
                    </tr>
                    <tr class="ng-star-inserted">
                        <td>
                            <mat-checkbox class="grid-checkbox" color="primary"></mat-checkbox>
                        </td>
                        <td class="row-click"><span class="text-monospace">DLL185393</span></td>
                        <td class="row-click"> Sami Essam Saeed Mohamed</td>
                        <td class="row-click"><span class="text-monospace">1.03627E+12</span></td>
                        <td class="row-click"><span class="text-monospace"></span></td>
                        <td class="row-click"><span class="text-monospace">ALHH0000934051</span></td>
                        <td class="row-click text-nowrap"> 04-01-2021 </td>
                        <td class="row-click text-nowrap"> 130<span class="currency"> SAR</span></td>
                        <td class="row-click text-nowrap"> 0<span class="currency"> SAR</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-scrollbar>
    <div class="block-footer sticky-bottom">
        <div class="left-block">
            <mat-paginator class="primary-paginator" length="100" pageSize="10" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>

    <button mat-fab color="primary" class="page-fab" (click)="openAddBatchDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>