<div class="primary-dialog-header has-border">
    <h5 class="primary-dialog-title">Authorization - LAV4FIYPZWKS</h5>
    <button type="button" (click)="closeDialog()" class="dialog-close" matRipple></button>
</div>
<div class="primary-dialog-body">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <div class="control-label">Claim Type</div>
                <p class="form-control-static">InPatient</p>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <div class="control-label">Related Claim Name</div>
                <p class="form-control-static">NA</p>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <div class="control-label">Beneficiary Name</div>
                <p class="form-control-static">Zahl Fathi Tareeq</p>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <div class="control-label">Payment Amount</div>
                <p class="form-control-static">NA</p>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <div class="control-label">Transaction Date</div>
                <p class="form-control-static">31/05/2021 10:22</p>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <div class="control-label">Pre-authorization Status</div>
                <p class="form-control-static">Approved</p>
            </div>
        </div>
    </div>

    <h5 class="form-title">
        Diagnoses
    </h5>
    <div class="table-responsive">
        <table class="primary-grid" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Code - Description</th>
                    <th>On Admission</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pricipal Diagnosis</td>
                    <td>A93.2 - Colorado tick fever</td>
                    <td>Yes</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5 class="form-title">
        Supporting Info
    </h5>
    <div class="table-responsive">
        <table class="primary-grid" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Value Type</th>
                    <th>Reason</th>
                    <th>Category</th>
                    <th>Value</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5">
                        <app-empty-state message='No supporting info found!'></app-empty-state>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5 class="form-title">
        Care Teams
    </h5>
    <div class="table-responsive">
        <table class="primary-grid" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Sequence</th>
                    <th>Clinician</th>
                    <th>Clinician Role</th>
                    <th>Care Team Role</th>
                    <th>Speciality</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Shadi</td>
                    <td>Doctor</td>
                    <td>Primary Provider</td>
                    <td>Hair Implant Dermatology</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5 class="form-title">
        Items
    </h5>
    <div class="row">
        <div class="col-4">
            <table class="inline-label-table">
                <tbody>
                    <tr>
                        <td class="label">Type</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td class="label">Code - Description</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td class="label">Non Standard Code</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td class="label">Is Package?</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td class="label">Quantity</td>
                        <td>56</td>
                    </tr>
                    <tr>
                        <td class="label">Unit Price</td>
                        <td>526</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="inline-label-table">
                <tbody>
                    <tr>
                        <td class="label">Discount</td>
                        <td>44</td>
                    </tr>
                    <tr>
                        <td class="label">Tax(%)</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td class="label">Patient Share(%)</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td class="label">Tax</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td class="label">Net</td>
                        <td>58</td>
                    </tr>
                    <tr>
                        <td class="label">Patient Share</td>
                        <td>268</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="inline-label-table">
                <tbody>
                    <tr>
                        <td class="label">Payer Share</td>
                        <td>478</td>
                    </tr>
                    <tr>
                        <td class="label">Start Date</td>
                        <td>29/7/2105</td>
                    </tr>
                    <tr>
                        <td class="label">Supporting Info</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td class="label">Diagnoses</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td class="label">Care Teams</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr class="hr spaced">
    <div class="row">
        <div class="col-4">
            <table class="inline-label-table">
                <tbody>
                    <tr>
                        <td class="label">Type</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td class="label">Code - Description</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td class="label">Non Standard Code</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td class="label">Is Package?</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td class="label">Quantity</td>
                        <td>56</td>
                    </tr>
                    <tr>
                        <td class="label">Unit Price</td>
                        <td>526</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="inline-label-table">
                <tbody>
                    <tr>
                        <td class="label">Discount</td>
                        <td>44</td>
                    </tr>
                    <tr>
                        <td class="label">Tax(%)</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td class="label">Patient Share(%)</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td class="label">Tax</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td class="label">Net</td>
                        <td>58</td>
                    </tr>
                    <tr>
                        <td class="label">Patient Share</td>
                        <td>268</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="inline-label-table">
                <tbody>
                    <tr>
                        <td class="label">Payer Share</td>
                        <td>478</td>
                    </tr>
                    <tr>
                        <td class="label">Start Date</td>
                        <td>29/7/2105</td>
                    </tr>
                    <tr>
                        <td class="label">Supporting Info</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td class="label">Diagnoses</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                    <tr>
                        <td class="label">Care Teams</td>
                        <td>Lorem, ipsum dolor.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="primary-dialog-footer has-border">
    <div class="btn-list text-right">
        <button mat-flat-button color="primary">Progress to Encounter</button>
        <button mat-flat-button color="primary">Reuse</button>
        <button mat-flat-button color="primary">Cancel</button>
    </div>
</div>