<div class="overlay-backdrop" [ngClass]="{'show':showCenter}">
    <button type="button" (click)="hideCenter()"></button>
</div>
<div class="aside-panel upload-history-list" [ngClass]="{'show':showCenter}">
    <mat-spinner diameter="20" *ngIf="isLoading" style="margin: 30px auto;"></mat-spinner>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true">
        <div *ngFor="let data of dataList">
            <div class="uploaded-card clickable" [routerLink]="['/',providerId,'claims']" fragment="reload" [queryParams]="{uploadId: data.uploadId}" (click)="hideCenter()">
                <p class="medium text-primary">{{data.uploadName}}</p>
                <span class="text-medium-grey">{{data.uploadDate | date : 'yyyy/MM/dd hh:mm:ss'}}</span>
            </div>
        </div>
    </ng-scrollbar>
    <div class="bottom-block">
        <a routerLink="/nphies/uploads" class="d-flex align-items-center justify-content-center text-primary px-3 py-2" (click)="hideCenter()">
            <span>See All</span>
            <mat-icon class="ml-2 size-20">arrow_forward</mat-icon>
        </a>
    </div>
</div>