<div class="overlay-backdrop" [ngClass]="{'show':showCenter}">
    <button type="button" (click)="hideCenter()"></button>
</div>
<div class="aside-panel upload-history-list" [ngClass]="{'show':showCenter}">
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true">
        <div *ngFor="let data of dataList">
            <div class="uplaoded-card clickable" [routerLink]="['/',providerId,'claims']" [queryParams]="{uploadId: data.uploadId}" (click)="hideCenter()">
                <p class="medium text-primary">{{data.uploadName}}</p>
                <span class="text-medium-grey">{{data.uploadDate | date : 'yyyy/MM/dd hh:mm:ss'}}</span>
            </div>
        </div>
    </ng-scrollbar>
    <div class="bottom-block">
        <a routerLink="/uploads" class="d-flex align-items-center justify-content-center text-primary px-3 py-2" (click)="hideCenter()">
            <span>See All</span>
            <mat-icon class="ml-2 size-20">arrow_forward</mat-icon>
        </a>
    </div>
</div>