#infinitScroll{
    height: 730px;
    overflow: auto;
    text-align: center;
}

.notifications{
    overflow-wrap: break-word;
}
app-notification-card{
    min-width: 325px;
}
.notification{
    width: 450px;
    display: inline-block;
}

#loadMore{
    background-color: #3060AA; color: #fff; text-align: center; width: 100%;
}
#loadMore:hover{
    cursor: pointer;
}