<div class="dialog-body change-log-dialog">
    <h2 class="text-primary medium pb-4">What's New!</h2>
    <ul class="unordered-list change-log-list pb-3">
        <li>Modified dashboard</li>
        <li>Updated date controls and select controls</li>
        <li>Added validation summary tab</li>
        <li>Grouped errors on claim summary page</li>
        <li>Added watermarks in textboxes</li>
        <li>Updated diagonosis and illness tabs</li>
    </ul>
    <button type="button" mat-flat-button color="primary" (click)="closeDialog()">Ok, Got it</button>
</div>