@charset "utf-8";

/*
------------------------------------------------------------
Project Name : Waseel GUI;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, .mat-badge-content, .mat-h1, .mat-headline, .mat-typography h1, .mat-h2, .mat-title, .mat-typography h2, .mat-h3, .mat-subheading-2, .mat-typography h3, .mat-h4, .mat-subheading-1, .mat-typography h4, .mat-h5, .mat-typography h5, .mat-h6, .mat-typography h6, .mat-body-2, .mat-body-strong, .mat-body, .mat-body-1, .mat-typography, .mat-caption, .mat-small, .mat-display-4, .mat-typography .mat-display-4, .mat-display-3, .mat-typography .mat-display-3, .mat-display-2, .mat-typography .mat-display-2, .mat-display-1, .mat-typography .mat-display-1, .mat-bottom-sheet-container, .mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button, .mat-button-toggle, .mat-card, .mat-checkbox, .mat-table, .mat-calendar, .mat-dialog-title, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-form-field, .mat-menu-item, .mat-paginator, .mat-paginator-page-size .mat-select-trigger, .mat-radio-button, .mat-select, .mat-slide-toggle-content, .mat-slider-thumb-label-text, .mat-stepper-horizontal, .mat-stepper-vertical, .mat-tab-group, .mat-tab-label, .mat-tab-link, .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6, .mat-tooltip, .mat-list-item, .mat-list-option, .mat-list-base .mat-subheader, .mat-list-base[dense] .mat-subheader, .mat-option, .mat-optgroup-label, .mat-simple-snackbar, .mat-tree { font-family: inherit !important; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 14px; line-height: 20px; font-family: 'Poppins', sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;background-color: #E8E8E8; }
a,a:hover { color: #000; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus textarea:-webkit-autofill,textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,select:-webkit-autofill,select:-webkit-autofill:hover,select:-webkit-autofill:focus {-webkit-box-shadow: 0 0 0px 1000px #F5F6F7 inset !important;}
strong,.bold{font-weight: 700;}
.semibold{font-weight: 600;}

/* custom scrollbar
--------------------------------------------------------------------------------------------------------*/
*::-webkit-scrollbar{height:8px;width:8px;}
*::-webkit-scrollbar-thumb{background-color: transparent;}
*:hover::-webkit-scrollbar-thumb{background-color: #b6b4b4;}
body::-webkit-scrollbar-thumb{background-color: #b6b4b4b6;}
body:hover::-webkit-scrollbar-thumb{background-color: #b6b4b4b6;}

/* button
--------------------------------------------------------------------------------------------------------*/
.btn-list>button,.btn-list>a{margin-right: 10px;}
.btn-list>button:last-child,.btn-list>a:last-child{margin-right: 0;}

/* misc
--------------------------------------------------------------------------------------------------------*/
.spacer {flex: 1 1 auto;}
.row.small-gutter{margin-left: -7px;margin-right: -7px;}
.row.small-gutter>div{padding-left: 7px;padding-right: 7px;}
.dashboard-numbers {font-size: 16px;line-height: 22px;font-weight: 600;}
.currency {font-size: 12px;font-weight: 700;opacity: 0.4;}
.abstract-card-list{display: flex;margin-left: -7px;margin-right: -7px;flex-wrap: wrap;}
.abstract-card-list>div{padding-left: 7px;padding-right: 7px;flex-grow: 0;flex-shrink: 0;flex-basis: 20%;max-width: 20%;}
.error-text,.asterisk{color: #CC2F2F;}
.error-block{color: #CC2F2F;padding: 16px;background-color: #fff;border-radius: 6px;text-align: center;}
.status-dot{height: 10px;width: 10px;border-radius: 50%;display: inline-block;}
.error-card {background-color: #FF53A3;color: white;margin-bottom: 16px;padding: 12px 16px;border-radius: 6px;}
.inner-loader-wrapper{position: relative;}
.inner-loader-wrapper .inner-loader{z-index: 8;position: absolute;background-color: rgba(255, 255, 255, 0.5);top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items: center;justify-content: center;}
.tab-btn {color: #3060AA;opacity: 0.5;}
.tab-btn.mat-flat-button{padding-left: 10px;padding-right: 10px;}
.tab-btn.active {opacity: 1;}
.row-click{cursor: pointer;}
.page-fab.mat-fab{position: fixed;right: 48px;bottom: 48px;z-index: 7;}
.menu-label{font-size: 12px;padding: 4px 16px;color: #3060AA;font-weight: 600;display: block;}
.page-top-loader.mat-progress-bar{position: fixed;top: 0;left: 0;z-index: 11;}
.claim-summary-grid{max-height: 482px;}

/* contextual colors
--------------------------------------------------------------------------------------------------------*/
.text-all-claim,.text-primary{color: #3060AA!important;}
.text-ready-submission,.text-parrot{color: #67CD23!important;}
.text-rejected,.text-magenta{color: #FF144D!important;}
.text-not-saved,.text-orange{color: #E6AE24!important;}
.text-under-submission,.text-cyan{color: #00D8E7!important;}
.text-rejected,.text-light-pink{color: #FF53A3!important;}
.text-paid,.text-green{color: #1C7C26!important;}
.text-partially-paid,.text-light-blue{color: #479CC5!important;}
.text-under-processing,.text-deep-red{color: #7D0202!important;}
.text-light-grey{color: #adadad!important;}
.bg-all-claim,.bg-primary{background-color: #3060AA!important;}
.bg-ready-submission,.bg-parrot{background-color: #67CD23!important;}
.bg-rejected,.bg-magenta{background-color: #FF144D!important;}
.bg-not-saved,.bg-orange{background-color: #E6AE24!important;}
.bg-under-submission,.bg-cyan{background-color: #00D8E7!important;}
.bg-rejected,.bg-light-pink{background-color: #FF53A3!important;}
.bg-paid,.bg-green{background-color: #1C7C26!important;}
.bg-partially-paid,.bg-light-blue{background-color: #479CC5!important;}
.bg-under-processing,.bg-deep-red{background-color: #7D0202!important;}
.bg-light-grey{background-color: #adadad!important;}

/* brand header 
--------------------------------------------------------------------------------------------------------*/
.brand-header{background-color: #3060aa;color: #fff;position: fixed;top: 0;left: 0;right: 0;display: flex;box-shadow: 0 3px 6px rgba(0,0,0,0.16);z-index: 10;}
.brand-header .logo-wrapper{width: 240px;align-self: center;-ms-flex-item-align: center;text-align: center;;}
.brand-header .logo{padding: 8px 16px;display: inline-block;vertical-align: top;}
.brand-header .logo>img{display: block;max-height: 52px;}
.brand-header .right-block{margin-left: auto;display: flex;align-items: center;padding-right: 16px;}
.brand-header .right-block>div,.brand-header .right-block>button,.brand-header .right-block>.language-switch{margin-right: 4px;}
.brand-header .right-block>div:last-child,.brand-header .right-block>button:last-child,.brand-header .right-block>.language-switch:last-child{margin-right: 0;}
.brand-header .iconButton.hasNotifications::after {content: ".";position: absolute;display: flex;color: #EB2A75;font-size: 70px;bottom: 24px;left: 16px;}
.brand-header .iconButton .innerIcon {position: absolute;top: 9px;left: 7.5px;font-size: 16px;color: #3060AA;font-weight: bold;}
.brand-header .user-info {font-size: 12px;line-height: 18px; background-color: #254f90;border-radius: 6px;padding: 4px 4px 4px 10px;display: flex;margin-left: 8px;align-items: center;}
.brand-header .logout{background-color: #22477f;margin-left: 8px;}
.brand-header .inner-user-info{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;max-width: 150px;}
.brand-header .logout .mat-icon{font-size: 22px;font-weight: 400;}
.brand-header .tablet-search{display: none;}
.brand-header .mat-toolbar-row, .brand-header .mat-toolbar-single-row {z-index: 9999;position: fixed;display: flex;box-sizing: border-box;padding: 0 16px;width: 100%;flex-direction: row;float: right;top: 0px;}
.brand-header .mat-progress-bar {position: absolute;left: 0;right: 0;display: flex;z-index: -1;bottom:0;}
.brand-header .nav-toggle{display: none;background: none;border:0;height: 68px;border-radius: 0;}

/* language-picker
--------------------------------------------------------------------------------------------------------*/
.language-picker-panel .menuItem {padding: 10px 16px;display: block;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);}
.language-picker-panel .menuItem:hover {text-decoration: none;background-color: #e6e6e6;}
.language-picker .text{padding-left: 6px;}
.language-picker.mat-button{font-weight: 400;padding: 0 8px;}

/* sidebar
--------------------------------------------------------------------------------------------------------*/
.w3-sidebar {width: 240px;z-index: 1;overflow: auto;position: fixed;top: 68px;bottom: 0;left: 0;height:auto;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);}
.w3-sidebar hr{margin: 0;}
.w3-sidebar .list-container{padding: 10px 0;}
.w3-sidebar .list-title {color: #878B96;list-style: none;margin: 10px 0;text-decoration: none;padding-left: 10px;}
.w3-sidebar .nav-list>li>a{display: flex;align-items: center;padding: 8px 10px 8px 15px;color: #4F5666;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);}
.w3-sidebar .nav-list>li>a:hover,.w3-sidebar .nav-list>li>a:focus,.w3-sidebar .nav-list>li>a:active{background-color: #ecebeb;}
.w3-sidebar .nav-list>.new>a::after{content: ".";color: #EB2A75;font-size: 70px;position: absolute;left: 83%;top: 85px;}
.w3-sidebar .nav-list>li>.is-active {background-color: #E8E8E8;font-weight: 600;}
.w3-sidebar .nav-list>li>a>img {margin-right: 14px;display: block;height: 26px;width: 26px;}
.nav-backdrop{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.6);opacity: 0;visibility: hidden;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);display: none;z-index: 11;}
.nav-backdrop>button{background: none;border:0;display: block;height: 100%;width: 100%;}

/* main content
--------------------------------------------------------------------------------------------------------*/
.main-content {display: block;padding: 88px 20px 20px 260px;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);}

/* advance search
--------------------------------------------------------------------------------------------------------*/
.advance-search {width: 800px;display: flex;height: 42px;margin: 13px 0;}
.advance-search .input-wrapper{flex-grow:1;position: relative;}
.advance-search .input-wrapper>input{height: 100%;padding: 4px 48px 4px 12px;background: #fff;border-top-right-radius: 6px;border-bottom-right-radius: 6px;width: 100%;border:0;margin:0;}
.advance-search .search-btn{position: absolute;right: 0;top: 50%;transform:translate(0,-50%);color: #505050;z-index: 1;}
.advance-search >select {padding: 4px 28px 4px 10px;background-color: #E6ECFC;color: #315FAA;border-top-left-radius: 6px;border-bottom-left-radius: 6px;border: 0;}
.advance-search .hidden-input{width: 0;opacity: 0;visibility: hidden;position: absolute;}
.advance-search .mat-chip-list{position: relative; left: 0; bottom: 37px;display: block;padding-left: 12px;width: calc(100% - 40px);}
.advance-search .close-btn{margin-left: 8px;display: none;}

/* form
--------------------------------------------------------------------------------------------------------*/
.form-group{margin-bottom: 14px;}
.form-control,.form-control[readonly],.form-control:disabled{border:1px solid #EFF5FF;height:40px;background-color: #EFF5FF;padding: 4px 12px;color: #3060AA;border-radius: 6px;font-size: inherit;line-height: inherit;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);box-shadow: none;caret-color: #3060AA;}
select.form-control{cursor: pointer;}
.form-control:focus,.form-control[readonly]:focus{border:1px solid #3060AA;background-color: #EFF5FF;box-shadow: none;color: #3060AA;}
.form-control::-webkit-outer-spin-button, .form-control::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.form-control[type=number] {-moz-appearance: textfield;}
.form-group.style-horizontal{display: flex;align-items: center;}
.form-group.style-horizontal>.left-block{flex-grow: 0;flex-shrink: 0;flex-basis: 130px;max-width: 130px;}
.form-group.style-horizontal>.right-block{flex-grow: 0;flex-shrink: 0;flex-basis: calc(100% - 130px);max-width: calc(100% - 130px);}
.name-gender-box{display: flex;}
.name-gender-box .form-control{border-radius: 0;}
.name-gender-box .form-control:first-child{border-radius: 6px 0 0 6px;}
.name-gender-box .form-control:last-child{border-radius: 0 6px 6px 0;}
.name-gender-box .form-control:not(select){flex-grow: 1;}
.gender-select.form-control {color: #fff;background-color: #3060AA;width:auto;padding-left: 8px;padding-right: 28px;border-color:#3060AA;background-image: url('./assets/ic-unfold-white.svg');}
.gender-select.form-control.male {background-color: #42CDFF;border-color:#42CDFF;}
.gender-select.form-control.female {background-color: #ff5ea9;border-color:#ff5ea9;}
.gender-select.form-control option:not(:checked) { color: #fff; }
.form-group.has-error .form-control{color:#CC2F2F;caret-color: #CC2F2F;background-color: rgba(204, 47, 47,0.1);border-color: rgba(204, 47, 47,0.1);}
.form-group.has-error .form-control:focus{border-color: #CC2F2F;}
.form-group.has-error .gender-select.form-control{background-color: rgba(204, 47, 47,0.16);border-color: rgba(204, 47, 47,0.18);}
.form-group.has-error .control-label,.form-group.has-error .gender-select.form-control:focus,.form-group.has-error .gender-select.form-control option:not(:checked){color:#CC2F2F;}
.custom-select-control{background-image: url('./assets/ic-unfold.svg');background-position: right;background-size: 22px 22px;background-repeat: no-repeat;-webkit-appearance:none;-moz-appearance:none;-o-appearance: none;-ms-appearance: none;appearance: none;padding-right: 28px;}
.form-group.has-error .custom-select-control{background-image: url('./assets/ic-unfold-danger.svg');}

/* block
--------------------------------------------------------------------------------------------------------*/
.block-header{display: flex;color: #3060AA;background-color: #fff;border-top-left-radius: 6px;border-top-right-radius: 6px;padding: 14px;font-size: 16px;line-height: 22px;font-weight: 600;}
.block-body {padding: 14px;background-color: #f0eeee;}
.block-body.create-claim-body{min-height: calc(100vh - 218px);padding-bottom: 0;}
.block-footer{display: flex;align-items: center;color: #3060AA;background-color: white;border-radius: 0 0 6px 6px;padding: 12px;min-height: 60px;position:sticky;bottom:0;z-index: 7;}
.block-footer>.right-block{margin-left: auto;display: flex;}
.block-footer>.left-block{padding-right: 12px;flex-grow:1;}
.block-card{background: #fff;border-radius: 6px;padding: 14px;}
.block-card.full-height{margin-bottom: 14px;height: calc(100% - 14px);}

/* primary card
--------------------------------------------------------------------------------------------------------*/
.primary-card{border-radius: 6px;background: #fff;position: relative;margin-bottom: 14px;display: block;height: calc(100% - 14px);color: #585858;}
.primary-card .click-trigger{position: absolute; width: 100%; height: 100%; z-index: 1; cursor: pointer;top: 0;left: 0;border:0;background:none;padding: 0;margin: 0;}
.primary-card .ribbon{height: 4px; width: 84px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;display: block;right: 30px;top: 0;position: absolute;}
.primary-card .primary-card-title{padding: 8px 12px;border-bottom: 1px solid rgba(62,62,62,0.05);font-weight: 500;}
.primary-card .primary-card-content{padding: 8px 12px;font-size: 13px;}
.primary-card .card-message{padding: 6px 8px;border-radius: 6px;font-size: 12px;line-height: 16px;display: block;font-weight: 500;}
.primary-card table{margin: 0;width: 100%;}

/* file upload drag drop
--------------------------------------------------------------------------------------------------------*/
.file-upload-drag-drop{background-color: #EAEAEA;color:#707070;padding: 15px;}
.file-upload-drag-drop .inner-block{border:2px dashed rgba(112, 112, 112,0.4);padding: 80px 16px;}
.file-upload-drag-drop .icon-wrapper{background-color: #F4F4F4;border-radius: 6px;width: 320px;max-width: 100%;margin: 0 auto;padding: 20px;}
.file-upload-drag-drop .icon-wrapper>img{display: block;margin: 0 auto;max-width: 100%;height: 128px;width: 128px;}
.file-upload-drag-drop .file-name{text-align: center;word-break: break-all;padding-top: 16px;color: #3060AA;font-weight: 500;}
.file-upload-drag-drop .text-block{font-size: 20px;line-height: 26px; display: flex;justify-content: center;padding-top: 48px;}
.file-upload-drag-drop .text-block>span{align-self:center;-ms-flex-item-align: center;padding-right: 12px;}
.file-upload-drag-drop .error-text{text-align: center;padding-top: 16px;}
.file-upload-drag-drop .btn-list{text-align: center;}
.file-upload-progress-wrapper{padding: 20px 15px;background: #fff;}

/* custom paginator
--------------------------------------------------------------------------------------------------------*/
.block-header .custom-paginator{margin: -7px 0;}
.custom-paginator{display: flex;align-items: center;}
.custom-paginator>button{display: block;padding: 3px;background: none;border:0;}
.custom-paginator>button>img{display: block;height: 24px;width: 24px;}
.custom-paginator .page-info{padding: 0 8px;}
.custom-paginator .page-info>small{font-size: 12px;}
.custom-paginator .action-btn{margin: 0 20px;}

/* grid
--------------------------------------------------------------------------------------------------------*/
.primary-grid{width: 100%;color:#535252;background-color: #fff;}
.primary-grid>thead>tr>th,.primary-grid>thead>tr>td,.primary-grid>tbody>tr>th,.primary-grid>tbody>tr>td{vertical-align: top;padding:11px 8px;}
.primary-grid>thead>tr>.align-middle,.primary-grid>tbody>tr>.align-middle{vertical-align: middle;}
.primary-grid>thead>tr>th,.primary-grid>thead>tr>td{font-weight: 500;}
.primary-grid>thead>tr>th .mat-icon-button,.primary-grid>thead>tr>td .mat-icon-button{margin: -11px 0;}
.primary-grid>thead>tr>th .mat-icon-button .mat-icon,.primary-grid>thead>tr>td .mat-icon-button .mat-icon{font-size: 22px;line-height: 22px;}
.primary-grid:not(.contextful)>thead>tr>th,.primary-grid:not(.contextful)>thead>tr>td{background-color: #D5E4FC;color:#3060AA;}
.primary-grid>thead>tr>th:first-child,.primary-grid>thead>tr>td:first-child,.primary-grid>tbody>tr>th:first-child,.primary-grid>tbody>tr>td:first-child{padding-left: 12px;}
.primary-grid>thead>tr>th:last-child,.primary-grid>thead>tr>td:last-child,.primary-grid>tbody>tr>th:last-child,.primary-grid>tbody>tr>td:last-child{padding-right: 12px;}
.primary-grid>tbody>tr:nth-child(even){background-color: #EDF4FF;}
.primary-grid .actions{text-align: right;white-space: nowrap;}
.primary-grid .actions .mat-icon-button{width: 30px;height: 30px;line-height: 30px;margin:-5px 0;display: inline-block;vertical-align: middle;}
.primary-grid .actions .mat-icon-button .mat-button-wrapper{display: block;}
.primary-grid .actions .mat-icon-button .mat-icon{font-size: 20px;line-height: 20px;height: 20px;width: 20px;}
.primary-grid .actions .mat-spinner-wrapper{display: inline-flex;vertical-align: middle;align-items: center;justify-content: center;height: 32px;width: 32px;}
.primary-grid.sticky-header>thead>tr>th,.primary-grid.sticky-header>thead>tr>td{position: sticky;top: 0;z-index: 7;}
.grid-checkbox .mat-checkbox-layout{padding: 10px;}
.grid-checkbox{display: block;margin: -8px -10px;}

/* abstract card carousel
--------------------------------------------------------------------------------------------------------*/
.abstract-card-carousel .owl-carousel .owl-nav .owl-next, .abstract-card-carousel .owl-carousel .owl-nav .owl-prev{position: absolute;top: 50%;left: -14px;transform:translate(0,-50%);background: #fff url('./assets/ic-page-prev.svg') center no-repeat;background-size: 24px 24px; height: 28px;width: 28px;border-radius: 50%;display: block;margin-top: -7px;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);opacity: 0.5;box-shadow: 0 4px 8px rgba(0,0,0,0.16);border:1px solid #eaeaea;}
.abstract-card-carousel .owl-carousel .owl-nav .owl-next{left:auto;right:-14px;background-image: url('./assets/ic-page-next.svg');}
.abstract-card-carousel .owl-carousel:hover .owl-nav .owl-next,.abstract-card-carousel .owl-carousel:focus .owl-nav .owl-next,.abstract-card-carousel .owl-carousel:active .owl-nav .owl-next,.abstract-card-carousel .owl-carousel:hover .owl-nav .owl-prev,.abstract-card-carousel .owl-carousel:focus .owl-nav .owl-prev,.abstract-card-carousel .owl-carousel:active .owl-nav .owl-prev{opacity: 1;}
.abstract-card-carousel .owl-carousel .owl-nav .owl-next.disabled, .abstract-card-carousel .owl-carousel .owl-nav .owl-prev.disabled,.abstract-card-carousel .owl-carousel .owl-nav .owl-next[disabled], .abstract-card-carousel .owl-carousel .owl-nav .owl-prev[disabled]{opacity: 0;visibility: hidden;}
.abstract-card-carousel .owl-carousel .owl-stage{display: flex;}
.abstract-card-carousel.fixed-card .owl-carousel .owl-item{width: calc(20% - 14px)!important;}

/* claim totals
--------------------------------------------------------------------------------------------------------*/
.claim-totals{color: #3060AA;}
.claim-totals>li{padding-bottom: 10px;display: flex;}
.claim-totals .separator{padding: 6px 0 16px;}
.claim-totals .separator:after{display: block;content:'';height: 1px;width: 100%;background: rgba(112, 112, 112,0.22);}
.claim-totals .value{text-align: right;margin-left: auto;}
.claim-totals .title,.claim-totals .total{font-weight: 600;font-size: 16px;line-height: 22px;}
.claim-totals .title{color: rgba(138, 143, 153,0.8);}

/* primary tab
--------------------------------------------------------------------------------------------------------*/
.primary-tab.mat-tab-group.mat-primary .mat-ink-bar, .primary-tab.mat-tab-nav-bar.mat-primary .mat-ink-bar{display: none;}
.primary-tab .mat-tab-label{min-width: auto;padding: 0 12px;font-size: inherit;line-height: inherit;color: #3060AA;opacity: 0.5;font-weight: 600;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);}
.primary-tab .mat-tab-nav-bar, .primary-tab .mat-tab-header{border-bottom:1px solid rgba(112, 112, 112,0.3);}
.primary-tab .mat-tab-label.mat-tab-label-active{opacity: 1;}
.primary-tab .mat-tab-body{padding: 14px;}
.primary-tab .mat-tab-header-pagination{box-shadow: none;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);}
.primary-tab .mat-tab-header-pagination .mat-tab-header-pagination-chevron{display: none;}
.primary-tab .mat-tab-header-pagination-after,.primary-tab .mat-tab-header-pagination-before{background: url('./assets/ic-page-next.svg') center no-repeat;background-size: 24px 24px;border-left:1px solid rgba(112, 112, 112,0.3);}
.primary-tab .mat-tab-header-pagination-before{background-image: url('./assets/ic-page-prev.svg');border-right:1px solid rgba(112, 112, 112,0.3);border-left:none;}
.primary-tab .mat-tab-header-pagination.mat-tab-header-pagination-disabled{opacity: 0.5;cursor: not-allowed;}

/* Claim status header
--------------------------------------------------------------------------------------------------------*/
.claim-status-header{display: flex;padding: 16px 14px;color: #fff;}
.claim-status-header p{padding-right: 24px;}
.claim-status-header .title{padding-right: 48px;font-size: 16px;line-height: 22px;font-weight: 600;}
.claim-status-header strong{font-weight: 600;}

/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1599px) { 
    .advance-search {width: 630px;display: flex;height: 42px;margin: 13px 0;}
    .advance-search >select{width: 160px;}
    .abstract-card-list>div{flex-basis: 25%;max-width: 25%;}
    .abstract-card-carousel.fixed-card .owl-carousel .owl-item{width: calc(25% - 14px)!important;}
}
@media (max-width:1199px) { 
    .advance-search{padding-left: 10px;width: 430px;}
    .brand-header .tablet-search,.advance-search .close-btn{display: block;}
    .advance-search{position: absolute;left: 0;right: 0;background: #3060aa;margin: 0;padding: 13px 16px;height: 68px;width: auto;z-index: 1;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);opacity: 0;visibility: hidden;bottom: 100%;}
    .search-visible .advance-search{bottom: 0;opacity: 1;visibility: visible;}
    .advance-search >select{width:auto;}
    .abstract-card-list>div{flex-basis: 33.333333%;max-width: 33.333333%;}
    .abstract-card-carousel.fixed-card .owl-carousel .owl-item{width: calc(33.333333% - 14px)!important;}
    .form-group.style-horizontal>.left-block{flex-basis: 110px;max-width: 110px;}
    .form-group.style-horizontal>.right-block{flex-basis: calc(100% - 110px);max-width: calc(100% - 110px);}
    .brand-header .logo-wrapper{width: auto;text-align: left;}
    .brand-header .nav-toggle{display: block;}
    .brand-header .logo{padding-left: 4px;padding-right: 4px;}
    .w3-sidebar{top: 0;z-index: 12;opacity: 0;visibility: visible;left: -240px;box-shadow: none;}
    .nav-open .w3-sidebar{box-shadow: 0 5px 10px rgba(0,0,0,0.16);opacity: 1;visibility: visible;left: 0;}
    .nav-open .nav-backdrop{opacity: 1;visibility: visible;}
    .nav-backdrop{display: block;}
    .main-content{padding:84px 16px 16px;}
    body.nav-open,html.nav-open{overflow: hidden;}
}
@media (max-width:991px) { 
    .file-upload-drag-drop .text-block{flex-direction: column;align-items: center;}
    .file-upload-drag-drop .text-block>span{padding-right: 0;padding-bottom: 12px;}
    .file-upload-drag-drop .icon-wrapper>img{height: 108px;width: 108px;}
}

.mat-grid-tile .mat-figure {
    justify-content: start !important ;
    align-items: start !important;
 }

 .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(233, 233, 233), 
                0 1px 1px 0 rgb(233, 233, 233), 
                0 1px 3px 0 rgb(233, 233, 233);
}
.mat-figure > *{
    margin: 0px 10px;
    width: 100%;
    height: 100%;
}

.dialogSuccess .mat-dialog-container{
    background-color: #F0FFF4;
    margin-left: 13.5%;
}

.dialogError .mat-dialog-container{
    background-color: #E988AD;
    margin-left: 13.5%;
}

.claimDialog mat-dialog-container{
    padding: 0px;
    position: relative;
    overflow: hidden;
}
