@charset "utf-8";

/*
------------------------------------------------------------
Project Name : Waseel GUI;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, .mat-badge-content, .mat-h1, .mat-headline, .mat-typography h1, .mat-h2, .mat-title, .mat-typography h2, .mat-h3, .mat-subheading-2, .mat-typography h3, .mat-h4, .mat-subheading-1, .mat-typography h4, .mat-h5, .mat-typography h5, .mat-h6, .mat-typography h6, .mat-body-2, .mat-body-strong, .mat-body, .mat-body-1, .mat-typography, .mat-caption, .mat-small, .mat-display-4, .mat-typography .mat-display-4, .mat-display-3, .mat-typography .mat-display-3, .mat-display-2, .mat-typography .mat-display-2, .mat-display-1, .mat-typography .mat-display-1, .mat-bottom-sheet-container, .mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button, .mat-button-toggle, .mat-card, .mat-checkbox, .mat-table, .mat-calendar, .mat-dialog-title, .mat-expansion-panel-header, .mat-expansion-panel-content, .mat-form-field, .mat-menu-item, .mat-paginator, .mat-paginator-page-size .mat-select-trigger, .mat-radio-button, .mat-select, .mat-slide-toggle-content, .mat-slider-thumb-label-text, .mat-stepper-horizontal, .mat-stepper-vertical, .mat-tab-group, .mat-tab-label, .mat-tab-link, .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6, .mat-tooltip, .mat-list-item, .mat-list-option, .mat-list-base .mat-subheader, .mat-list-base[dense] .mat-subheader, .mat-option, .mat-optgroup-label, .mat-simple-snackbar, .mat-tree { font-family: inherit !important; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 14px; line-height: 20px; font-family: 'Poppins', sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;background-color: #E8E8E8; }
.wrapper { min-height: 100vh; }
a,a:hover { color: #000; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 0 20px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus textarea:-webkit-autofill,textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,select:-webkit-autofill,select:-webkit-autofill:hover,select:-webkit-autofill:focus {-webkit-box-shadow: 0 0 0px 1000px #F5F6F7 inset !important;}

/* custom scrollbar
--------------------------------------------------------------------------------------------------------*/
*::-webkit-scrollbar{height:8px;width:8px;}
*::-webkit-scrollbar-thumb{background-color: transparent;}
*:hover::-webkit-scrollbar-thumb{background-color: #b6b4b4;}
body::-webkit-scrollbar-thumb{background-color: #b6b4b4b6;}
body:hover::-webkit-scrollbar-thumb{background-color: #b6b4b4b6;}

/* misc
--------------------------------------------------------------------------------------------------------*/
.spacer {flex: 1 1 auto;}

/* brand header 
--------------------------------------------------------------------------------------------------------*/
.brand-header{background-color: #3060aa;color: #fff;position: fixed;top: 0;left: 0;right: 0;display: flex;box-shadow: 0 3px 6px rgba(0,0,0,0.16);z-index: 10;}
.brand-header .logo-wrapper{width: 240px;align-self: center;-ms-flex-item-align: center;text-align: center;;}
.brand-header .logo{padding: 8px 16px;display: inline-block;vertical-align: top;}
.brand-header .logo>img{display: block;max-height: 52px;}
.brand-header .right-block{margin-left: auto;display: flex;align-items: center;padding-right: 16px;}
.brand-header .right-block>div,.brand-header .right-block>button,.brand-header .right-block>.language-switch{margin-right: 4px;}
.brand-header .right-block>div:last-child,.brand-header .right-block>button:last-child,.brand-header .right-block>.language-switch:last-child{margin-right: 0;}
.brand-header .iconButton.hasNotifications::after {content: ".";position: absolute;display: flex;color: #EB2A75;font-size: 70px;bottom: 24px;left: 16px;}
.brand-header .iconButton .innerIcon {position: absolute;top: 9px;left: 7.5px;font-size: 16px;color: #3060AA;font-weight: bold;}
.brand-header .user-info {font-size: 12px;line-height: 18px; background-color: #254f90;border-radius: 6px;padding: 4px 4px 4px 10px;display: flex;margin-left: 8px;align-items: center;}
.brand-header .logout{background-color: #22477f;margin-left: 8px;}
.brand-header .inner-user-info{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;max-width: 150px;}
.brand-header .logout .mat-icon{font-size: 22px;font-weight: 400;}
.brand-header .tablet-search{display: none;}
.brand-header .mat-toolbar-row, .brand-header .mat-toolbar-single-row {z-index: 9999;position: fixed;display: flex;box-sizing: border-box;padding: 0 16px;width: 100%;flex-direction: row;float: right;top: 0px;}
.brand-header .mat-progress-bar {position: absolute;left: 0;right: 0;display: flex;z-index: 2;bottom:0;}

/* language-picker
--------------------------------------------------------------------------------------------------------*/
.language-picker-panel .menuItem {padding: 10px 16px;display: block;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);}
.language-picker-panel .menuItem:hover {text-decoration: none;background-color: #e6e6e6;}
.language-picker .text{padding-left: 6px;}
.language-picker.mat-button{font-weight: 400;padding: 0 8px;}

/* sidebar
--------------------------------------------------------------------------------------------------------*/
.w3-sidebar {width: 240px;z-index: 1;overflow: auto;position: fixed;top: 68px;bottom: 0;left: 0;height:auto;}
.w3-sidebar hr{margin: 0;}
.w3-sidebar .list-container{padding: 10px 0;}
.w3-sidebar .list-title {color: #878B96;list-style: none;margin: 10px 0;text-decoration: none;padding-left: 10px;}
.w3-sidebar .nav-list>li>a{display: flex;align-items: center;padding: 8px 10px 8px 15px;color: #4F5666;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);}
.w3-sidebar .nav-list>li>a:hover,.w3-sidebar .nav-list>li>a:focus,.w3-sidebar .nav-list>li>a:active{background-color: #ecebeb;}
.w3-sidebar .nav-list>.new>a::after{content: ".";color: #EB2A75;font-size: 70px;position: absolute;left: 83%;top: 85px;}
.w3-sidebar .nav-list>li>.is-active {background-color: #E8E8E8;font-weight: 500;}
.w3-sidebar .nav-list>li>a>img {margin-right: 14px;display: block;height: 26px;width: 26px;}

/* main content
--------------------------------------------------------------------------------------------------------*/
.main-content {display: block;padding: 88px 20px 20px 260px;}

/* advance search
--------------------------------------------------------------------------------------------------------*/
.advance-search {width: 800px;display: flex;height: 42px;margin: 13px 0;}
.advance-search .input-wrapper{flex-grow:1;position: relative;}
.advance-search .input-wrapper>input{height: 100%;padding: 4px 48px 4px 12px;background: #fff;border-top-right-radius: 6px;border-bottom-right-radius: 6px;width: 100%;border:0;margin:0;}
.advance-search .search-btn{position: absolute;right: 0;top: 50%;transform:translate(0,-50%);color: #000;}
.advance-search >select {padding: 4px 10px;background-color: #E6ECFC;color: #315FAA;border-top-left-radius: 6px;border-bottom-left-radius: 6px;border: 0;}
.advance-search .hidden-input{width: 0;opacity: 0;visibility: hidden;position: absolute;}
.advance-search .mat-chip-list{position: relative; left: 12px; bottom: 37px;}
.advance-search .close-btn{margin-left: 8px;display: none;}

/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1599px) { 
    .advance-search {width: 630px;display: flex;height: 42px;margin: 13px 0;}
    .advance-search >select{width: 160px;}
}
@media (max-width:1199px) { 
    .advance-search{padding-left: 10px;width: 430px;}
    .brand-header .tablet-search,.advance-search .close-btn{display: block;}
    .advance-search{position: absolute;left: 0;right: 0;background: #3060aa;margin: 0;padding: 13px 16px;height: 68px;width: auto;z-index: 1;transition:all 0.2s cubic-bezier(0.35,0,0.25,1);opacity: 0;visibility: hidden;bottom: 100%;}
    .search-visible .advance-search{bottom: 0;opacity: 1;visibility: visible;}
    .advance-search >select{width:auto;}
}
@media (max-width:991px) { 
    .brand-header .logo-wrapper{width: auto;text-align: left;}
}

.mat-grid-tile .mat-figure {
    justify-content: start !important ;
    align-items: start !important;
 }

 .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(233, 233, 233), 
                0 1px 1px 0 rgb(233, 233, 233), 
                0 1px 3px 0 rgb(233, 233, 233);
}
/* .mat-card{
    border-radius: 0px !important;
} */
.mat-figure > *{
    margin: 0px 10px;
    width: 100%;
    height: 100%;
}

.errorText{
    color: red;
}

.dialogSuccess .mat-dialog-container{
    background-color: #F0FFF4;
    margin-left: 13.5%;
}

.dialogError .mat-dialog-container{
    background-color: #E988AD;
    margin-left: 13.5%;
}

.claimDialog mat-dialog-container{
    padding: 0px;
    position: relative;
    overflow: hidden;
}
