/* You can add global styles to this file, and also import other style files */

html, body { height: fit-content; background-color: #E8E8E8;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mainPage{
    width: 70%;
    margin: 20px auto;
}

.mat-grid-tile .mat-figure {
    justify-content: start !important ;
    align-items: start !important;
 }

 .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(233, 233, 233), 
                0 1px 1px 0 rgb(233, 233, 233), 
                0 1px 3px 0 rgb(233, 233, 233);
}