<div mat-dialog-title style="color: #3060AA; display: flex;">
    <h4>Invoice No</h4>
    <span class="spacer"></span>
    <h4>Invoice Date</h4>
</div>
<div mat-dialog-content>
    <table>
        <thead>
            <tr>
                <th *ngIf="!isSelectingOne"></th>
                <th>Service No</th>
                <th>Service Code</th>
                <th>Service Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div mat-dialog-actions style="text-align: end; margin-top: 20px;">

    <button class="formElement" mat-button color="primary" style="margin-left: auto;" >Cancel</button>
    <button *ngIf="!isSelectingOne" class="formElement" mat-raised-button color="primary" >Add to Current Invoice</button>
</div>