.hidden{
    display: none;
}
::ng-deep .mainPage .mat-form-field-wrapper{
    border-radius: 5px;
    background-color: #EFF5FF;
    margin: 0px;
    padding: 0px;
}

::ng-deep .mainPage .mat-form-field-flex{
    min-height: 39.09px;
}

::ng-deep .mainPage .mat-datepicker-toggle button{
    height: 24px !important;
}

.menuContent, .searchByDate{
    width: 100%;
    text-align: center;
}

.GenericColor{
    background-color: white;
}

.ClaimManipulationColor{
    background-color: #d0e2f7;
}
.ClaimSubmissionColor{
    background-color: #aafdaa;
}

.UploadColor{
    background-color: #bbf3f7;
}
.LoginColor {
    background-color: #f3efbb;
}