<!-- <div class="dashboardElementList" cdkDropList (cdkDropListDropped)="drop($event)"> -->
<section *ngFor="let section of dashboardSections; let i = index;">
  <!-- <section class="dashboardElement" *ngFor="let section of dashboardSections; let i = index;" cdkDrag> -->
  <h3 class="page-title" [class.top-spaced]="i!=0">{{section.label}}</h3>
  <!-- <h5 cdkDragHandle style="cursor: grab;">{{section.label}}</h5> -->
  <!-- <div class="custom-placeholder" *cdkDragPlaceholder></div> -->
  <ng-container *ngComponentOutlet="section.key"></ng-container>
</section>

<button mat-fab color="primary" class="page-fab" [matMenuTriggerFor]="claimDateFilterMenu">
  <mat-icon>filter_list</mat-icon>
</button>

<mat-menu #claimDateFilterMenu yPosition="above" xPosition="before" class="filter-menu">
  <div class="menu-body">
    <h4 class="menu-title">Claim Date</h4>
    <app-search-criteria></app-search-criteria>
  </div>
</mat-menu>