<div class="mainPage">
  <div style="margin-top: 125px; width: 100%; display: flex;">
    <span class="spacer"></span>
    <app-search-criteria></app-search-criteria>
  </div>
  <div class="dashboardElementList">
    <!-- <div class="dashboardElementList" cdkDropList (cdkDropListDropped)="drop($event)"> -->
    <section class="dashboardElement" *ngFor="let section of dashboardSections; let i = index;">
      <!-- <section class="dashboardElement" *ngFor="let section of dashboardSections; let i = index;" cdkDrag> -->
      <header style="display: flex; place-items: center;">
        <h5 style="padding-left: 40px;">{{section.label}}</h5>
        <!-- <h5 cdkDragHandle style="cursor: grab;">{{section.label}}</h5> -->
        <!-- <div class="custom-placeholder" *cdkDragPlaceholder></div> -->
      </header>
      <div style="margin: 20px 0px 50px 0px;">
        <ng-container *ngComponentOutlet="section.key"></ng-container>
      </div>
    </section>
  </div>
</div>