<ul class="dashboard-legend">
    <li><span class="bg-under-processing"></span>Under Processing</li>
    <li><span class="bg-paid"></span>Paid</li>
    <li><span class="bg-partially-paid"></span>Partially Paid</li>
    <li><span class="bg-rejected"></span>Rejected by Payer</li>
</ul>
<div class="row small-gutter">
    <div class="col-xxl-2 col-4">
        <div class="dashboard-claim-card">
            <ng-container *ngIf="!summaries.loading  && !summaries.error">
                <p class="title">Number of Claims</p>
                <h4 matTooltip="{{summaries.data.all_total}} Claims">{{sharedServices.kFormatter(summaries.data.all_total)}}
                    <small>Claims</small>
                </h4>
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="claimsChartData" [options]="doughnutChartOptions" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                    </canvas>
                </div>
                <div class="statistics d-flex">
                    <div class="text-under-processing"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.outstanding_total)+getConvertfromStringToNumber(summaries.data.under_process_total)}} Claims">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.outstanding_total)+getConvertfromStringToNumber(summaries.data.under_process_total))}}
                        <small>Claims</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-under-processing">
                        {{PercentageCalculator(summaries.data.outstanding_total , summaries.data.under_process_total,null,summaries.data.all_total)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-paid" matTooltip="{{summaries.data.paid_total}} Claims">
                        {{sharedServices.kFormatter(summaries.data.paid_total)}} <small>Claims</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-paid">
                        {{PercentageCalculator(summaries.data.paid_total,null,null, summaries.data.all_total)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-partially-paid" matTooltip="{{summaries.data.partially_paid_total}} Claims">
                        {{sharedServices.kFormatter(summaries.data.partially_paid_total)}} <small>Claims</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-partially-paid">
                        {{PercentageCalculator(summaries.data.partially_paid_total,null,null, summaries.data.all_total)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-rejected"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.returend_Total)+getConvertfromStringToNumber(summaries.data.invalid_Total)+getConvertfromStringToNumber(summaries.data.rejected_Total)}} Claims">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.returend_Total)+getConvertfromStringToNumber(summaries.data.invalid_Total)+getConvertfromStringToNumber(summaries.data.rejected_Total))}}
                        <small>Claims</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-rejected">
                        {{PercentageCalculator(summaries.data.returend_Total,summaries.data.invalid_Total,summaries.data.rejected_Total,summaries.data.all_total)}} <small>%</small>
                    </div>
                </div>
            </ng-container>
            <div class="loader-wrapper" *ngIf="summaries.loading ">
                <mat-spinner diameter="40" color="primary">
                </mat-spinner>
            </div>
            <div class="error" *ngIf="summaries.error ">
                <p class="error-card mb-0">{{summaries.error}}</p>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-4">
        <div class="dashboard-claim-card">
            <ng-container *ngIf="!summaries.loading&& !summaries.error">
                <p class="title">Gross Amount</p>
                <h4 matTooltip="{{summaries.data.all_gross}} {{currencyCode}}">{{sharedServices.kFormatter(summaries.data.all_gross)}} <small>{{currencyCode}}</small></h4>
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="grossChartData" [options]="doughnutChartOptions" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                    </canvas>
                </div>
                <div class="statistics d-flex">
                    <div class="text-under-processing"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.outstanding_gross)+getConvertfromStringToNumber(summaries.data.under_process_gross)}} {{currencyCode}}">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.outstanding_gross)+getConvertfromStringToNumber(summaries.data.under_process_gross))}}
                        <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-under-processing">
                        {{PercentageCalculator(summaries.data.outstanding_gross , summaries.data.under_process_gross,null,summaries.data.all_gross)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-paid" matTooltip="{{summaries.data.paid_gross}} {{currencyCode}}">
                        {{sharedServices.kFormatter(summaries.data.paid_gross)}} <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-paid">
                        {{PercentageCalculator(summaries.data.paid_gross,null,null, summaries.data.all_gross)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-partially-paid" matTooltip="{{summaries.data.partially_paid_gross}} {{currencyCode}}">
                        {{sharedServices.kFormatter(summaries.data.partially_paid_gross)}} <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-partially-paid">
                        {{PercentageCalculator(summaries.data.partially_paid_gross,null,null, summaries.data.all_gross)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-rejected"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.returend_gross)+getConvertfromStringToNumber(summaries.data.invalid_gross)+getConvertfromStringToNumber(summaries.data.rejected_gross)}} {{currencyCode}}">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.returend_gross)+getConvertfromStringToNumber(summaries.data.invalid_gross)+getConvertfromStringToNumber(summaries.data.rejected_gross))}}
                        <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-rejected">
                        {{PercentageCalculator(summaries.data.returend_gross,summaries.data.invalid_gross,summaries.data.rejected_gross,summaries.data.all_gross)}} <small>%</small>
                    </div>
                </div>
            </ng-container>
            <div class="loader-wrapper" *ngIf="summaries.loading ">
                <mat-spinner diameter="40" color="primary">
                </mat-spinner>
            </div>
            <div class="error" *ngIf="summaries.error ">
                <p class="error-card mb-0">{{summaries.error}}</p>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-4">
        <div class="dashboard-claim-card">
            <ng-container *ngIf="!summaries.loading  && !summaries.error">
                <p class="title">Discount</p>
                <h4 matTooltip="{{summaries.data.all_disCount}} {{currencyCode}}">{{sharedServices.kFormatter(summaries.data.all_disCount)}}
                    <small>{{currencyCode}}</small>
                </h4>
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="discountChartData" [options]="doughnutChartOptions" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                    </canvas>
                </div>
                <div class="statistics d-flex">
                    <div class="text-under-processing"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.outstanding_disCount)+getConvertfromStringToNumber(summaries.data.under_process_disCount)}} {{currencyCode}}">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.outstanding_disCount)+getConvertfromStringToNumber(summaries.data.under_process_disCount))}}
                        <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-under-processing">
                        {{PercentageCalculator(summaries.data.outstanding_disCount , summaries.data.under_process_disCount,null,summaries.data.all_disCount)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-paid" matTooltip="{{summaries.data.paid_disCount}} {{currencyCode}}">
                        {{sharedServices.kFormatter(summaries.data.paid_disCount)}} <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-paid">
                        {{PercentageCalculator(summaries.data.paid_disCount,null,null, summaries.data.all_disCount)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-partially-paid" matTooltip="{{summaries.data.partially_paid_disCount}} {{currencyCode}}">
                        {{sharedServices.kFormatter(summaries.data.partially_paid_disCount)}} <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-partially-paid">
                        {{PercentageCalculator(summaries.data.partially_paid_disCount,null,null, summaries.data.all_disCount)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-rejected"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.returend_disCount)+getConvertfromStringToNumber(summaries.data.invalid_disCount)+getConvertfromStringToNumber(summaries.data.rejected_disCount)}} {{currencyCode}}">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.returend_disCount)+getConvertfromStringToNumber(summaries.data.invalid_disCount)+getConvertfromStringToNumber(summaries.data.rejected_disCount))}}
                        <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-rejected">
                        {{PercentageCalculator(summaries.data.returend_disCount,summaries.data.invalid_disCount,summaries.data.rejected_disCount,summaries.data.all_disCount)}}
                        <small>%</small>
                    </div>
                </div>
            </ng-container>
            <div class="loader-wrapper" *ngIf="summaries.loading ">
                <mat-spinner diameter="40" color="primary">
                </mat-spinner>
            </div>
            <div class="error" *ngIf="summaries.error ">
                <p class="error-card mb-0">{{summaries.error}}</p>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-4">
        <div class="dashboard-claim-card">
            <ng-container *ngIf="!summaries.loading  && !summaries.error">
                <p class="title">Patient Share</p>
                <h4 matTooltip="{{summaries.data.all_Patientshare}} {{currencyCode}}">{{sharedServices.kFormatter(summaries.data.all_Patientshare)}}
                    <small>{{currencyCode}}</small>
                </h4>
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="patientShareChartData" [options]="doughnutChartOptions" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                    </canvas>
                </div>
                <div class="statistics d-flex">
                    <div class="text-under-processing"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.outstanding_Patientshare)+getConvertfromStringToNumber(summaries.data.under_process_Patientshare)}} {{currencyCode}}">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.outstanding_Patientshare)+getConvertfromStringToNumber(summaries.data.under_process_Patientshare))}}
                        <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-under-processing">
                        {{PercentageCalculator(summaries.data.outstanding_Patientshare , summaries.data.under_process_Patientshare,null,summaries.data.all_Patientshare)}}
                        <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-paid" matTooltip="{{summaries.data.paid_Patientshare}} {{currencyCode}}">
                        {{sharedServices.kFormatter(summaries.data.paid_Patientshare)}} <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-paid">
                        {{PercentageCalculator(summaries.data.paid_Patientshare,null,null, summaries.data.all_Patientshare)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-partially-paid" matTooltip="{{summaries.data.partially_paid_Patientshare}} {{currencyCode}}">
                        {{sharedServices.kFormatter(summaries.data.partially_paid_Patientshare)}} <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-partially-paid">
                        {{PercentageCalculator(summaries.data.partially_paid_Patientshare,null,null, summaries.data.all_Patientshare)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-rejected"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.returend_Patientshare)+getConvertfromStringToNumber(summaries.data.invalid_Patientshare)+getConvertfromStringToNumber(summaries.data.rejected_Patientshare)}} {{currencyCode}}">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.returend_Patientshare)+getConvertfromStringToNumber(summaries.data.invalid_Patientshare)+getConvertfromStringToNumber(summaries.data.rejected_Patientshare))}}
                        <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-rejected">
                        {{PercentageCalculator(summaries.data.returend_Patientshare,summaries.data.invalid_Patientshare,summaries.data.rejected_Patientshare,summaries.data.all_VatAmount)}}
                        <small>%</small>
                    </div>
                </div>
            </ng-container>
            <div class="loader-wrapper" *ngIf="summaries.loading ">
                <mat-spinner diameter="40" color="primary">
                </mat-spinner>
            </div>
            <div class="error" *ngIf="summaries.error ">
                <p class="error-card mb-0">{{summaries.error}}</p>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-4">
        <div class="dashboard-claim-card">
            <ng-container *ngIf="!summaries.loading && !summaries.error">
                <p class="title">Net Amount</p>
                <h4 matTooltip="{{summaries.data.all_netAmount}} {{currencyCode}}">{{sharedServices.kFormatter(summaries.data.all_netAmount)}} <small>{{currencyCode}}</small>
                </h4>
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="netChartData" [options]="doughnutChartOptions" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                    </canvas>
                </div>
                <div class="statistics d-flex">
                    <div class="text-under-processing"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.outstanding_netAmount)+getConvertfromStringToNumber(summaries.data.under_process_netAmount)}} {{currencyCode}}">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.outstanding_netAmount)+getConvertfromStringToNumber(summaries.data.under_process_netAmount))}}
                        <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-under-processing">
                        {{PercentageCalculator(summaries.data.outstanding_netAmount , summaries.data.under_process_netAmount,null,summaries.data.all_netAmount)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-paid" matTooltip="{{summaries.data.paid_netAmount}} {{currencyCode}}">
                        {{sharedServices.kFormatter(summaries.data.paid_netAmount)}} <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-paid">
                        {{PercentageCalculator(summaries.data.paid_netAmount,null,null, summaries.data.all_netAmount)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-partially-paid" matTooltip="{{summaries.data.partially_paid_netAmount}} {{currencyCode}}">
                        {{sharedServices.kFormatter(summaries.data.partially_paid_netAmount)}} <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-partially-paid">
                        {{PercentageCalculator(summaries.data.partially_paid_netAmount,null,null, summaries.data.all_netAmount)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-rejected"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.returend_netAmount)+getConvertfromStringToNumber(summaries.data.invalid_netAmount)+getConvertfromStringToNumber(summaries.data.rejected_netAmount)}} {{currencyCode}}">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.returend_netAmount)+getConvertfromStringToNumber(summaries.data.invalid_netAmount)+getConvertfromStringToNumber(summaries.data.rejected_netAmount))}}
                        <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-rejected">
                        {{PercentageCalculator(summaries.data.returend_netAmount,summaries.data.invalid_netAmount,summaries.data.rejected_netAmount,summaries.data.all_netAmount)}}
                        <small>%</small>
                    </div>
                </div>
            </ng-container>
            <div class="loader-wrapper" *ngIf="summaries.loading ">
                <mat-spinner diameter="40" color="primary">
                </mat-spinner>
            </div>
            <div class="error" *ngIf="summaries.error ">
                <p class="error-card mb-0">{{summaries.error}}</p>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-4">
        <div class="dashboard-claim-card">
            <ng-container *ngIf="!summaries.loading  && !summaries.error">
                <p class="title">VAT Amount</p>
                <h4 matTooltip="{{summaries.data.all_VatAmount}} {{currencyCode}}">{{sharedServices.kFormatter(summaries.data.all_VatAmount)}}
                    <small>{{currencyCode}}</small>
                </h4>
                <div class="chart-wrapper">
                    <canvas baseChart [datasets]="vatChartData" [options]="doughnutChartOptions" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                    </canvas>
                </div>
                <div class="statistics d-flex">
                    <div class="text-under-processing"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.outstanding_VatAmount)+getConvertfromStringToNumber(summaries.data.under_process_VatAmount)}} {{currencyCode}}">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.outstanding_VatAmount)+getConvertfromStringToNumber(summaries.data.under_process_VatAmount))}}
                        <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-under-processing">
                        {{PercentageCalculator(summaries.data.outstanding_VatAmount , summaries.data.under_process_VatAmount,null,summaries.data.all_VatAmount)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-paid" matTooltip="{{summaries.data.paid_VatAmount}} {{currencyCode}}">
                        {{sharedServices.kFormatter(summaries.data.paid_VatAmount)}} <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-paid">
                        {{PercentageCalculator(summaries.data.paid_VatAmount,null,null, summaries.data.all_VatAmount)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-partially-paid" matTooltip="{{summaries.data.partially_paid_VatAmount}} {{currencyCode}}">
                        {{sharedServices.kFormatter(summaries.data.partially_paid_VatAmount)}} <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-partially-paid">
                        {{PercentageCalculator(summaries.data.partially_paid_VatAmount,null,null, summaries.data.all_VatAmount)}} <small>%</small>
                    </div>
                </div>
                <div class="statistics d-flex">
                    <div class="text-rejected"
                        matTooltip="{{getConvertfromStringToNumber(summaries.data.returend_VatAmount)+getConvertfromStringToNumber(summaries.data.invalid_VatAmount)+getConvertfromStringToNumber(summaries.data.rejected_VatAmount)}} {{currencyCode}}">
                        {{sharedServices.kFormatter(getConvertfromStringToNumber(summaries.data.returend_VatAmount)+getConvertfromStringToNumber(summaries.data.invalid_VatAmount)+getConvertfromStringToNumber(summaries.data.rejected_VatAmount))}}
                        <small>{{currencyCode}}</small>
                    </div>
                    <div class="ml-auto pl-2 text-right text-rejected">
                        {{PercentageCalculator(summaries.data.returend_VatAmount,summaries.data.invalid_VatAmount,summaries.data.rejected_VatAmount,summaries.data.all_total)}}
                        <small>%</small>
                    </div>
                </div>
            </ng-container>
            <div class="loader-wrapper" *ngIf="summaries.loading ">
                <mat-spinner diameter="40" color="primary">
                </mat-spinner>
            </div>
            <div class="error" *ngIf="summaries.error ">
                <p class="error-card mb-0">{{summaries.error}}</p>
            </div>
        </div>
    </div>
</div>
