<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header has-border">
        <p>Submit Eligibility</p>
    </div>
    <div class="block-filter-panel">
        <div class="row small-gutter">
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Member ID<span class="asterisk">*</span></label>
                    <input placeholder="Enter member ID" class="form-control">
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Policy No.<span class="asterisk">*</span></label>
                    <input placeholder="Enter policy no." class="form-control">
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">National ID / Iqama ID<span class="asterisk">*</span></label>
                    <input placeholder="Enter national ID / iqama ID" class="form-control">
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Purpose</label>
                    <div class="checkbox-group inline">
                        <mat-checkbox color="primary" [value]="1">Benefits</mat-checkbox>
                        <mat-checkbox color="primary" [value]="2">Discovery</mat-checkbox>
                        <mat-checkbox color="primary" [value]="3">Validation</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Service Date<span class="asterisk">*</span></label>
                    <div class="date-picker">
                        <input [matDatepicker]="serviceDate" class="form-control" placeholder="Select service date">
                        <mat-datepicker-toggle [for]="serviceDate"></mat-datepicker-toggle>
                        <mat-datepicker #serviceDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">To Date</label>
                    <div class="date-picker">
                        <input [matDatepicker]="toDate" class="form-control" placeholder="Select to date">
                        <mat-datepicker-toggle [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Department Name</label>
                    <input class="form-control" placeholder="Enter department name">
                </div>
            </div>
            <div class="col-4 col-xxl-3">
                <div class="form-group">
                    <label class="control-label">Department Role</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select value="-1">
                            <mat-option value="-1">Select Department Role</mat-option>
                            <mat-option value="Role 1">Role 1</mat-option>
                            <mat-option value="Role 2">Role 2</mat-option>
                            <mat-option value="Role 3">Role 3</mat-option>
                            <mat-option value="Role 4">Role 4</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" mat-flat-button color="primary" (click)="openDetailsDialog()">Submit Eligibility</button>
        </div>
    </div>
</div>