<div class="animate__animated animate__faster animate__fadeIn">
    <ng-container *ngIf="!showDetails">
        <div class="block-header has-border">
            <p>Request Eligibility</p>
        </div>
        <div class="block-filter-panel">
            <div class="row small-gutter">
                <div class="col-8">
                    <div class="form-group">
                        <label class="control-label">Beneficiary<span class="asterisk">*</span></label>
                        <mat-form-field class="form-control custom-select-control">
                            <mat-select value="-1">
                                <mat-option value="-1">Select Beneficiary</mat-option>
                                <mat-option value="Beneficiary 1">Beneficiary 1</mat-option>
                                <mat-option value="Beneficiary 2">Beneficiary 2</mat-option>
                                <mat-option value="Beneficiary 3">Beneficiary 3</mat-option>
                                <mat-option value="Beneficiary 4">Beneficiary 4</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <a routerLink="/nphies/beneficiary" title="+ Add Beneficiary" class="primary-link medium d-inline-block mt-1">+ Add Beneficiary</a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label">Service Date<span class="asterisk">*</span></label>
                        <div class="date-picker">
                            <input [matDatepicker]="serviceDate" class="form-control" placeholder="Select service date">
                            <mat-datepicker-toggle [for]="serviceDate"></mat-datepicker-toggle>
                            <mat-datepicker #serviceDate></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label">To Date</label>
                        <div class="date-picker">
                            <input [matDatepicker]="toDate" class="form-control" placeholder="Select to date">
                            <mat-datepicker-toggle [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label class="control-label">Purpose<span class="asterisk">*</span></label>
                        <div class="checkbox-group inline">
                            <mat-checkbox color="primary" [value]="1">Benefits</mat-checkbox>
                            <mat-checkbox color="primary" [value]="2">Discovery</mat-checkbox>
                            <mat-checkbox color="primary" [value]="3">Validation</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" mat-flat-button color="primary" (click)="showDetails=true">Request Eligibility</button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="showDetails">
        <div class="block-header has-border">
            <p>Eligibility - LAV4FIYPZWKS</p>
        </div>
        <div class="bg-white p-14">
            <app-eligibility-details class="d-block mb-14"></app-eligibility-details>
            <button type="button" color="primary" mat-flat-button (click)="showDetails=false">Request New Eligibility</button>
        </div>
    </ng-container>
</div>