<div class="animate__animated animate__faster animate__fadeIn">
    <div class="block-header has-border">
        <p>Classes</p>
    </div>
    <div class="block-filter-panel">
        <div class="row small-gutter">
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">Class Name / Category</label>
                    <input placeholder="Enter class name / category" class="form-control" [formControl]="classNameController" >
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">Insurance Company</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select [formControl]="insuranceCompanyController" >
                            <mat-option value="0" selected="true">Select Payer</mat-option>
                            <mat-option *ngFor="let payer of payersList" [value]="payer.nphiesId">{{payer.englistName}}
                                ({{payer.arabicName}})</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">Policy</label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select [formControl]="PolicyController" ([value])="0" >
                            <mat-option value="0">Select Policy</mat-option>
                            <mat-option *ngFor="let policy of policyList" [value]="policy.policyId">
                                {{policy.policyNo}}
                                ({{policy.policyName}})</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" mat-flat-button color="primary" (click)="searchByCriteria()">Search</button>
        </div>
    </div>
    <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" class="bg-white">
        <div class="fixed-height"  *ngIf="classes && classes.length>0">
            <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Policy No.</th>
                        <th>Policy Name</th>
                        <th>Insurance Company</th>
                        <th>Class Name / Category</th>
                        <th>Visit Preapproval Limit / Threshold</th>
                        <th>Deductible / Patient Share</th>
                        <th>Max Episode Limit</th>
                        <th class="text-center">Active</th>
                        <th width="10"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cl of classes">
                        <td class="row-click"
                            routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                            {{cl.contract_class.policyNo}}</td>
                        <td class="row-click"
                            routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                            {{cl.contract_class.policyName}}</td>
                        <td class="row-click"
                            routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                            {{cl.contract_class.insCompCode}}</td>
                        <td class="row-click"
                            routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                            {{cl.contract_class.className}}</td>
                        <td class="row-click"
                            routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                            {{cl.contract_class.visitThreshold}}</td>
                        <td class="row-click"
                            routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                            {{cl.contract_class.patientShare}}<span class="currency">{{cl.contract_class.shareType}}</span></td>
                        <td class="row-click"
                            routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                            {{cl.contract_class.maxLimit}}</td>
                        <td class="row-click"
                            routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                            {{cl.contract_class.isActive}}</td>
                        <td class="actions">
                            <button mat-icon-button type="button" matTooltip="Edit" class="text-primary"
                                routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                                <mat-icon>create</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-empty-state *ngIf="!classes" message='No Classes found!'>
        </app-empty-state>
    </ng-scrollbar>
    <div class="block-footer sticky-bottom">
        <div class="left-block">
            <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)" [length]="length"
                [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
            </mat-paginator>
        </div>
    </div>
    <button mat-fab color="primary" class="page-fab" routerLink="/policy-management/class-management/add/0">
        <mat-icon>add</mat-icon>
    </button>
</div>