<div class="animate__animated animate__faster animate__fadeIn">
  <div class="block-header has-border">
    <p>Eligibility Transactions</p>
  </div>
  <div class="block-filter-panel">
    <form [formGroup]="FormEligibilityTransaction" (ngSubmit)="onSubmit()">
      <div class="row small-gutter">
        <div class="col-4 col-xxl-3">
          <div class="form-group"
            [ngClass]="{'has-error' : (isSubmitted || FormEligibilityTransaction.get('fromDate').touched) && FormEligibilityTransaction.get('fromDate').hasError('required')}">
            <label class="control-label">From Date</label>
            <div class="date-picker">
              <input [matDatepicker]="filterFromDate" class="form-control" placeholder="Select from date"
                formControlName="fromDate">
              <mat-datepicker-toggle [for]="filterFromDate"></mat-datepicker-toggle>
              <mat-datepicker #filterFromDate></mat-datepicker>
            </div>
            <div
              *ngIf="(isSubmitted || FormEligibilityTransaction.get('fromDate').touched) && FormEligibilityTransaction.get('fromDate').hasError('required')">
              <span class="error-text">Please select From Date</span>
            </div>
          </div>
        </div>
        <div class="col-4 col-xxl-3">
          <div class="form-group"
            [ngClass]="{'has-error' : (isSubmitted || FormEligibilityTransaction.get('toDate').touched) && FormEligibilityTransaction.get('toDate').hasError('required')}">
            <label class="control-label">To Date</label>
            <div class="date-picker">
              <input [matDatepicker]="filterToDate" class="form-control" placeholder="Select to date" [min]="FormEligibilityTransaction.controls.fromDate.value"
                formControlName="toDate">
              <mat-datepicker-toggle [for]="filterToDate"></mat-datepicker-toggle>
              <mat-datepicker #filterToDate></mat-datepicker>
            </div>
            <div
              *ngIf="(isSubmitted || FormEligibilityTransaction.get('toDate').touched) && FormEligibilityTransaction.get('toDate').hasError('required')">
              <span class="error-text">Please select To Date</span>
            </div>
          </div>
        </div>
        <div class="col-4 col-xxl-3">
          <div class="form-group">
            <label class="control-label">Eligibility ID</label>
            <input placeholder="Enter eligibility ID" class="form-control" formControlName="eligibilityId">
          </div>
        </div>
        <div class="col-4 col-xxl-3">
          <div class="form-group">
            <label class="control-label">Payer</label>
            <mat-form-field class="form-control custom-select-control">
              <mat-select formControlName="payerId">
                <mat-option value="">Select Payer</mat-option>
                <mat-option *ngFor="let payer of payersList" [value]="payer.payerId">{{payer.englistName}}
                  ({{payer.arabicName}})</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-4 col-xxl-3">
          <div class="form-group">
            <label class="control-label">Select a Beneficiary</label>
            <input type="text" class="form-control" placeholder="Search for beneficiary by name or document ID..."
              formControlName="beneficiaryName" [matAutocomplete]="auto" (keyup)="searchBeneficiaries()">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let beneficiary of beneficiariesSearchResult"
                (click)="selectBeneficiary(beneficiary)">
                {{beneficiary.name}} ({{beneficiary.documentId}})
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="col-4 col-xxl-3">
          <div class="form-group">
            <label class="control-label">Status</label>
            <mat-form-field class="form-control custom-select-control">
              <mat-select formControlName="status">
                <mat-option value="">Select Status</mat-option>
                <mat-option *ngFor="let status of statusList" [value]="status.value">{{status.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" mat-flat-button color="primary">Search</button>
      </div>
    </form>
  </div>
  <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" class="bg-white">
    <div class="fixed-height" *ngIf="transactionModel && transactions.length > 0">
      <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Member Card ID</th>
            <th>Eligibility ID</th>
            <th>Beneficiary Name</th>
            <th>Transaction Date/Time</th>
            <th>Payer</th>
            <th>Status</th>
            <th>Purpose</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td (click)="openDetailsDialog(transaction.responseId)" class="row-click">{{transaction.memberId}}</td>
            <td (click)="openDetailsDialog(transaction.responseId)" class="row-click">{{transaction.eligibilityId}}</td>
            <td (click)="openDetailsDialog(transaction.responseId)" class="row-click">{{transaction.beneficiaryName}}</td>
            <td (click)="openDetailsDialog(transaction.responseId)" class="row-click">{{transaction.transactionDate | date:
              'dd-MM-yyyy hh:mm:ss aa'}}</td>
            <!-- <td (click)="openDetailsDialog(transaction.responseId)" class="row-click">{{transaction.body.payerId.englistName}}</td> -->
            <td (click)="openDetailsDialog(transaction.responseId)" class="row-click">{{transaction.payerName}}</td>
            <td (click)="openDetailsDialog(transaction.responseId)" class="row-click">{{transaction.status}}</td>
            <td (click)="openDetailsDialog(transaction.responseId)" class="row-click">{{transaction.purpose}}</td>
            <!-- <td class="actions">
              <button mat-icon-button matTooltip="Reuse" class="text-primary">
                <mat-icon>refresh</mat-icon>
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <app-empty-state *ngIf="transactionModel && transactions.length === 0" message='No Eligibility transactions found!'>
    </app-empty-state>
  </ng-scrollbar>
  <div class="pagination-header">
    <div class="form-group page-select">
      <label class="control-label">Go to page: </label>
      <mat-form-field class="form-control custom-select-control">
        <mat-select [ngModel]="manualPage" (ngModelChange)="updateManualPage($event)">
          <mat-option *ngFor="let i of paginatorPagesNumbers" [value]="i">{{i+1}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="material-paginator">
      <mat-paginator #paginator [length]="paginatorLength" [pageSizeOptions]="paginatorPageSizeOptions"
        (page)="paginatorAction($event)">
      </mat-paginator>
    </div>
  </div>


</div>
