<div class="animate__animated animate__faster animate__fadeIn block-card">
    <div class="block-header">
        <p *ngIf="addMode"> Add Policy</p>
        <p *ngIf="EditMode"> Edit Policy</p>
    </div>
    <div class="block-body">
        <h5 class="form-title pt-0">
            <span>Policy Info</span>
            <mat-slide-toggle color="primary" class="ml-auto theme-success" checked="true" labelPosition="before" [formControl]="IsActiveController">
                Active
            </mat-slide-toggle>
        </h5>
        <div class="row small-gutter">
            <div class="col-md-4">
                <div class="form-group" [matTooltip]="errors.contractId" [class.has-error]="errors.contractId!=null&&errors.contractId.trim().length>0">
                    <label class="control-label">Contract <span class="asterisk">*</span></label>
                    <mat-form-field class="form-control custom-select-control">
                        <mat-select [formControl]="ContractController" ([value])="0">
                            <mat-option value="0">Select Contract</mat-option>
                            <mat-option *ngFor="let contract of contracts" [value]="contract.contractId">
                                {{contract.contractNo}}
                                ({{contract.contractName}})</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" [matTooltip]="errors.PolicyNo" [class.has-error]="errors.PolicyNo!=null&&errors.PolicyNo.trim().length>0">
                    <label class="control-label">Policy No. <span class="asterisk">*</span></label>
                    <input type="text" placeholder="Enter policy no." [formControl]="PolicyNoController" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" [matTooltip]="errors.PolicyName" [class.has-error]="errors.PolicyName!=null&&errors.PolicyName.trim().length>0">
                    <label class="control-label">Policy Name <span class="asterisk">*</span></label>
                    <input type="text" placeholder="Enter policy name" [formControl]="PolicyNameController" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" [matTooltip]="errors.StartDate" [class.has-error]="errors.StartDate!=null&&errors.StartDate.trim().length>0">
                    <label class="control-label">Start Date <span class="asterisk">*</span></label>
                    <div class="date-picker">
                        <input [matDatepicker]="startDate" class="form-control" [formControl]="StartDateController" placeholder="Select start date">
                        <mat-datepicker-toggle [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" [matTooltip]="errors.EndDate" [class.has-error]="errors.EndDate!=null&&errors.EndDate.trim().length>0">
                    <label class="control-label">End Date <span class="asterisk">*</span></label>
                    <div class="date-picker">
                        <input [matDatepicker]="endDate" class="form-control" [formControl]="EndDateController" placeholder="Select end date">
                        <mat-datepicker-toggle [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="form-title" [hidden]="addMode">
            <span>Policy Classes</span>
            <button type="button" [hidden]="addMode" routerLink="/policy-management/class-management/add/{{PolicyIdController.value}}" class="btn-icon btn-primary ml-auto">
                <mat-icon>add</mat-icon>
            </button>
        </h5>
        <ng-scrollbar [hidden]="addMode" smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true" *ngIf="classes && classes.length>0">
            <div class="fixed-height">
                <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Policy No.</th>
                            <th>Policy Name</th>
                            <th>Insurance Company</th>
                            <th>Class Name / Category</th>
                            <th>Visit Preapproval Limit / Threshold</th>
                            <th>Deductible / Patient Share</th>
                            <th>Max Episode Limit</th>
                            <th class="text-center">Active</th>
                            <th width="10"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cl of classes">
                            <td class="row-click" routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                                {{cl.contract_class.policyNo}}</td>
                            <td class="row-click" routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                                {{cl.contract_class.policyName}}</td>
                            <td class="row-click" routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                                {{cl.contract_class.insCompCode}}</td>
                            <td class="row-click" routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                                {{cl.contract_class.className}}</td>
                            <td class="row-click" routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                                {{cl.contract_class.visitThreshold}}</td>
                            <td class="row-click" routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                                {{cl.contract_class.patientShare}}<span class="currency">{{cl.contract_class.shareType}}</span></td>
                            <td class="row-click" routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                                {{cl.contract_class.maxLimit}}</td>
                            <td class="row-click" routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                                {{cl.contract_class.isActive}}</td>
                            <td class="actions">
                                <mat-menu #policyClassesActionsMenu xPosition="before">
                                    <ng-template matMenuContent>
                                        <button mat-menu-item type="button" routerLink="/policy-management/class-management/edit/{{cl.contract_class.classId}}">
                                            <mat-icon class="material-icons-outlined">edit</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                    </ng-template>
                                </mat-menu>
                                <button type="button" mat-icon-button [matMenuTriggerFor]="policyClassesActionsMenu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-scrollbar>
        <app-empty-state [hidden]="addMode" *ngIf="!classes" message='No Classes found!'>
        </app-empty-state>
    </div>
    <div class="block-footer sticky">
        <div class="left-block" [hidden]="addMode" *ngIf="classes && classes.length>0">
            <mat-paginator #paginator class="primary-paginator" (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex">
            </mat-paginator>
        </div>
        <div class="right-block btn-list">
            <button type="button" color="primary" (click)="SaveData()" mat-flat-button>Save</button>
        </div>
    </div>
</div>