<div class="animate__animated animate__faster animate__fadeIn block-card">
  <div class="block-header">
    <p>Convert Pre-Auth to Claim</p>
  </div>
  <div class="block-filter-panel">
    <form [formGroup]="FormPreAuthTransaction" (ngSubmit)="onSubmit()">
      <div class="row small-gutter">
        <div class="col-4 col-xxl-3">
          <div class="form-group">
            <label class="control-label">From Date</label>
            <div class="date-picker">
              <input [matDatepicker]="filterFromDate" class="form-control" placeholder="Select from date"
                formControlName="fromDate">
              <mat-datepicker-toggle [for]="filterFromDate"></mat-datepicker-toggle>
              <mat-datepicker #filterFromDate></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="col-4 col-xxl-3">
          <div class="form-group">
            <label class="control-label">To Date</label>
            <div class="date-picker">
              <input [matDatepicker]="filterToDate" class="form-control" placeholder="Select to date"
                [min]="FormPreAuthTransaction.controls.fromDate.value" formControlName="toDate">
              <mat-datepicker-toggle [for]="filterToDate"></mat-datepicker-toggle>
              <mat-datepicker #filterToDate></mat-datepicker>
            </div>
          </div>
        </div>
        <div *ngIf="!advanceSearchEnable" class="col-4 col-xxl-3">
          <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="btn-list">
              <button type="submit" mat-flat-button color="primary">Search</button>
              <button type="button" class="text-primary" (click)="toggleAdvanceSearch()" mat-button>Advance
                Search</button>
            </div>
          </div>
        </div>
        <ng-container *ngIf="advanceSearchEnable">
          <!-- <div class="col-4 col-xxl-3">
            <div class="form-group">
              <label class="control-label">Pre Authorization ID</label>
              <input placeholder="Enter pre authorization ID" class="form-control" formControlName="nphiesRequestId">
            </div>
          </div> -->
          <div class="col-4 col-xxl-3">
            <div class="form-group">
              <label class="control-label">Payer</label>
              <app-nphies-payers-selector (selectionChange)="selectPayer($event)"></app-nphies-payers-selector>
            </div>
          </div>
          <div class="col-4 col-xxl-3">
            <div class="form-group">
              <label class="control-label" matTooltip="Minimum 3 Character(s)/Number(s)">Select a Beneficiary</label>
              <input type="text" class="form-control search-box"
                placeholder="Search for beneficiary by name or document ID..." formControlName="beneficiaryName"
                [matAutocomplete]="auto" (keyup)="searchBeneficiaries()">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let beneficiary of beneficiariesSearchResult"
                  (click)="selectBeneficiary(beneficiary)">
                  {{beneficiary.name}} ({{beneficiary.documentId}})
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <!-- <div class="col-4 col-xxl-3">
            <div class="form-group">
              <label class="control-label">Status</label>
              <mat-form-field class="form-control custom-select-control">
                <mat-select formControlName="status">
                  <mat-option value="">Select Status</mat-option>
                  <mat-option *ngFor="let status of statusList" [value]="status.value">{{status.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div> -->
          <div class="col-4 col-xxl-3">
            <div class="form-group">
              <label class="control-label">Pre Auth Reference No</label>
              <input placeholder="Enter Preauth Ref No" class="form-control" formControlName="preAuthRefNo">
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="advanceSearchEnable" class="form-group">
        <div class="btn-list">
          <button type="submit" mat-flat-button color="primary">Search</button>
          <button type="button" class="text-primary" mat-button (click)="toggleAdvanceSearch()">Basic Search</button>
        </div>
      </div>
    </form>
  </div>

  <ng-scrollbar smoothScroll [shown]="'hover'" [compact]="true" [trackX]="true"
    *ngIf="transactionModel && transactions.length > 0">
    <div class="fixed-height fixed-height-sm">
      <table class="primary-grid sticky-header claim-view-table" cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th width="10"></th>
            <th width="10"></th>
            <th>Beneficiary Name</th>
            <th>Episode ID</th>
            <th>Pre Auth Ref No</th>
            <!-- <th>Pre Authorization ID</th> -->
            <th>Prepared Date</th>
            <!-- <th>Response Date</th> -->
            <th>Payer/TPA</th>
            <th>Total Net / Tax</th>
            <th>Total Benefit / Tax</th>
            <th>Patient Share</th>
            <th>Payer Share</th>
            <!-- <th>Status</th> -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let transaction of transactions; let i = index">
            <tr class="row-click">
              <td>
                <mat-checkbox class="grid-checkbox" color="primary" [checked]="selectedApprovals.includes(transaction.convertToClaimEpisodeId)" (change)="selectApproval(transaction.convertToClaimEpisodeId)"></mat-checkbox>
              </td>
              <td (click)="toggleRow(i)" class="text-primary text-center">
                <mat-icon *ngIf="currentOpenRow!=i">add_circle_outline</mat-icon>
                <mat-icon *ngIf="currentOpenRow==i">remove_circle_outline</mat-icon>
              </td>
              <td (click)="toggleRow(i)">{{transaction.beneficiaryName}} ({{transaction.documentId}}) </td>
              <td (click)="toggleRow(i)">{{transaction.episodeNo}} </td>
              <td (click)="toggleRow(i)">{{transaction.preAuthRefNo ? transaction.preAuthRefNo : '-'}}</td>
              <!-- <td (click)="toggleRow(i)">{{transaction.nphiesRequestId}}</td> -->
              <td (click)="toggleRow(i)">{{transaction.preparedTimeStamp | date: 'dd-MM-yyyy hh:mm aa'}}</td>
              <!-- <td (click)="toggleRow(i)"> {{transaction.responseTimeStamp | date: 'dd-MM-yyyy hh:mm aa'}}</td> -->
              <td (click)="toggleRow(i)">{{transaction.payerName}}</td>
              <td (click)="toggleRow(i)">{{transaction.totalNet}} <span class="currency">SR</span> / {{transaction.totalTax}} <span class="currency">SR</span></td>
              <td (click)="toggleRow(i)">{{transaction.totalBenefit}} <span class="currency">SR</span> / {{transaction.totalBenefitTax}} <span class="currency">SR</span></td>
              <td (click)="toggleRow(i)">{{transaction.totalPatientShare}} <span class="currency">SR</span></td>
              <td (click)="toggleRow(i)">{{transaction.totalPayerShare}} <span class="currency">SR</span></td>
              <!-- <td (click)="toggleRow(i)"> {{transaction.status}}</td> -->
            </tr>
            <tr *ngIf="currentOpenRow==i">
              <td></td>
              <td></td>
              <td colspan="10">
                <table class="primary-grid sticky-header" cellpadding="0" cellspacing="0" border="0"
                  *ngIf="transaction && transaction.items && transaction.items.length > 0">
                  <thead>
                    <tr>
                      <th>Sequence No.</th>
                      <th>Item Type</th>
                      <th>Invoice No. <span class="asterisk">*</span></th>
                      <th>Standard Code - Description</th>
                      <th>Patient Share</th>
                      <th>Payer Share</th>
                      <th>Net / Tax</th>
                      <th>Benefit / Tax</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let item of transaction.items" class="align-middle">
                      <td>{{item.itemSequenceNo}}</td>
                      <td>{{item.itemType}}</td>
                      <td>{{item.patientInvoiceNo}}</td>
                      <td>{{item.itemCode}} - {{item.itemDescription}}</td>
                      <td>{{item.patientShare}} <span class="currency">SR</span></td>
                      <td>{{item.payerSahare}} <span class="currency">SR</span></td>
                      <td>{{item.net}} <span class="currency">SR</span> / {{item.tax}} <span class="currency">SR</span></td>
                      <td>{{item.approvedNet}} <span class="currency">SR</span> / {{item.benefitTax}} <span class="currency">SR</span></td>
                      <td><span [ngClass]="item.status === 'approved' ? 'text-success' : (item.status === 'not-required' ? 'text-purple' : (item.status === 'partial' ? 'text-light-blue' : (item.status === 'rejected' ? 'text-danger' : '')))">{{item.status | titlecase}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ng-scrollbar>

  <app-empty-state *ngIf="isSubmitted && transactionModel && transactions.length === 0" message='No approvals found!'>
  </app-empty-state>
  <app-empty-state *ngIf="!isSubmitted && transactions && transactions.length === 0"
    message='Please search to filter approvals'>
  </app-empty-state>



  <div class="pagination-header" *ngIf="!(transactionModel && transactions.length === 0)">
    <div class="form-group page-select">
      <label class="control-label">Go to page: </label>
      <mat-form-field class="form-control custom-select-control">
        <mat-select [ngModel]="manualPage" (ngModelChange)="updateManualPage($event)">
          <mat-option *ngFor="let i of paginatorPagesNumbers" [value]="i">{{i+1}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="material-paginator">
      <mat-paginator #paginator [length]="paginatorLength" [pageSizeOptions]="paginatorPageSizeOptions"
        (page)="paginatorAction($event)">
      </mat-paginator>
    </div>
  </div>

  <div class="block-footer sticky">
    <div class="right-block">
      <button type="button" color="primary" mat-flat-button (click)="convertToClaim()">Convert {{selectedApprovals.length==0?" All":"Selection ("+this.selectedApprovals.length+")"}}</button>
    </div>
  </div>
</div>
