<div class="mainCardBody">
    <table>
        <tbody>
            <tr>
                <td><label>Full Name</label></td>
                <td style="display: flex; width: 100%;">
                    <input id="fullNameInput" type="text" [formControl]="fullNameController">
                    <div id="genderDiv" [ngClass]="{'female': !isMale, 'male': isMale}" (click)="toggleGender()">
                        <i class="fa" [ngClass]="{'fa-venus': !isMale, 'fa-mars': isMale}" aria-hidden="true"></i>
                    </div>
                </td>
                <td><label>Payer</label></td>
                <td>
                    <select>
                        <option *ngFor="let payer of payersList" [value]="payer.id">{{payer.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Visit Type</label></td>
                <td>
                    <select>
                        <option *ngFor="let payer of payersList" [value]="payer.id">{{payer.name}}</option>
                    </select>
                </td>
                <td><label>Member ID</label></td>
                <td>
                    <input type="number">
                </td>
            </tr>
            <tr>
                <td><label>Nationality</label></td>
                <td>
                    <select>
                        <option *ngFor="let payer of payersList" [value]="payer.id">{{payer.name}}</option>
                    </select>
                </td>
                <td><label>Policy No.</label></td>
                <td>
                    <input type="number">
                </td>
            </tr>
            <tr>
                <td><label>National ID</label></td>
                <td><input type="number"></td>
                <td><label>Approval No.</label></td>
                <td><input type="number"></td>
            </tr>
        </tbody>
    </table>
</div>