.cardsSummary {
    width: max-content;
}

app-abstractcard {
    min-width: 19%;
    display: inline-block;
    margin: 5px;
}

.viewPort {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 5px;
}

.dashboardNumbers {
    font-size: 15px;
}

table {
    margin: 0px;
    width: 100%;
}

.errorTable {
    border-collapse: separate;
    margin: 10px 0px;
    font-size: 16px;
}

.errorTable th {
    background-color: #FFCED9;
    color: #bd0f34;
    font-weight: 500;
    padding-left: 5px;
    width: 18%!important;
}

.errorTable tr {
    color: #3060AA;
    background-color: #F0F6FF;
}

.errorTable td {
    padding: 10px;
}

.ditalList {
    overflow-y: auto;
    margin-bottom: 20px;
}

.ditalList::-webkit-scrollbar {
    display: none;
}

.currency {
    font: Bold 8px;
    letter-spacing: 0;
    color: #3060AA;
    opacity: 0.25;
}

.detailSummaryCheckbox::after {
    content: "|";
    width: 1px;
    height: 80%;
    margin: 0px 10px;
    border-radius: 80%;
    background-color: #70707019;
    color: #70707019;
}

.mat-grid-list {
    /* margin-left:15%; */
    margin-top: 10vh;
}

.paginatorContainer {
    display: flex;
    align-items: center;
    background-color: white;
}

.page-select {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 30px;
    width: 50%;
}

.label {
    margin: 0 4px;
}

mat-paginator {
    margin-bottom: 10px;
    margin-left: auto;
}

.header {
    display: flex;
    color: #3060AA;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    height: 40px;
}

.body {
    padding-top: 10px;
    background-color: #f0eeee;
}
.footer {
    display: flex;
    color: #3060AA;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 10px;
    height: 60px;
    align-items: center;
}

.summary {
    margin: 0px 10px;
}

.summary th, .summary td{
    padding: 7px;
}

.summary tr:nth-child(odd){
    background-color: white;
}
.summary tr:nth-child(even){
    background-color: #e0ecff;
}

.statusDot::before{
    content: '.';
    font-size: 47px;
    font-weight: 700;
    line-height: 0px;
}

.material-icons {
    font-size: inherit;
}