.detailSummaryCheckbox::after {
    content: "|";
    width: 1px;
    height: 80%;
    margin: 0px 10px;
    border-radius: 80%;
    background-color: #70707019;
    color: #70707019;
}

.footer {
    display: flex;
    color: #3060AA;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 10px;
    height: 60px;
    align-items: center;
}

.summary {
    margin: 0px 10px;
}

.summary th, .summary td{
    padding: 7px;
}

.summary tr:nth-child(odd){
    background-color: white;
}
.summary tr:nth-child(even){
    background-color: #e0ecff;
}

.statusDot::before{
    content: '.';
    font-size: 47px;
    font-weight: 700;
    line-height: 0px;
}

.material-icons {
    font-size: inherit;
}