<div class="abstract-card-list">
    <div>
        <app-abstractcard [clickable]="uploadService.summary.noOfUploadedClaims != 0" [title]="card0Title" [actionText]="card0ActionText" [accentColor]="card0AccentColor"
            (action)="card0Action()" class="primary-card">
            <table>
                <tr>
                    <th colspan="2">No. of Claims</th>
                </tr>
                <tr>
                    <td colspan="2" class="pb-1"><span class="dashboard-numbers" [style.color]="card0AccentColor">{{summary.noOfUploadedClaims}}</span></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>Total Vat</th>
                </tr>
                <tr>
                    <td><span class="dashboard-numbers" [style.color]="card0AccentColor">{{summary.netAmountOfUploadedClaims}}</span><span class="currency">
                            SR</span></td>
                    <td><span class="dashboard-numbers" [style.color]="card0AccentColor">{{summary.netVATAmountOfUploadedClaims}}</span><span class="currency"> SR</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </div>
    <div>
        <app-abstractcard [clickable]="uploadService.summary.noOfAcceptedClaims != 0" [title]="card1Title" [actionText]="card1ActionText" [accentColor]="card1AccentColor"
            (action)="card1Action()" class="primary-card">
            <table>
                <tr>
                    <th colspan="2">No. of Claims</th>
                </tr>
                <tr>
                    <td colspan="2" class="pb-1"><span class="dashboard-numbers" [style.color]="card1AccentColor">{{summary.noOfAcceptedClaims}}</span></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>Total Vat</th>
                </tr>
                <tr>
                    <td><span class="dashboard-numbers" [style.color]="card1AccentColor">{{summary.netAmountOfAcceptedClaims}}</span><span class="currency">
                            SR</span></td>
                    <td><span class="dashboard-numbers" [style.color]="card1AccentColor">{{summary.netVATAmountOfAcceptedClaims}}</span><span class="currency"> SR</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </div>
    <div>
        <app-abstractcard [clickable]="uploadService.summary.noOfNotAcceptedClaims != 0" [title]="card2Title" [actionText]="card2ActionText" [accentColor]="card2AccentColor"
            (action)="card2Action()" class="primary-card">
            <table>
                <tr>
                    <th colspan="2">No. of Claims</th>
                </tr>
                <tr>
                    <td colspan="2" class="pb-1"><span class="dashboard-numbers" [style.color]="card2AccentColor">{{summary.noOfNotAcceptedClaims}}</span></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>Total Vat</th>
                </tr>
                <tr>
                    <td><span class="dashboard-numbers" [style.color]="card2AccentColor">{{summary.netAmountOfNotAcceptedClaims}}</span><span class="currency"> SR</span></td>
                    <td><span class="dashboard-numbers" [style.color]="card2AccentColor">{{summary.netVATAmountOfNotAcceptedClaims}}</span><span class="currency"> SR</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </div>
    <div>
        <app-abstractcard [clickable]="uploadService.summary.noOfNotUploadedClaims != 0" [title]="card3Title" [actionText]="card3ActionText" [accentColor]="card3AccentColor"
            (action)="card3Action()" class="primary-card">
            <table>
                <tr>
                    <th colspan="2">No. of Claims</th>
                </tr>
                <tr>
                    <td colspan="2" class="pb-1"><span class="dashboard-numbers" [style.color]="card3AccentColor">{{summary.noOfNotUploadedClaims}}</span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span [style.color]="card3AccentColor" [style.background-color]="card3AccentLightColor" class="card-message">Non readable claims will not be saved in the
                            system</span>
                    </td>
                </tr>
            </table>
        </app-abstractcard>
    </div>
    <div>
        <app-abstractcard [clickable]="uploadService.summary.noOfDownloadableClaims != 0" [title]="card4Title" [actionText]="card4ActionText" [accentColor]="card4AccentColor"
            (action)="card4Action()" class="primary-card">
            <table>
                <tr>
                    <th colspan="2">No. of Claims</th>
                </tr>
                <tr>
                    <td colspan="2" class="pb-1"><span class="dashboard-numbers" [style.color]="card4AccentColor">{{summary.noOfDownloadableClaims}}</span></td>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>Total Vat</th>
                </tr>
                <tr>
                    <td><span class="dashboard-numbers" [style.color]="card4AccentColor">{{summary.netAmountOfDownloadableClaims}}</span><span class="currency"> SR</span></td>
                    <td><span class="dashboard-numbers" [style.color]="card4AccentColor">{{summary.netVATAmountOfDownloadableClaims}}</span><span class="currency"> SR</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </div>
</div>

<div class="summary" *ngIf="location.path().includes('summary') && paginatedResult != null">
    <div class="block-header">
        <p>Summary</p>
        <span class="spacer"></span>
        <div *ngIf="paginatedResult.totalPages > 0" style="font-size: larger; display: flex; align-items: end;">
            <mat-icon (click)="goToFirstPage()" style="cursor: pointer;">skip_previous</mat-icon>&nbsp;&nbsp;&nbsp;
            <mat-icon (click)="goToPrePage()" style="cursor: pointer;">navigate_before</mat-icon>&nbsp;&nbsp;&nbsp;
            <p style="font-weight: 600; font-size: small;">{{(paginatedResult.number+1)}}</p>
            <p style="font-size: small;">/ {{paginatedResult.totalPages}}</p>
            &nbsp;&nbsp;&nbsp;<mat-icon (click)="goToNextPage()" style="cursor: pointer;">navigate_next</mat-icon>
            &nbsp;&nbsp;&nbsp;<mat-icon (click)="goToLastPage()" style="cursor: pointer;">skip_next</mat-icon>
        </div>
    </div>
    <table>
        <thead style="background-color: #c7dfff; color: #3060AA; font-size: 13px;">
            <th style="width: 15%;">Provider Claim Number</th>
            <th style="width: 15%;">File Row Number</th>
            <th style="width: 10%;">Field Name</th>
            <th style="width: 50%;">Error Description</th>
            <th style="width: 10%; text-align: center;">Status</th>
        </thead>
        <tbody style="font-size: 11px; font-weight: 500;">
            <tr *ngFor="let result of results">
                <td style="width: 15%;">{{result.provclaimno}}</td>
                <td style="width: 15%;">{{result.fileRowNumber}}</td>
                <td style="width: 10%;" [style.color]="accentColor(result.uploadSubStatus)">{{result.fieldName}}</td>
                <td style="width: 50%;" [style.color]="accentColor(result.uploadSubStatus)">{{result.description}}</td>
                <td class="statusDot" style="width: 10%; text-align: center;" [style.color]="accentColor(result.uploadSubStatus)"></td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <mat-progress-bar *ngIf="uploading" mode="indeterminate" style="margin-right: 20px;"></mat-progress-bar>
        <span class="spacer"></span>

        <button *ngIf="summary.uploadSummaryID != undefined" mat-button (click)="deleteClaimByUploadid(summary.uploadSummaryID, summary.uploadName)">Delete Claims</button>
        <button *ngIf="summary.uploadSummaryID != undefined" (click)="viewClaims()" mat-raised-button color="primary">View Claims</button>
    </div>
</div>