<owl-carousel-o [options]="owlCarouselOptions" class="abstract-card-carousel" [class.fixed-card]="cardCount<4">
    <ng-template [id]="'1'" carouselSlide *ngIf='uploadService.summary.noOfUploadedClaims != 0'>
        <app-abstractcard [clickable]="uploadService.summary.noOfUploadedClaims != 0" [title]="card0Title" [actionText]="card0ActionText" [accentColor]="card0AccentColor"
            (action)="card0Action()" class="primary-card">
            <table>
                <tr>
                    <th colspan="2">No. of Claims</th>
                </tr>
                <tr>
                    <td [style.color]="card0AccentColor" colspan="2" class="pb-2"><span class="dashboard-numbers">{{summary.noOfUploadedClaims}}</span></td>
                </tr>
                <tr>
                    <th>Total Net</th>
                    <th>Total Net Vat</th>
                </tr>
                <tr>
                    <td [style.color]="card0AccentColor"><span class="dashboard-numbers">{{summary.netAmountOfUploadedClaims}}</span><span class="currency">
                            SR</span></td>
                    <td [style.color]="card0AccentColor"><span class="dashboard-numbers">{{summary.netVATAmountOfUploadedClaims}}</span><span class="currency"> SR</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </ng-template>
    <ng-template [id]="'2'" carouselSlide *ngIf='uploadService.summary.noOfAcceptedClaims != 0'>
        <app-abstractcard [clickable]="uploadService.summary.noOfAcceptedClaims != 0" [title]="card1Title" [actionText]="card1ActionText" [accentColor]="card1AccentColor"
            (action)="card1Action()" class="primary-card">
            <div class="card-progress">
                <span class="value">{{summary.ratioForAccepted}}%</span>
                <mat-progress-spinner class="spinner-progress" [style.color]="card1AccentColor" mode="determinate" [value]="summary.ratioForAccepted" diameter="48">
                </mat-progress-spinner>
            </div>
            <table>
                <tr>
                    <th colspan="2">No. of Claims</th>
                </tr>
                <tr>
                    <td [style.color]="card1AccentColor" colspan="2" class="pb-2"><span class="dashboard-numbers">{{summary.noOfAcceptedClaims}}</span></td>
                </tr>
                <tr>
                    <th>Total Net</th>
                    <th>Total Net Vat</th>
                </tr>
                <tr>
                    <td [style.color]="card1AccentColor"><span class="dashboard-numbers">{{summary.netAmountOfAcceptedClaims}}</span><span class="currency">
                            SR</span></td>
                    <td [style.color]="card1AccentColor"><span class="dashboard-numbers">{{summary.netVATAmountOfAcceptedClaims}}</span><span class="currency"> SR</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </ng-template>
    <ng-template [id]="'3'" carouselSlide *ngIf='uploadService.summary.noOfNotAcceptedClaims != 0'>
        <app-abstractcard [clickable]="uploadService.summary.noOfNotAcceptedClaims != 0" [title]="card2Title" [actionText]="card2ActionText" [accentColor]="card2AccentColor"
            (action)="card2Action()" class="primary-card">
            <div class="card-progress">
                <span class="value">{{summary.ratioForNotAccepted}}%</span>
                <mat-progress-spinner class="spinner-progress" [style.color]="card2AccentColor" mode="determinate" [value]="summary.ratioForNotAccepted" diameter="48">
                </mat-progress-spinner>
            </div>
            <table>
                <tr>
                    <th colspan="2">No. of Claims</th>
                </tr>
                <tr>
                    <td [style.color]="card2AccentColor" colspan="2" class="pb-2"><span class="dashboard-numbers">{{summary.noOfNotAcceptedClaims}}</span></td>
                </tr>
                <tr>
                    <th>Total Net</th>
                    <th>Total Net Vat</th>
                </tr>
                <tr>
                    <td [style.color]="card2AccentColor"><span class="dashboard-numbers">{{summary.netAmountOfNotAcceptedClaims}}</span><span class="currency"> SR</span></td>
                    <td [style.color]="card2AccentColor"><span class="dashboard-numbers">{{summary.netVATAmountOfNotAcceptedClaims}}</span><span class="currency"> SR</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </ng-template>
    <ng-template [id]="'4'" carouselSlide *ngIf='uploadService.summary.noOfNotUploadedClaims != 0'>
        <app-abstractcard [clickable]="uploadService.summary.noOfNotUploadedClaims != 0" [title]="card3Title" [actionText]="card3ActionText" [accentColor]="card3AccentColor"
            (action)="card3Action()" class="primary-card">
            <table>
                <tr>
                    <th colspan="2">No. of Claims</th>
                </tr>
                <tr>
                    <td [style.color]="card3AccentColor" colspan="2" class="pb-2"><span class="dashboard-numbers">{{summary.noOfNotUploadedClaims}}</span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span [style.color]="card3AccentColor" [style.background-color]="card3AccentLightColor" class="card-message">Non readable claims will not be saved in the
                            system</span>
                    </td>
                </tr>
            </table>
        </app-abstractcard>
    </ng-template>
    <ng-template [id]="'5'" carouselSlide *ngIf='uploadService.summary.noOfDownloadableClaims != 0'>
        <app-abstractcard [clickable]="uploadService.summary.noOfDownloadableClaims != 0" [title]="card4Title" [actionText]="card4ActionText" [accentColor]="card4AccentColor"
            (action)="card4Action()" class="primary-card">
            <div class="card-progress">
                <span class="value">{{summary.ratioForDownloadable}}%</span>
                <mat-progress-spinner class="spinner-progress" [style.color]="card2AccentColor" mode="determinate" [value]="summary.ratioForDownloadable" diameter="48">
                </mat-progress-spinner>
            </div>
            <table>
                <tr>
                    <th colspan="2">No. of Claims</th>
                </tr>
                <tr>
                    <td [style.color]="card4AccentColor" colspan="2" class="pb-2"><span class="dashboard-numbers">{{summary.noOfDownloadableClaims}}</span></td>
                </tr>
                <tr>
                    <th>Total Net</th>
                    <th>Total Net Vat</th>
                </tr>
                <tr>
                    <td [style.color]="card4AccentColor"><span class="dashboard-numbers">{{summary.netAmountOfDownloadableClaims}}</span><span class="currency"> SR</span></td>
                    <td [style.color]="card4AccentColor"><span class="dashboard-numbers">{{summary.netVATAmountOfDownloadableClaims}}</span><span class="currency"> SR</span></td>
                </tr>
            </table>
        </app-abstractcard>
    </ng-template>
</owl-carousel-o>

<div *ngIf="location.path().includes('summary') && paginatedResult != null">
    <div class="block-header">
        <div>
            <p>Upload Summary - {{commen.statusToName(selectedCardKey)}}</p>
            <span class="block-description">Claim validations grouped by field name</span>
        </div>
        <span class="spacer"></span>
        <div class="custom-paginator" *ngIf="paginatedResult.totalPages > 0">
            <button matRipple (click)="goToFirstPage()" [disabled]='(paginatedResult.number + 1) === 1' type="button" title="First Page">
                <img src="./assets/ic-page-first.svg" alt="First" />
            </button>
            <button matRipple (click)="goToPrePage()" type="button" title="Previous Page" [disabled]='(paginatedResult.number + 1) === 1'>
                <img src="./assets/ic-page-prev.svg" alt="Previous" />
            </button>
            <p class="page-info">{{(paginatedResult.number+1)}}<small>/{{paginatedResult.totalPages}}</small></p>
            <button matRipple [disabled]='(paginatedResult.number + 1) === paginatedResult.totalPages' (click)="goToNextPage()" type="button" title="Next Page">
                <img src="./assets/ic-page-next.svg" alt="Next" />
            </button>
            <button matRipple [disabled]='(paginatedResult.number + 1) === paginatedResult.totalPages' (click)="goToLastPage()" type="button" title="Last Page">
                <img src="./assets/ic-page-last.svg" alt="Last" />
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="primary-grid contextful" cellpadding="0" cellspacing="0" border="0">
            <ng-container *ngIf='paginatedResult.content.length > 0'>
                <thead>
                    <tr [style.color]="commen.getCardAccentColor(selectedCardKey)" [style.background-color]="commen.getCardAccentColor(selectedCardKey)+'29'">
                        <th>Field Name</th>
                        <th>Frequency</th>
                        <th>Ratio</th>
                        <th width="10" class="text-center">Status</th>
                    </tr>
                </thead>
            </ng-container>
            <tbody>
                <ng-container *ngIf='paginatedResult.content.length > 0'>
                    <tr *ngFor="let result of paginatedResult.content" (click)="(result.fieldName !== null && result.fieldName !== '' ) && openUploadSummaryDialog(result)"
                        [ngClass]="(result.fieldName !== null && result.fieldName !== '' ) ? 'row-click' : '' ">
                        <td>{{result.fieldName}}</td>
                        <td>{{result.frequency}}</td>
                        <td>{{result.ratio}}%</td>
                        <td class="text-center"><span class="status-dot" [style.background-color]="accentColor(result.subStatus)"></span>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf='paginatedResult.content.length === 0'>
                    <tr>
                        <td colspan="4" class="p-0">
                            <app-empty-state class="summary-empty-state"></app-empty-state>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="block-footer sticky-bottom">
        <div class="left-block" *ngIf="uploading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="right-block btn-list">
            <button *ngIf="summary.uploadSummaryID != undefined" mat-button (click)="deleteClaimByUploadid(summary.uploadSummaryID, summary.uploadName)">Delete Claims</button>
            <button *ngIf="summary.uploadSummaryID != undefined" (click)="viewClaims()" mat-flat-button color="primary">Updated Details</button>
        </div>
    </div>
</div>